      <div id="app">
            <banner-slider v-bind='{"autoplay":false,"playSpeed":0,"slides":[{"imageDesktop":"https://cdn.insideweather.com/hp/tb/050222_hp-bnr_mdw_d.jpg","imageDesktopAlt":"memorial day sale","imageMobile":"https://cdn.insideweather.com/hp/tb/050222_hp-bnr_mdw_m.jpg","imageMobileAlt":"memorial day sale","linkUrl":"https://insideweather.com/pages/sale","priority":1,"headingCopy":null,"descriptionCopy":null,"linkCopy":null}]}'>
    </banner-slider>


    <script>
      const spacer1 = {"backgroundColor":"#FFF","desktopSpacing":"100px","mobileSpacing":"36px"};
    </script>
    <custom-spacer v-bind='spacer1'>
      </custom-spacer>


    <featured-categories v-bind='{"autoplay":false,"playSpeed":0,"backgroundColor":"#FFF","categories":[{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_living.jpg","imageDesktopAlt":"living room furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_living.jpg","imageMobileAlt":"living room furniture","linkUrl":"https://insideweather.com/pages/living-room","priority":1,"buttonText":"SHOP LIVING","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"},{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_dining.jpg","imageDesktopAlt":"dining room furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_dining.jpg","imageMobileAlt":"dining room furniture","linkUrl":"https://insideweather.com/pages/dining-room","priority":2,"buttonText":"SHOP DINING","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"},{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_office.jpg","imageDesktopAlt":"office furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_office.jpg","imageMobileAlt":"office furniture","linkUrl":"https://insideweather.com/pages/office","priority":3,"buttonText":"SHOP OFFICE","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"},{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_bedroom.jpg","imageDesktopAlt":"bedroom furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_bedroom.jpg","imageMobileAlt":"bedroom furniture","linkUrl":"https://insideweather.com/pages/bedroom","priority":4,"buttonText":"SHOP BEDROOM","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"}]}'>
    </featured-categories>


    <script>
      const spacer3 = {"backgroundColor":"#FFF","desktopSpacing":"130px","mobileSpacing":"65px"};
    </script>
    <custom-spacer v-bind='spacer3'>
      </custom-spacer>


    <v-props v-bind='{"defaultImage":"https://cdn.insideweather.com/hp/vprop/052121_hp_vprop_00.jpg","mainHeading":"Online custom furniture shopping that puts you in charge.","backgroundColor":"#f2f2f2","items":[{"isVideo":false,"url":"https://cdn.insideweather.com/hp/vprop/052121_hp_vprop_01.jpg","titleCopy":"Designed In-house","titleColor":"#202020","bodyCopy":"We consider it mission-critical that every product we sell be sustainable, adaptable, and—above all—beautiful, which is why we don’t trust anyone else to do the job. Our team both dreams it and sees it through, all under the same roof.","bodyColor":"#202020","targetPoint":"designed-in-house"},{"isVideo":false,"url":"https://cdn.insideweather.com/hp/vprop/052121_hp_vprop_02-v2.jpg","titleCopy":"Made in the USA","titleColor":"#202020","bodyCopy":"Every one of our pieces is made-to-order by our expert furniture makers in our workshop in California. Sawing, sewing, packaging, and shipping-we see every custom piece through from start to finish!","bodyColor":"#202020","targetPoint":"made-in-the-usa"},{"isVideo":true,"url":"https://cdn.insideweather.com/hp/vprop/052121_hp_vprop_03.mp4","titleCopy":"Quick Ship Custom","titleColor":"#202020","bodyCopy":"Custom furniture no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","bodyColor":"#202020","targetPoint":"quick-ship-custom"},{"isVideo":false,"url":"https://cdn.insideweather.com/hp/vprop/052121_hp_vprop_04.jpg","titleCopy":"365 Day Home Trial","titleColor":"#202020","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","bodyColor":"#202020","targetPoint":"365-day-home-trial"},{"isVideo":false,"url":"https://cdn.insideweather.com/hp/vprop/052121_hp_vprop_05-v2.jpg","titleCopy":"Carbon Negative","titleColor":"#202020","bodyCopy":"All of our materials are selected with intention—from our sofas that upcycle over 200 plastic water bottles to our packaging which is among the first ever made of renewable sugar-based contents in the industry. To achieve carbon negativity, two trees are planted via the National Forest Foundation for every order placed with us. Sleep easier knowing you have the most sustainable furniture on the market.","bodyColor":"#202020","targetPoint":"carbon-negative"}]}'>
    </v-props>


    <script>
      const spacer5 = {"backgroundColor":"#FFF","desktopSpacing":"160px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer5'>
      </custom-spacer>


    <press-list v-bind='{"items":[{"imageDesktop":"https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_nytimes.png?v=1586276562","imageMobile":"https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_nytimes.png?v=1586276562","description":"A substantial savings over traditional custom furniture, which can run into five figures.","descriptionColor":"#98958f","descriptionItalic":true,"linkTo":"https://insideweather.com/","priority":1},{"imageDesktop":"https://cdn.insideweather.com/hp/press/hp_press_apartment-therapy.png","imageMobile":"https://cdn.insideweather.com/hp/press/hp_press_apartment-therapy.png","description":"You Can Bring Frank Lloyd Wright Design Into Your Home with the “Usonia” Furniture Line.","descriptionColor":"#98958f","descriptionItalic":true,"linkTo":"https://insideweather.com/","priority":2},{"imageDesktop":"https://cdn.insideweather.com/hp/press/hp_press_domino.png","imageMobile":"https://cdn.insideweather.com/hp/press/hp_press_domino.png","description":"There’s even an ethical component to the company that eco-conscious shoppers will love.","descriptionColor":"#98958f","descriptionItalic":true,"linkTo":"https://insideweather.com/","priority":3},{"imageDesktop":"https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_britco.png?v=1565744852","imageMobile":"https://cdn.shopify.com/s/files/1/2994/0144/files/press_logo_britco.png?v=1565744852","description":"No more MALM monotony here!","descriptionColor":"#98958f","descriptionItalic":true,"linkTo":"https://insideweather.com/","priority":4},{"imageDesktop":"https://cdn.insideweather.com/hp/press/hp_press_house-beautiful.png","imageMobile":"https://cdn.insideweather.com/hp/press/hp_press_house-beautiful.png","description":"Millions of combinations, meaning you get a totally unique piece of furniture exactly the way you want it.","descriptionColor":"#98958f","descriptionItalic":true,"linkTo":"https://insideweather.com/","priority":5}]}'>
    </press-list>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <review-carousel v-bind='{"autoplay":true,"playSpeed":"3000","backgroundColor":"#e8e6e2","slides":[{"image":"https://cdn.insideweather.com/hp/social/021721_hp_social_01.jpg","titleCopy":"Fits our lifestyle perfectly!","titleColor":"#202020","starCount":5,"bodyCopy":"We love our new sofa and that it’s custom made to fit our family without having to pay a premium price. We have 2 pets and have always worried about our furniture and how to keep it clean/not look like we have pets, so being able to choose ’pet-friendly’ fabrics that didn’t compromise style/comfort was a big plus! The process was so easy, from ordering samples, to ’building’ our sofa on the website before ordering, I had no anxiety over what our sofa would look like.","bodyColor":"#202020","reviewer":"Heather S.","reviewerAddress":"Atlanta, GA","linkCopy":"Read All Reviews","linkColor":"#202020","linkUrl":"https://insideweather.com/pages/reviews","priority":1},{"image":"https://cdn.insideweather.com/hp/social/021721_hp_social_02.jpg","titleCopy":"Beautiful Furniture We Absolutely Love","titleColor":"#202020","starCount":5,"bodyCopy":"I have 3 Inside Weather products, a coffee table, side table and the Voss sideboard, all in the same finish. They are amazing, so aesthetically pleasing and fit perfectly in my house. Such good quality products and I highly recommend!","bodyColor":"#202020","reviewer":"Hope D.","reviewerAddress":"Ray City, GA","linkCopy":"Read All Reviews","linkColor":"#202020","linkUrl":"https://insideweather.com/pages/reviews","priority":2},{"image":"https://cdn.insideweather.com/hp/social/021721_hp_social_03.jpg","titleCopy":"Great tables that set the bar high.","titleColor":"#202020","starCount":5,"bodyCopy":"This project was a partnership between PHASE Studio Architecture and VERDE Interior Design. The client tasked us with designing a cool, minimal boba tea house. We instantly thought of using customized rectangular dining tables from Inside Weather. These tables are great and set the bar for the rest of the design. We paired each table with some of our favorite seating and voila!","bodyColor":"#202020","reviewer":"VERDE Interior Design","reviewerAddress":"Houston, TX","linkCopy":"Read All Reviews","linkColor":"#202020","linkUrl":"https://insideweather.com/pages/reviews","priority":3}]}'>
    </review-carousel>


    <text-banner v-bind='{"imageDesktop":"https://cdn.insideweather.com/hp/bottom-banner/102021_hp_bottom-bnr_d.jpg","imageMobile":"https://cdn.insideweather.com/hp/bottom-banner/102021_hp_bottom-bnr_m.jpg","titleCopy":"Free Furniture Design Services","bodyCopy":"Our design experts are here to talk you through any dilemma. From custom furnishings that fit your tiny New York City living room and your personal style to that custom dining room table you&apos;ve drawn up in your head.","buttonMobile":{"text":"SEND AN SOS","textColor":"#ffffff"},"buttonDesktop":{"text":"SEND AN SOS","backgroundColor":"#ffffff","textColor":"#202020"},"linkUrl":"https://insideweather.com/pages/work-with-a-designer"}'>
    </text-banner>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"136px","mobileSpacing":"55px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const titleContent11 = {"titleCopy":"Recently Sold","bodyCopy":"Take a look at what our craftsmen and designers are working on right now!"};
    </script>
    <title-text v-bind='titleContent11'></title-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"15px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <recently-sold v-bind='{"items":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%205\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:CP1002F_ALTO\u0026size=400","firstName":"Hector","lastName":"M.","productName":"Latte Alto Shelf - 5 Units","price":"$1,795","linkUrl":"https://insideweather.com/products/aj1410at-latte-alto-shelf-5-units","priority":1},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:DS1058\u0026feature=EDGE%20FINISH:DARK\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=400","firstName":"Peter","lastName":"L.","productName":"Rectangle Custom Via Dining Table in Terrazzo Funfetti","price":"$439","linkUrl":"https://insideweather.com/products/ud11jj1110-rectangle-custom-via-dining-table-in-terrazzo-funfetti","priority":2},{"image":"https://banksy-images.s3.amazonaws.com/items/WA1310BS/WA1310BS-0_small.jpg","firstName":"Richard","lastName":"E.","productName":"Playhouse Art Print with Natural Frame (24\" x 36\")","price":"$90","linkUrl":"https://insideweather.com/products/wa1310bs-playhouse-art-print-with-natural-frame-24-x-36","priority":3},{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_KG/frames/1/HAVEN_HB_KG.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:TAPERED\u0026feature=LEG%20HEIGHT:HIGH\u0026feature=LEG%20FINISH:LATTE\u0026feature=BED%20FRAME%20SIDE%20RAIL:UPHOLSTERED\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20STONE%20BLUE\u0026size=800","firstName":"Priscilla","lastName":"P.","productName":"King Haven Bed Frame in Latte","price":"$1,149","linkUrl":"https://insideweather.com/products/he131110ai-king-haven-bed-frame-in-latte","priority":4},{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%203-SEATER/frames/1/BONDI%203-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026feature=WOOD%20FINISH:LATTE\u0026size=800","firstName":"Trevor","lastName":"K.","productName":"Modular Bondi 3-Seater Sofa in Alabaster","price":"$3,300","linkUrl":"https://insideweather.com/products/bs11dn1010-modular-bondi-3-seater-sofa-in-alabaster","priority":5},{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%201-SEATER/frames/1/BONDI%201-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:ECLIPSE%20CHARCOAL\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=400","firstName":"Ethan","lastName":"D.","productName":"Modular Bondi Armchair in Chimney Gray","price":"$1,225","linkUrl":"https://insideweather.com/products/bp10bi1110-modular-bondi-armchair-in-chimney-gray","priority":6},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_PYR/frames/3/CNV_AP_PYR.JPG?background=FFFFFF\u0026feature=UPHOLTERY:OXFORD%20WEAVE%20DAFFODIL\u0026size=400","firstName":"Mathew","lastName":"C.","productName":"Large Pyramid Pillow in Daffodil (With Insert)","price":"$62","linkUrl":"https://insideweather.com/products/py12ck-large-pyramid-pillow-in-daffodil-with-insert","priority":7},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/1/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:32%20TRIANGLE\u0026feature=PLYWOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=LID:NO%20LID\u0026feature=STORAGE:MERRIT%20PEACOCK\u0026feature=LEG%20FINISH:CARBON\u0026size=400","firstName":"Paula","lastName":"W.","productName":"Triangle Hayes Coffee Table in Espresso","price":"$349","linkUrl":"https://insideweather.com/products/ha1711aabe10-triangle-hayes-coffee-table-in-espresso","priority":8},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:ROYALE%20BLUSH\u0026size=400","firstName":"Katherine","lastName":"G.","productName":"Latte Otto Dining Chair in Powder Pink","price":"$194","linkUrl":"https://insideweather.com/products/oo1010kg-latte-otto-dining-chair-in-powder-pink","priority":9}]}'>
    </recently-sold>

      </div>
