      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/vienna/tb/col_vienna_tb_v1_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/vienna/tb/col_vienna_tb_v1_m.jpg","altText":"custom dining tables","destination":null,"titleCopy":"The Vienna Table Collection","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Bring Your Style to the Table","bodyCopy":"Start with a silhoutte and customize the rest. Opt to add a power hub and transform your table into a workspace."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Large Round Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1012101010-round-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_01.jpg"},{"titleCopy":"Large Rectangle Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi2012101010-rectangle-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_02.jpg"},{"titleCopy":"Large Almond Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1612101010-almond-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_03.jpg"},{"titleCopy":"Large Oval Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1212101010-oval-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_04.jpg"},{"titleCopy":"Round Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1010101010-round-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_13.jpg"},{"titleCopy":"Rectangle Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1810101010-rectangle-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_14.jpg"},{"titleCopy":"Almond Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1410101010-almond-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_15.jpg"},{"titleCopy":"Oval Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1110101010-oval-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_16.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Table on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways you can modify the Vienna Collection to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#E0E7DF","image":"https://cdn.insideweather.com/collections/vienna/customize/col_vienna_customize_v1_d-min.png","altText":"custom tables","mobileImages":[{"image":"https://cdn.insideweather.com/collections/vienna/customize/col_vienna_customize_v1_m-min.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes a Vienna Table so unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"Bring your style to the table with this ultra-versatile, custom dining collection. The Vienna Dining Table offers custom shapes, widths, lengths, wood finishes, and a power hub, to name a few. With a design that incorporates natural and minimal elements, Vienna is topped off with a stunning Scandinavian silhouette. Crafted with our FSC-certified, Baltic Birch wood, each unit is hand-sanded and made to order.","image":"https://cdn.insideweather.com/collections/vienna/details/design_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/vienna/details/design_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Tailored to You","bodyCopy":"Available in four different shapes, three widths, and plenty of custom length options, Vienna is the master of shapeshifting. Use this striking design as the center of your breakfast nook, your WFH desk, or as a large dining table for the whole family.","image":"https://cdn.insideweather.com/pdp/details/vienna/tailored/tailored_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/vienna/tailored/tailored_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Stay Connected","bodyCopy":"Each Vienna dining table offers a super sly, optional power hub to keep you and your work station organized. This built-in power unit is easily tucked away under a slidable surface lid, allowing your dining table to double as a workspace featuring 3 power outlets, 2 USB ports, and a 6ft long power cord. Jump on that call in style.","image":"https://cdn.insideweather.com/pdp/details/vienna/power-hub/power-hub_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/vienna/power-hub/power-hub_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Sustainable Craftsmanship","bodyCopy":"The materials used to make this table have been selected with intention. Our signature Baltic Birch Plywood which is FSC-Certified and features an American maple or walnut veneer topped with a triple coat of a UV-cured clear, matte, eco-solvent finish. We recycle any excess from each wood sheet that's cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/pdp/details/vienna/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/vienna/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const smallColumnContent18 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent18'>
    </multi-column-text-image>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const titleContent20 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent20'></title-text>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const lifestyleGrid22 = {"images":[{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_01.jpg","altText":null,"products":[{"image":"https://cdn.insideweather.com/cat-rooms/office/lifestyles/cat-room_dining-room_v4_lg_08_02.JPG","altText":null,"destination":"https://insideweather.com/products/fvi1912101011-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20SMALL%20DINING%20TABLE/frames/31/VIENNA%20SMALL%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:ALMOND\u0026feature=LENGTH:2\u0026feature=WIDTH:36\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi1410101010-almond-vienna-dining-table-in-latte","titleCopy":"Almond Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VENICE%20OLIVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jl-latte-sarno-dining-chair-in-tuscan-green","titleCopy":"Latte Sarno Dining Chair in Tuscan Green","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20LARGE%20DINING%20TABLE/frames/3/VIENNA%20LARGE%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:RECTANGLE\u0026feature=LENGTH:4\u0026feature=WIDTH:46\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi2012101010-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112ht12-latte-polk-side-chair-in-cloud","titleCopy":"Latte Polk Side Chair in Cloud","price":null},{"image":"https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/cat-room_dining-room_v3_lg_07_01.JPG","altText":null,"destination":"https://insideweather.com/products/fvi1911101010-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20SMALL%20DINING%20TABLE/frames/2/VIENNA%20SMALL%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:PILL\u0026feature=LENGTH:3\u0026feature=WIDTH:36\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi1110101010-oval-vienna-dining-table-in-latte","titleCopy":"Oval Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SAND\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110ac-latte-sarno-dining-chair-in-sand","titleCopy":"Latte Sarno Dining Chair in Sand","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20SMALL%20DINING%20TABLE/frames/3/VIENNA%20SMALL%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:ALMOND\u0026feature=LENGTH:3\u0026feature=WIDTH:46\u0026feature=SURFACE%20FINISH:LIGHT%20ESPRESSO\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi1512111110-almond-vienna-dining-table-in-espresso","titleCopy":"Almond Vienna Dining Table in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/1/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:BROOKLYN%20(FABRIC)\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026feature=CONFIGURATION:SPLIT_SPLIT\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:ARC\u0026feature=BASE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf18dn111010191010-custom-brooklyn-sofa-in-alabaster","titleCopy":"Custom Brooklyn Sofa in Alabaster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110kn-latte-sarno-dining-chair-in-alabaster","titleCopy":"Latte Sarno Dining Chair in Alabaster","price":null},{"image":"https://cdn.insideweather.com/cat-rooms/office/lifestyles/cat-room_dining-room_v4_lg_05_01.JPG","altText":null,"destination":"https://insideweather.com/products/fvi1812101011-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:MONACO%20ECLIPSE\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112jn12-latte-polk-side-chair-in-royal-blue","titleCopy":"Latte Polk Side Chair in Royal Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20SMALL%20DINING%20TABLE/frames/2/VIENNA%20SMALL%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:CIRCLE\u0026feature=LENGTH:2\u0026feature=WIDTH:36\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi1010101010-round-vienna-dining-table-in-latte","titleCopy":"Round Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101010kn-latte-sarno-dining-chair-in-alabaster","titleCopy":"Latte Sarno Dining Chair in Alabaster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20SMALL%20DINING%20TABLE/frames/2/VIENNA%20SMALL%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:RECTANGLE\u0026feature=LENGTH:2\u0026feature=WIDTH:41\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi1811101010-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/vienna/lifestyles/col_vienna_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VENICE%20OLIVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jl-latte-sarno-dining-chair-in-tuscan-green","titleCopy":"Latte Sarno Dining Chair in Tuscan Green","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20LARGE%20DINING%20TABLE/frames/3/VIENNA%20LARGE%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:RECTANGLE\u0026feature=LENGTH:4\u0026feature=WIDTH:46\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi2012101010-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid22'>
    </lifestyle-grid>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>

      </div>
