      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/tb/cat_sofette-sectionals_tb_d_v3.jpg","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/tb/cat_sofette-sectionals_tb_m_v3.jpg","altText":"affordable custom sectionals","destination":null,"titleCopy":"Custom Sofette Sectionals","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sofette-sectional-modular-ico.png","text":"MODULAR"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE ORIGINAL CUSTOM SOFETTE SECTIONAL","bodyCopy":"Everything we do here at Inside Weather is custom and nothing embodies that better than our Original Custom Collection. Tailor every inch of your living room or small space from base to seam to create a sofette sectional that is actually suited to your needs and style. Each sofette sectional is made-to-order and built here in the U.S. so it can arrive at your door soon after you've dreamt it up. For the first time in furniture, it's you that's behind the design.","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_01_bnr_v2.png","altText":"small sectional","buttonText":"SHOP THE ORIGINAL CUSTOM SOFA COLLECTION","buttonUrl":"https://insideweather.com/pages/original-custom-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Original Custom Issa Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss17bu111110171010-custom-issa-sofette-sectional-in-mist","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_grid_v3_01.jpg"},{"titleCopy":"Original Custom Levi Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss14bt111011211010-custom-levi-sofette-sectional-in-butterscotch","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_01_grid-02_v2.jpg"},{"titleCopy":"Original Custom Asher Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss22bm101110161010-custom-asher-sofette-sectional-in-moss","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_grid_v3_03.jpg"},{"titleCopy":"Original Custom Brooklyn Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss18be111210111010-custom-brooklyn-sofette-sectional-in-oyster","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_01_grid-04_v2.jpg"},{"titleCopy":"Original Custom Jett Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss15dc111012131010-custom-jett-sofette-sectional-in-sapphire","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_grid_v3_05.jpg"},{"titleCopy":"Original Custom Nox Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss12da101110121010-custom-nox-sofette-sectional-in-powder-pink","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_grid_v3_06.jpg"},{"titleCopy":"Original Custom Milo Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss13do111110231010-custom-milo-sofette-sectional-in-cheddar","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_01_grid-07_v2.jpg"},{"titleCopy":"Original Custom Soba Sofette Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ss11co111013171010-custom-soba-sofette-sectional-in-pebble","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_grid_v3_08.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"THE MODULAR BONDI 2-SEATER SECTIONAL","bodyCopy":"Introducing our most spacious, deepest, softest custom seating collection ever. The Bondi Collection features cloud-like comfort, in a modern silhouette that is 100% modular. Designed with sustainability top of mind, its solid ash hardwood frame is FSC Certified and our signature down alternative is 100% recycled. For reference, one sofa = roughly 400 recycled plastic bottles. Every cushion \u0026 pillow features easy-clean removable covers as well as nylon casings to offer a water-resistant shield and maintain Bondi’s cloud-like form over time. Lean back. Sink in. Sink deeper. Get on cloud Bondi.","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectionals_col_bondi.jpg","altText":"modular custom sofa","buttonText":"SHOP THE BONDI COLLECTION","buttonUrl":"https://insideweather.com/pages/bondi-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11ak1110-modular-bondi-2-seater-sofa-in-mascarpone","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11cy1010-modular-bondi-2-seater-sofa-in-glacier-blue","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:ROYALE%20CLOUD\u0026feature=WOOD%20FINISH:LATTE\u0026size=400"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11cp1210-modular-bondi-2-seater-sofa-in-smoke","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20SMOKE\u0026feature=WOOD%20FINISH:BLACK\u0026size=400"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11bb1010-modular-bondi-2-seater-sofa-in-honey","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:VENICE%20MARIGOLD\u0026feature=WOOD%20FINISH:LATTE\u0026size=400"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11au1010-modular-bondi-2-seater-sofa-in-dijon","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=WOOD%20FINISH:LATTE\u0026size=400"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11bh1110-modular-bondi-2-seater-sofa-in-tuscan-green","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:VENICE%20OLIVE\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11ac1010-modular-bondi-2-seater-sofa-in-rose-quartz","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:NAPLES%20BLUSH\u0026feature=WOOD%20FINISH:LATTE\u0026size=400"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11be1110-modular-bondi-2-seater-sofa-in-oyster","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


      <script>
        const fullWidthContent6 = {"titleCopy":"THE AERO 2-SEATER SECTIONAL","bodyCopy":"Aero’s low profile frame features a stunning architectural back design that looks good from evvvery angle. Our small sectional has smooth, organic curves blended with bold linear statements, this modular custom seating collection was designed with you and your future self in mind—every component being truly modular \u0026 adaptable.","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_bnr_v2.png","altText":"modular custom sectionals","buttonText":"SHOP THE AERO COLLECTION","buttonUrl":"https://insideweather.com/pages/aero-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent6'></image-text-cta>


    <script>
      const productGrid7 = {"products":[{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw13ca1310111110-espresso-aero-2-seater-sectional-in-flax","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-01_v2.jpg"},{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw12au1112101010-latte-aero-2-seater-sectional-in-dijon","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-02_v2.jpg"},{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw13bk2810111110-espresso-aero-2-seater-sectional-in-harbor-blue","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-03_v2.jpg"},{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw13dk1013101010-latte-aero-2-seater-sectional-in-ivory","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-04_v2.jpg"},{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw12bg2011101010-latte-aero-2-seater-sectional-in-royal-blue","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-05_v2.jpg"},{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw13ac1710101010-latte-aero-2-seater-sectional-in-rose-quartz","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-06_v2.jpg"},{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw12az1013111110-espresso-aero-2-seater-sectional-in-cognac","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-07b_v2.jpg"},{"titleCopy":"Aero 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw12bi2110111110-espresso-aero-2-seater-sectional-in-chimney-gray","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-08_v2.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid7'>
    </category-product-grid>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const titleContent9 = {"titleCopy":"Sofette Sectional Details","bodyCopy":"Discover what makes an Inside Weather sofette sectional so unique."};
    </script>
    <title-text v-bind='titleContent9'></title-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Upholsteries Galore","bodyCopy":"The mecca of sofette sectional fabric libraries if you will. Select from 100+ choices that span the rainbow, all of which are hand-stitched here in California. We’re talking stain-resistant Performance Upholsteries, Pet-friendly, and even Commercial Grade selections. From velvet to leather options, there are plenty of fabrics for you to choose from. Your perfect design is here, you just have to make it!","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Tailored to You","bodyCopy":"Our sofette sectionals are made to move! Choose from various sofa and small sectional configurations to better fit your living room layout. Rest easy knowing that you can switch the chaise to either side at any time with both of our sectional collections. Even swap the side tables and the arms from left to right or even turn a 3-seater into a 2-seater with our Aero Sectionals! We believe that your furniture should be designed for you from the start but also able to adapt with you as you live.","image":"https://cdn.insideweather.com/collections/aero/details/tailored/tailored_d_v2.mp4","mobileImage":"https://cdn.insideweather.com/collections/aero/details/tailored/tailored_m_v2.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const largeColumnContent15 = {"backgroundColor":"#f2f2f2","titleCopy":"Custom Couch Comfort","bodyCopy":"We believe that one size does not fit all which is why we've decided to hand over all comfort control to you—the actual sofette snuggler. Choose between various layers of domestically sourced insert options to find the custom formula that's truly right for you and your living space.","columns":[{"caption":"OPTION #1","titleCopy":"CLASSIC BLEND","bodyCopy":"A medium density, high resilience foam topped with a plush layer of our signature, 100% recycled down alternative. The perfect balance of support, squish and a little bit of bounce for every sofette sectional.","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_d-min.png","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_m-min.png","altText":null,"supportText":"Supportive Comfort | Firm yet cushy sit","supportImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_01.png","supportAltText":null},{"caption":"OPTION #2","titleCopy":"MEMORY FOAM BLEND","bodyCopy":"A smooth, transitional layer of temperature-regulating memory foam sits atop medium density, high resiliency foam and is wrapped in a lush layer of our sustainable, recycled down alternative.","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_d-min.png","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_m-min.png","altText":null,"supportText":"Sink-in Comfort | Plush contouring layers","supportImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_02.png","supportAltText":null}]};
    </script>
    <two-column-text-image v-bind='largeColumnContent15'>
    </two-column-text-image>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"The Most Sustainable Furniture on the Internet","bodyCopy":"Every upholstered portion (yes, even the back on our Original Custom Sofette Sectionals) is wrapped in a layer of our Signature Synthetic Down and the pillows are full of it. This cushy, cloud-like material is 100% recycled down alternative and one sectional = roughly 200 recycled plastic bottles. The disposable bottles that we upcycle are sterilized in hot water, ground into tiny flakes, re-melted and extruded to make a polyester fiber. This material helps keep plastics out of our landfills \u0026 oceans and helps fill your home with comfortable, sustainable products as we believe both Mother Earth and your comfort are uncompromisable. Oh yeah, and did we mention that for every order placed with us one tree is planted via the National Forest Foundation?","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_m.jpg","altText":"custom couches and sofas","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const leftRightContent19 = {"titleCopy":"Life-Proof","bodyCopy":"Our sofette sectionals are designed to withstand whatever life throws at them. Every upholstered element of each sectional is enclosed in a water-resistant nylon casing for the ultimate protection against, well, you. This means even the back panel, the arms on our Original Custom Sofette Sectional, and—of course—the pillows \u0026 cushions on both collections have this added layer of protection and comfort. Additionally, every cushion \u0026 pillow features a concealed zipper for easy, practical removal \u0026 cleaning. P.S. For fabric specific info on durability, check out Wyzenbeek Test Method Rub Count Scores on each product page!","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_d_v2.jpg","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_m_v2.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent19'></image-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const smallColumnContent21 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our sofette sectionals are made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent21'>
    </multi-column-text-image>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const titleContent23 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent23'></title-text>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>


    <script>
      const lifestyleGrid25 = {"images":[{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/AERO%20SOFETTE/frames/1/AERO%20SOFETTE.JPG?background=FFFFFF\u0026feature=CONFIGURATION:LEFT%20CHAISE\u0026feature=SEAT%20DEPTH:31\u0026feature=UPHOLSTERY:CORDOVA%20FLAX\u0026feature=ARM%20STYLE:HIGH\u0026feature=THROW%20PILLOWS:NONE\u0026feature=EXTENSION%20TABLE:2%20SIDE%20TABLES\u0026feature=WOOD%20EDGE%20FINISH:LATTE\u0026feature=FRAME%20WOOD%20FINISH:LATTE\u0026feature=WOOD%20LEG%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aw12ca1213101010-latte-aero-2-seater-sectional-in-flax","titleCopy":"Latte Aero 2-Seater Sectional in Flax","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_02.jpg","altText":null,"products":[{"image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_2-seater-ottoman.jpg","altText":null,"destination":"https://insideweather.com/products/bq11ak1010-modular-bondi-2-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 2-Seater Sectional in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:VENICE%20MARIGOLD\u0026feature=BACK:VENICE%20MARIGOLD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq13bbbb-18-x-18-accent-pillow-cover-only","titleCopy":"18\" x 18\" Accent Pillow","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/AERO%20SOFETTE/frames/1/AERO%20SOFETTE.JPG?background=FFFFFF\u0026feature=CONFIGURATION:LEFT%20CHAISE\u0026feature=SEAT%20DEPTH:31\u0026feature=UPHOLSTERY:CORDOVA%20FLAX\u0026feature=ARM%20STYLE:HIGH\u0026feature=THROW%20PILLOWS:NONE\u0026feature=EXTENSION%20TABLE:2%20SIDE%20TABLES\u0026feature=WOOD%20EDGE%20FINISH:LATTE\u0026feature=FRAME%20WOOD%20FINISH:LATTE\u0026feature=WOOD%20LEG%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aw12ca1213101010-latte-aero-2-seater-sectional-in-flax","titleCopy":"Latte Aero 2-Seater Sectional in Flax","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/1/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:DS1055\u0026feature=BACK:ROYALE%20BLUSH\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq15lvda-20-x-20-accent-pillow-cover-only","titleCopy":"20\" x 20\" Accent Pillow","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/17/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:DS1055\u0026feature=BACK:MERRIT%20HACIENDA\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq15lvbx-20-x-20-accent-pillow-cover-only","titleCopy":"20\" x 20\" Accent Pillow","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SCT2/frames/5/ANA_SCT2.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:LEVI%20(FABRIC)\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ss14br111010131010-custom-levi-sofette-sectional-in-whiskey","titleCopy":"Custom Levi Sofette Sectional in Whiskey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/4/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc10aa10-round-classic-via-coffee-table-in-latte","titleCopy":"Round Classic Via Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SCT2/frames/5/ANA_SCT2.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:TAPERED\u0026feature=BASE%20FINISH:METAL%20LEGS%20SILVER\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ss17au111010101010-custom-issa-sofette-sectional-in-dijon","titleCopy":"Custom Issa Sofette Sectional in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/2/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bq11cw1010-modular-bondi-2-seater-sofa-in-seashell","titleCopy":"Modular Bondi 2-Seater Sofa in Seashell","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/2/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20ALMOND\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:MOD%20VELVET%20VANILLA\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1410abcz10-almond-hayes-coffee-table-in-latte","titleCopy":"Almond Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SCT2/frames/5/ANA_SCT2.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:ARC\u0026feature=BASE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ss17au111010211010-custom-issa-sofette-sectional-in-dijon","titleCopy":"Custom Issa Sofette Sectional in Dijon","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/4/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:OVAL\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20TYPE:HAIRPIN\u0026feature=BASE%20FINISH:BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc13ab12-oval-classic-via-coffee-table-in-espresso","titleCopy":"Oval Classic Via Coffee Table in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SCT2/frames/5/ANA_SCT2.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:MOD%20VELVET%20JADE%20GREEN\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ss17ce111210121010-custom-issa-sofette-sectional-in-jade-green","titleCopy":"Custom Issa Sofette Sectional in Jade Green","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/2/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:HAIRPIN\u0026feature=BASE%20FINISH:SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc11aa14-rectangle-classic-via-coffee-table-in-latte","titleCopy":"Rectangle Classic Via Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/2/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bq11bm1110-modular-bondi-2-seater-sofa-in-moss","titleCopy":"Modular Bondi 2-Seater Sofa in Moss","price":null}]},{"image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/lifestyles/cat_sofette-sectional_lg_v3_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/AERO%20SOFETTE/frames/1/AERO%20SOFETTE.JPG?background=FFFFFF\u0026feature=CONFIGURATION:LEFT%20CHAISE\u0026feature=SEAT%20DEPTH:31\u0026feature=UPHOLSTERY:CORDOVA%20FLAX\u0026feature=ARM%20STYLE:HIGH\u0026feature=THROW%20PILLOWS:NONE\u0026feature=EXTENSION%20TABLE:2%20SIDE%20TABLES\u0026feature=WOOD%20EDGE%20FINISH:LATTE\u0026feature=FRAME%20WOOD%20FINISH:LATTE\u0026feature=WOOD%20LEG%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aw12ca1213101010-latte-aero-2-seater-sectional-in-flax","titleCopy":"Latte Aero 2-Seater Sectional in Flax","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid25'>
    </lifestyle-grid>


    <script>
      const spacer26 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer26'>
      </custom-spacer>


    <script>
      const titleContent27 = {"titleCopy":"Small Spaces Can Be Stylish Too","bodyCopy":"Making the most of a small living room can be difficult, especially when you’re intent on finding the perfect sofa to match your personal style. Big box stores offer bland living room furniture, and if all you need is a seating surface their furniture might do. \u003cbr /\u003e\u003cbr /\u003eAt Inside Weather, we make customizing a small sectional sofa for your living room as easy as pie! Our selection of small sectional sofas has options for every living room and style, so you can match the sofa to \u003ca href=\"https://insideweather.com/pages/stools\"\u003ecustom stools\u003c/a\u003e, \u003ca href=\"https://insideweather.com/pages/coffee-tables\"\u003ecoffee tables\u003c/a\u003e, \u003ca href=\"https://insideweather.com/pages/credenzas\"\u003ecredenzas\u003c/a\u003e, \u003ca href=\"https://insideweather.com/pages/lounge-chairs\"\u003emodern lounge chairs\u003c/a\u003e, or \u003ca href=\"https://insideweather.com/pages/ottomans\u003ecustom ottomans\u003c/a\u003e. \u003cbr /\u003e\u003cbr /\u003eWe offer over 400 upholstery options from vegan faux leather to soft microfiber. Plus, all of our sectional sofettes and \u003ca href=\"https://insideweather.com/pages/sofettes\"\u003eloveseats\u003c/a\u003e are modular, making them perfect for a small room where wiggle room might be tight."};
    </script>
    <title-text v-bind='titleContent27'></title-text>


    <script>
      const spacer28 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer28'>
      </custom-spacer>

      </div>
