      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/tb/col_og-cdc_tb_v1_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/tb/col_og-cdc_tb_v1_m.jpg","altText":"custom dining chairs","destination":null,"titleCopy":"The Original Custom Dining Chair Collection","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Original Custom Dining Chairs","bodyCopy":"Start with a silhouette and customize the rest."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Kobe Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd141112jt12-latte-kobe-side-chair-in-moss","image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/1/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=400"},{"titleCopy":"Polk Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd111010cf17-espresso-polk-armchair-in-rosy-geometry","image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/1/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:DS1018E\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:SQUARED\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=400"},{"titleCopy":"Luna Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd121211jl14-black-luna-side-chair-in-oyster","image":"https://content.cylindo.com/api/v2/4931/products/CNV_LUNA/frames/1/CNV_LUNA.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:EIFEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:BLACK\u0026feature=EDGE%20FINISH:BLACK\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=400"},{"titleCopy":"Kobe Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd151112hh11-latte-kobe-armchair-in-dijon","image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/1/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:TEARDROP\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Dining Chair on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways you can modify these dining chairs to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#DAE6E1","image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/customize/col_og-cdc_customize_d-min.png","altText":null,"mobileImages":[{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/customize/col_og-cdc_customize_m-min.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes our dining chairs so unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"Cool, calm and collected under any situation, our Original Custom Dining Chairs' retro charm is immune to newfangled complication. Custom, steam bent baltic birch seat \u0026 back panels are joined by powder coated stainless steel spines, designed to mold nicely to your resting figure.","image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/details/design_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/details/design_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"A Life-Proof Product","bodyCopy":"Whether you like to change colors with the seasons, or just feel like a quick design refresh, our customizable and switchable seat pads are a great way to grab a new look without spending an arm and a leg. All of our custom dining chair seats can be purchased separately if you just feel like switching up your look or your wine spilling habits decide that for you. P.S. For fabric specific info on durability, check out the Wyzenbeek Test Method Rub Count Scores on each product page!","image":"https://cdn.insideweather.com/pdp/details/dining-chairs/lifeproof/lifeproof_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/dining-chairs/lifeproof/lifeproof_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Custom Dining Chair Upholstery","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your custom furniture match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Comfort","bodyCopy":"Each molded back \u0026 seat panel is topped with a firm foam-core base and layered with high-density polyurethane foam, designed to delight with every sit.","image":"https://cdn.insideweather.com/pdp/details/dining-chairs/comfort/Kobe_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/dining-chairs/comfort/Kobe_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const leftRightContent18 = {"titleCopy":"Sustainable, Quality Materials","bodyCopy":"Sit tight! Our custom dining chairs feature materials made from solid ash wood and high-strength powder-coated steel, all of which are designed to carry up to 250 lbs. So go ahead, help yourself to seconds. Every material that we use is selected with intention. Look out for certifications across our custom dining chair collections that meet the following standards: FSC, Oeko-Tex, \u0026 Bluesign. And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent18'></image-text>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const smallColumnContent20 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent20'>
    </multi-column-text-image>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const titleContent22 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent22'></title-text>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const lifestyleGrid24 = {"images":[{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:DS1032C\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud12al1011-square-custom-via-dining-table-in-black-marble","titleCopy":"Square Custom Via Dining Table in Black Marble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20FOG\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:SQUARED\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd111111gu15-latte-polk-armchair-in-fog","titleCopy":"Latte Polk Armchair in Fog","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141010kk17-espresso-kobe-side-chair-in-rust","titleCopy":"Espresso Kobe Side Chair in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:VENICE%20MARIGOLD\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141010ji17-espresso-kobe-side-chair-in-honey","titleCopy":"Espresso Kobe Side Chair in Honey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld12aa10-square-classic-via-dining-table-in-latte","titleCopy":"Square Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/3/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112be12-latte-polk-side-chair-in-sunflower","titleCopy":"Latte Polk Side Chair in Sunflower","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/2/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141111hh15-latte-kobe-side-chair-in-dijon","titleCopy":"Latte Kobe Side Chair in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:VEGAN%20LEATHER%20ONYX\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd11ai15-nola-armchair-in-onyx","titleCopy":"Nola Armchair in Onyx","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab14-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:DS1010B\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:BLACK\u0026feature=EDGE%20FINISH:BLACK\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101210hw15-black-polk-side-chair-in-chilly-topography","titleCopy":"Black Polk Side Chair in Chilly Topography","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:NORDIC%20ORANGE\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141110ea17-latte-kobe-side-chair-in-nordic-orange","titleCopy":"Latte Kobe Side Chair in Nordic Orange","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:NORDIC%20YELLOW\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141110ds17-latte-kobe-side-chair-in-nordic-yellow","titleCopy":"Latte Kobe Side Chair in Nordic Yellow","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:NORDIC%20GREEN\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141110ec17-latte-kobe-side-chair-in-nordic-green","titleCopy":"Latte Kobe Side Chair in Nordic Green","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:NORDIC%20BLUE\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141110ei17-latte-kobe-side-chair-in-nordic-blue","titleCopy":"Latte Kobe Side Chair in Nordic Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/2/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:DS1005D\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141110db17-latte-kobe-side-chair-in-purple-palm","titleCopy":"Latte Kobe Side Chair in Purple Palm","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/2/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=BASE%20WOOD%20FINISH:BLACK\u0026feature=UPHOLSTERY:DS1010A\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141111fl18-latte-kobe-side-chair-in-midnight-topography","titleCopy":"Latte Kobe Side Chair in Midnight Topography","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=BASE%20WOOD%20FINISH:BLACK\u0026feature=UPHOLSTERY:DS1010B\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101111hw18-latte-polk-side-chair-in-chilly-topography","titleCopy":"Latte Polk Side Chair in Chilly Topography","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/1/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:SOLID%20LAMINATE%20DARK%20COOL%20GRAY\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud10bn1014-round-custom-via-dining-table-in-dark-cool-gray","titleCopy":"Round Custom Via Dining Table in Dark Cool Gray","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:VEGAN%20LEATHER%20ONYX\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101111dn15-latte-polk-side-chair-in-onyx","titleCopy":"Latte Polk Side Chair in Onyx","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/1/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:SILVER\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa12-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:DS1103\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112nu12-latte-polk-side-chair-in-excelsior","titleCopy":"Latte Polk Side Chair in Excelsior","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:MONACO%20ECLIPSE\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112jn12-latte-polk-side-chair-in-royal-blue","titleCopy":"Latte Polk Side Chair in Royal Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:DS1106\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112nx12-latte-polk-side-chair-in-sea-cliff","titleCopy":"Latte Polk Side Chair in Sea Cliff","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-dining-chairs/lifestyles/col_og-cdc_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:DS1032A\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud10lg1011-round-custom-via-dining-table-in-white-marble","titleCopy":"Round Custom Via Dining Table in White Marble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_LUNA/frames/3/CNV_LUNA.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:DS1006D\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd121111bb15-latte-luna-side-chair-in-sunny-tropics","titleCopy":"Latte Luna Side Chair in Sunny Tropics","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid24'>
    </lifestyle-grid>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>

      </div>
