      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/ace/tb/col_ace_tb_v1_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/ace/tb/col_ace_tb_v1_m.jpg","altText":"custom lounge chairs","destination":null,"titleCopy":"The Ace Lounge Chair","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Ace Lounge Chair","bodyCopy":"Customize the wood finish and upholstery to make Ace yours."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Latte Ace Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/al10bt-latte-ace-lounge-chair-in-rose-quartz","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_05_grid_v5_01.jpg"},{"titleCopy":"Espresso Ace Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/al11cv-espresso-ace-lounge-chair-in-ocean","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_05_grid_v5_02.jpg"},{"titleCopy":"Black Ace Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/al12cb-black-ace-lounge-chair-in-mascarpone","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_05_grid_v5_03.jpg"},{"titleCopy":"Latte Ace Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/al10cf-latte-ace-lounge-chair-in-honey","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_05_grid_v5_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const titleContent7 = {"titleCopy":"Details","bodyCopy":"Discover what makes our lounge chairs so unique."};
    </script>
    <title-text v-bind='titleContent7'></title-text>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const leftRightContent9 = {"titleCopy":"Behind the Design","bodyCopy":"With its sharp look and architectural construction, the Ace Lounge Chair passes with flying colors. Our sculpted kiln-dried, solid ash wood frame passes through a series of sands and stains, for a pronounced wood grain through the Espresso finish.","image":"https://cdn.insideweather.com/pdp/details/lounge-chairs/collection/ace_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/lounge-chairs/collection/ace_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent9'></image-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Safeguard Seating","bodyCopy":"Our lounge chairs are designed to withstand whatever life throws at them. Each cushion is enclosed in a water-resistant nylon casing for the ultimate protection against, well, you. Additionally, every cushion \u0026 pillow features a concealed zipper for easy, practical removal \u0026 cleaning. Rest easy, you can be a stress-free mess with us by your side.","image":"https://cdn.insideweather.com/pdp/details/sofa/safeguard/safeguard_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/sofa/safeguard/safeguard_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Custom Upholstery","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your custom furniture match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Comfort","bodyCopy":"Our seat cushions \u0026 pillows consist of a domestically sourced, medium density, high resilience foam topped with a plush layer of our signature, 100% recycled down alternative topper. This perfected combination provides the perfect balance of support and squish and a little bit of bounce. Our signature, sustainable down-alternative topper consists of upcycled plastic bottles. The disposable bottles that we upcycle are sterilized in hot water, ground into tiny flakes, re-melted and extruded to make a polyester fiber. This material helps keep plastics out of our landfills \u0026 oceans and helps fill your home with comfortable, sustainable products as we believe both Mother Earth and your comfort are both uncompromisable.","image":"https://cdn.insideweather.com/pdp/details/lounge-chairs/comfort/ace_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/lounge-chairs/comfort/ace_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const smallColumnContent17 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent17'>
    </multi-column-text-image>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const titleContent19 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent19'></title-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const lifestyleGrid21 = {"images":[{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SAND\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al11ac-espresso-ace-lounge-chair-in-sand","titleCopy":"Espresso Ace Lounge Chair in Sand","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LATTE\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al10af-latte-ace-lounge-chair-in-cloud","titleCopy":"Latte Ace Lounge Chair in Cloud","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/2/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:OVAL\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc13aa10-oval-classic-via-coffee-table-in-latte","titleCopy":"Oval Classic Via Coffee Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/3/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20CARBON\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=PRIMARY%20SURFACE%20OPTION:LATTE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr10aa1321-latte-sloan-credenza-in-latte-wood","titleCopy":"Latte Sloan Credenza in Latte Wood","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SUNFLOWER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al11ab-espresso-ace-lounge-chair-in-sunflower","titleCopy":"Espresso Ace Lounge Chair in Sunflower","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al11bf-espresso-ace-lounge-chair-in-seashell","titleCopy":"Espresso Ace Lounge Chair in Seashell","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20CHARCOAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al11aq-espresso-ace-lounge-chair-in-charcoal","titleCopy":"Espresso Ace Lounge Chair in Charcoal","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:BLACK\u0026feature=UPHOLSTERY:MOD%20VELVET%20STEELBLUE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al12as-black-ace-lounge-chair-in-steel-blue","titleCopy":"Black Ace Lounge Chair in Steel Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al11bf-espresso-ace-lounge-chair-in-seashell","titleCopy":"Espresso Ace Lounge Chair in Seashell","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LATTE\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20AEGEAN%20BLUE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al10be-latte-ace-lounge-chair-in-aegean-blue","titleCopy":"Latte Ace Lounge Chair in Aegean Blue","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:BLACK\u0026feature=UPHOLSTERY:VEGAN%20LEATHER%20IVORY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al12bq-black-ace-lounge-chair-in-ivory","titleCopy":"Black Ace Lounge Chair in Ivory","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:BLACK\u0026feature=UPHOLSTERY:VEGAN%20LEATHER%20IVORY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al12bq-black-ace-lounge-chair-in-ivory","titleCopy":"Black Ace Lounge Chair in Ivory","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/2/CNV_FLW_HEX.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=TOP%20SHELF:LATTE\u0026feature=BOTTOM%20SHELF:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hs10fifi-latte-hanna-side-table","titleCopy":"Latte Hanna Side Table","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LATTE\u0026feature=UPHOLSTERY:VISTA%20CHOCOLATE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al10dp-latte-ace-lounge-chair-in-chocolate","titleCopy":"Latte Ace Lounge Chair in Chocolate","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/2/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1122\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr10ku1414-latte-sloan-credenza-in-sequence","titleCopy":"Latte Sloan Credenza in Sequence","price":null}]},{"image":"https://cdn.insideweather.com/collections/ace/lifestyles/col_ace_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ACE/frames/3/ANA_ACE.JPG?background=FFFFFF\u0026feature=BODY:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20-%20STONE%20BLUE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/al10ai-latte-ace-lounge-chair-in-stone-blue","titleCopy":"Latte Ace Lounge Chair in Stone Blue","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid21'>
    </lifestyle-grid>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>

      </div>
