      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/lp/sales/120621_winter-sale_lp_d.jpg","mobileImage":"https://cdn.insideweather.com/lp/sales/120621_winter-sale_lp_m.jpg","altText":"The Winter Sale","destination":null,"titleCopy":"The Winter Sale","titleCopyColor":"#202020","bodyCopy":"20% OFF SITEWIDE | FREE SHIPPING ON $1500+ | USE CODE: \u003cb\u003eWINTER\u003c/b\u003e","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const spacer1 = {"backgroundColor":"#FFF","desktopSpacing":"30px","mobileSpacing":"25px"};
    </script>
    <custom-spacer v-bind='spacer1'>
      </custom-spacer>


    <script>
      const titleContent2 = {"titleCopy":"Last chance for end of the year savings!","bodyCopy":"It's the coziest time of the year, so snuggle up by the fire \u0026 save 20% OFF."};
    </script>
    <title-text v-bind='titleContent2'></title-text>


    <script>
      const titleContent3 = {"titleCopy":null,"bodyCopy":"\u003cspan style=\"font-size: 20px;\"\u003eUse code \u003cb\u003eWINTER\u003c/b\u003e to save:\u003c/span\u003e\u003cbr /\u003e"};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const titleContent4 = {"titleCopy":null,"bodyCopy":"\u003cdiv\u003e\n  \u003cdiv style=\" border-right: 1px solid #202020; float: left;\n  width: 33.33%;\npadding-top: 10px;\n  padding-right: 10px;\n  padding-bottom: 10px;\n  height: 90px;\"\u003e\n    \u003ch2\u003e20% OFF\u003c/h2\u003e\n    \u003cp\u003e$2500+\u003c/p\u003e\n  \u003c/div\u003e\n  \u003cdiv  style=\"border-right: 1px solid #202020; float: left;\n  width: 33.33%;\npadding: 10px;\n  height: 90px;\"\u003e\n    \u003ch2\u003e15% OFF\u003c/h2\u003e\n    \u003cp\u003e$1500+\u003c/p\u003e\n  \u003c/div\u003e\n  \u003cdiv style=\" float: left;\n  width: 33.33%;\npadding-top: 10px;\n  padding-left: 10px;\n  padding-bottom: 10px;\n  height: 90px;\"\u003e\n    \u003ch2\u003e10% OFF\u003c/h2\u003e\n    \u003cp\u003e$500+\u003c/p\u003e\n  \u003c/div\u003e\n\u003c/div\u003e\u003cbr /\u003e\u003cbr /\u003e"};
    </script>
    <title-text v-bind='titleContent4'></title-text>


    <script>
      const spacer5 = {"backgroundColor":"#FFF","desktopSpacing":"35px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer5'>
      </custom-spacer>


    <script>
      const titleContent6 = {"titleCopy":null,"bodyCopy":"\u003cspan style=\"font-size: 15px; \"\u003ePlus, get \u003cb\u003eFREE shipping\u003c/b\u003e on orders over $1500!\u003c/span\u003e\u003cbr /\u003e\u003cbr /\u003e\n\u003chr style=\"  display: block;\n  margin-top: 30px;\n  margin-bottom: 60px;\n  margin-left: auto;\n  margin-right: auto;\n  border-style: solid;\n  border-width: 1px;\nborder-color: #f2f2f2;\"\u003e"};
    </script>
    <title-text v-bind='titleContent6'></title-text>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"15px","mobileSpacing":"0px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Shop by Room","bodyCopy":"Save up to 20% OFF furniture for every room. Use code: \u003cb\u003eWINTER\u003c/b\u003e"};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <featured-categories v-bind='{"autoplay":false,"playSpeed":0,"backgroundColor":"#FFF","categories":[{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_living.jpg","imageDesktopAlt":"living room furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_living.jpg","imageMobileAlt":"living room furniture","linkUrl":"https://insideweather.com/pages/living-room","priority":1,"buttonText":"SHOP LIVING","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"},{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_dining.jpg","imageDesktopAlt":"dining room furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_dining.jpg","imageMobileAlt":"dining room furniture","linkUrl":"https://insideweather.com/pages/dining-room","priority":2,"buttonText":"SHOP DINING","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"},{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_office.jpg","imageDesktopAlt":"office furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_office.jpg","imageMobileAlt":"office furniture","linkUrl":"https://insideweather.com/pages/office","priority":3,"buttonText":"SHOP OFFICE","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"},{"imageDesktop":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_bedroom.jpg","imageDesktopAlt":"bedroom furniture","imageMobile":"https://cdn.insideweather.com/hp/cat-rooms/080221_hp_cat-room_bedroom.jpg","imageMobileAlt":"bedroom furniture","linkUrl":"https://insideweather.com/pages/bedroom","priority":4,"buttonText":"SHOP BEDROOM","buttonTextColor":"#202020","buttonBackgroundColor":"#ffffff"}]}'>
    </featured-categories>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"100px","mobileSpacing":"100px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const titleContent12 = {"titleCopy":"Shop By Category","bodyCopy":"Save up to 20% OFF sitewide! Use code: \u003cb\u003eWINTER\u003c/b\u003e"};
    </script>
    <title-text v-bind='titleContent12'></title-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const productGrid14 = {"products":[{"titleCopy":"Sectionals","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/sofa-sectionals","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_grid_v1_01.jpg"},{"titleCopy":"Sofas","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/sofas","image":"https://content.cylindo.com/api/v2/4931/products/CUSTOM%20SOFA%20SNUG/frames/1/CUSTOM%20SOFA%20SNUG.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:BROOKLYN%20(FABRIC)\u0026feature=UPHOLSTERY:ELIOT%20SUNFLOWER\u0026feature=CONFIGURATION:CLASSIC_SPLIT\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:BUTTON%201\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=400"},{"titleCopy":"Sofettes","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/sofettes","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/1/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Sofette Sectionals","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/sofette-sectionals","image":"https://cdn.insideweather.com/cat/sofa-line/sofette-sectionals/grid/cat_sofette-sectional_col_02_grid-01_v2.jpg"},{"titleCopy":"Armchairs","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/armchairs","image":"https://cdn.insideweather.com/cat/sofa-line/armchairs/grid/cat_armchair_col_grid_v3_06.jpg"},{"titleCopy":"Ottomans","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/ottomans","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%20OTTOMAN/frames/3/BONDI%20OTTOMAN.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Lounge Chairs","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/lounge-chairs","image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:ROYALE%20COBALT\u0026feature=ACCENT%20PILLOW%20SHAPE:ROUND\u0026size=400"},{"titleCopy":"Side Tables","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/side-tables","image":"https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/1/CNV_FLW_HEX.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LATTE\u0026feature=TOP%20SHELF:LIGHT%20ESPRESSO\u0026feature=BOTTOM%20SHELF:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Coffee Tables","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/coffee-tables","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_06.jpg"},{"titleCopy":"Dining Tables","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/dining-tables","image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20SMALL%20DINING%20TABLE/frames/2/VIENNA%20SMALL%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:CIRCLE\u0026feature=LENGTH:2\u0026feature=WIDTH:46\u0026feature=SURFACE%20FINISH:LIGHT%20ESPRESSO\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=400"},{"titleCopy":"Dining Chairs","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/dining-chairs","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DS1057\u0026size=400"},{"titleCopy":"Counter \u0026 Bar Stools","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/stools","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20ALMOND\u0026size=400"},{"titleCopy":"Sideboards","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/sideboards","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_02_grid_v3_03-2.jpg"},{"titleCopy":"Credenzas","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/credenzas","image":"https://cdn.insideweather.com/cat/storage/credenzas/grid/cat_credenzas_col_01_grid_v2_04.jpg"},{"titleCopy":"Desks","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/desks","image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CONFIGURATION:MONITOR%20STAND%20AND%202%20PEDESTALS\u0026feature=SHELF%20PATTERN:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Consoles","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/console","image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/4/CNV_JORN_CNS.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20SETUP:LARGE-LARGE\u0026feature=SHELF%20PATTERN:LATTE\u0026size=400"},{"titleCopy":"Bookcases \u0026 Shelving","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/shelving","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"Headboards","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/headboard","image":"https://cdn.insideweather.com/lp/2021-bfcm/110121_lp_headboard.jpg"},{"titleCopy":"Bedframes","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/savoy-collection","image":"https://cdn.insideweather.com/lp/2021-bfcm/110121_lp_savoy.jpg"},{"titleCopy":"Stools","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br13jo10-espresso-burnham-stool-in-modern-patchwork","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1028D\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"},{"titleCopy":"Throw Pillows \u0026 Bolsters","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/pillows","image":"https://cdn.insideweather.com/cat/pillows/grid/v2/cat_pillows_col_01_grid-01.jpg"},{"titleCopy":"Rugs","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/rugs","image":"https://cdn.insideweather.com/cat/rugs/grid/cat_rugs_grid_04.jpg"},{"titleCopy":"Wall Art","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/wall-art","image":"https://banksy-images.s3.amazonaws.com/items/WA1310BN/WA1310BN-0_small.jpg"},{"titleCopy":"Floor Pillows","linkCopy":"Customize Now","destination":"https://insideweather.com/pages/floor-pillows","image":"https://content.cylindo.com/api/v2/4931/products/FLOOR%20PILLOW%20SIDE%20VIEW/frames/20/FLOOR%20PILLOW%20SIDE%20VIEW.JPG?background=FFFFFF\u0026feature=SHAPE:SQUARE\u0026feature=SIZE:30%27%27%20X%2030%27%27\u0026feature=UPHOLSTERY:PILLOW_HEX_BLANC\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid14'>
    </category-product-grid>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"100px","mobileSpacing":"36px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const titleContent16 = {"titleCopy":null,"bodyCopy":"*The Winter Sale: Cannot be applied to previous purchases and are not combinable with other offers. Not valid on decor accessories, bed sheets, Clearance items, Quick Ship items, and mattresses. Use code WINTER at checkout to receive 10% off on orders over $500, 15% off on orders over $1500, and 20% off on orders over $2500. All orders over $1500 after discounts receive FREE shipping, no code required. Sale for a limited time."};
    </script>
    <title-text v-bind='titleContent16'></title-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>

      </div>
