      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/ottomans/tb/cat_ottoman_tb_d_v3.jpg","mobileImage":"https://cdn.insideweather.com/cat/ottomans/tb/cat_ottoman_tb_m_v3.jpg","altText":"affordable custom ottomans","destination":null,"titleCopy":"Custom Ottomans","titleCopyColor":"#202020","bodyCopy":"Our custom ottomans are made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"USONIA™ OTTOMANS","bodyCopy":"Inspired by a mutual commitment to sustainability, innovation, and above all, accessibility to beautiful design with zero compromise. In partnership with the Frank Lloyd Wright Foundation, we present: The Usonia™ Collection. Amidst Frank Lloyd Wright’s Desert Laboratory in Arizona, Taliesin West, lives rare product archives \u0026 records of architectural designs which have remained unexplored for many decades until now. Through an inspiring exploration of the creative chronicles, we’ve reimagined \u0026 manufactured the first-ever Usonia™ Collection.","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_grid_01_bnr_v1.jpg","altText":"usonia collection ottomans","buttonText":"SHOP THE USONIA™ COLLECTION","buttonUrl":"https://insideweather.com/pages/franklloydwright"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Latte West Ottoman","linkCopy":"customize now","destination":"https://insideweather.com/products/wo11ds-latte-west-ottoman-in-olive","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_01_grid_v1_01.jpg"},{"titleCopy":"Espresso West Ottoman","linkCopy":"customize now","destination":"https://insideweather.com/products/wo10ll-espresso-west-ottoman-in-usonia-design-705-bermuda-sunrise","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_01_grid_v1_02.jpg"},{"titleCopy":"Latte Spring Ottoman","linkCopy":"customize now","destination":"https://insideweather.com/products/sp11br-latte-spring-ottoman-in-whiskey","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_01_grid_v1_03.jpg"},{"titleCopy":"Espresso Spring Ottoman","linkCopy":"customize now","destination":"https://insideweather.com/products/sp10cn-espresso-spring-ottoman-in-ocean-gray","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_01_grid_v1_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"THE ORIGINAL CUSTOM OTTOMAN","bodyCopy":"Everything we do here at Inside Weather is custom and nothing embodies that better than our Original Custom Collection. Tailor every inch of your living room from base to seam to create a sofette sectional that is actually suited to your needs and style. Each sofette sectional is made-to-order and built here in the U.S. so it can arrive at your door soon after you've dreamt it up. For the first time in furniture, it's you that's behind the design.","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_grid_02_bnr_v1.jpg","altText":"custom ottomans","buttonText":"SHOP THE ORIGINAL CUSTOM COLLECTION","buttonUrl":"https://insideweather.com/pages/original-custom-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Flush Original Custom Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/otda101210-custom-ottoman-in-powder-pink","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_02_grid_v1_01.jpg"},{"titleCopy":"Plush Original Custom Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/otbu111710-custom-ottoman-in-mist","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_02_grid_v1_02.jpg"},{"titleCopy":"Snug Original Custom Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/otbg122110-custom-ottoman-in-royal-blue","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_02_grid_v1_03.jpg"},{"titleCopy":"Plush Original Custom Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/otau111610-custom-ottoman-in-dijon","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_02_grid_v1_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


      <script>
        const fullWidthContent6 = {"titleCopy":"THE BONDI OTTOMAN","bodyCopy":"Introducing our most spacious, deepest, softest custom seating collection ever. The Bondi Collection features cloud-like comfort, in a modern silhouette that is 100% modular. Designed with sustainability top of mind, its solid ash hardwood frame is FSC Certified and our signature down alternative is 100% recycled. For reference, one sofa = roughly 400 recycled plastic bottles. Every cushion \u0026 pillow features easy-clean removable covers as well as nylon casings to offer a water-resistant shield and maintain Bondi’s cloud-like form over time. Lean back. Sink in. Sink deeper. Get on cloud Bondi.","image":"https://cdn.insideweather.com/cat/ottomans/grid/cat_ottoman_col_bondi.jpg","altText":"modular custom ottoman","buttonText":"SHOP THE BONDI COLLECTION","buttonUrl":"https://insideweather.com/pages/bondi-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent6'></image-text-cta>


    <script>
      const productGrid7 = {"products":[{"titleCopy":"Modular Bondi Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bnak1110-modular-bondi-ottoman-in-mascarpone","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%20OTTOMAN/frames/3/BONDI%20OTTOMAN.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Modular Bondi Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bncy1010-modular-bondi-ottoman-in-glacier-blue","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%20OTTOMAN/frames/3/BONDI%20OTTOMAN.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:ROYALE%20CLOUD\u0026feature=WOOD%20FINISH:LATTE\u0026size=400"},{"titleCopy":"Modular Bondi Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bnbe1210-modular-bondi-ottoman-in-oyster","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%20OTTOMAN/frames/3/BONDI%20OTTOMAN.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026feature=WOOD%20FINISH:BLACK\u0026size=400"},{"titleCopy":"Modular Bondi Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bnbb1010-modular-bondi-ottoman-in-honey","image":"https://content.cylindo.com/api/v2/4931/products/BONDI%20OTTOMAN/frames/3/BONDI%20OTTOMAN.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:VENICE%20MARIGOLD\u0026feature=WOOD%20FINISH:LATTE\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid7'>
    </category-product-grid>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const titleContent9 = {"titleCopy":"Details","bodyCopy":"Discover what makes an Inside Weather ottoman so unique."};
    </script>
    <title-text v-bind='titleContent9'></title-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Our Ottoman Philosophy","bodyCopy":"While the function of an ottoman is obvious, its design and details are often overlooked \u0026 oversimplified which is why we believe a custom ottoman is the only way to go. Before choosing your sidekick, make sure it: features a pattern that matches your vibe ✓ has a fabric sturdy enough for your dirty habits ✓ maintains sustainable standards ✓ doesn’t break the bank ✓ and—obviously—is a sculptural masterpiece ✓. You design it, we make it.","image":"https://cdn.insideweather.com/cat/ottomans/details/philosophy/philosophy_d_v4.mp4","mobileImage":"https://cdn.insideweather.com/cat/ottomans/details/philosophy/philosophy_m_v4.mp4","altText":"ottoman philosophy","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"A Life-Proof Ottoman","bodyCopy":"Each custom ottoman is designed to withstand whatever life throws at it. Look out for our stain resistant Performance fabrics, purrfectly Pet-Friendly selections and even Commercial Grade options that fit the bill! Features like water-resistant nylon casing and removable (\u0026 interchangeable) cushion pads allow dry cleaning \u0026 spot-cleaning with ease. Relax and kick those feet back—that’s the point isn’t it?","image":"https://cdn.insideweather.com/cat/all/lifeproof-upholstery/lifeproof_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/lifeproof-upholstery/lifeproof_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Upholsteries Galore","bodyCopy":"Grab a snack—you have 400+ fabric options to choose from, all hand-stitched here in the U.S. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections! Play around and flip through all the colors and patterns. Once you’ve narrowed it down to your favs, order some swatches for that IRL buzz.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"Custom Ottoman Comfort","bodyCopy":"Need extra seating? We believe that one size does not fit all which is why we’ve decided to hand over all comfort control to you—the lifelong owner (\u0026 designer) of the product. Choose between various domestically sourced cushion insert options and unique heights \u0026 slopes to create your ultimate, custom relaxation station. Kick it, your way.","image":"https://cdn.insideweather.com/cat/ottomans/details/custom-comfort/custom-comfort_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/ottomans/details/custom-comfort/custom-comfort_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const leftRightContent19 = {"titleCopy":"Sustainable Style","bodyCopy":"Every material that we use is selected with intention. Look out for certifications that meet the following standards across our wood \u0026 fabric selections: FSC, SFC, Oeko-Tex, \u0026 Bluesign. And what do plastic bottles have to do with it? Our signature synthetic down is composed of 100s of upcycled disposable bottles to create a comfy polyester cushion. Last but not least, for every order placed with us one tree is planted via the National Forest Foundation. We believe that design, comfort \u0026 Mother Earth are uncompromisable.","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_m.jpg","altText":"custom armchairs","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent19'></image-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const smallColumnContent21 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our custom ottomans is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent21'>
    </multi-column-text-image>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const titleContent23 = {"titleCopy":"Get Inspired","bodyCopy":"Kick your feet up \u0026 visualize the possibilities."};
    </script>
    <title-text v-bind='titleContent23'></title-text>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>


    <script>
      const lifestyleGrid25 = {"images":[{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/AVA_OTT/frames/4/AVA_OTT.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:DS1095\u0026size=400","altText":null,"destination":"https://insideweather.com/products/sp11nj-latte-spring-ottoman-in-custard-cream","titleCopy":"Latte Spring Ottoman in Custard Cream","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/3/CNV_AVA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:DS1095\u0026size=400","altText":null,"destination":"https://insideweather.com/products/ar11nj-latte-arcadia-lounge-chair-in-custard-cream","titleCopy":"Latte Arcadia Lounge Chair in Custard Cream","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/1/CNV_FLW_HEX.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LATTE\u0026feature=TOP%20SHELF:LIGHT%20ESPRESSO\u0026feature=BOTTOM%20SHELF:LIGHT%20ESPRESSO\u0026size=400","altText":null,"destination":"https://insideweather.com/products/hs11fyfy-espresso-hanna-side-table","titleCopy":"Espresso Hanna Side Table","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/3/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bq10ak1010-modular-bondi-2-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 2-Seater Sofa in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%20OTTOMAN/frames/3/BONDI%20OTTOMAN.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bnak1010-modular-bondi-ottoman-in-mascarpone","titleCopy":"Modular Bondi Ottoman in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:VENICE%20MARIGOLD\u0026feature=BACK:VENICE%20MARIGOLD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq13bbbb-18-x-18-accent-pillow-cover-only","titleCopy":"18\" x 18\" Accent Pillow","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/5/ANA_ARM.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:MILO%20(FABRIC)\u0026feature=UPHOLSTERY:MERRIT%20HACIENDA\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ac13bx1110121010-custom-milo-armchair-in-terracotta","titleCopy":"Custom Milo Armchair in Terracotta","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_OTT/frames/3/ANA_OTT.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:MERRIT%20HACIENDA\u0026feature=SHAPE:SNUG\u0026feature=BASE%20TYPE:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/otbx121110-custom-ottoman-in-terracotta","titleCopy":"Custom Ottoman in Terracotta","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/2/CNV_FLW_HEX.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=TOP%20SHELF:DS1023A\u0026feature=BOTTOM%20SHELF:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hs10fsfi-latte-hanna-side-table","titleCopy":"Latte Hanna Side Table","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/4/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:DS1136\u0026feature=BACK:VENICE%20COAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq14oybd-20-x-20-accent-pillow-with-insert","titleCopy":"20\" x 20\" Accent Pillow (With Insert)","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/NELS_OTT/frames/5/NELS_OTT.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE\u0026size=400","altText":null,"destination":"https://insideweather.com/products/wo10co-espresso-west-ottoman-in-pebble","titleCopy":"Espresso West Ottoman in Pebble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE\u0026size=400","altText":null,"destination":"https://insideweather.com/products/el10co-espresso-edgar-lounge-chair-in-pebble","titleCopy":"Espresso Edgar Lounge Chair in Pebble","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_OTT/frames/2/ANA_OTT.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE\u0026feature=SHAPE:SNUG\u0026feature=BASE%20TYPE:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/otco122110-custom-ottoman-in-pebble","titleCopy":"Custom Ottoman in Pebble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_ARM/frames/5/ANA_ARM.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:ARC\u0026feature=BASE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ac17co1210211010-custom-issa-armchair-in-pebble","titleCopy":"Custom Issa Armchair in Pebble","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/NELS_OTT/frames/4/NELS_OTT.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:DS1041\u0026size=400","altText":null,"destination":"https://insideweather.com/products/wo11lh-latte-west-ottoman-in-usonia-design-105-blushing-prairie","titleCopy":"Latte West Ottoman in Usonia™ Design 105 Blushing Prairie","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:DS1041\u0026size=400","altText":null,"destination":"https://insideweather.com/products/el11lh-latte-edgar-lounge-chair-in-usonia-design-105-blushing-prairie","titleCopy":"Latte Edgar Lounge Chair in Usonia™ Design 105 Blushing Prairie","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/1/CNV_FLW_HEX.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LATTE\u0026feature=TOP%20SHELF:LIGHT%20ESPRESSO\u0026feature=BOTTOM%20SHELF:LIGHT%20ESPRESSO\u0026size=400","altText":null,"destination":"https://insideweather.com/products/hs11fyfy-espresso-hanna-side-table","titleCopy":"Espresso Hanna Side Table","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/AVA_OTT/frames/4/AVA_OTT.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE\u0026size=400","altText":null,"destination":"https://insideweather.com/products/sp11co-latte-spring-ottoman-in-pebble","titleCopy":"Latte Spring Ottoman in Pebble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/4/CNV_AVA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20PEBBLE\u0026size=400","altText":null,"destination":"https://insideweather.com/products/ar11co-latte-arcadia-lounge-chair-in-pebble","titleCopy":"Latte Arcadia Lounge Chair in Pebble","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/3/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20MIDNIGHT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/el10bn-espresso-edgar-lounge-chair-in-nightfall","titleCopy":"Espresso Edgar Lounge Chair in Nightfall","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/NELS_OTT/frames/5/NELS_OTT.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20MIDNIGHT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/west-ottoman-base?attributes=finish%3Aespresso%2Ccolor_name%3Anightfall","titleCopy":"Espresso West Ottoman in Nightfall","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/3/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/afaa121210-58-latte-atlas-shelf","titleCopy":"58\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_09.jpg","altText":null,"products":[{"image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_ottoman.jpg","altText":null,"destination":"https://insideweather.com/products/bnak1010-modular-bondi-ottoman-in-mascarpone","titleCopy":"Modular Bondi Ottoman in Mascarpone","price":null},{"image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_5-seater.jpg","altText":null,"destination":"https://insideweather.com/products/bu10ak1010-modular-bondi-5-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 5-Seater Sectional in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/cat/ottomans/lifestyles/cat_ottoman_lg_v2_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_OTT/frames/1/ANA_OTT.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20AVOCCADO\u0026feature=SHAPE:PLUSH\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026size=400","altText":null,"destination":"https://insideweather.com/products/otcr111510-custom-ottoman-in-avocado","titleCopy":"Custom Ottoman in Avocado","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid25'>
    </lifestyle-grid>


    <script>
      const spacer26 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer26'>
      </custom-spacer>


    <script>
      const titleContent27 = {"titleCopy":"Experience The Ultimate In Comfort","bodyCopy":"There’s comfy, and then there’s ottoman comfy. In these troubling times, little is better than enjoying the comfort of your peaceful home, and we think a great way to achieve that is with a custom ottoman. Ottomans are a great way to take your \u003ca href=\"https://insideweather.com/pages/living-room\"\u003emodern living room furniture\u003c/a\u003e game up a notch. Our ottomans will pair well with your lounge chair, \u003ca href=\"https://insideweather.com/pages/sofette-sectionals\"\u003esmall sectional\u003c/a\u003e as well as with your sofa. And, with 400+ custom upholstery fabric choices, you can certainly design one to match your living room. \u003cbr /\u003e\u003cbr /\u003eIn addition to custom upholstery, we offer various choices of wood finish, cushion shape, and foot style. Don’t wait, start customizing today and build a matching ottoman for your furniture!"};
    </script>
    <title-text v-bind='titleContent27'></title-text>


    <script>
      const spacer28 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer28'>
      </custom-spacer>

      </div>
