<h1 class="text-center" style="font-family: Avalon, Poppins, 'HelveticaNeue', 'Helvetica Neue', sans-serif">{{ page.title }}</h1>
<div id="app">
  <product-grid :show-favorites="true" v-cloak>
    You don't have any favorites yet
  </product-grid>
</div>
