<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.2.2/css/main-style.css?t=2019-06-18-13"><link rel="stylesheet" href="{{ 'pagefly.ab60c86a.scss.css' | asset_url }}">
		 <style>#menu-item:hover #sofette_hover   {
	background-color:#B1C8CD;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
}
#menu-item:hover #armchair_hover   {
	background-color:#F3EACA;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;

}
#menu-item:hover #dining_hover   {
	background-color:#D4D0CA;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;

}

#menu-item:hover #lounge_hover   {
	background-color:#C7D0C7;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;

}


#menu-item:hover #table_hover   {
	background-color:#9DA4A8;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
	
}

#menu-item:hover #storage_hover   {
	background-color:#CE9F8E;
	opacity:1;
	 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
	
}


#menu-item:hover #menu-item-text
{ font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	color:#202020;
}

#menu-item:hover  {border-bottom: 3px solid #202020;
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
	opacity:1!important;
	color:#202020;
}



@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div class="pf-66a30e5d sc-hwwEjo kIFSBP" data-pf-type="Body"><div class="pf-1c565b99 sc-kUaPvJ gjMMZr" data-pf-type="Layout"><div data-container="true" class="pf-1e50c80e sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1200px;"><div class="pf-925a94ff pf-r pf-r-eh sc-ipXKqB bKfKKj" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--12 pf-c-md--4 pf-c-lg--2" style="padding: 0px;"><div class="pf-ca250800 sc-fONwsr BcUQo" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--4 pf-c-lg--4" style="padding: 0px;"><div class="pf-50428fe7 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-c97a5259 avalon-bold sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-c0e146d1 sc-RcBXQ uIbp" data-pf-type="Text">Check the Weather</span></h3><p class="pf-1276d5c5 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-d8b052ed sc-RcBXQ uIbp" data-pf-type="Text">We’ve got high standards and we do everything we can to uphold them. But we’re obviously biased. So don’t take our word for it; read reviews from real people who have customized and purchased their own Inside Weather.</span></p></div></div><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--12 pf-c-md--4 pf-c-lg--2" style="padding: 0px;"><div class="pf-65a19168 sc-fONwsr BcUQo" data-pf-type="Column"></div></div></div></div></div><div data-container="true" class="pf-f78d2d98 pf-xs--hidden sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1200px;"><div class="pf-e9cb6f7d pf-r pf-r-eh pf-r-ew--4 pf-r-ew sc-ipXKqB bKfKKj" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div class="pf-a4b8af2b sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-c4a81aca sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-1957a5b9 avalon-bold sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-ff4f49a6 sc-RcBXQ uIbp" data-pf-type="Text">SOFAS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/reviews-sofettes" data-target="_self" class="pf-0cd83917 avalon-medium sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="sofette_hover" class="pf-8fa07d57 sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-81e72e1c avalon-medium sc-gwVKww jSNcIx" id="menu-item-text" data-pf-type="Heading"><span class="pf-42fca0b2 sc-RcBXQ uIbp" data-pf-type="Text">SOFETTES</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/reviews-armchairs" data-target="_self" class="pf-9bb95a6c sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="armchair_hover" class="pf-e03cf1ae sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-b3850785 avalon-medium sc-gwVKww jSNcIx" id="menu-item-text" data-pf-type="Heading"><span class="pf-95dcc477 sc-RcBXQ uIbp" data-pf-type="Text">ARMCHAIRS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/reviews-dining-chairs" data-target="_self" class="pf-e2adfc40 sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="dining_hover" class="pf-349b81a2 sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-8fd86c2c avalon-medium sc-gwVKww jSNcIx" id="menu-item-text" data-pf-type="Heading"><span class="pf-57af9399 sc-RcBXQ uIbp" data-pf-type="Text">DINING CHAIRS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/reviews-lounge-chairs" data-target="_self" class="pf-7868448f sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="lounge_hover" class="pf-79242cab sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-fcc8fd52 avalon-medium sc-gwVKww jSNcIx" id="menu-item-text" data-pf-type="Heading"><span class="pf-3e4c84b1 sc-RcBXQ uIbp" data-pf-type="Text">LOUNGE CHAIRS</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/reviews-tables" data-target="_self" class="pf-5c150b39 sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="table_hover" class="pf-10e4e41f sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-b1dd061a avalon-medium sc-gwVKww jSNcIx" id="menu-item-text" data-pf-type="Heading"><span class="pf-0b2c6f79 sc-RcBXQ uIbp" data-pf-type="Text">TABLES</span></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div data-href="https://insideweather.com/pages/reviews-storage" data-target="_self" class="pf-bce45394 sc-fONwsr BcUQo" id="menu-item" data-pf-type="Column"><div id="storage_hover" class="pf-a60b8b7d sc-iyvyFf gJXqlU" data-pf-type="Block"></div><h3 mode="view" class="pf-d029bb8a avalon-medium sc-gwVKww jSNcIx" id="menu-item-text" data-pf-type="Heading"><span class="pf-8d738a51 sc-RcBXQ uIbp" data-pf-type="Text">STORAGE</span></h3></div></div></div></div></div><div data-container="true" class="pf-4dfe4a39 pf-lg--hidden pf-md--hidden pf-sm--hidden sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1170px;"><div class="pf-bff76075 pf-r pf-r-eh sc-ipXKqB bKfKKj" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 0px;"><div class="pf-45f90d37 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-36a7a123 sc-gzOgki htgaJh" data-pf-type="Custom.HTML">


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

div.scrollmenu {margin-left:0px; 
font-family: 'Avalon';
font-weight: 500;
    overflow: auto;
    white-space: nowrap;
		letter-spacing: .075em;
		color:#202020;	
}

.other {
border-bottom: 1px solid #202020;
}

div.scrollmenu .current {
		opacity: 1;
		font-weight: 700;
		color:#202020;
}

.current {border-bottom: 3px solid #202020;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
		opacity: .4;
		margin-left: -2px;
		margin-right: -2px;
}

html {
  overflow:   scroll;
}

.scrollmenu::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>



<div class="scrollmenu">

  <a class="current" href="https://insideweather.com/pages/reviews"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_sofa-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px; background-color: #eec4af;"><br>SOFAS</a>
 
 <a class="other" href="https://insideweather.com/pages/reviews-sofettes#sofettes">
	<img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_sofette-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>SOFETTES</a>
 
 <a class="other" href="https://insideweather.com/pages/reviews-armchairs#armchairs"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_armchair-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>ARMCHAIRS</a>
	
<a class="other" href="https://insideweather.com/pages/reviews-dining-chairs#dining-chairs"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_dining-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>DINING CHAIRS</a>
  <a class="other" href="https://insideweather.com/pages/reviews-lounge-chairs#lounge-chairs"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_lounge-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>LOUNGE CHAIRS</a>
  <a class="other" href="https://insideweather.com/pages/reviews-tables#tables"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_tables-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>TABLES</a>
<a class="other" href="https://insideweather.com/pages/reviews-storage#storage"><img src="https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_storage-min.png?13384234565507019988" width="80px" height="80px" style="margin-bottom: 5px;"><br>STORAGE</a>  

</div>





</div></div></div></div></div></div><div data-container="true" class="pf-a05c44e9 sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1200px;"><div class="pf-9120a988 pf-r pf-r-eh sc-ipXKqB bKfKKj" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 0px;"><div class="pf-e7ece2b9 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-370b6b1b avalon-bold sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-d04e0da2 sc-RcBXQ uIbp" data-pf-type="Text">SOFA REVIEWS</span></h3><h3 mode="view" class="pf-7a61ecd1 pf-lg--hidden pf-md--hidden pf-sm--hidden sc-gwVKww jSNcIx" data-pf-type="Heading"><a href="https://insideweather.com/pages/write-a-review"><span class="pf-8cff720c sc-RcBXQ uIbp" data-pf-type="Text">Write a Review</span></a></h3></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 0px;"><div class="pf-6159c129 sc-fONwsr BcUQo" data-pf-type="Column"><a class="pf-666a8ee9 avalon-demi pf-xs--hidden sc-kPVwWT deZfGL" href="https://insideweather.com/pages/write-a-review" target="_self" data-pf-type="Button"><span class="pf-582da1a2 sc-RcBXQ uIbp" data-pf-type="Text">WRITE A REVIEW</span></a></div></div></div><div class="pf-a7c6090c pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-d47066c5 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-208c7210 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-b574ace3 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-a7be33f3 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-95f8663a fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-5294770d fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-d8de0587 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-b8c1e2ac sc-RcBXQ uIbp" data-pf-type="Text">THIS SOFA RULES!</span></h3><p class="pf-490473fa sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-dbddc742 sc-RcBXQ uIbp" data-pf-type="Text">It’s incredibly easy to assemble, all of the pieces just slot together! It’s actually really satisfying...took a little longer in transit than I expected, but still pretty quick!</span></p><h2 mode="view" class="pf-b2d28f4f avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-454f4e32 sc-RcBXQ uIbp" data-pf-type="Text">Happy sofa guy, <span style="font-weight: 400;">Ann Arbor, MI</span></span></h2></div></div></div><div class="pf-b170524d pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-a1bff25f sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-c5b66fa2 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-6a5b2819 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-bbce554e fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-6f8a0605 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-4ca228ba fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-3c54dbe2 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-1718b2b1 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-d9bcdf90 sc-RcBXQ uIbp" data-pf-type="Text">I call it my soba sofa!</span></h3><p class="pf-abb3aa0d sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-a95ec5ad sc-RcBXQ uIbp" data-pf-type="Text">I bought my sofa with the soba arm. I planned to get an upholstered style, but when i saw it, the idea intrigued me since I hadn’t seen this style anywhere else. I was a little nervous, but i went with it. Turns out I love it! And i’m so glad. The home trial made taking this risk really easy too! Couldn’t be happier!</span></p><h2 mode="view" class="pf-9a32ce53 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-71bd3208 sc-RcBXQ uIbp" data-pf-type="Text">Sophie, <span style="font-weight: 400;">Santa Ana, CA</span></span></h2></div></div></div><div class="pf-00a4e4f5 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8b409c69 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-7d3af9f2 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-2412a04a fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-539d11b4 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-7abc3574 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-c8fddfd4 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-e9c53ba7 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-76083663 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-94e62538 sc-RcBXQ uIbp" data-pf-type="Text">Easy & FAST Customization</span></h3><p class="pf-62674f17 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-67de4c54 sc-RcBXQ uIbp" data-pf-type="Text">I didn’t think customizing furniture could be this easy. With Inside Weather, I was able to create a Sofa that’s perfect for my needs and my space without having to go through an interior designer or pay an absurd amount. It took me 10 minutes to build a completely unique sofa and within two weeks, it was sitting in my living room. It was quick, easy, and actually really fun!</span></p><h2 mode="view" class="pf-8b123f7d avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-f7db1c52 sc-RcBXQ uIbp" data-pf-type="Text">Chloe, <span style="font-weight: normal;">Oakland, CA</span></span></h2></div></div></div><div class="pf-f845ed30 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-b6079f58 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-cc92964f sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-752d598e fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-bac541c2 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-4c6c8fb7 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-64a01e23 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-09ba0e09 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-b874bbaf avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-a85a8a78 sc-RcBXQ uIbp" data-pf-type="Text">Options I never even thought I could have!</span></h3><p class="pf-bb9518d1 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-c983c3db sc-RcBXQ uIbp" data-pf-type="Text">Inside weather gave me more options than I could’ve imagined (like arm width!?) at half the price. The process was SO simple and I ended up with my dream sofa!&nbsp;</span></p><h2 mode="view" class="pf-86a60675 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-74e8c5e5 sc-RcBXQ uIbp" data-pf-type="Text">Alex, <span style="font-weight: normal;">Portland, OR</span></span></h2></div></div></div><div class="pf-685431dc pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-eec27b6c sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-97b9c534 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-6d02f5ea fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-b2f5f1b9 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-91d2f0e9 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-660edc72 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-aa32837f fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-11a067ec avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-0936ca1d sc-RcBXQ uIbp" data-pf-type="Text">Who knew I was a designer!</span></h3><p class="pf-52613802 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-c7644885 sc-RcBXQ uIbp" data-pf-type="Text">The customization process was so easy & actually really fun! I’m no design expert and, thanks to Inside Weather, I was able to design & build my dream sofa all by myself!&nbsp;</span></p><h2 mode="view" class="pf-5b013485 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-a9f26ded sc-RcBXQ uIbp" data-pf-type="Text">Abby, <span style="font-weight: normal;">Denver, CO</span></span></h2></div></div></div><div class="pf-1fdd484e pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-ed6f9eeb sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-232fefb9 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-f21cff7d fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-8614ea18 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-a49a69ab fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-9c032f1d fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-10df347c fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-dbd5ecc8 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-866189a2 sc-RcBXQ uIbp" data-pf-type="Text">Home Trial is a lifesaver</span></h3><p class="pf-361a6e91 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-443ce7d6 sc-RcBXQ uIbp" data-pf-type="Text">We ordered a light gray sofa and a week later a friend was giving away black lab pups We realized a darker gray would be better to have with the puppy so we reached out to the inside weather customer service team and they quickly and easily facilitated an exchange! We had the same sofa in a different upholstery in our house with two weeks. Such a great experience all around!</span></p><h2 mode="view" class="pf-98136de3 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-3da9701d sc-RcBXQ uIbp" data-pf-type="Text">Pam C., <span style="font-weight: normal;">Bend, OR</span></span></h2></div></div></div><div class="pf-ab7b040e pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-3db11135 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-84e35146 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-359b8bc8 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-cbf5a0ac fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-bdf91970 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-3ba31ada fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-65e05698 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-6cc5f93b sc-RcBXQ uIbp" data-pf-type="Text">Great price for a custom piece</span></h3><p class="pf-0173a82e sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-344b4b16 sc-RcBXQ uIbp" data-pf-type="Text">I’m totally wary of buying furniture online but took the plunge once I found Inside Weather because they gave me the ability to customize so many different details of my sofa WITHOUT charging me an arm and a leg. When my sofa arrived, the box was a bit beat up which made me nervous. But there were no damages to the actual sofa. Overall, i’m impressed with the quality and comfort. I didn’t want something too cushy so I went with the plush pillows and cushions. It maintains a firm form but its still way more comfortable than I expected. The only drawback is that I wish the button tufted back pillows were also removable.<br><br></span></p><h2 mode="view" class="pf-061e3e6b avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-7c0608bf sc-RcBXQ uIbp" data-pf-type="Text">Jackie M., <span style="font-weight: normal;">Los Angeles, CA</span></span></h2></div></div></div><div class="pf-b85c8d2e pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-4be710fd sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-974cb788 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-f2dadbac fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-5308db87 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-f513612b fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-38eec312 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-6a744fa6 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-6e6ddb41 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-62de200d sc-RcBXQ uIbp" data-pf-type="Text">The design team is amazing!</span></h3><p class="pf-3dd39ada sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-6c9ded6c sc-RcBXQ uIbp" data-pf-type="Text">I needed some help figuring out which pieces would look best in my new office. I was introduced to one of their interior designers who I sent photos of my space to and told her what I was going for. She was SO sweet and literally helped me with everything. She sent me free swatches that she thought I might like and then from there we figured out which options would work best. I would totally recommend taking advantage of the free (and amazing) service! I’ll for sure be back.<br></span></p><h2 mode="view" class="pf-519eeb56 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-db1afd84 sc-RcBXQ uIbp" data-pf-type="Text">Leah S., <span style="font-weight: normal;">Dallas, TX</span></span></h2></div></div></div><div class="pf-619ec1d9 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-db6cc84d sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-862d2ae7 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-df530a3b fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-81a32eee fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-840204fa fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-a8862137 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-8b854b6c fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-e9177663 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-e4e030ad sc-RcBXQ uIbp" data-pf-type="Text">Swatches are a super helpful!</span></h3><p class="pf-86ff0cec sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-31fadfd5 sc-RcBXQ uIbp" data-pf-type="Text">Would definitely recommend ordering free swatches. I ordered 5 and it totally helped! Love the red I ended up choosing.<br></span></p><h2 mode="view" class="pf-cc9dfa3b avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-5fc5a04d sc-RcBXQ uIbp" data-pf-type="Text">Georgia, <span style="font-weight: normal;">Salt Lake City, UT</span></span></h2></div></div></div><div class="pf-422d5ece pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-6dd13541 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-67392763 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-cb7ff487 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-22f16ba8 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-43c0008e fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-083c8e34 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-0e4a4a09 sc-RcBXQ uIbp" data-pf-type="Text">Wish it came sooner but worth the wait</span></h3><p class="pf-9755162f sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-67591e0d sc-RcBXQ uIbp" data-pf-type="Text">It took 2.5 weeks to get to me after I placed the order. I wish it came faster. It was worth the wait though.</span></p><h2 mode="view" class="pf-0dceea04 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-5e9aabbb sc-RcBXQ uIbp" data-pf-type="Text">Sam L., <span style="font-weight: normal;">Tampa, FL</span></span></h2></div></div></div><div class="pf-2bcd5ac7 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-23769653 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-587ee091 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-e0797fd0 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-b2f204a6 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-f9d305b3 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-c38925ce fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-23e764ba fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-347f08ec avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-0c7ca1b2 sc-RcBXQ uIbp" data-pf-type="Text">Quality is awesome</span></h3><p class="pf-7c736e96 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-f97ba43b sc-RcBXQ uIbp" data-pf-type="Text">Totally exceeded my expectations.</span></p><h2 mode="view" class="pf-3b1870c6 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-fe1de489 sc-RcBXQ uIbp" data-pf-type="Text">Michelle S., <span style="font-weight: normal;">Buffalo, NY</span></span></h2></div></div></div><div class="pf-beb86b6f pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-2db053fa sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-74978e29 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-83905c69 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-b3ed9558 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-2682ec02 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-41ce8562 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-bf16bb9c fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-91de6e23 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-4832357b sc-RcBXQ uIbp" data-pf-type="Text">LOVE LOVE LOVE</span></h3><p class="pf-354c114b sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-f397534f sc-RcBXQ uIbp" data-pf-type="Text">It’s exactly what I hoped it would be!</span></p><h2 mode="view" class="pf-03afa297 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-e48aa705 sc-RcBXQ uIbp" data-pf-type="Text">BJ, <span style="font-weight: normal;">Missoula, MT</span></span></h2></div></div></div><div class="pf-c58e1a4f pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-65552dc9 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-0ebe7ce0 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-8d0ca504 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-b5d7d310 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-54878ccb fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-8c7712e7 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-819f84a1 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-2e311ca4 sc-RcBXQ uIbp" data-pf-type="Text">The velvet sofa of my dreams!</span></h3><p class="pf-0923c74e sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-1cc75c01 sc-RcBXQ uIbp" data-pf-type="Text">I’ve been wanting a velvet sofa for a while now but had a hard time finding a silhouette that I actually liked. When I found Inside Weather, I was stoked because I could actually control the height and size of the arms as well as the pillow shapes!? I ended up choosing the Milo Sofa and it looks just as good as it does on the website as it does in my home. My only complaint is that it shipped out a few days later than I expected but the customer service team gave me a heads up right away and were super transparent.&nbsp;</span></p><h2 mode="view" class="pf-6f31e9af avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-48ba4fad sc-RcBXQ uIbp" data-pf-type="Text">Mandy, <span style="font-weight: normal;">Sacramento, CA</span></span></h2></div></div></div><div class="pf-7e63fbf0 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-ea54abd8 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-f100cb55 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-88080d9d fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-386b7637 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-791db396 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-bcbe8ad9 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-6580927f fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-89d5c267 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-7e174922 sc-RcBXQ uIbp" data-pf-type="Text">Overall great design</span></h3><p class="pf-1c267e37 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-01d4f146 sc-RcBXQ uIbp" data-pf-type="Text">I specifically love the seat dept; it’s not too narrow and not too deep. I also went with the snug pillow which i’m really happy with. The level of firmness is perfect. Overall great design.</span></p><h2 mode="view" class="pf-f8214798 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-56f505a5 sc-RcBXQ uIbp" data-pf-type="Text">Tim S., <span style="font-weight: normal;">Palo Alto, CA</span></span></h2></div></div></div><div class="pf-0e0b6b30 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8b2c585d sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-627f0b3d sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-fd8994ff fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-81be5a65 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-2125d4e6 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-d0782dc9 sc-RcBXQ uIbp" data-pf-type="Text">My order didn’t go through</span></h3><p class="pf-c6dacc6f sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-ed2618c5 sc-RcBXQ uIbp" data-pf-type="Text">For some reason my order didn’t go through. I waited 2 weeks to realize it had never actually been placed. I guess It was my fault but still frustrating</span></p><h2 mode="view" class="pf-eed5b1b7 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-aee883e6 sc-RcBXQ uIbp" data-pf-type="Text">Ben, <span style="font-weight: normal;">Detroit, MI</span></span></h2></div></div></div><div class="pf-7edd8d55 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-9836c0e4 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-ab0946c6 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-bdabfae1 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-4c9cc1fb fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-87e774d6 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-58fd074a avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-03491ebb sc-RcBXQ uIbp" data-pf-type="Text">Didn’t love one of the cushions but overall value is really good</span></h3><p class="pf-ab8171a3 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-3c340391 sc-RcBXQ uIbp" data-pf-type="Text">I bought a sofa a while back and after a few weeks decided the cushions were too firm so I returned it. I shopped around a bit more and decided to go with the plush pillows which are way softer. I’m not totally in love (wish they had a firmness in between) but I feel the quality and price are well balanced so I’m going to keep it.</span></p><h2 mode="view" class="pf-233cbfce avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-9d3a382a sc-RcBXQ uIbp" data-pf-type="Text">James, <span style="font-weight: normal;">Brooklyn, NY</span></span></h2></div></div></div><div class="pf-9df814fa pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-48bbd0e0 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-bb695425 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-cf6b55cf fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-432fb0f2 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-fcd93568 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-2c351577 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-7f8d9f75 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-c308d1f0 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-2641da73 sc-RcBXQ uIbp" data-pf-type="Text">Really like my sofa</span></h3><p class="pf-eb79b8cd sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-572a1706 sc-RcBXQ uIbp" data-pf-type="Text">Was a little hesitant to buy without sittting in but i’m really pleased. The veagan leather is really soft</span></p><h2 mode="view" class="pf-8d00aa2b avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-2f99a46e sc-RcBXQ uIbp" data-pf-type="Text">Jordan L., <span style="font-weight: normal;">Columbus, OH</span></span></h2></div></div></div><div class="pf-94ebb703 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-98ebc6ab sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-3c9876c3 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-08b5a9c3 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-5f13bccd fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-084a14de fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-3e91ebaa fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-9d790018 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-024b31b9 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-b6563489 sc-RcBXQ uIbp" data-pf-type="Text">Design service was SO helpful!</span></h3><p class="pf-3b91af14 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-d9c15e9c sc-RcBXQ uIbp" data-pf-type="Text">I was sooo lost being presented with so many options so I worked with a designer who was amazing!! She was so sweet and fun to work with. She made lots of the choices for me because I didn’t really know the difference. I love the design she helped me make! Would totally recommend using the free design service! Was a life saver and now I have the most beautiful statement piece!!<br><br></span></p><h2 mode="view" class="pf-0225ea1f avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-7857aadf sc-RcBXQ uIbp" data-pf-type="Text">Robin B., <span style="font-weight: normal;">Omaha, NE</span></span></h2></div></div></div><div class="pf-dc7eae8d pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-8e6f7656 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-69b52bdc sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-467364b7 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-f5843708 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-25394849 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-c4abba49 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-8ff97878 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-a8407249 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-41a09719 sc-RcBXQ uIbp" data-pf-type="Text">Just as pictured</span></h3><p class="pf-5d53cfb1 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-5db48f78 sc-RcBXQ uIbp" data-pf-type="Text">It’s great and looks just like the picture.<br></span></p><h2 mode="view" class="pf-4947f679 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-11e0900e sc-RcBXQ uIbp" data-pf-type="Text">Martha, <span style="font-weight: normal;">Phoenix, AZ</span></span></h2></div></div></div><div class="pf-991e72cf pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-941373a1 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-ab089d5a sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-cc665581 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-528f3b49 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-c1a7a456 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-f165afac fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-b57e0530 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-3150cefa avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-bb92af02 sc-RcBXQ uIbp" data-pf-type="Text">Cool company.. Made custom-furniture easy</span></h3><p class="pf-cf709bed sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-ef8c4cf9 sc-RcBXQ uIbp" data-pf-type="Text">Super into this company! I always thought customizing a sofa would be a nightmare but they made it easy! Love my new black sofa.<br></span></p><h2 mode="view" class="pf-32dfb354 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-25c3964e sc-RcBXQ uIbp" data-pf-type="Text">Matt S., <span style="font-weight: normal;">Menlo Park, CA</span></span></h2></div></div></div><div class="pf-26da5b60 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-1e3d2e3a sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-a321a384 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-1cadb992 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-d2dde70b fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-5cae1d46 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-d41bf9ca fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-359f243e avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-70378120 sc-RcBXQ uIbp" data-pf-type="Text">Super quick turnaround time! Great Customer Service.</span></h3><p class="pf-b5a2ca62 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-5865205a sc-RcBXQ uIbp" data-pf-type="Text">I didn’t want to get a custom sofa because I thought they took forever to make. But mine shipped only 5 days after I bought it! I actually ended up returning the first one and changing it for a different color. The second order shipped within 7 days! I had two different sofas in and out of my home in less than two weeks which is pretty impressive. The return process isn’t a headache at all. The customer service people are super nice and actually helpful.<br></span></p><h2 mode="view" class="pf-14ab126d avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-f78fc0f8 sc-RcBXQ uIbp" data-pf-type="Text">dana, <span style="font-weight: normal;">Portland, OR</span></span></h2></div></div></div><div class="pf-599f1921 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-f4cdb0ab sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-f52b9258 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-02f60f89 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-4f200036 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-4b68b871 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-1623a4c0 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-e3f00504 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-f1003d1a avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-783488cf sc-RcBXQ uIbp" data-pf-type="Text">Satin Weave is great for families!</span></h3><p class="pf-908b9079 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-6f59a269 sc-RcBXQ uIbp" data-pf-type="Text">We have two toddlers and I was nervous about buying a sofa with fabric that would be durable enough. I went with the satin weave. My sons (and their tractors & legos) literally walk and squirm all over it everyday and we haven’t had any issues with pulls in the fabric so far—i’m really surprised. I would confidently recommend this upholstery to other families!<br><br></span></p><h2 mode="view" class="pf-67be84ba avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-372873c2 sc-RcBXQ uIbp" data-pf-type="Text">Mama Maya, <span style="font-weight: normal;">San Diego, CA</span></span></h2></div></div></div><div class="pf-38a59460 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-74f4d16e sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-896504c7 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-a7bbfb42 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-34a8ec89 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-01f738a8 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-b0011e76 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-1feb81bf fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-180d3aa7 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-df25530c sc-RcBXQ uIbp" data-pf-type="Text">Love our Sofa & Armchair</span></h3><p class="pf-3f26ff61 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-6d03c2da sc-RcBXQ uIbp" data-pf-type="Text">My fiancé and I were finally ready to invest in furniture so we visited a few of the main furniture stores in our area (Crate & Barrel, West Elm, etc.). We didn’t want to spend that much money on a sofa when we found IW. We designed a sofa and matching armchair in the Twilled Weave upholstery and we’re obsessed! The texture is super unique and dynamic and seems really durable. We were also SO impressed with the quality and actually felt it exceeded the sofas we saw for twice as much when we visited the stores. Couldn’t be happier with our choice! :)<br><br></span></p><h2 mode="view" class="pf-c4639f33 avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-e9f24522 sc-RcBXQ uIbp" data-pf-type="Text">Teresa P., <span style="font-weight: normal;">Oakland, CA</span></span></h2></div></div></div><div class="pf-0771c5cb pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-210c8b63 sc-fONwsr BcUQo" data-pf-type="Column"><div class="pf-3063c635 sc-iyvyFf gJXqlU" data-pf-type="Block"><i class="pf-c8891a53 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-56ba7f10 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-18041b62 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-d1d82f74 fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i><i class="pf-d0d4322e fa fa-star sc-eMigcr lgHsl" data-pf-type="Icon"></i></div><h3 mode="view" class="pf-d8d98941 avalon-medium sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-25c1e4e3 sc-RcBXQ uIbp" data-pf-type="Text">Vegan leather upholstery exceeds expectations</span></h3><p class="pf-0e6441b7 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-540e2f27 sc-RcBXQ uIbp" data-pf-type="Text">The seams are really clean, the buttons are tightly embedded and the zipper is nicely hidden. I don’t know if people realize this but the cushions are totally reversible. The zipper is perfectly located in the middle of the hidden side so you can flip the cushion back and forth. With the cushion detail option I chose, it’s stitched and button tufted on one side and then non-stitched and button tufted on the other. So if were to terribly damage one area of the cushion in the future, I could totally just flip the cushion around! Huge benefit which is pretty rare especially with leather upholsteries. My old leather sofa had cheap fabric instead of leather on the parts of the cushions that weren’t visible. I was wary about not buying true leather but i’m honestly way happier with this. The price point is way better and the quality exceeds expectations.<br><br></span></p><h2 mode="view" class="pf-afc9f0de avalon-demi sc-hXRMBi htgpzE" data-pf-type="Heading"><span class="pf-81e5812e sc-RcBXQ uIbp" data-pf-type="Text">Brian S., <span style="font-weight: normal;">Williamsburg, NY</span></span></h2></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","events":{},"pageflyVersion":"2.2.2","pageId":"ab60c86a-3f04-4fb4-b9b2-54aa54239920"};
				</script><script src="https://cdn.pagefly.io/pagefly/2.2.2/core/helper.js?t=2019-06-18-13" defer></script>