      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/otto/tb/col_otto_tb_v1_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/otto/tb/col_otto_tb_v1_m.jpg","altText":"custom dining chairs","destination":null,"titleCopy":"The Otto Dining Chair Collection","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Otto Dining Chair","bodyCopy":"Customize the wood finish and upholstery to make Otto yours."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Latte Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=400"},{"titleCopy":"Espresso Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1110it-espresso-otto-dining-chair-in-rose-quartz","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:NAPLES%20BLUSH\u0026size=400"},{"titleCopy":"Black Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1210lw-black-otto-dining-chair-in-terrazzo-shatter","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:BLACK\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DS1056\u0026size=400"},{"titleCopy":"Latte Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1010jj-latte-otto-dining-chair-in-peacock","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:MONACO%20PEACOCK\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Dining Chair on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways you can modify these dining chairs to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#D6DCDA","image":"https://cdn.insideweather.com/collections/otto/customize/col_otto_customize_v1_d-min.png","altText":null,"mobileImages":[{"image":"https://cdn.insideweather.com/collections/otto/customize/col_otto_customize_v1_m-min.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes our dining chairs so unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"Critics have confirmed, this custom dining chair collection makes everything on the menu taste better. This refreshing silhouette incorporates elements of industrial, minimal and organic construction culminating in a fierce modern dining chair that brings high design to the everyday home. Otto’s silhouette is composed of solid ash wood and powder coated stainless steel and each foot features non-slip, non-scratch grips to protect your floors. Each backrest is adjustable to suit your comfort needs and all chairs are stackable to afford you more flexibility (your apartment approves).","image":"https://cdn.insideweather.com/pdp/details/otto/collection/collection_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/otto/collection/collection_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Comfort","bodyCopy":"This custom dining chair’s backrest is adjustable to accommodate your comfort needs! Keep it classy \u0026 upright while sipping a cup of tea or kick your feet up \u0026 lean back while you mull over the day. The Otto dining chair supports any lean and vibe the day might bring.","image":"https://cdn.insideweather.com/pdp/details/otto/comfort/comfort_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/otto/comfort/comfort_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Custom Dining Chair Upholstery","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your custom furniture match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Stack It Up","bodyCopy":"Oh yes, they’re stackable. The Otto Dining Chair is designed to be flexible to adapt to your lifestyle, making cleaning, arranging, and storing your chairs easier in every sense.","image":"https://cdn.insideweather.com/pdp/details/otto/stackable/stackable_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/otto/stackable/stackable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const leftRightContent18 = {"titleCopy":"Sustainable Style","bodyCopy":"The materials used to make this custom dining chair have been selected with intention. Each kiln-dried, solid ash wood frame is FSC-certified and topped with an eco-solvent finish. Look out for certifications across our custom upholstery options that meet Oeko-Tex \u0026 Bluesign standards. We recycle any excess from each material consumed, in fact certain designs are even intended to absorb such ’’waste.’’ And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/pdp/details/otto/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/otto/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent18'></image-text>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const smallColumnContent20 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent20'>
    </multi-column-text-image>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const titleContent22 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent22'></title-text>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const lifestyleGrid24 = {"images":[{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=400","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/1/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa14-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=400","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/1/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:HAIRPIN\u0026feature=BASE%20FINISHES:METAL%20LEGS%20BRASS\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:LIGHT%20ESPRESSO\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr11ab1423-espresso-sloan-credenza-in-espresso-wood","titleCopy":"Espresso Sloan Credenza in Espresso Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010jb-latte-otto-dining-chair-in-mascarpone","titleCopy":"Latte Otto Dining Chair in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010jb-latte-otto-dining-chair-in-mascarpone","titleCopy":"Latte Otto Dining Chair in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010jb-latte-otto-dining-chair-in-mascarpone","titleCopy":"Latte Otto Dining Chair in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:SHELF\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1114fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/1/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa14-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=400","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:HAIRPIN\u0026feature=BASE%20FINISHES:METAL%20LEGS%20BRASS\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1060\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10ik1423-latte-voss-sideboard-in-terrazzo-stone","titleCopy":"Latte Voss Sideboard in Terrazzo Stone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:SHELF\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1114fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null}]},{"image":"https://cdn.insideweather.com/collections/otto/lifestyles/col_otto_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/1/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DS1120\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010oi-latte-otto-dining-chair-in-paper-bakery","titleCopy":"Latte Otto Dining Chair in Paper Bakery","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid24'>
    </lifestyle-grid>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>

      </div>
