      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/dining-tables/tb/cat_dining-tables_tb_d_v2.jpg","mobileImage":"https://cdn.insideweather.com/cat/dining-tables/tb/cat_dining-tables_tb_m_v2.jpg","altText":"custom modern dining table","destination":null,"titleCopy":"Custom Dining Tables","titleCopyColor":"#202020","bodyCopy":"Customize every style and detail from tabletop design all the way down to the legs.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE VIENNA DINING COLLECTION","bodyCopy":"Bring your style to the table with this ultra-versatile, custom dining collection. The Vienna Dining Table offers custom shapes, widths, lengths, wood finishes, and a power hub, to name a few. With a design that incorporates natural and minimal elements, Vienna is topped off with a stunning Scandinavian silhouette. Crafted with our FSC-certified, Baltic Birch wood, each unit is hand-sanded and made to order.","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_01_bnr.jpg","altText":null,"buttonText":"SHOP THE VIENNA COLLECTION","buttonUrl":"https://insideweather.com/pages/vienna-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Large Round Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1012101010-round-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_01.jpg"},{"titleCopy":"Large Rectangle Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi2012101010-rectangle-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_02.jpg"},{"titleCopy":"Large Almond Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1612101010-almond-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_03.jpg"},{"titleCopy":"Large Oval Vienna Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1212101010-oval-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_04.jpg"},{"titleCopy":"Round Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1010101010-round-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_13.jpg"},{"titleCopy":"Rectangle Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1810101010-rectangle-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_14.jpg"},{"titleCopy":"Almond Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1410101010-almond-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_15.jpg"},{"titleCopy":"Oval Vienna Bistro Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1110101010-oval-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/cat_dining-tables_grid_16.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"CUSTOM VIA DINING TABLES","bodyCopy":"These custom table silhouettes are well suited for just about every setting. This custom dining table collection, designed to seat four, is perfect in the breakfast nook of your kitchen or as the star of the show in your formal dining area. Plus, the UV Printed surface, featuring your custom design or color of choice, is life-proof for your convenience.","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_02_bnr.jpg","altText":null,"buttonText":"SHOP THE VIA COLLECTION","buttonUrl":"https://insideweather.com/pages/via-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Custom Round Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ud10lf1011-round-custom-via-dining-table-in-white","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_02_grid_01.jpg"},{"titleCopy":"Custom Rectangle Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ud11al1113-rectangle-custom-via-dining-table-in-black-marble","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_02_grid_02.jpg"},{"titleCopy":"Custom Square Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ud12gb1015-square-custom-via-dining-table-in-nordic-turquoise","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_02_grid_03.jpg"},{"titleCopy":"Custom Oval Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ud13jj1110-oval-custom-via-dining-table-in-terrazzo-funfetti","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_02_grid_04b.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


      <script>
        const fullWidthContent6 = {"titleCopy":"CLASSIC VIA DINING TABLES","bodyCopy":"These table silhouettes in classic wood finishes are well suited for just about every setting. This wood dining table collection, designed to seat four, is perfect in the breakfast nook of your kitchen or as the star of the show in your formal dining area.","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_03_bnr.jpg","altText":null,"buttonText":"SHOP THE VIA COLLECTION","buttonUrl":"https://insideweather.com/pages/via-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent6'></image-text-cta>


    <script>
      const productGrid7 = {"products":[{"titleCopy":"Classic Round Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ld10aa10-round-classic-via-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_03_grid_01.jpg"},{"titleCopy":"Classic Rectangle Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ld11ab14-rectangle-classic-via-dining-table-in-espresso","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_03_grid_02.jpg"},{"titleCopy":"Classic Square Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ld12aa12-square-classic-via-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_03_grid_03.jpg"},{"titleCopy":"Classic Oval Via Dining Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ld13ab13-oval-classic-via-dining-table-in-espresso","image":"https://cdn.insideweather.com/cat/dining-tables/grid/v3/cat_dining-tables_col_03_grid_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid7'>
    </category-product-grid>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const titleContent9 = {"titleCopy":"Details","bodyCopy":"Discover what makes an Inside Weather dining table so unique."};
    </script>
    <title-text v-bind='titleContent9'></title-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Customize Your Style","bodyCopy":"Whether you’ve got a favorite color, a thing for wood grain, or you simply dig stylish patterns, the top of your custom modern dining table is prime real estate to make a statement and add the perfect accent to your dining room. And, why stop there? Bring your living space to life with additional \u003ca href=\"https://insideweather.com/pages/decor\"\u003emodern decor\u003c/a\u003e pieces to match.\n","image":"https://cdn.insideweather.com/cat/dining-tables/details/v1/customize_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/dining-tables/details/v1/customize_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Life-Proof","bodyCopy":"Not only does our custom Via dining tables looks good, but they are also ruggedly durable. A scuff-free, UV-resistant surface means that it’s perfect for that sunny spot in your home. It’s also FDA approved for all you messy eaters out there. And when you’re done, wipe it down with any cleaner you like. Our custom modern dining tables combine style with durability to make the perfect accent to your home.","image":"https://cdn.insideweather.com/cat/dining-tables/details/v1/lifeproof_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/dining-tables/details/v1/lifeproof_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Materials You Want","bodyCopy":"Every material that we use is selected with intention and built to last. The wood and metal options used for the bases are made from solid ash wood and high-strength, powder-coated stainless steel. Don’t worry, we’ll never skip the details.","image":"https://cdn.insideweather.com/cat/dining-tables/details/v1/materials_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/dining-tables/details/v1/materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"Sustainable Style","bodyCopy":"Our custom tables are considered to meet some of the highest environmental standards in the industry. Think the Sustainable Forestry Initiative, LEED® accreditations, \u0026 FSC Certification (just to name a few). We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const smallColumnContent19 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent19'>
    </multi-column-text-image>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const titleContent21 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent21'></title-text>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const lifestyleGrid23 = {"images":[{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld12aa10-square-classic-via-dining-table-in-latte","titleCopy":"Square Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1045\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br13ll10-espresso-burnham-stool-in-usonia-design-705-bermuda-sunrise","titleCopy":"Espresso Burnham Stool in Usonia™ Design 705 Bermuda Sunrise","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:VEGAN%20LEATHER%20OAT\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br13dl11-latte-burnham-stool-in-oat","titleCopy":"Latte Burnham Stool in Oat","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20SMALL%20DINING%20TABLE/frames/31/VIENNA%20SMALL%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:ALMOND\u0026feature=LENGTH:2\u0026feature=WIDTH:36\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi1410101010-almond-vienna-dining-table-in-latte","titleCopy":"Almond Vienna Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20LARGE%20DINING%20TABLE/frames/3/VIENNA%20LARGE%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:RECTANGLE\u0026feature=LENGTH:4\u0026feature=WIDTH:46\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi2012101010-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VENICE%20OLIVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jl-latte-sarno-dining-chair-in-tuscan-green","titleCopy":"Latte Sarno Dining Chair in Tuscan Green","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Talbe in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:DS1032A\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud10lg1011-round-custom-via-dining-table-in-white-marble","titleCopy":"Round Custom Via Dining Table in White Marble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_LUNA/frames/3/CNV_LUNA.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:DS1006D\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd121111bb15-latte-luna-side-chair-in-sunny-tropics","titleCopy":"Latte Luna Side Chair in Sunny Tropics","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:DS1028B\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud11ff1013-rectangle-custom-via-dining-table-in-muted-melange","titleCopy":"Rectangle Custom Via Dining Table in Muted Melange","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:OXFORD%20WEAVE%20AEGEAN%20BLUE\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10aw17-nola-side-chair-in-aegean-blue","titleCopy":"Nola Side Chair in Aegean Blue","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_07.jpg","altText":null,"products":[{"image":"https://cdn.insideweather.com/cat-rooms/dining-room/lifestyles/cat-room_dining-room_v3_lg_07_01.JPG","altText":null,"destination":"https://insideweather.com/products/fvi1911101010-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112ht12-latte-polk-side-chair-in-cloud","titleCopy":"Latte Polk Side Chair in Cloud","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:VENICE%20MARIGOLD\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141010ji17-espresso-kobe-side-chair-in-honey","titleCopy":"Espresso Kobe Side Chair in Honey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141010kk17-espresso-kobe-side-chair-in-rust","titleCopy":"Espresso Kobe Side Chair in Rust","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa13-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-tables/lifestyles/cat_dining-tables_lg_v2_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:DS1032C\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud12al1011-square-custom-via-dining-table-in-black-marble","titleCopy":"Square Custom Via Dining Table in Black Marble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/4/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20FOG\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:SQUARED\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd111111gu15-latte-polk-armchair-in-fog","titleCopy":"Latte Polk Armchair in Fog","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid23'>
    </lifestyle-grid>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>


    <script>
      const titleContent25 = {"titleCopy":"A Table For Making Memories","bodyCopy":"No doubt, the dining room living space plays less of a role in everyday life than it did 50 years ago, but that doesn’t mean we should ignore it. At Inside Weather, we offer four classic shapes of dining room tables and dozens of finish options so you can customize the dining set of your dreams. Whether you like oval, round, rectangle, or square, your custom modern dining table is a piece of furniture that should last you a long time. Our dining room tables do just that-- withstand the test of time-- we make them from the highest-quality materials so they can service your kid’s art project as well as help you host the perfect dinner party. Who said dinner tables can’t be dynamic? \u003cbr /\u003e\u003cbr /\u003eAll of our modern dining tabletop materials are FDA-approved, so you can rest easy knowing your furniture is made from the good stuff. Our custom modern dining tables meet some of the most stringent environmental regulations, something we think should be a given for your dining table. Whether you need to completely overhaul your dining space or just spice it up, we have safe, sturdy dining tables and \u003ca href=\"https://insideweather.com/pages/dining-chairs\"\u003ecustom dining chair\u003c/a\u003e options for any style."};
    </script>
    <title-text v-bind='titleContent25'></title-text>


    <script>
      const spacer26 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer26'>
      </custom-spacer>

      </div>
