<div id="app">
  {% assign bannerContent = "{'items':[{'image':' ','heading':'Create your custom climate','description':'The Weather is now entirely up to you.','linkText':'Shop Sofas','url':'/pages/category-sofa'},{'image':' ','heading':'Create your custom climate.','description':'The Weather is now entirely up to you.','linkText':'Shop Armchair','url':'/pages/category-armchair'},{'image':' ','heading':'Create your custom climate','description':'The Weather is now entirely up to you.','linkText':'Shop Table','url':'/pages/category-table'}]}"%}

  <banner-carousel :bannerContent="{{bannerContent}}"></banner-carousel>

  {% assign listItems= "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/cat-link_1_livingrm.png?742906','buttonText':'Shop Living','link':'pages/category-sofa'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/cat-link_2_diningrm.png?742909','buttonText':'Shop Dining','link':'pages/category-dining-tables'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/cat-link_3_office.png?737551','buttonText':'Shop Office','link':'pages/category-lounge-chairs'}]"%}

  <div class="--custom-container category-list-container">
    <category-list 
      class="--pd-t-130 --pd-b-130" 
      :listItems="{{listItems}}"
    >
    </category-list>
  </div>

  <div class="ValuePropsWrapper">
    <div class="--custom-container">
      <value-props></value-props>
    </div>
  </div>

  <div class="PressContainer">
    <div class="press--container">
      <press></press>
    </div>
  </div>

  {% assign reviewContent = "[{'headContent':'Love It!','starCount':5,'reviewDetail':'Made-to-order furniture, shipped in days, because life is too short to wait. Take the stress out of furniture shopping. Made-to-order furniture, shipped in days, because life is too short to wait. Take the stress out of furniture shopping','image':'https://cdn.shopify.com/s/files/1/2994/0144/files/reviews_img1.png?753978','authorName':'Sophia','authorAddress':'Santa Ana, CA'},{'headContent':'Exactly what I wanted!','starCount':4,'reviewDetail':'Made-to-order furniture, shipped in days, because life is too short to wait. Take the stress out of furniture shopping. Made-to-order furniture, shipped in days, because life is too short to wait. Take the stress out of furniture shopping','image':'https://cdn.shopify.com/s/files/1/2994/0144/files/reviews_img2.png?753979','authorName':'Ashley','authorAddress':'Miami, FL'},{'headContent':'Love It!','starCount':5,'reviewDetail':'Made-to-order furniture, shipped in days, because life is too short to wait. Take the stress out of furniture shopping. Made-to-order furniture, shipped in days, because life is too short to wait. Take the stress out of furniture shopping','image':'https://cdn.shopify.com/s/files/1/2994/0144/files/reviews_img1.png?753978','authorName':'Sophia','authorAddress':'Santa Ana, CA'}]"%}

  <div class="ReviewCarouselWrapper">
    <div class="--custom-container">
      <review-carousel :reviewContent="{{reviewContent}}"></review-carousel>
    </div>
  </div>

  <banner 
    bannerImage="https://cdn.shopify.com/s/files/1/2994/0144/files/design-services_bnr.png?751635"
  >
  </banner>

  <recently-sold-products><recently-sold-products/>
</div>

<script>
  jQuery(function ($) {
    var count = 0;
    jQuery('.point h3').on('click', (e) => {
      e.stopPropagation();
      const $ = jQuery;
      const targetParent = $('.descriptions .point');
      const allDescription = $('.descriptions .point p');
      var targetAttribute = e.target.attributes[0].value;
      if (e.target.parentElement.classList.contains('show-details')) {
        count ++;
        $('.descriptions h2').slideToggle();
        toggleSlide(e.target.parentElement.children[1]);
        e.target.parentElement.classList.remove('show-details');
      }else {
        $(allDescription).slideUp();
        $('.descriptions h2').slideUp();
        downSlide(e.target.parentElement.children[1]);
        $(targetParent).removeClass('show-details');
        e.target.parentElement.classList.add('show-details');
      }
      $('.image_wrapper figure').each(function(){
        var recieverAttribute = this.getAttribute('data-src');
        if(recieverAttribute === targetAttribute) {
          $('.image_wrapper figure').removeClass('slide_up');
          if(count === 0) {
            $(this).addClass('slide_up');
          }else {
            $('.image_wrapper figure').removeClass('slide_up');
          } 
        }
      }); 
      if(count === 1) {
        count = 0;
      }
    });

    const controller = new ScrollMagic.Controller();

    const bannerCarouselTimeline = new TimelineLite();
    bannerCarouselTimeline.fromTo($('.CarouselBanner__image'), 0.8, {opacity: 0, scale: 1.05}, {opacity: 1, scale: 1, ease: ExpoScaleEase.config(1.05, 1, Power0.easeIn)})
      .fromTo($('.CarouselBanner__content h2'), 1,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 0.5)
      .fromTo($('.CarouselBanner__content p'), 1,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 0.5)
      .fromTo($('.CarouselBanner__content a'), 1,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 0.75)
      .call(function(){
        $('.CarouselBanner .owl-dots button').each(function(i){
          var row = $(this);
          setTimeout(function() {
            TweenMax.fromTo(row, 0.5,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 0.8)
            if($('.CarouselBanner .owl-dots button').length === (i + 1)) {
              $('.CarouselBanner').addClass('--animLoaded');
            }
          }, 200 * i);
        });
      });
    const bannerCarouselTimelineSet = new ScrollMagic.Scene({
      triggerElement: '.CarouselBanner',
      reverse: false
    }).setTween(bannerCarouselTimeline).addTo(controller);

    const catTimeline = new TimelineLite()
    catTimeline.fromTo($('._category-lists'), 0.7, {opacity:0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut})
    const catTimelineSet = new ScrollMagic.Scene({
      triggerElement: '.CategoryList',  
      reverse: false
    }).setTween(catTimeline).addTo(controller);

    const valuePropsTimeline = new TimelineLite()
    valuePropsTimeline.fromTo($('.ValueProps .image_wrapper'), 0.7, {opacity: 0, y: 20, ease: Power0.easeInOut}, {opacity: 1, y: 0})
      .fromTo($('.ValueProps .descriptions h2'), 0.9, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 0.5)
      .call(function () {
        $('.ValueProps .descriptions .details .point').each(function (i){
          var row = $(this);
          setTimeout(function() {
            TweenMax.fromTo(row, 0.5, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 1);
          }, 200 * i);
        });
      })
    const valuePropsTimelineScene = new ScrollMagic.Scene({
      triggerElement: '.CategoryList ._button-wrapper',
      reverse: false
    }).setTween(valuePropsTimeline).addTo(controller);

    const pressTimeline = new TimelineLite()
    pressTimeline.fromTo($('.Press ul li'), 1,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut})
    const pressTimelineScene = new ScrollMagic.Scene({
      triggerElement: '.Press',
      reverse: false
    }).setTween(pressTimeline).addTo(controller);

    const ReviewCarouselTimeline = new TimelineLite()
    ReviewCarouselTimeline.fromTo($('.ReviewCarousel .owl-item .Review__image'), 0.7,{opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut})
      .fromTo($('.ReviewCarousel .owl-item .Review__content'), 0.7, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 0.5)
    const ReviewCarouselTimelineScene = new ScrollMagic.Scene({
      triggerElement: '.ReviewCarousel',
      reverse: false
    }).setTween(ReviewCarouselTimeline).addTo(controller);

    const bannerTimeline = new TimelineLite();
    bannerTimeline.fromTo($('.Banner .Banner__wrapper'), 0.8, {opacity: 0, scale: 1.05}, {opacity: 1, scale: 1, ease: ExpoScaleEase.config(1.05, 1)})
      .fromTo($('.Banner .Banner__wrapper .Banner__content h2'), 1, {opacity: 0, y: 20}, {opacity: 1, y: 0}, 0.75)
      .fromTo($('.Banner .Banner__wrapper .Banner__content p'), 1, {opacity: 0, y: 20}, {opacity: 1, y: 0}, 1)
      .fromTo($('.Banner .Banner__wrapper .Banner__content ._button-wrapper'), 1, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 1.5)
    const bannerScene = new ScrollMagic.Scene({
      triggerElement: '.ReviewCarouselWrapper .owl-item.active .Review__author',
      reverse: false
    }).setTween(bannerTimeline).addTo(controller);

    const productTimeline = new TimelineLite()
    productTimeline.fromTo($('.SoldProducts .heading h2'), 0.7, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut})
      .fromTo($('.SoldProducts .heading  p'), 0.7, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut}, 0.5)
      .call(function(){
        $('.RecentlySoldProducts .RecentlySoldProducts--column').each(function (i) {
          var row = $(this).find('img');
          setTimeout(function () {
            TweenMax.fromTo(row, 0.5, {opacity: 0, y: 20}, {opacity: 1, y: 0, ease: Power0.easeInOut});
            if($('.RecentlySoldProducts .RecentlySoldProducts--column').length === (i + 1)) {
              $('.RecentlySoldProducts .RecentlySoldProducts--column').addClass('--animLoaded');
            }
          }, 200 * i)
        });
      })
    const productScene = new ScrollMagic.Scene({
      triggerElement: '.SoldProducts',
      reverse: false
    }).setTween(productTimeline).addTo(controller);



  });
  function toggleSlide(item) {
    jQuery(item).slideToggle();
  }
  function downSlide(item) {
    jQuery(item).slideDown();
  }
</script>