<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210119170138"><link rel="stylesheet" href="{{ 'pagefly.cdca250d.css' | asset_url }}">
		 <style>
  
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-6238931f"><div data-pf-type="Layout" class="pf-dbc10175"><div data-container="true" class="sc-pZopv bjKdkd pf-39002a33" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1600px;"><div class="sc-qPjXN eYzxUD pf-92563900 pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:0px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--6 pf-c-lg--11"><div class="sc-pkUyL fTyjzF pf-b6dc9256" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-cc9eb6dc"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5315f177 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-bb382afc">Returns</span></h2></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-c0a01079" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-ee3d3729 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-d0ab9b5a" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-1ec1dcdf" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-03069a35 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-24ced323">365 DAY HOME TRIAL</span></h3><p class="sc-oUAoT HrWqm pf-20a069b9 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f6cf8def">Take some time to get acclimated to your new home furniture addition. Try it by the window, over in the corner; face it this way, or as your housemate prefers, “no...maybe a little bit more that way...” Either way, if it hasn’t yet made itself at home, that’s probably a sign. <span style="font-weight: bold; color: #202020; text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us">Give us a call</a></span> within the first 365 days, and we’ll take it back.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-e8ffeb6d" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-642c1a7a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-ce9e8077" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-5ce7c873" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-726438ab avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9d31d982">THE RETURN PROCESS</span></h3><p class="sc-oUAoT HrWqm pf-58d0df06 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-dc1b6581">If you decide within the first 14 days of receiving  your furniture  that you’d like to return it, <span style="font-weight: bold; color: #202020; text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us">reach out</a></span> to us and we’ll send you return shipping labels. Return shipping is free, but because each piece is custom-made to the order, there will be a restocking fee charged that is equal to 15% of your order value prior to any discounts or special offers. Returns within this period must be made in the original packaging. 
<br><br>
After the first 14 days, you may return your order within 365 days of receiving it. Returns made during this period are subject to a 25% restocking fee, and you’ll be responsible for return shipping and any associated costs. <br><br>Please note that we do not offer returns on throw pillows, sheet sets or decor items.<br><br>All Hanger Frames™ Wall Art purchases are subject to Hanger Frames' Return Policy. Please visit their website <a style="font-weight:700; text-decoration:underline; color:#202020;" href="https://hangerframes.com/pages/returns">here</a> for more information.
</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-e687941e" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-61f3855b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-de807163" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-6ad011b6" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-30cfcfd0 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7f321f07">REFUNDS</span></h3><p class="sc-oUAoT HrWqm pf-f45066a0 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-180a2494">Once your order arrives back at our warehouse, we’ll process your refund in the next 1-2 business days. After that it’s up to your bank to credit your account. That should take around 5-7 business days. If it takes any longer than that, tell us about it and we’ll go bug them for you.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-c91a58eb" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-01649bee pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-18b47bdd" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-d482ae2a" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-02a6bf75 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-24e742e3">EXCHANGES</span></h3><p class="sc-oUAoT HrWqm pf-41cb76f7 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2f8ed85c">An exchange will be processed the same way as a return. Please <span style="font-weight: bold; color: #202020; text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us">reach out</a></span> within 365 days letting us know that you’d like to make a return. As soon as the order is received back at our warehouse, we’ll refund your original payment minus any applicable costs. Your new order will be a completely separate transaction. You can go ahead and place the new order yourself, but we’re always happy to help you place it of course. <br><br>Please note that we do not offer returns or exchanges on our throw pillows, sheet sets or decor items.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-6bcb9725" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-55798f29 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-7261efd7" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-e1491993" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7c4e398c avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9e335353">IN CASE OF DAMAGE OR DEFECT</span></h3><p class="sc-oUAoT HrWqm pf-9e5aa0d2 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ee0ff993">Take a few deep breaths, pour yourself a drink—light or dark, doesn’t matter, and once you’ve gathered yourself, snap a few pics of the problem (including the packaging) and send them over to us ASAP. We’ll get it taken care of. Deep breaths, remember? <br><br>Note that all damages incurred during shipping and handling must be reported within 48 hours of delivery in order to be covered under warranty. Send us the details via text, <span style="font-weight: bold;">+14158020060</span>, email us at <span style="font-weight: bold;">support@insideweather.com</span>, or use our <span style="font-weight: bold; color: #202020; text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us">contact form.</a></span><br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-96ebf7d0" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-7545edb5 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-a9dec898" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-cc6cb4eb" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5a5b914c avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-47fdedba">WARRANTY</span></h3><p class="sc-oUAoT HrWqm pf-0ac67943 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9efc16a7">We offer a one year warranty on our furniture against manufacturing defects applicable to the original owner effective from the date of delivery. Warranty does not apply to any conditions resulting from faulty installation, outdoor use, misuse or expected wear. In the event that you find yourself experiencing an issue with our guarantee, please <span style="font-weight: bold; color: #202020; text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us">reach out</a></span> to us so we can make it right.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-72942312" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"loomandloft.myshopify.com","elementData":{},"pageTitle":"Returns","pageType":"page","pageId":"cdca250d-73fd-4710-84f8-4a38936267be","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-20T01:20:44.853Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210119170138" defer></script>