<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.2/css/main-style.css?t=20200701120738"><link rel="stylesheet" href="{{ 'pagefly.c3cd3567.scss.css' | asset_url }}">
		 <style>
  
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-3cb8c00c"><div data-pf-type="Layout" class="pf-29306881"><div data-container="true" class="sc-pZopv bjKdkd pf-07858e14" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 2000px;"><div class="sc-qPjXN eYzxUD pf-934ec2af pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7dd14273" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-60177349 avalon-bold"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9b3c89a2">365 DAY HOME TRIAL</span></h3></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-14c2e87d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-70ab4395 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-ceee8ba1" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-018d94d6" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-2fd503b6 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8123fa44">GET TO KNOW EACH OTHER</span></h3><p class="sc-oUAoT HrWqm pf-82925801" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-71a694f0">Take some time to get acclimated to your new design. Try it by the window, over in the corner; face it this way, or as your housemate prefers, “no... maybe a little bit more that way...” No matter the situation, it’s probably a sign if it hasn’t yet made itself at home. <a href="https://insideweather.com/pages/contact-us“ target=" _blank"="" style="font-weight: bold; color:#202020; text-decoration-line: underline;">Let us know</a> within the first 365 days, and we’ll set up a return for your furniture.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-cb879c8b" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-82b372a7 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-4b4dc807" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-4542a2ec" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-bdb610d5 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3d22c22c">THE RETURN PROCESS
</span></h3><p class="sc-oUAoT HrWqm pf-2f8cdefb" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-abb4dcbb">If you decide within the first 14 days of receiving your piece of furniture that you’d like to return it, <a href="https://insideweather.com/pages/contact-us“ target=" _blank"="" style="font-weight: bold; color:#202020; text-decoration-line: underline;">reach out</a> to us and we’ll send you return shipping labels. Return shipping is free, but because each piece is custom-made to the order, there will be a restocking fee charged that is equal to 15% of your order value prior to any discounts or special offers. Returns within this period must be made in the original packaging. 
<br><br>
After the first 14 days, you may return your order within 365 days of receiving it. Returns made during this period are subject to a 25% restocking fee, and you’ll be responsible for return shipping and any associated costs. <br><br>Please note that we do not offer returns on our throw pillows or decor items.  <br><br>All Hanger Frames™ Wall Art purchases are subject to Hanger Frames' Return Policy. Please visit their website <a style="font-weight:700; text-decoration:underline; color:#202020;" href="https://hangerframes.com/pages/returns">here</a> for more information.
</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-0f55f63b" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-9bd5b21e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-0f4a6aab" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-b1831930" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1ba5f954 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d5299ac2">RETURN PACKAGING</span></h3><p class="sc-oUAoT HrWqm pf-ad70cd94" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8b522dff">If you plan to ship back your order for any reason, we ask that you do so with the original packaging, padding materials included. Note that within the 14-day return period, original packaging is required for returns. Returns made without the original packaging may be subject to additional costs, which are to be subtracted from your refund.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-2c94bca3" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-1d84ee63 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-b3e4c3f5" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-a161e828" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0c230d36 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-93b468e6">REFUNDS</span></h3><p class="sc-oUAoT HrWqm pf-b513d6ef" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a5ea1d9e">Once your order arrives back at our warehouse, we’ll process your refund in the next 1-2 business days. After that it’s up to your bank to credit your account. That should take around 5-7 business days. If it takes any longer than that, tell us about it and we’ll go bug them for you.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-9eaa1bd4" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.2","shopDomain":"loomandloft.myshopify.com","elementData":{},"pageTitle":"Home Trial","pageType":"page","pageId":"c3cd3567-e75c-47f6-9345-417c4d7c8cf2","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.2/core/helper.js?t=20200701120738" defer></script>