<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.2.2/css/main-style.css?t=2019-07-18-12"><link rel="stylesheet" href="{{ 'pagefly.c3cd3567.scss.css' | asset_url }}">
		 <style>
  
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div class="pf-3cb8c00c sc-hwwEjo kIFSBP" data-pf-type="Body"><div class="pf-29306881 sc-kUaPvJ gjMMZr" data-pf-type="Layout"><div data-container="true" class="pf-07858e14 sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 2000px;"><div class="pf-934ec2af pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-7dd14273 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-60177349 avalon-bold sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-9b3c89a2 sc-RcBXQ uIbp" data-pf-type="Text">365 DAY HOME TRIAL</span></h3></div></div></div></div></div><div data-container="true" class="pf-14c2e87d sc-kLIISr lgZhBD" data-pf-type="Section"><div class="sc-dliRfk gThRmc" style="max-width: 1170px;"><div class="pf-70ab4395 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-ceee8ba1 sc-fONwsr BcUQo" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-018d94d6 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-2fd503b6 avalon-demi sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-8123fa44 sc-RcBXQ uIbp" data-pf-type="Text">GET TO KNOW EACH OTHER</span></h3><p class="pf-82925801 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-71a694f0 sc-RcBXQ uIbp" data-pf-type="Text">Take some time to get acclimated to your new design. Try it by the window, over in the corner; face it this way, or as your housemate prefers, “no... maybe a little bit more that way...” No matter the situation, it’s probably a sign if it hasn’t yet made itself at home. <a href="https://insideweather.com/pages/contact-us“ target=" _blank"="" style="font-weight: bold; color:#202020; text-decoration-line: underline;">Let us know</a> within the first 365 days, and we’ll set up a return.</span></p></div></div><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-cb879c8b sc-fONwsr BcUQo" data-pf-type="Column"></div></div></div><div class="pf-82b372a7 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-4b4dc807 sc-fONwsr BcUQo" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-4542a2ec sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-bdb610d5 avalon-demi sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-3d22c22c sc-RcBXQ uIbp" data-pf-type="Text">THE RETURN PROCESS
</span></h3><p class="pf-2f8cdefb sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-abb4dcbb sc-RcBXQ uIbp" data-pf-type="Text">If you decide within the first 14 days of receiving your order that you’d like to return it, <a href="https://insideweather.com/pages/contact-us“ target=" _blank"="" style="font-weight: bold; color:#202020; text-decoration-line: underline;">reach out</a> to us and we’ll send you return shipping labels. Return shipping is free, but because each piece is custom-made to the order, there will be a restocking fee charged that is equal to 15% of your order value prior to any discounts or special offers. Returns within this period must be made in the original packaging. 
<br><br>
After the first 14 days, you may return your order within 365 days of receiving it. Returns made during this period are subject to a 25% restocking fee, and you’ll be responsible for return shipping and any associated costs.</span></p></div></div><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-0f55f63b sc-fONwsr BcUQo" data-pf-type="Column"></div></div></div><div class="pf-9bd5b21e pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-0f4a6aab sc-fONwsr BcUQo" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-b1831930 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-1ba5f954 avalon-demi sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-d5299ac2 sc-RcBXQ uIbp" data-pf-type="Text">RETURN PACKAGING</span></h3><p class="pf-ad70cd94 sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-8b522dff sc-RcBXQ uIbp" data-pf-type="Text">If you plan to ship back your order for any reason, we ask that you do so with the original packaging, padding materials included. Note that within the 14-day return period, original packaging is required for returns. Returns made without the original packaging may be subject to additional costs, which are to be subtracted from your refund.</span></p></div></div><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-2c94bca3 sc-fONwsr BcUQo" data-pf-type="Column"></div></div></div><div class="pf-1d84ee63 pf-r pf-r-eh sc-ipXKqB ciNxzc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-b3e4c3f5 sc-fONwsr BcUQo" data-pf-type="Column"></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8" style="padding: 15px;"><div class="pf-a161e828 sc-fONwsr BcUQo" data-pf-type="Column"><h3 mode="view" class="pf-0c230d36 avalon-demi sc-gwVKww jSNcIx" data-pf-type="Heading"><span class="pf-93b468e6 sc-RcBXQ uIbp" data-pf-type="Text">REFUNDS</span></h3><p class="pf-b513d6ef sc-ebFjAB bLbPLR" data-pf-type="Paragraph"><span class="pf-a5ea1d9e sc-RcBXQ uIbp" data-pf-type="Text">Once your order arrives back at our warehouse, we’ll process your refund in the next 1-2 business days. After that it’s up to your bank to credit your account. That should take around 5-7 business days. If it takes any longer than that, tell us about it and we’ll go bug them for you.</span></p></div></div><div class="pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2" style="padding: 15px;"><div class="pf-9eaa1bd4 sc-fONwsr BcUQo" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","events":{},"pageflyVersion":"2.2.2","pageId":"c3cd3567-e75c-47f6-9345-417c4d7c8cf2"};
				</script><script src="https://cdn.pagefly.io/pagefly/2.2.2/core/helper.js?t=2019-07-18-12" defer></script>