      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/vita/tb/col_vita_tb_v1_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/vita/tb/col_vita_tb_v1_m.jpg","altText":"custom lounge chairs","destination":null,"titleCopy":"The Vita Lounge Chair","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Vita Lounge Chair","bodyCopy":"Customize the wood finish and upholstery to make Vita yours."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Latte Vita Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/vl11lw-latte-vita-lounge-chair-in-terrazzo-shatter","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_03_grid_v5_01.jpg"},{"titleCopy":"Espresso Vita Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/vl12kg-espresso-vita-lounge-chair-in-powder-pink","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_03_grid_v5_02.jpg"},{"titleCopy":"Black Vita Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/vl13ee-black-vita-lounge-chair-in-muted-melange","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_03_grid_v5_03.jpg"},{"titleCopy":"Latte Vita Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/vl11jw-latte-vita-lounge-chair-in-spa","image":"https://cdn.insideweather.com/cat/lounge-chairs/grid/v5/cat_lounge-chairs_col_03_grid_v5_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const titleContent7 = {"titleCopy":"Details","bodyCopy":"Discover what makes our lounge chairs so unique."};
    </script>
    <title-text v-bind='titleContent7'></title-text>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const leftRightContent9 = {"titleCopy":"Behind the Design","bodyCopy":"Turn the dial up on smooth contours and flowing lines. The Vita Lounge Chair is a perfect combination of style and comfort. Our steam bent oak plywood passes through a series of sands and stains, for a pronounced wood grain through the Latte finish.","image":"https://cdn.insideweather.com/pdp/details/lounge-chairs/collection/vita_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/lounge-chairs/collection/vita_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent9'></image-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Interchangeable","bodyCopy":"Each detachable Vita cushion is designed to cater to your lifestyle⁠—they're swappable! Reach out if you'd like to purchase extra sets in your favorite designs. Everyone needs a refresh every once in a while.","image":"https://cdn.insideweather.com/pdp/details/lounge-chairs/lifeproof/vita_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/lounge-chairs/lifeproof/vita_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Custom Upholstery","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your custom furniture match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Comfort","bodyCopy":"Each cushion is comprised of a firm foam-core base layered with high-density polyurethane foam. Its sculpted nature hugs anyone \u0026 everyone it encounters.","image":"https://cdn.insideweather.com/pdp/details/lounge-chairs/comfort/vita_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/lounge-chairs/comfort/vita_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const smallColumnContent17 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent17'>
    </multi-column-text-image>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const titleContent19 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent19'></title-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const lifestyleGrid21 = {"images":[{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:MOODY%20GOLD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl12el-espresso-vita-lounge-chair-in-moody-gold","titleCopy":"Espresso Vita Lounge Chair in Moody Gold","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:DS1005B\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl12cq-espresso-vita-lounge-chair-in-retro-palm","titleCopy":"Espresso Vita Lounge Chair in Retro Palm","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/2/CNV_TBLSID.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20TYPE:HAIRPIN\u0026feature=BASE%20FINISH:BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ls11ab12-rectangle-classic-via-side-table-in-espresso","titleCopy":"Rectangle Classic Via Side Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:MOODY%20GOLD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl12el-espresso-vita-lounge-chair-in-moody-gold","titleCopy":"Espresso Vita Lounge Chair in Moody Gold","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:MOODY%20WARM%20GRAY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl12eg-espresso-vita-lounge-chair-in-moody-warm-gray","titleCopy":"Espresso Vita Lounge Chair in Moody Warm Gray","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:DS1025D\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl12fb-espresso-vita-lounge-chair-in-minty-fragmentation","titleCopy":"Espresso Vita Lounge Chair in Minty Fragmentation","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/4/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20AVOCCADO\u0026size=400","altText":null,"destination":"https://insideweather.com/products/el10cr-espresso-edgar-lounge-chair-in-avocado","titleCopy":"Espresso Edgar Lounge Chair in Avocado","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/4/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SUNFLOWER\u0026size=400","altText":null,"destination":"https://insideweather.com/products/vl12ab-espresso-vita-lounge-chair-in-sunflower","titleCopy":"Espresso Vita Lounge Chair in Sunflower","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AVA/frames/4/CNV_AVA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026size=400","altText":null,"destination":"https://insideweather.com/products/ar11cw-latte-arcadia-lounge-chair-in-seashell","titleCopy":"Latte Arcadia Lounge Chair in Seashell","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:MOODY%20WARM%20GRAY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl12eg-espresso-vita-lounge-chair-in-moody-warm-gray","titleCopy":"Espresso Vita Lounge Chair in Moody Warm Gray","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=UPHOLSTERY:DS1019C\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl12fb-espresso-vita-lounge-chair-in-minty-fragmentation?attributes=frame_finish%3Aespresso%2Ccolor_name%3Aliving-layers","titleCopy":"Espresso Vita Lounge Chair in Living Layers","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:RETRO%20MINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl11cs-latte-vita-lounge-chair-in-retro-mint","titleCopy":"Latte Vita Lounge Chair in Retro Mint","price":null}]},{"image":"https://cdn.insideweather.com/collections/vita/lifestyles/col_vita_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VITA/frames/1/CNV_VITA.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:DS1009A\u0026size=200","altText":null,"destination":"https://insideweather.com/products/vl11bm-latte-vita-lounge-chair-in-sunset-strokes","titleCopy":"Latte Vita Lounge Chair in Sunset Strokes","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid21'>
    </lifestyle-grid>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>

      </div>
