      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/alto/tb/col_alto_tb_d_v1.jpg","mobileImage":"https://cdn.insideweather.com/collections/alto/tb/col_alto_tb_m_v1.jpg","altText":"custom shelving","destination":null,"titleCopy":"The Alto Shelving Collection","titleCopyColor":"#202020","bodyCopy":"Stack Alto units high, mount them on the wall, or place them side by side \u0026 create your custom shelving system. The choice is yours.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/collections/alto/vprop-sm/shelving_modular-ico_v2.png","text":"MODULAR"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Create Your Own Shelving System","bodyCopy":"Customize your number of modular units, wood finish, and optional accent design."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"1 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1010ab-latte-alto-shelf-1-unit","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_01.jpg"},{"titleCopy":"2 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1110ab-latte-alto-shelf-2-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_02.jpg"},{"titleCopy":"3 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1210ab-latte-alto-shelf-3-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_03.jpg"},{"titleCopy":"4 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1310ab-latte-alto-shelf-4-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_04.jpg"},{"titleCopy":"5 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1410ab-latte-alto-shelf-5-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_05.jpg"},{"titleCopy":"6 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1510ab-latte-alto-shelf-6-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_06.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Shelving on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways in which you can manipulate our modular, adjustable shelving collection to make it truly yours. Each modern bookcase is made to order—per your specs—at our California Crafthouse and ships to your doorstep months faster than any other “custom” maker out there.","backgroundColor":"#B1C1D3","image":"https://cdn.insideweather.com/collections/alto/customize/col_alto-bnr_d_v1.png","altText":"modern bookcase","mobileImages":[{"image":"https://cdn.insideweather.com/collections/alto/customize/col_alto-bnr_m_v1.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes Alto unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"This more-than-a-bookcase collection is the shelf that keeps on giving. Hang it as a floating shelf on your wall. Stack a few units up tall. Brace them back to back. Or make it your new media console with bookshelves on either side. We make it simple for you to not only customize your design before purchase, but this modular design allows you to configure your product in a variety of different ways once it arrives in your home! The custom Alto Shelf comes in three beautiful wood finishes: latte, espresso and black. Choose between hundreds of different accent panel designs to find the color and pattern that perfectly matches your home decor.","image":"https://cdn.insideweather.com/pdp/details/alto/collection/collection_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/alto/collection/collection_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Design it Yours(h)elf","bodyCopy":"Choose from a rainbow of solid hues, trending motifs or classic wood finishes. Each unit features a customizable accent panel, giving you have 300+ ways to make your mark.","image":"https://cdn.insideweather.com/collections/alto/details/design_d.mp4","mobileImage":"https://cdn.insideweather.com/collections/alto/details/design_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Modular \u0026 Adjustable","bodyCopy":"Each Alto module has endless possibilities—removable legs, optional wall mounts and the ability to connect multiple side by side or even back to back with our invisible hardware. Each module can be used with or without its legs so decide for yourself depending on your style! And for a sleek look, the wall mounts? cannot be seen from the front.","image":"https://cdn.insideweather.com/pdp/details/alto/modular/modular_d.mp4\t","mobileImage":"https://cdn.insideweather.com/pdp/details/alto/modular/modular_m.mp4        ","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Convertible Base Design","bodyCopy":"Each Alto module features optional, removable legs. Opt to keep them on and use your single Alto module as a side table, or stack modules on top of each other to create a bookshelf system. Or remove the legs altogether and affix your alto unit to the wall!","image":"https://cdn.insideweather.com/pdp/details/alto/legs/legs_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/alto/legs/legs_m.mp4","altText":"removable legs","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const leftRightContent18 = {"titleCopy":"Simple Setup","bodyCopy":"We provide all the tools and simple instructions for easy assembly and installation. If you decide to change the configuration of the shelves in the future, no problem! These modular shelves are designed to be easily adjusted to suit your needs as your life (and the size of your apartment) evolves.","image":"https://cdn.insideweather.com/pdp/details/alto/setup/setup_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/alto/setup/setup_m.mp4\t","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent18'></image-text>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const leftRightContent20 = {"titleCopy":"Sustainable Craftsmanship","bodyCopy":"The materials used to make these customizable shelves have been designed with intention. Each kiln-dried, solid ash and baltic birch wood frame is FSC-certified and topped with an eco-solvent finish. We recycle any excess from each material consumed. And as always, one tree is planted via the National Forest Foundation for every order placed with us.","image":"https://cdn.insideweather.com/pdp/details/alto/craft/craft_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/alto/craft/craft_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent20'></image-text>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const smallColumnContent22 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our modern bookcases and shelves are made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied with your furnishings? We'll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent22'>
    </multi-column-text-image>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const titleContent24 = {"titleCopy":"Get Inspired","bodyCopy":"How will you configure your Alto?"};
    </script>
    <title-text v-bind='titleContent24'></title-text>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>


    <script>
      const lifestyleGrid26 = {"images":[{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_01_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%201\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1010ab-latte-alto-shelf-1-unit","titleCopy":"Latte Alto Shelf - 1 Unit","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11aa11-rectangle-classic-via-dining-table-in-latte","titleCopy":"Rectangle Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DAPPER-SNOW\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010ph-latte-otto-dining-chair-in-snow","titleCopy":"Latte Otto Dining Chair in Snow","price":null},{"image":"https://content-v2.cylindo.com/api/v2/4931/products/RUG%20OVERHEAD/frames/1/RUG%20OVERHEAD.jpg?feature=SIZE:5X7\u0026feature=RUG:DS1018A\u0026background=FFFFFF\u0026encoding=jpg\u0026smartCrop=false\u0026size=200","altText":null,"destination":"https://insideweather.com/products/mm12di-5-x-7-area-rug-in-pattern-play","titleCopy":"5' x 7' Area Rug in Pattern Play","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_02_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%206\u0026feature=WOODFINISH:LIGHT%20ESPRESSO\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1511ab-espresso-alto-shelf-6-units","titleCopy":"Espresso Alto Shelf - 6 Units","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_03_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%206\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1510ab-latte-alto-shelf-6-units","titleCopy":"Latte Alto Shelf - 6 Units","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_04_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%203\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1210ab-latte-alto-shelf-3-units","titleCopy":"Latte Alto Shelf - 3 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DAPPER-SNOW\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010ph-latte-otto-dining-chair-in-snow","titleCopy":"Latte Otto Dining Chair in Snow","price":null},{"image":"https://content-v2.cylindo.com/api/v2/4931/products/RUG%20OVERHEAD/frames/1/RUG%20OVERHEAD.jpg?feature=SIZE:5X7\u0026feature=RUG:DS1018A\u0026background=FFFFFF\u0026encoding=jpg\u0026smartCrop=false\u0026size=200","altText":null,"destination":"https://insideweather.com/products/mm12di-5-x-7-area-rug-in-pattern-play","titleCopy":"5' x 7' Area Rug in Pattern Play","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_05_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%202\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1110ab-latte-alto-shelf-2-units","titleCopy":"Latte Alto Shelf - 2 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11aa11-rectangle-classic-via-dining-table-in-latte","titleCopy":"Rectangle Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:BLACK\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VILLA-DOVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd121110po-black-sarno-dining-chair-in-dove-gray","titleCopy":"Black Sarno Dining Chair in Dove Gray","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_06_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%203\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1210ab-latte-alto-shelf-3-units","titleCopy":"Latte Alto Shelf - 3 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CUSTOM%20SOFA%20FLUSH/frames/1/CUSTOM%20SOFA%20FLUSH.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:LEVI%20(FABRIC)\u0026feature=UPHOLSTERY:VENICE%20COAL\u0026feature=CONFIGURATION:SPLIT_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:BEVELED\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf14bd121010171010-custom-levi-sofa-in-obsidian","titleCopy":"Custom Levi Sofa in Obsidian","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/4/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:CROSS%20WEAVE%20RAVEN%20GREY\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1110ad10-espresso-ada-lounge-chair-in-raven-gray","titleCopy":"Espresso Ada Lounge Chair in Raven Gray","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/3/CNV_TBLCOF.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:OVAL\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc13ab11-oval-classic-via-coffee-table-in-espresso","titleCopy":"Oval Classic Via Coffee Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:DS1032A\u0026feature=EDGE%20FINISH:DARK\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/us10lg1111-round-custom-via-side-table-in-white-marble","titleCopy":"Round Custom Via Side Table in White Marble","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_07_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%203\u0026feature=WOODFINISH:LIGHT%20ESPRESSO\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1211ab-espresso-alto-shelf-3-units","titleCopy":"Espresso Alto Shelf - 3 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%203-SEATER/frames/1/BONDI%203-SEATER.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bs11bm1110-modular-bondi-3-seater-sofa-in-moss","titleCopy":"Modular Bondi 3-Seater Sofa in Moss","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_08_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%202\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1110ab-latte-alto-shelf-2-units","titleCopy":"Latte Alto Shelf - 2 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11aa11-rectangle-classic-via-dining-table-in-latte","titleCopy":"Rectangle Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:BLACK\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VILLA-DOVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd121110po-black-sarno-dining-chair-in-dove-gray","titleCopy":"Black Sarno Dining Chair in Dove Gray","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_09_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%203\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1210ab-latte-alto-shelf-3-units","titleCopy":"Latte Alto Shelf - 3 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/4/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:CROSS%20WEAVE%20RAVEN%20GREY\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1110ad10-espresso-ada-lounge-chair-in-raven-gray","titleCopy":"Espresso Ada Lounge Chair in Raven Gray","price":null},{"image":"https://content-v2.cylindo.com/api/v2/4931/products/RUG%20OVERHEAD/frames/1/RUG%20OVERHEAD.jpg?feature=SIZE:5X7\u0026feature=RUG:DS1018A\u0026background=FFFFFF\u0026encoding=jpg\u0026smartCrop=false\u0026size=200","altText":null,"destination":"https://insideweather.com/products/mm12di-5-x-7-area-rug-in-pattern-play","titleCopy":"5' x 7' Area Rug in Pattern Play","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_10_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%201\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1010ab-latte-alto-shelf-1-unit","titleCopy":"Latte Alto Shelf - 1 Unit","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid26'>
    </lifestyle-grid>


    <script>
      const spacer27 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer27'>
      </custom-spacer>

      </div>
