      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/sarno/tb/col_sarno_tb_d_v2.jpg","mobileImage":"https://cdn.insideweather.com/collections/sarno/tb/col_sarno_tb_m_v2.jpg","altText":"custom dining chairs","destination":null,"titleCopy":"The Sarno Collection","titleCopyColor":"#202020","bodyCopy":"The iconic custom dining collection designed for every home.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"The Custom Sarno Collection","bodyCopy":"Customize your back style, seat shape, wood finish and choose from 400+ upholstery options to make it yours."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Sarno Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/rd101010af-latte-sarno-dining-chair-in-cloud","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026size=400"},{"titleCopy":"Sarno Counter Stool","linkCopy":"Customize Now","destination":"https://insideweather.com/products/rc101110af-latte-sarno-counter-stool-in-cloud","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20ALMOND\u0026size=400"},{"titleCopy":"Sarno Bar Stool","linkCopy":"Customize Now","destination":"https://insideweather.com/products/rb101210af-latte-sarno-bar-stool-in-cloud","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VISTA%20OLIVE\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const supportBanner7 = {"titleCopy":"Iconic Custom Dining Chairs","bodyCopy":"When we say custom chairs \u0026 stools, we mean it. Explore all the ways you can modify the Sarno Collection to make it truly yours. Each chair is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#DDD8D0","image":"http://cdn.insideweather.com/collections/sarno/customize/cat_sarno_customize-bnr_d_01_v2-min.png","altText":"custom chairs","mobileImages":[{"image":"http://cdn.insideweather.com/collections/sarno/customize/cat_sarno_customize-bnr_m_01_v2-min.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner7'>
    </support-banner>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const titleContent9 = {"titleCopy":"Details","bodyCopy":"Discover what makes the Sarno Collection unique."};
    </script>
    <title-text v-bind='titleContent9'></title-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Behind the Design","bodyCopy":"This modern furniture collection takes classic, timeless style and puts it in the hands of the consumer. We believe that any chair purchased for the home shouldn’t just be well designed, sustainably made, and reasonably priced but should be perfectly suited for one’s home and lifestyle with no exception. So we created a solid wood custom dining collection that transcends modern, mid-century, scandinavian, traditional and contemporary styles. A collection born to offer a framework for beautiful, high quality design and to enable the customer with the tools they need to create a \u003ca href=\"https://insideweather.com/pages/dining-chairs\"\u003edining chair\u003c/a\u003e that’s truly suited to their dining style.","image":"https://cdn.insideweather.com/collections/sarno/details/design/design_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/sarno/details/design/design_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Custom Style","bodyCopy":"The Sarno Dining Collection presents an iconic silhouette that unlocks the opportunity to customize the seat height, comfort, shape, and style of your dining chair's backrest and seat cushion as well as choose from over 400 finish \u0026 fabric choices, allowing you to design a truly unique piece of no compromise.","image":"https://cdn.insideweather.com/cat/dining-chairs/details/lifeproof/v2/lifeproof_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/dining-chairs/details/lifeproof/v2/lifeproof_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Upholsteries Galore","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"Sustainably Made","bodyCopy":"The materials used across this custom dining collection have been selected with intention. Each kiln-dried, solid ash wood Sarno frame is FSC-certified and topped with an eco-solvent finish. Look out for certifications across our custom upholstery options that meet Oeko-Tex \u0026 Bluesign standards. We recycle any excess from each material consumed, in fact certain designs are even intended to absorb such ’’waste.’’ And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/collections/sarno/details/sustainable-materials/sustainable-materials_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/sarno/details/sustainable-materials/sustainable-materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const smallColumnContent19 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent19'>
    </multi-column-text-image>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const titleContent21 = {"titleCopy":"Get Inspired","bodyCopy":"Scenes for thought. How will you design your custom dining room?"};
    </script>
    <title-text v-bind='titleContent21'></title-text>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const lifestyleGrid23 = {"images":[{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa13-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1138\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles","titleCopy":"Latte Sarno Counter Stool in Notebook Doodles","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1006E\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101210eq-latte-sarno-dining-chair-in-monstera-sky","titleCopy":"Latte Sarno Dining Chair in Monstera Sky","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v2_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20LARGE%20DINING%20TABLE/frames/3/VIENNA%20LARGE%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:RECTANGLE\u0026feature=LENGTH:4\u0026feature=WIDTH:46\u0026feature=SURFACE%20FINISH:LATTE\u0026feature=LEG%20FINISH:LATTE\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi2012101010-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VENICE%20OLIVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jl-latte-sarno-dining-chair-in-tuscan-green","titleCopy":"Latte Sarno Dining Chair in Tuscan Green","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1138\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles","titleCopy":"Latte Sarno Counter Stool in Notebook Doodles","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101210an-latte-sarno-dining-chair-in-whiskey","titleCopy":"Latte Sarno Dining Chair in Whiskey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v2_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:BLACK\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb121211kh-black-sarno-bar-stool-in-rust","titleCopy":"Black Sarno Bar Stool in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc111010jb-espresso-sarno-counter-stool-in-mascarpone","titleCopy":"Espresso Sarno Counter Stool in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa13-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc101010an-latte-sarno-counter-stool-in-whiskey","titleCopy":"Latte Sarno Counter Stool in Whiskey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1138\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles","titleCopy":"Latte Sarno Counter Stool in Notebook Doodles","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101210an-latte-sarno-dining-chair-in-whiskey","titleCopy":"Latte Sarno Dining Chair in Whiskey","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1006E\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101010eq-latte-sarno-dining-chair-in-monstera-sky","titleCopy":"Latte Sarno Dining Chair in Monstera Sky","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1057\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110lx-latte-sarno-dining-chair-in-terrazzo-speckle","titleCopy":"Latte Sarno Dining Chair in Terrazzo Speckle","price":null}]},{"image":"https://cdn.insideweather.com/collections/sarno/lifestyle-grid/col_sarno_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid23'>
    </lifestyle-grid>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>

      </div>
