      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/shelving/tb/cat_shelving_tb_d_v3.jpg","mobileImage":"https://cdn.insideweather.com/cat/shelving/tb/cat_shelving_tb_m_v3.jpg","altText":"custom shelving","destination":null,"titleCopy":"The Atlas Shelving Collection","titleCopyColor":"#202020","bodyCopy":"From side table to media console to bookshelf, the Atlas Collection can be just about anything you need it to be.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/shelving_modular-ico.png","text":"MODULAR"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Start with a Height","bodyCopy":"Then customize the width, shelf configuration, wood finish, and number of shelves to make it yours."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"20\" Tall x 18\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aaaa1010-20-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:3%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"20\" Tall x 25\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aaaa1110-20-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:25\u0026feature=DENSITY:3%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"20\" Tall x 47\" Wide Classic","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aaaa1210-20-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:3%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"20\" Tall x 47\" Wide Hybrid","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aaaa1410-20-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:3%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"38\" Tall x 18\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ataa101110-38-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"38\" Tall x 25\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ataa111110-38-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:25\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"38\" Tall x 47\" Wide Split","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ataa131110-38-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"38\" Tall x 47\" Wide Hybrid","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ataa141110-38-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"58\" Tall x 18\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/afaa101110-58-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:5%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"58\" Tall x 25\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/afaa111210-58-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:25\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"58\" Tall x 47\" Wide Classic","linkCopy":"Customize Now","destination":"https://insideweather.com/products/afaa121210-58-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"58\" Tall x 47\" Wide Split","linkCopy":"Customize Now","destination":"https://insideweather.com/products/afaa131210-58-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"78\" Tall x 25\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/asaa111110-78-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:25\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"78\" Tall x 47\" Wide Classic","linkCopy":"Customize Now","destination":"https://insideweather.com/products/asaa121110-78-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"78\" Tall x 47\" Wide Split","linkCopy":"Customize Now","destination":"https://insideweather.com/products/asaa131110-78-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"78\" Tall x 47\" Wide Hybrid","linkCopy":"Customize Now","destination":"https://insideweather.com/products/asaa141210-78-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:7%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Shelving on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways in which you can manipulate our modular, adjustable shelving collection to make it truly yours. Each modern bookcase is made to order—per your specs—at our California Crafthouse and ships to your doorstep months faster than any other “custom” maker out there.","backgroundColor":"#BFCEC3","image":"https://cdn.insideweather.com/cat/shelving/customize/cat_shelving-bnr_d_01_v3-min.png","altText":"modern bookcase","mobileImages":[{"image":"https://cdn.insideweather.com/cat/shelving/customize/cat_shelving-bnr_m_01_v3b-min.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes Atlas unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Modular \u0026 Adjustable","bodyCopy":"Can't make up your mind? Neither can we. So we made a shelf that can be anything you want it to be. From modern bookcases to additional storage shelving, each interior shelf is adjustable so you can place it at whichever height you please and the small shelves on the Hybrid can be placed on either side! So wherever life leads you, your shelf can follow.","image":"https://cdn.insideweather.com/cat/shelving/details/modular/modular_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/shelving/details/modular/modular_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Versatile Shelf Storage","bodyCopy":"From side table to media console to bookshelf, the Atlas Collection can be just about anything you need it to be to fulfill your storage space needs. Use this modern yet functional beauty as both a practical storage piece and a unique display unit for your treasured trinkets.","image":"https://cdn.insideweather.com/cat/shelving/details/versatile/versatile_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/shelving/details/versatile/versatile_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Custom Configuration","bodyCopy":"Customize the width, shelf density and configuration of your Atlas shelving unit. Each modern bookshelf is adjustable so once it arrives in your home, you can adapt it to your storage needs upon set up and over the course of time. Your life (and your belongings) are endlessly evolving and we believe your furniture should always be there to support that journey.","image":"https://cdn.insideweather.com/cat/shelving/details/custom-configuration/custom-configuration_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/shelving/details/custom-configuration/custom-configuration_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Material Craftsmanship","bodyCopy":"Our FSC Certified, 100% Baltic Birch wood is precision milled in our US manufacturing facility to bring you the highest quality custom shelves and modern bookcases. Its surfaces feature either an American walnut or maple veneer with a triple coat of UV cured clear, matte, eco-solvent finish. The powder coated stainless steel frame features a Carbon black finish and each post is equipped with stabilizing, non-slip grips.","image":"https://cdn.insideweather.com/cat/all/material-craftsmanship/mat-craft_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/material-craftsmanship/mat-craft_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const leftRightContent18 = {"titleCopy":"Sustainable Style","bodyCopy":"The materials used to make this shelving unit have been selected with intention. Our signature baltic birch is FSC certified \u0026 topped with an eco-solvent finish. We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent18'></image-text>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const smallColumnContent20 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our modern bookcases and shelves are made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied with your furnishings? We'll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent20'>
    </multi-column-text-image>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const titleContent22 = {"titleCopy":"Get Inspired","bodyCopy":"How will you configure your Atlas?"};
    </script>
    <title-text v-bind='titleContent22'></title-text>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const lifestyleGrid24 = {"images":[{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_01_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:25\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa111110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_02_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa131110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/3/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/afaa121210-58-latte-atlas-shelf","titleCopy":"58\" Latte Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/3/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20MIDNIGHT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/el10bn-espresso-edgar-lounge-chair-in-nightfall","titleCopy":"Espresso Edgar Lounge Chair in Nightfall","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/NELS_OTT/frames/5/NELS_OTT.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20MIDNIGHT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/west-ottoman-base?attributes=finish%3Aespresso%2Ccolor_name%3Anightfall","titleCopy":"Espresso West Ottoman in Nightfall","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_03_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/3/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:5%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/asaa121010-78-latte-atlas-shelf","titleCopy":"78\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_04_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa141110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_05_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa141110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/3/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/asaa121110-78-latte-atlas-shelf","titleCopy":"78\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_06_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/3/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/asaa141110-78-latte-atlas-shelf","titleCopy":"78\" Latte Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/1/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:BROOKLYN%20(FABRIC)\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf18br101210131010-custom-brooklyn-sofa-in-whiskey","titleCopy":"Custom Brooklyn Sofa in Whiskey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/5/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/el11cw-latte-edgar-lounge-chair-in-seashell","titleCopy":"Latte Edgar Lounge Chair in Seashell","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/2/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:OVAL\u0026feature=TABLE%20TOP%20FINISH:DS1024C\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:HAIRPIN\u0026feature=BASE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/uc13gc1013-oval-custom-via-coffee-table-in-nordic-watercolor","titleCopy":"Oval Custom Via Coffee Table in Nordic Watercolor","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_07_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa141110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_08_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/2/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:5%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/afaa101110-58-latte-atlas-shelf","titleCopy":"58\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_09_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/3/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/atab131110-38-espresso-atlas-shelf","titleCopy":"38\" Espresso Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:52%20ALMOND\u0026feature=PLYWOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=LID:LIGHT%20ESPRESSO\u0026feature=STORAGE:OXFORD%20WEAVE%20PEBBLE\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1510aqaj10-almond-hayes-coffee-table-in-latte?attributes=table_shape%3Aalmond-52%2Cfinish%3Aespresso%2Ccolor_name_lid%3Aespresso%2Ccolor_name%3Apebble%2Cbase_style%3Acarbon","titleCopy":"Almond Hayes Coffee Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/2/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:BLACK\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:OXFORD%20WEAVE%20PEBBLE\u0026feature=ACCENT%20PILLOW%20SHAPE:ROUND\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1210hz11-black-ada-lounge-chair-in-pebble","titleCopy":"Black Ada Lounge Chair in Pebble","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_10_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/3/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/asaa121110-78-latte-atlas-shelf","titleCopy":"78\" Latte Atlas Shelf","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid24'>
    </lifestyle-grid>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>

      </div>
