<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.6.6/css/main-style.css?t=2019-12-16-15"><link rel="stylesheet" href="{{ 'pagefly.7f225513.css' | asset_url }}">
		 <style>
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-chbbiW chdzEe pf-bd889ba4"><div data-pf-type="Layout" class="pf-1a53da4c"><div data-container="true" class="sc-drMfKT hsMvSR pf-37f81078" data-pf-type="Section"><div class="sc-eKZiaR jJrGam" style="max-width: 2000px;"><div class="sc-bEjcJn eFjulw pf-157ea850 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-jeCdPy elofQi pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-jtRlXQ dgFwhv pf-32dc17ed" data-pf-type="Column"><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-2612963b avalon-bold"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-5bcf371a">PRIVACY POLICY</span></h3></div></div></div></div></div><div data-container="true" class="sc-drMfKT hsMvSR pf-bf1cacca" data-pf-type="Section"><div class="sc-eKZiaR jJrGam" style="max-width: 1170px;"><div class="sc-bEjcJn eFjulw pf-0deadefd pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-jeCdPy elofQi pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--1"><div class="sc-jtRlXQ dgFwhv pf-3980ec3a" data-pf-type="Column"></div></div><div class="sc-jeCdPy elofQi pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--10"><div class="sc-jtRlXQ dgFwhv pf-0ef5858f" data-pf-type="Column"><p class="sc-hjRWVT kWaRSX pf-63d15898" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-8aeb1656">This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from insideweather.com (the “Site”).</span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-61f16e5c avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-b081c5ac">PERSONAL INFORMATION WE COLLECT</span></h3><p class="sc-hjRWVT kWaRSX pf-b428355c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-b3f32f91">When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as “Device Information”.<br><br>We collect Device Information using the following technologies:<br>- “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.<br>- “Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.<br>- “Web beacons”, “tags”, and “pixels” are electronic files used to record information about how you browse the Site.<br><br>Additionally when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number. We refer to this information as “Order Information”.<br><br>When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and Order Information.</span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-3dfb1963 avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-6b3ac0b1">HOW DO WE USE YOUR PERSONAL INFORMATION?</span></h3><p class="sc-hjRWVT kWaRSX pf-4a0691c9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-6fe15d61">We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations). Additionally, we use this Order Information to:<br>- Communicate with you;<br>- Screen our orders for potential risk or fraud; and<br>- When in line with the preferences you have shared with us, provide you with information or advertising relating to our products or services.<br><br>We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), and more generally to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing and advertising campaigns).</span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-544b16a0 avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-d79e73f5">SHARING YOUR PERSONAL INFORMATION</span></h3><p class="sc-hjRWVT kWaRSX pf-101a1226" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-0e63670a">We share your Personal Information with third parties to help us use your Personal Information, as described above. For example, we use Shopify to power our online store--you can read more about how Shopify uses your Personal Information here: <a href="https://www.shopify.com/legal/privacy" target="_blank">https://www.shopify.com/legal/privacy</a>. We also use Google Analytics to help us understand how our customers use the Site -- you can read more about how Google uses your Personal Information here: <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank">https://www.google.com/intl/en/policies/privacy/</a>. You can also opt-out of Google Analytics here: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>.<br><br>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-8301e4fd avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-3f6aac40">BEHAVIOURAL ADVERTISING</span></h3><p class="sc-hjRWVT kWaRSX pf-137ba79f" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-b09020e8">As described above, we use your Personal Information to provide you with targeted advertisements or marketing communications we believe may be of interest to you. For more information about how targeted advertising works, you can visit the Network Advertising Initiative’s (“NAI”) educational page at <a href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work" target="_blank">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>.<br><br>You can opt out of targeted advertising by using the links below:<br>- Facebook: <a href="https://www.facebook.com/settings/?tab=ads" target="_blank">https://www.facebook.com/settings/?tab=ads</a><br>- Google: <a href="https://www.google.com/settings/ads/anonymous" target="_blank">https://www.google.com/settings/ads/anonymous</a><br><br>Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s opt-out portal at: <a href="http://optout.aboutads.info/" target="_blank">http://optout.aboutads.info/</a>.</span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-b35bfd3c avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-a82e6003">DO NOT TRACK</span></h3><p class="sc-hjRWVT kWaRSX pf-653eac60" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-117dcbcc">Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track signal from your browser.</span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-6ae84a00 avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-d73843f6">YOUR RIGHTS</span></h3><p class="sc-hjRWVT kWaRSX pf-25c9d50b" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-f88950a0">If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.<br><br>Additionally, if you are a European resident we note that we are processing your information in order to fulfill contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. Additionally, please note that your information will be transferred outside of Europe, including to Canada and the United States.</span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-249f82d4 avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-b829bc02">DATA RETENTION</span></h3><p class="sc-hjRWVT kWaRSX pf-604e9d3a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-a4e79b4c">When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.<br></span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-f30d6902 avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-386366f7">CHANGES</span></h3><p class="sc-hjRWVT kWaRSX pf-351ae6c5" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-90bfc397">We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.<br></span></p><h3 mode="view" data-pf-type="Heading" class="sc-jXQZqI fbDPVD pf-17871ba1 avalon-demi"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-5755ae90">CONTACT US</span></h3><p class="sc-hjRWVT kWaRSX pf-7a423186" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-keVrkP iSYQTX pf-1c72a974">For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e‑mail at support@insideweather.com or by mail using the details provided below:<br><br>Inside Weather<br>[Re: Privacy Compliance Officer]<br>Inside Weather, 2561 Mercantile Dr., Rancho Cordova, CA 95742, United States<br><br></span></p></div></div><div class="sc-jeCdPy elofQi pf-c pf-c-xs--12 pf-c-sm--4 pf-c-md--4 pf-c-lg--1"><div class="sc-jtRlXQ dgFwhv pf-55189d31" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.6.6","elementData":{},"pageType":"page","pageId":"7f225513-e134-4dd7-b30d-8d41b31fe41d"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.6.6/core/helper.js?t=2019-12-16-15" defer></script>