      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/hayes/tb/col_hayes_tb_d_v1.jpg","mobileImage":"https://cdn.insideweather.com/collections/hayes/tb/col_hayes_tb_m_v1.jpg","altText":"custom coffee tables","destination":null,"titleCopy":"The Hayes Collection","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Hayes Storage Coffee Table","bodyCopy":"Start with a silhouette and customize to make it your own."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"32\" Round Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1610aaaa10-round-hayes-coffee-table-in-latte","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_01.jpg"},{"titleCopy":"42\" Oval Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1211acad10-oval-hayes-coffee-table-in-espresso","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_02.jpg"},{"titleCopy":"42\" Rectangle Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1010abcx10-rectangle-hayes-coffee-table-in-latte","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_03.jpg"},{"titleCopy":"42\" Almond Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1411bwcz10-almond-hayes-coffee-table-in-espresso","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_04.jpg"},{"titleCopy":"34\" Triangle Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1711aabk10-triangle-hayes-coffee-table-in-espresso","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_05.jpg"},{"titleCopy":"52\" Oval Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1310aaaz10-oval-hayes-coffee-table-in-latte","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_06.jpg"},{"titleCopy":"52\" Rectangle Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1111aaaa10-rectangle-hayes-coffee-table-in-espresso","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_07.jpg"},{"titleCopy":"52\" Almond Hayes Coffee Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ha1510aqaj10-almond-hayes-coffee-table-in-latte","image":"https://cdn.insideweather.com/cat/coffee-tables/grid/cat_coffee-tables_col_03_grid_08.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Coffee Table on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways you can modify the Hayes Coffee Table to make it truly yours. Each piece is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#E3CBC2","image":"https://cdn.insideweather.com/collections/hayes/customize/col_hayes_customize-bnr_d_v1.png","altText":"custom coffee tables","mobileImages":[{"image":"https://cdn.insideweather.com/collections/hayes/customize/col_hayes_customize-bnr_m_v1.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes the Hayes Collection unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"Finally, a stylish storage solution to get behind—the Hayes was designed to be both beautiful and functional. Pair its simple, timeless wood table top with a splash of color on the lid and a dreamy upholstery of your choice on the storage pocket for a highly personalized, custom coffee table.","image":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/collection/collection_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/collection/collection_m.jpg","altText":"storage coffee tables","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Custom Storage","bodyCopy":"This custom wood coffee table offers an optional storage pocket and lid where you can functionally and fashionably store books, magazines and any other odds \u0026 ends to keep them out of sight but not out of mind.","image":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/custom-storage/custom-storage_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/custom-storage/custom-storage_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Tailored to You","bodyCopy":"Available in a variety of shapes and sizes, the Hayes Coffee Table is designed \u0026 made to fit your living room (literally). Opt for an expansive, classic rectangle or put a unique spin on the design with almond shaped edges.","image":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/tailored/tailored_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/tailored/tailored_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Sustainable Style","bodyCopy":"The materials used to make these coffee tables have been selected with intention. Our signature baltic birch is FSC certified \u0026 topped with an eco-solvent finish. We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/material-craftsmanship/mat-craft_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/hayes-coffee-table/material-craftsmanship/mat-craft_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const smallColumnContent18 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent18'>
    </multi-column-text-image>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const titleContent20 = {"titleCopy":"Get Inspired","bodyCopy":null};
    </script>
    <title-text v-bind='titleContent20'></title-text>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const lifestyleGrid22 = {"images":[{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LUMBAR%20BOLSTER/frames/4/LUMBAR%20BOLSTER.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bo15au-lumbar-bolster-in-dijon","titleCopy":"Lumbar Bolster in Dijon","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CUSTOM%204-SEATER%20SOFA%20SNUG/frames/2/CUSTOM%204-SEATER%20SOFA%20SNUG.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:NOX%20(FABRIC)\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:ARC\u0026feature=BASE%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ff12au1012102110-custom-nox-4-seater-sofa-in-dijon","titleCopy":"Custom Nox 4-Seater Sofa in Dijon","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/2/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20OVAL\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:LINEN%20WEAVE%20DIJON\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1210abai10-oval-hayes-coffee-table-in-latte","titleCopy":"Oval Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/5/ANA_SFT.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026feature=CONFIGURATION:CLASSIC_FULL\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:FLARE\u0026feature=BASE%20FINISH:BLACK\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/se17dn101110221010-custom-issa-sofette-in-alabaster","titleCopy":"Custom Issa Sofette in Alabaster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20ALMOND\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:ELIOT%20DOVE\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1410abcx10-almond-hayes-coffee-table-in-latte","titleCopy":"Almond Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/5/ANA_SCT3.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:LEVI%20(FABRIC)\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=CONFIGURATION:CLASSIC_FULL\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:BLACK\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sc14db131010231010-custom-levi-sectional-in-rust","titleCopy":"Custom Levi Sectional in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:52%20RECTANGLE\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:ROYALE%20RUST\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1110abae10-rectangle-hayes-coffee-table-in-latte","titleCopy":"Rectangle Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/3/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bq10cw1010-modular-bondi-2-seater-sofa-in-seashell","titleCopy":"Modular Bondi 2-Seater Sofa in Seashell","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/2/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20ALMOND\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:MOD%20VELVET%20VANILLA\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1410abcz10-almond-hayes-coffee-table-in-latte","titleCopy":"Almond Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/5/ANA_SFT.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026feature=CONFIGURATION:CLASSIC_FULL\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:FLARE\u0026feature=BASE%20FINISH:BLACK\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/se17dn101110221010-custom-issa-sofette-in-alabaster","titleCopy":"Custom Issa Sofette in Alabaster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20ALMOND\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:ELIOT%20DOVE\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1410abcx10-almond-hayes-coffee-table-in-latte","titleCopy":"Almond Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/5/ANA_SFT.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026feature=CONFIGURATION:CLASSIC_FULL\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:FLARE\u0026feature=BASE%20FINISH:BLACK\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/se17dn101110221010-custom-issa-sofette-in-alabaster","titleCopy":"Custom Issa Sofette in Alabaster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20ALMOND\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:ELIOT%20DOVE\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1410abcx10-almond-hayes-coffee-table-in-latte","titleCopy":"Almond Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/5/ANA_SCT3.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:LEVI%20(FABRIC)\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=CONFIGURATION:CLASSIC_FULL\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:BLACK\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sc14db131010231010-custom-levi-sectional-in-rust","titleCopy":"Custom Levi Sectional in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:52%20RECTANGLE\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:ROYALE%20RUST\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1110abae10-rectangle-hayes-coffee-table-in-latte","titleCopy":"Rectangle Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/3/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/atab131110-38-espresso-atlas-shelf","titleCopy":"38\" Espresso Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:BLACK\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:OXFORD%20WEAVE%20PEBBLE\u0026feature=ACCENT%20PILLOW%20SHAPE:ROUND\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1210hz11-black-ada-lounge-chair-in-pebble","titleCopy":"Black Ada Lounge Chair in Pebble","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20ALMOND\u0026feature=PLYWOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=LID:LIGHT%20ESPRESSO\u0026feature=STORAGE:LINEN%20WEAVE%20FOG\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1411accu10-almond-hayes-coffee-table-in-espresso","titleCopy":"Almond Hayes Coffee Table in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/3/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bq10cw1010-modular-bondi-2-seater-sofa-in-seashell","titleCopy":"Modular Bondi 2-Seater Sofa in Seashell","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/2/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:42%20ALMOND\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:MOD%20VELVET%20VANILLA\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1410abcz10-almond-hayes-coffee-table-in-latte","titleCopy":"Almond Hayes Coffee Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/hayes/lifestyles/col_hayes_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SCT3/frames/5/ANA_SCT3.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:LEVI%20(FABRIC)\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=CONFIGURATION:CLASSIC_FULL\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:BLACK\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sc14db131010231010-custom-levi-sectional-in-rust","titleCopy":"Custom Levi Sectional in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:52%20RECTANGLE\u0026feature=PLYWOOD%20FINISH:LATTE\u0026feature=LID:LATTE\u0026feature=STORAGE:ROYALE%20RUST\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1110abae10-rectangle-hayes-coffee-table-in-latte","titleCopy":"Rectangle Hayes Coffee Table in Latte","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid22'>
    </lifestyle-grid>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>

      </div>
