      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/nola/tb/col_nola_tb_v1_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/nola/tb/col_nola_tb_v1_m.jpg","altText":"custom dining chairs","destination":null,"titleCopy":"The Nola Chair Collection","titleCopyColor":"#ffffff","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#ffffff"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Nola Dining Chair","bodyCopy":"Start with a silhouette and customize the rest."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Nola Side Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd10ab12-nola-side-chair-in-whiskey","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:MICRO%20SUEDE%20WHISKEY\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=400"},{"titleCopy":"Nola Armchair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd11as10-nola-armchair-in-cloud","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20CLOUD\u0026feature=BASE%20TYPES:EIFEL\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=400"},{"titleCopy":"Nola Side Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd10aa15-nola-side-chair-in-yale-blue","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20YALE%20BLUE\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20CARBON\u0026size=400"},{"titleCopy":"Nola Armchair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd11ad13-nola-armchair-in-sunflower","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=METAL%20FINISHES:METAL%20LEGS%20BRASS\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const titleContent7 = {"titleCopy":"Details","bodyCopy":"Discover what makes our dining chairs so unique."};
    </script>
    <title-text v-bind='titleContent7'></title-text>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const leftRightContent9 = {"titleCopy":"Behind the Design","bodyCopy":"The Nola is a stylish chair that tells it like it is. Your upholstery of choice is hand stitched and fitted like a glove over an injection-molded, recyclable polypropylene shell. This classic, Eames-inspired silhouette makes any modern heart content.","image":"https://cdn.insideweather.com/pdp/details/dining-chairs/collection/Nola_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/dining-chairs/collection/Nola_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent9'></image-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Quality Craftsmanship","bodyCopy":"One of our best-selling custom dining chairs, the Nola Chair's silhouette is crafted with care by the Inside Weather team. Each chair's custom upholstery of choice is hand-stitched over its injection-molded, recyclable polypropylene shell. The upholstery is tightly fit around the shell for a modern, seamless look that complements any setting.","image":"https://cdn.insideweather.com/pdp/details/dining-chairs/quality-craftsmanship/nola_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/dining-chairs/quality-craftsmanship/nola_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Custom Dining Chair Upholstery","bodyCopy":"The mecca of fabric libraries if you will. Select from 100+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your custom furniture match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Comfort","bodyCopy":"The Nola's molded shell is designed to gently frame each of its guests' resting figures. While it does not feature any additonal padding, the smooth angles and rounded nature of its cavity serve as a delightfully modern space for all silhouettes.","image":"https://cdn.insideweather.com/pdp/details/dining-chairs/comfort/nola/side-chair_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/dining-chairs/comfort/nola/side-chair_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"Sustainable, Quality Materials","bodyCopy":"Sit tight! Our custom dining chairs feature materials made from solid ash wood and high-strength powder-coated steel, all of which are designed to carry up to 250 lbs. So go ahead, help yourself to seconds. Every material that we use is selected with intention. Look out for certifications across our custom dining chair collections that meet the following standards: FSC, Oeko-Tex, \u0026 Bluesign. And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const smallColumnContent19 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent19'>
    </multi-column-text-image>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const titleContent21 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent21'></title-text>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const lifestyleGrid23 = {"images":[{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:VEGAN%20LEATHER%20IVORY\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd11ao17-nola-armchair-in-ivory","titleCopy":"Nola Armchair in Ivory","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:OXFORD%20WEAVE%20AEGEAN%20BLUE\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10aw17-nola-side-chair-in-aegean-blue","titleCopy":"Nola Side Chair in Aegean Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:DS1028B\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud11ff1013-rectangle-custom-via-dining-table-in-muted-melange","titleCopy":"Rectangle Custom Via Dining Table in Muted Melange","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11aa10-rectangle-classic-via-dining-table-in-latte","titleCopy":"Rectangle Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:MICRO%20SUEDE%20WHISKEY\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10ab17-nola-side-chair-in-whiskey","titleCopy":"Nola Side Chair in Whiskey","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10ad12-nola-side-chair-in-sunflower","titleCopy":"Nola Side Chair in Sunflower","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/2/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:MONITOR%20STAND%20AND%202%20PEDESTALS\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1113fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:OXFORD%20WEAVE%20OCEAN%20GRAY\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10ak11-nola-side-chair-in-ocean-gray","titleCopy":"Nola Side Chair in Ocean Gray","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/3/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:FLARE\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20SILVER\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20NORDIC%20BLUE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10bj1013-latte-voss-sideboard-in-nordic-blue","titleCopy":"Latte Voss Sideboard in Nordic Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/1/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:SOLID%20LAMINATE%20WHITE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ud11lf1011-rectangle-custom-via-dining-table-in-white","titleCopy":"Rectangle Custom Via Dining Table in White","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20CAYENNE\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10au12-nola-side-chair-in-cayenne","titleCopy":"Nola Side Chair in Cayenne","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/3/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:2%20PEDESTALS\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1117fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20YALE%20BLUE\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10aa12-nola-side-chair-in-yale-blue","titleCopy":"Nola Side Chair in Yale Blue","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:VEGAN%20LEATHER%20ONYX\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd11ai15-nola-armchair-in-onyx","titleCopy":"Nola Armchair in Onyx","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab14-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:DS1010B\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:BLACK\u0026feature=EDGE%20FINISH:BLACK\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101210hw15-black-polk-side-chair-in-chilly-topography","titleCopy":"Black Polk Side Chair in Chilly Topography","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/1/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa10-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:OXFORD%20WEAVE%20AEGEAN%20BLUE\u0026feature=BASE%20TYPES:EIFEL\u0026feature=METAL%20FINISHES:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10aw14-nola-side-chair-in-aegean-blue","titleCopy":"Nola Side Chair in Aegean Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20CLOUD\u0026feature=BASE%20TYPES:EIFEL\u0026feature=METAL%20FINISHES:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10as14-nola-side-chair-in-cloud","titleCopy":"Nola Side Chair in Cloud","price":null}]},{"image":"https://cdn.insideweather.com/collections/nola/lifestyles/col_nola_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:VEGAN%20LEATHER%20IVORY\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd11ao12-nola-armchair-in-ivory","titleCopy":"Nola Armchair in Ivory","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/2/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:MONITOR%20STAND%20AND%20PEDESTAL\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1112fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid23'>
    </lifestyle-grid>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>

      </div>
