<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.1.0/css/main-style.css?t=2019-04-23-14"><style>/* PageFly Element Styles */
					.gsoKZR__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.gsoKZR { padding: 15px 0px; position: relative; }
.gsoKZR .sc-gHboQg { position: relative; }
.gsoKZR[data-container="true"] .sc-gHboQg { padding: 0px 15px; width: 100%; margin: auto; }
.gsoKZR .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bgvpaP { margin: 0px -15px; }
.gBvolc { margin: 0px -12px; }
.bTgDOc { position: relative; }
.bTgDOc.pf-editor-col::before, .bTgDOc.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.bTgDOc.pf-editor-col::before { left: -10px; }
.bTgDOc.pf-editor-col::after { right: -10px; }
.lmgwgQ { margin: 0px 0px 15px; }
.lmgwgQ > a { color: inherit !important; }
.lmgwgQ > span { font-weight: inherit; text-decoration: inherit; }
.lmgwgQ { word-break: break-word; }
.lmgwgQ.pf-i--left i { margin-right: 0.3em; }
.lmgwgQ.pf-i--right i { margin-left: 0.3em; }
.lmgwgQ.pf-i--top i { margin-bottom: 0.5em; }
.lmgwgQ.pf-i--top > span, .lmgwgQ.pf-i--top > a { display: block; }
.lmgwgQ.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.lmgwgQ [class*="--diamond"] { margin-right: 1em; }
.ihLHML { display: inline-block; }
.ihLHML { vertical-align: baseline; word-break: break-word; }
.ihLHML:focus { outline: none; }
.fWpeJL > span:last-child { line-height: inherit; display: block; }
.fWpeJL[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.fWpeJL[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.fWpeJL.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.fWpeJL.dropcap--circle > span:first-child { border-radius: 100%; }
.fWpeJL:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.fWpeJL ol, .fWpeJL ul { list-style-position: inside; }
.fWpeJL blockquote { font-size: inherit; }
.htgaJh { min-height: 30px; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-36e82410 {
		text-align: center;
		 color: rgb(32, 32, 32);
		 font-size: 30px;
		 text-transform: uppercase;
	}
	[data-pf-type="Paragraph"].pf-762d2625 {
		text-align: center;
		 font-family: Roboto;
		 font-weight: 400;
		 font-size: 14px;
		 padding-left: 100px;
		 padding-right: 100px;
	}
	[data-pf-type="Heading"].pf-92b8e724 {
		font-family: Roboto;
		 font-weight: 700;
		 letter-spacing: 0.035em;
		 font-size: 18px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-e4933cda {
		text-align: center;
	}
	[data-pf-type="Column"].pf-7f2a8e0f {
		text-align: center;
	}
	[data-pf-type="Section"].pf-55d48e86 {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-2af4f2a6 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-7bc436c7 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-f7ea5dfa {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-cd321d75 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-0e269909 {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-d51dbdb4 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-e1373163 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-edf9753b {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-d28fd188 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-b555b594 {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-292c491f {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-87ffd07c {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-c8ee423c {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-e73ebb03 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-98a3bb56 {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-1542dd58 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-6ead7f07 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-48401383 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-00a299bc {
		text-align: center;
	}
	[data-pf-type="Section"].pf-fb7acf35 {
		margin-bottom: 50px;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Paragraph"].pf-762d2625 {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 12px;
	}
	[data-pf-type="Heading"].pf-92b8e724 {
		margin-bottom: -30px;
	}
	[data-pf-type="Row"].pf-5dc20bc2 {
		margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-bcbecfb4 {
		margin-top: -60px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-a7fd3f6b {
		margin-top: -60px;
		 margin-bottom: 3px;
	}
	[data-pf-type="Section"].pf-55d48e86 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-2af4f2a6 {
		margin-top: 20px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-f7ea5dfa {
		margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-0e269909 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-d51dbdb4 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-edf9753b {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-b555b594 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-292c491f {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-c8ee423c {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-98a3bb56 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-1542dd58 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-48401383 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-fb7acf35 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	[data-pf-type="Paragraph"].pf-762d2625 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	[data-pf-type="Section"].pf-55d48e86 {
		margin-bottom: 15px;
	}
	[data-pf-type="Section"].pf-0e269909 {
		margin-bottom: 15px;
	}
	[data-pf-type="Section"].pf-b555b594 {
		margin-bottom: 15px;
	}
	[data-pf-type="Section"].pf-98a3bb56 {
		margin-bottom: 15px;
	}
}</style><div class="__pf" id="__pf"><div class="pf-e05330de sc-hwwEjo kIFSBP" data-pf-type="Body"><div class="pf-5c635430 sc-lkqHmb fgSdED" data-pf-type="Layout"><div data-container="true" class="pf-c8b845f2 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1170px;"><div class="pf-fca9c3be pf-r pf-r-eh sc-fYiAbW bgvpaP" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-5a76f378 sc-cbkKFq bTgDOc" data-pf-type="Column"><h3 mode="view" class="pf-36e82410 avalon-bold sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-3f310291 sc-itybZL ihLHML" data-pf-type="Text">ARMCHAIR Assembly instructions</span></h3><p class="pf-762d2625 sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-258fdd0f sc-itybZL ihLHML" data-pf-type="Text">* Note that images in the instructions are demonstrated using the Sofette as a model. The assembly
mechanisms themselves are identical across all products, except where otherwise noted.<br><br><span style="font-weight: bold; text-decoration-line: underline; color:#202020;"><a style="font-weight: bold; text-decoration-line: underline; color:#202020;" href="https://cdn.shopify.com/s/files/1/2994/0144/files/Armchair_v4-compressed.pdf?45206" target="_blank">PDF Version</a></span></span></p></div></div></div></div></div><div data-container="true" class="pf-55d48e86 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1300px;"><div class="pf-5dc20bc2 pf-r pf-r-eh sc-fYiAbW bgvpaP" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12" style="padding: 15px;"><div class="pf-b7064e5a sc-cbkKFq bTgDOc" data-pf-type="Column"><h3 mode="view" class="pf-92b8e724 avalon-demi sc-gwVKww lmgwgQ" data-pf-type="Heading"><span class="pf-ae7fc120 sc-itybZL ihLHML" data-pf-type="Text">Step 1: Familiarize yourself with the pieces</span></h3></div></div></div><div class="pf-eaae4850 pf-r pf-r-eh sc-fYiAbW gBvolc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-e4933cda sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-0bf1d665 sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331134632" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div><p class="pf-bcbecfb4 avalon-medium sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-c74015ba sc-itybZL ihLHML" data-pf-type="Text">Parts</span></p></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-7f2a8e0f sc-cbkKFq bTgDOc" data-pf-type="Column"><div class="pf-90c65206 sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331135391" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div><p class="pf-a7fd3f6b avalon-medium sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-cb24316f sc-itybZL ihLHML" data-pf-type="Text">Hardware</span></p></div></div></div></div></div><div data-container="true" class="pf-0e269909 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1300px;"><div class="pf-51b3ed3b pf-r pf-r-eh sc-fYiAbW gBvolc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-7bc436c7 sc-cbkKFq bTgDOc" data-pf-type="Column"><p class="pf-2af4f2a6 avalon-demi sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-08f800a8 sc-itybZL ihLHML" data-pf-type="Text">Step 2: Connect the arms to the back</span></p><div class="pf-851bce87 sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331314916" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-cd321d75 sc-cbkKFq bTgDOc" data-pf-type="Column"><p class="pf-f7ea5dfa avalon-demi sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-6e3636f8 sc-itybZL ihLHML" data-pf-type="Text">Step 3: Attach the front plate</span></p><div class="pf-e0b28cef sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331314915" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div></div></div></div></div></div><div data-container="true" class="pf-b555b594 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1300px;"><div class="pf-2c33f95b pf-r pf-r-eh sc-fYiAbW gBvolc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-e1373163 sc-cbkKFq bTgDOc" data-pf-type="Column"><p class="pf-d51dbdb4 avalon-demi sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-54f5f1e3 sc-itybZL ihLHML" data-pf-type="Text">Step 4: Install the outer support braces</span></p><div class="pf-86f0218b sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331324839" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-87ffd07c sc-cbkKFq bTgDOc" data-pf-type="Column"><p class="pf-292c491f avalon-demi sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-c7b818b3 sc-itybZL ihLHML" data-pf-type="Text">Step 5: Tighten the connector bolts</span></p><div class="pf-7f6c923b sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331314080" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div></div></div></div></div></div><div data-container="true" class="pf-98a3bb56 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1300px;"><div class="pf-891c33a8 pf-r pf-r-eh sc-fYiAbW gBvolc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-e73ebb03 sc-cbkKFq bTgDOc" data-pf-type="Column"><p class="pf-c8ee423c avalon-demi sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-aadebc1a sc-itybZL ihLHML" data-pf-type="Text">Step 6: Install the legs</span></p><div class="pf-0673cc06 sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331314837" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div></div></div><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-6ead7f07 sc-cbkKFq bTgDOc" data-pf-type="Column"><p class="pf-1542dd58 avalon-demi sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-42946206 sc-itybZL ihLHML" data-pf-type="Text">Step 7: Place the Slats</span></p><div class="pf-b7ff1c3b sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331315015" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div></div></div></div></div></div><div data-container="true" class="pf-fb7acf35 sc-eilVRo gsoKZR" data-pf-type="Section"><div class="sc-gHboQg eLpzfs" style="max-width: 1300px;"><div class="pf-ef753957 pf-r pf-r-eh sc-fYiAbW gBvolc" data-pf-type="Row"><div class="pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--6 pf-c-lg--6" style="padding: 12px;"><div class="pf-00a299bc sc-cbkKFq bTgDOc" data-pf-type="Column"><p class="pf-48401383 avalon-demi sc-jzgbtB fWpeJL" data-pf-type="Paragraph"><span class="pf-ccffad1e sc-itybZL ihLHML" data-pf-type="Text">Step 8: Add the cushions</span></p><div class="pf-536ba49f sc-gzOgki htgaJh" data-pf-type="Custom.HTML"><iframe src="https://player.vimeo.com/video/331313969" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","events":{},"pageflyVersion":"2.1.0"};
				</script><script src="https://cdn.pagefly.io/pagefly/2.1.0/core/helper.js?t=2019-04-23-14" defer></script>