      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/bondi/tb/col_bondi_tb_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/bondi/tb/col_bondi_tb_m.jpg","altText":"modular custom sofas ","destination":null,"titleCopy":"The Bondi Collection","titleCopyColor":"#202020","bodyCopy":"A truly modular sofa collection made-to-order sustainably, quickly custom-built from scratch here in the U.S.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sectional-modular-ico.png","text":"MODULAR"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"The Infinitely Modular Collection","bodyCopy":"Choose your desired number of seats and customize to make it your own."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Modular Bondi 6-Seater Sectional with 2 Ottomans","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bv12ak1010-modular-bondi-6-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_6-seater-2-ottoman.jpg"},{"titleCopy":"Modular Bondi 6-Seater Sectional with Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bv11ak1010-modular-bondi-6-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_6-seater-ottoman.jpg"},{"titleCopy":"Modular Bondi 6-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bv10ak1010-modular-bondi-6-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_6-seater.jpg"},{"titleCopy":"Modular Bondi 5-Seater Sectional with Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bu11ak1010-modular-bondi-5-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_5-seater-ottoman.jpg"},{"titleCopy":"Modular Bondi 5-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bu10ak1010-modular-bondi-5-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_5-seater.jpg"},{"titleCopy":"Modular Bondi 4-Seater L-Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bt13ak1010-modular-bondi-4-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_4-seater-l.jpg"},{"titleCopy":"Modular Bondi 4-Seater U-Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bt12ak1010-modular-bondi-4-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_4-seater-2-ottoman.jpg"},{"titleCopy":"Modular Bondi 4-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bt11ak1010-modular-bondi-4-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_4-seater-ottoman.jpg"},{"titleCopy":"Modular Bondi 4-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bt10ak1010-modular-bondi-4-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_4-seater.jpg"},{"titleCopy":"Modular Bondi 3-Seater with 3 Ottomans","linkCopy":null,"destination":"https://insideweather.com/products/bs13ak1010-modular-bondi-3-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_3-seater-ottomans.jpg"},{"titleCopy":"Modular Bondi 3-Seater U-Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bs12ak1010-modular-bondi-3-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_3-seater-2-ottoman.jpg"},{"titleCopy":"Modular Bondi 3-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bs11ak1010-modular-bondi-3-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_3-seater-ottoman.jpg"},{"titleCopy":"Modular Bondi 3-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bs10ak1010-modular-bondi-3-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_3-seater.jpg"},{"titleCopy":"Modular Bondi 2-Seater Sectional","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq11ak1010-modular-bondi-2-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_2-seater-ottoman.jpg"},{"titleCopy":"Modular Bondi 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bq10ak1010-modular-bondi-2-seater-sofa-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_2-seater.jpg"},{"titleCopy":"Modular Bondi Chaise Armchair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bp11ak1010-modular-bondi-armchair-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_armchair-ottoman.jpg"},{"titleCopy":"Modular Bondi Armchair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bp10ak1010-modular-bondi-armchair-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_armchair.jpg"},{"titleCopy":"Modular Bondi Ottoman","linkCopy":"Customize Now","destination":"https://insideweather.com/products/bnak1010-modular-bondi-ottoman-in-mascarpone","image":"https://cdn.insideweather.com/collections/bondi/grid/col_bondi_cat-grids_v1_ottoman.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Modular \u0026 Customizable Sofa Lineup on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways you can modify the Bondi Collection to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#E1D7CD","image":"https://cdn.insideweather.com/collections/bondi/customize/col_bondi_customize_d_01-min.png","altText":"custom modular sectionals","mobileImages":[{"image":"https://cdn.insideweather.com/collections/bondi/customize/col_bondi_customize_m_01-min.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes the Bondi Collection unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Modular","bodyCopy":"This custom seating collection is made to move and adapt with your ever-changing lifestyle. Every seat block is alike and can be used in the middle of your sofa, on the end, as a corner piece, or even as a standalone ottoman! Likewise, every slatted solid wood panel is identical and can be used as either an “arm” or a “back.” We equip you with everything you need to be able to change your setup at anytime. We believe that your furniture should be designed for you from the start but also able to adapt with you as you live.","image":"https://cdn.insideweather.com/collections/bondi/details/modular_d.mp4","mobileImage":"https://cdn.insideweather.com/collections/bondi/details/modular_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Behind the Design","bodyCopy":"Introducing our most spacious, deepest, softest custom seating collection ever. The Bondi Collection features cloud-like comfort, in a modern silhouette that is 100% modular. Designed with sustainability top of mind, its solid ash hardwood frame is FSC Certified and our signature down alternative is 100% recycled. For reference, one sofa = roughly 200 recycled plastic bottles. Every cushion \u0026 pillow features easy-clean removable covers as well as nylon casings to offer a water-resistant shield and maintain Bondi’s cloud-like form over time. Lean back. Sink in. Sink deeper. Get on cloud Bondi.","image":"https://cdn.insideweather.com/collections/bondi/details/collection_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/bondi/details/collection_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Upholsteries Galore","bodyCopy":"The mecca of fabric libraries if you will. Select from 100+ choices that span the rainbow, all of which are hand-stitched here in California. We're talkin' stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that's truly tailored to comfort your needs (\u0026 potential mischief). Your match is here, you just have to find it!","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const supportBanner16 = {"titleCopy":"Custom Couch Comfort","bodyCopy":"We believe that one size does not fit all which is why we've decided to hand over all comfort control to you—the actual sofa snuggler. Choose between various layers of domestically sourced insert options to find the custom formula that's truly right for your seat cushion.","backgroundColor":"#f2f2f2","image":"https://cdn.insideweather.com/collections/bondi/comfort/col_bondi_comfort_d_v1.png","altText":null,"mobileImages":[{"image":"https://cdn.insideweather.com/collections/bondi/comfort/col_bondi_comfort_m_v1.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner16'>
    </support-banner>


    <script>
      const largeColumnContent17 = {"backgroundColor":"#f2f2f2","titleCopy":null,"bodyCopy":null,"columns":[{"caption":"OPTION #1","titleCopy":"CLASSIC PLUSH BLEND","bodyCopy":"High resilience medium and low density foams, wrapped with a plush layer of our signature, 100% recycled down alternative. The perfect balance of sink-in comfort, support, and a little bit of bounce.","image":null,"mobileImage":null,"altText":null,"supportText":"Sink-In Comfort | Dense Yet Cozy","supportImage":"https://cdn.insideweather.com/collections/bondi/comfort/col_bondi_comfor-01_d_v1.png","supportAltText":null},{"caption":"OPTION #2","titleCopy":"DELUXE MEMORY FOAM BLEND","bodyCopy":"A smooth, transitional layer of temperature-regulating memory foam sits atop medium density, high resiliency foam and is wrapped in a lush layer of our sustainable, recycled down alternative.","image":null,"mobileImage":null,"altText":null,"supportText":"Cloud-like Lounge | Feathery Contouring Layers","supportImage":"https://cdn.insideweather.com/collections/bondi/comfort/col_bondi_comfor-02_d_v1.png","supportAltText":null}]};
    </script>
    <two-column-text-image v-bind='largeColumnContent17'>
    </two-column-text-image>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const leftRightContent19 = {"titleCopy":"Tailored to You","bodyCopy":"Everything we do here at Inside Weather is custom and Bondi takes that a step further by letting you take all of the customization options home with you so that your product can adapt to your lifestyle over time. If you wish to reconfigure your setup in a week, a month, or a year, you have all of the tools ready at your disposal. Well, you’re sitting on them.","image":"https://cdn.insideweather.com/collections/bondi/details/tailored/tailored_d.mp4","mobileImage":"https://cdn.insideweather.com/collections/bondi/details/tailored/tailored_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent19'></image-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const leftRightContent21 = {"titleCopy":"Life-Proof","bodyCopy":"The Bondi Collection is designed to withstand whatever life throws at it. The fabric covers on all cushions and pillows are removable featuring a concealed zipper for easy, practical removal \u0026 cleaning. Additionally, every seat block \u0026 pillow is enclosed in a water-resistant nylon casing for the ultimate protection against, well, you. The nylon casing is also designed to maintain Bondi’s posture and prevents some of the natural cushion wear that can occur over time with cloud-like seating designs.","image":"https://cdn.insideweather.com/collections/bondi/details/lifeproof_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/bondi/details/lifeproof_m.jpg","altText":"custom couches and sofas","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent21'></image-text>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const leftRightContent23 = {"titleCopy":"The Most Sustainable Furniture on the Internet","bodyCopy":"Every material used to make Bondi has been selected with intention. The kiln-dried solid ash wood frame is FSC Certified which means that it comes from forests that are considered to be responsibly managed and provide environmental, social and economic benefits. The cushy, cloud-like material used in all cushions and pillows is a 100% recycled down alternative and one sofa = roughly 200 recycled plastic bottles. The disposable bottles that we upcycle are sterilized in hot water, ground into tiny flakes, re-melted and extruded to make a polyester fiber. This material helps keep plastics out of our landfills \u0026 oceans and helps fill your home with comfortable, sustainable products as we believe both Mother Earth and your comfort are uncompromisable. Additionally, all foam components are domestically sourced which further reduces Bondi’s carbon footprint. Oh yeah, and did we mention that for every order placed with us one tree is planted via the National Forest Foundation?","image":"https://cdn.insideweather.com/collections/bondi/details/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/bondi/details/sustainable_m.jpg","altText":"custom couches and sofas","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent23'></image-text>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>


    <script>
      const smallColumnContent25 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent25'>
    </multi-column-text-image>


    <script>
      const spacer26 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer26'>
      </custom-spacer>


    <script>
      const titleContent27 = {"titleCopy":"Get Inspired","bodyCopy":"Kick your feet up \u0026 visualize the possibilities."};
    </script>
    <title-text v-bind='titleContent27'></title-text>


    <script>
      const spacer28 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer28'>
      </custom-spacer>


    <script>
      const lifestyleGrid29 = {"images":[{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%205-SEATER/frames/32/BONDI%205-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-%20ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bu11ak1010-modular-bondi-5-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 5-Seater Sofa in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/4/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:MONACO%20MONDO\u0026feature=BACK:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq12bebe-18-x-18-accent-pillow-with-insert","titleCopy":"18\" x 18\" Accent Pillow in Oyster","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%203-SEATER/frames/2/BONDI%203-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bs11ak1010-modular-bondi-3-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 3-Seater Sofa in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/5/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:VENICE%20AMBER\u0026feature=BACK:VENICE%20AMBER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq12azaz-18-x-18-accent-pillow-with-insert","titleCopy":"18\" x 18\" Accent Pillow in Cognac","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%205-SEATER/frames/31/BONDI%205-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-%20ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bu11ak1010-modular-bondi-5-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 5-Seater Sofa in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%206-SEATER/frames/31/BONDI%206-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bv11ak1010-modular-bondi-6-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 6-Seater Sofa in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%202-SEATER/frames/2/BONDI%202-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bq10ak1010-modular-bondi-2-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 2-Seater Sofa in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/5/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:VENICE%20AMBER\u0026feature=BACK:VENICE%20AMBER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq12azaz-18-x-18-accent-pillow-with-insert","titleCopy":"18\" x 18\" Accent Pillow in Cognac","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%203-SEATER/frames/2/BONDI%203-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bs11bm1110-modular-bondi-3-seater-sofa-in-moss","titleCopy":"Modular Bondi 3-Seater Sofa in Moss","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/2/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd111010jq-espresso-sarno-dining-chair-in-moss","titleCopy":"Espresso Sarno Dining Chair in Moss","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/VIENNA%20LARGE%20DINING%20TABLE/frames/3/VIENNA%20LARGE%20DINING%20TABLE.JPG?background=FFFFFF\u0026feature=SHAPES:RECTANGLE\u0026feature=LENGTH:4\u0026feature=WIDTH:46\u0026feature=SURFACE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=LEG%20STYLE:TAPERED\u0026feature=POWER%20MODULE:NO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/fvi2012111110-rectangle-vienna-dining-table-in-espresso","titleCopy":"Rectangle Vienna Dining Table in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%205-SEATER/frames/31/BONDI%205-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-%20ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bu11ak1010-modular-bondi-5-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 5-Seater Sofa in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/4/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:MONACO%20MONDO\u0026feature=BACK:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq12bebe-18-x-18-accent-pillow-with-insert","titleCopy":"18\" x 18\" Accent Pillow in Oyster","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%206-SEATER/frames/30/BONDI%206-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bv10an1010-modular-bondi-6-seater-sofa-in-cloud","titleCopy":"Modular Bondi 6-Seater Sofa in Cloud","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/4/CNV_TBLSID.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ls10aa10-round-classic-via-side-table-in-latte","titleCopy":"Round Classic Via Side Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%205-SEATER/frames/31/BONDI%205-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-%20ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026feature=WOOD%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bu11ak1010-modular-bondi-5-seater-sofa-in-mascarpone","titleCopy":"Modular Bondi 5-Seater Sofa in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/4/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:MONACO%20MONDO\u0026feature=BACK:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq12bebe-18-x-18-accent-pillow-with-insert","titleCopy":"18\" x 18\" Accent Pillow in Oyster","price":null}]},{"image":"https://cdn.insideweather.com/collections/bondi/lifestyles/col_bondi_lifestyles_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%201-SEATER/frames/3/BONDI%201-SEATER.JPG?background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:NO%20OTTOMAN\u0026feature=UPHOLSTERY:VENICE%20AMBER\u0026feature=WOOD%20FINISH:BLACK\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bp10az1210-modular-bondi-armchair-in-cognac","titleCopy":"Modular Bondi Armchair in Cognac","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid29'>
    </lifestyle-grid>


    <script>
      const spacer30 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer30'>
      </custom-spacer>

      </div>
