      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/storage/sideboards/tb/cat_sideboards_tb_d_v2.jpg","mobileImage":"https://cdn.insideweather.com/cat/storage/sideboards/tb/cat_sideboards_tb_m_v2.jpg","altText":"customizable modern sideboards","destination":null,"titleCopy":"Custom Sideboards","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, custom-built here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE VOSS SIDEBOARD","bodyCopy":"The Voss Sideboard makes itself at home in any room, whether that’s by the dining table, or in the dressing quarters where you keep your vêtements. Whatever you choose, this one comes exactly how you like it. Our FSC Certified, 100% Baltic Birch wood is precision milled in our US manufacturing facility to achieve a sophisticated look. If your house had a mouth, it’d be watering.","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_bnr_v3.jpg","altText":null,"buttonText":"SHOP ORIGINAL CUSTOM STORAGE","buttonUrl":"https://insideweather.com/pages/original-custom-storage-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Espresso Wood Grain","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb11ab1217-espresso-voss-sideboard-in-espresso-wood","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_01.jpg"},{"titleCopy":"Latte Wood Grain","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb10aa1114-latte-voss-sideboard-in-latte-wood","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_02.jpg"},{"titleCopy":"Custom Colors","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb10ac1114-latte-voss-sideboard-in-white","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_03.jpg"},{"titleCopy":"Custom Graphics","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb10cf1114-latte-voss-sideboard-in-white-marble","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"THE ELM SIDEBOARD","bodyCopy":"The Elm Collection is a contemporary storage collection of organic modern design. With a variety of heights and widths to choose from, customize this cabinet to your liking and design it with custom wood, metal and glass finishes. Each Elm offers an optional smart lighting feature which you can control and preset via multiple devices like a cellphone or your Alexa. Light up your storage game.","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_02_bnr_v3.jpg","altText":null,"buttonText":"SHOP THE ELM COLLECTION","buttonUrl":"https://insideweather.com/pages/elm-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"31\" Tall 3-Door Elm Sideboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em14101010111010-31-tall-3-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_02_grid_v3_01-2.jpg"},{"titleCopy":"45\" Tall 3-Door Elm Sideboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em13101110111010-45-tall-3-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_02_grid_v3_02-2.jpg"},{"titleCopy":"31\" Tall 4-Door Elm Sideboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em11111110101010-31-tall-4-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_02_grid_v3_03-2.jpg"},{"titleCopy":"45\" Tall 4-Door Elm Sideboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em10111010101010-45-tall-4-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_02_grid_v3_04-2.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const titleContent7 = {"titleCopy":"Details","bodyCopy":"Discover what makes our sideboards unique."};
    </script>
    <title-text v-bind='titleContent7'></title-text>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const leftRightContent9 = {"titleCopy":"Customize Your Sideboard Style","bodyCopy":"Get the look you want. Whether you decide to keep it classic with a natural wood surface, throw some color on it, or show your maximalist side with one of our original custom patterns, this sideboard is 100% you.","image":"https://cdn.insideweather.com/cat/storage/details/customize/custom-sideboard_v2_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/storage/details/customize/custom-sideboard_v2_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent9'></image-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Materials You Want","bodyCopy":"Your Sideboard is constructed from 100% FSC-certified birchwood, so you know it’s sustainable and dependable. Woods and metals for the bases and handles are made from solid ash wood and high-strength, powder-coated stainless steel. Don’t worry, we’ll never skip the details.","image":"https://cdn.insideweather.com/cat/storage/details/materials/materials_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/storage/details/materials/materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Versatile Function","bodyCopy":"This versatile buffet table is a star no matter where you put it, whether that’s the dining room, living room, in your workspace close to your \u003ca href=\"https://insideweather.com/products/jm1110fi-latte-jorn-media-desk\u003emedia desk\u003c/a\u003e, or sleeping quarters. Anywhere you got stuff to store and stuff to display (like all those books you say you’re going to read) the modern Sideboard has your back.","image":"https://cdn.insideweather.com/cat/storage/details/versatile/versatile-sideboard_v2_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/storage/details/versatile/versatile-sideboard_v2_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Sustainable Craftsmanship","bodyCopy":"The materials used to make our sideboards have been selected with intention. Our signature baltic birch is FSC certified \u0026 topped with an eco-solvent finish. We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/storage/details/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/storage/details/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const smallColumnContent18 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent18'>
    </multi-column-text-image>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const titleContent20 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent20'></title-text>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const lifestyleGrid22 = {"images":[{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:BEVELED\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1028B\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10ek1415-latte-voss-sideboard-in-muted-melange","titleCopy":"Latte Voss Sideboard in Muted Melange","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/5/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:MILO%20(FABRIC)\u0026feature=UPHOLSTERY:ROYALE%20MARIGOLD\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf13cz101210131010-custom-milo-sofa-in-marigold","titleCopy":"Custom Milo Sofa in Marigold","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/1/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc10aa10-round-classic-via-coffee-table-in-latte","titleCopy":"Round Classic Via Coffee Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20SILVER\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20NORDIC%20BLUE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10bj1014-latte-voss-sideboard-in-nordic-blue","titleCopy":"Latte Voss Sideboard in Nordic Blue","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:FLARE\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLE%20TYPES:CARVED\u0026feature=HANDLE%20FINISH:LATTE\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1140\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10lm1113-latte-voss-sideboard-in-passionfruit-paradise","titleCopy":"Latte Voss Sideboard in Passionfruit Paradise","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/5/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20DAFFODIL\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:BUTTON%201\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf17ck101211131010-custom-issa-sofa-in-daffodil","titleCopy":"Custom Issa Sofa in Daffodil","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20SILVER\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20NORDIC%20BLUE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10bj1014-latte-voss-sideboard-in-nordic-blue","titleCopy":"Latte Voss Sideboard in Nordic Blue","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/2/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11aa11-rectangle-classic-via-dining-table-in-latte","titleCopy":"Rectangle Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20CLOUD\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10as12-nola-side-chair-in-cloud","titleCopy":"Nola Side Chair in Cloud","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/3/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20CARBON\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1018E\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb11dj1321-espresso-voss-sideboard-in-rosy-geometry","titleCopy":"Espresso Voss Sideboard in Rosy Geometry","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/3/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20BRASS\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20LIGHT%20WARM%20GRAY\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb11bw1424-espresso-voss-sideboard-in-light-warm-gray","titleCopy":"Espresso Voss Sideboard in Light Warm Gray","price":null}]},{"image":"https://cdn.insideweather.com/cat/storage/sideboards/lifestyles/cat_sideboards_lg_v2_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010111010-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:RETRO%20MINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110cs-latte-sarno-dining-chair-in-retro-mint","titleCopy":"Latte Sarno Dining Chair in Retro Mint","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid22'>
    </lifestyle-grid>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const titleContent24 = {"titleCopy":"An Easy Way To Elevate Any Space","bodyCopy":"Whether you’re looking to replace an existing sideboard piece or are finally ready to upgrade your dining room, Inside Weather’s sideboards make a great addition to any space. With ample storage and adjustable shelving for linen, tableware, and other dining essentials, our sideboards, \u003ca href=\"https://insideweather.com/pages/side-tables\"\u003eside tables\u003c/a\u003e, and buffet tables make for a great canvas to customize. \u003cbr /\u003e\u003cbr /\u003ePick the silhouette, wood finish, and hardware to make a sideboard that’s more than the standard dining room storage space to compliment your \u003ca href=\"https://insideweather.com/pages/dining-chairs\"\u003edining chairs\u003c/a\u003e and make the space your own. Customize your piece to the look and feel of your dining room while providing ample room and shelving - your dishes will love riding in style. Whether you are adding a sideboard or \u003ca href=\"https://insideweather.com/pages/credenzas\"\u003ecredenza\u003c/a\u003e, your living space deserves furniture that’s as stylish and unique as you. Start customizing your sideboard today with Inside Weather."};
    </script>
    <title-text v-bind='titleContent24'></title-text>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>

      </div>
