      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/ada/tb/col_ada_v1_tb_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/ada/tb/col_ada_v1_tb_m.jpg","altText":"custom chairs","destination":null,"titleCopy":"The Ada Collection","titleCopyColor":"#ffffff","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#ffffff"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"The Custom Ada Chair Collection","bodyCopy":"Choose your chair style, customize the wood finish and choose from 400+ upholstery options to make it yours."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Ada Lounge Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ad1010jq12-latte-ada-lounge-chair-in-moss","image":"https://cdn.insideweather.com/collections/ada/grid/col_ada_v1_grid_01.jpg"},{"titleCopy":"Ada Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ai11lx10-espresso-ada-dining-chair-in-terrazzo-speckle","image":"https://cdn.insideweather.com/collections/ada/grid/col_ada_v1_grid_02.jpg"},{"titleCopy":"Ada Counter Stool","linkCopy":"Customize Now","destination":"https://insideweather.com/products/an10bt10-latte-ada-counter-stool-in-butterscotch","image":"https://cdn.insideweather.com/collections/ada/grid/col_ada_v1_grid_03.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const supportBanner7 = {"titleCopy":"Iconic Custom Chairs","bodyCopy":"When we say custom chairs \u0026 stools, we mean it. Explore all the ways you can modify the Ada Collection to make it truly yours. Each chair is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#F0ECE6","image":"https://cdn.insideweather.com/collections/ada/customize/col_ada_v1_customize-bnr_d.png","altText":"custom chairs","mobileImages":[{"image":"https://cdn.insideweather.com/collections/ada/customize/col_ada_v1_customize-bnr_m.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner7'>
    </support-banner>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const titleContent9 = {"titleCopy":"Details","bodyCopy":"Discover what makes the Ada Collection unique."};
    </script>
    <title-text v-bind='titleContent9'></title-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Behind the Design","bodyCopy":"What’s ultra sleek, minimal, and uber-custom? The custom Ada Collection is one for the books. Paired with a chic, powder coated steel frame, an FSC-certified, solid wood ash arm and back rest, plus multiple pillow options, Ada is the perfect place to exhale. Its striking silhouette is curved in all the right places for maximum comfort capacity. For the sake of your apartment, each foot features non-slip, non-scratch grips to protect your floors. Yup, Ada’s got it all.","image":"https://cdn.insideweather.com/collections/ada/details/design_d.mp4","mobileImage":"https://cdn.insideweather.com/collections/ada/details/design_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Style \u0026 Comfort","bodyCopy":"Lounge or dine in style and comfort. The seat cushions on our Ada chairs consist of a domestically sourced, medium density, high resilience foam topped with a plush layer of our signature, 100% recycled down alternative topper. This perfected combination provides the perfect balance of support, squish and a little bit of bounce. The back pillow on our Ada Lounge Chairs is stuffed full of our signature, recycled down which upcycles hundreds of plastic water bottles.","image":"https://cdn.insideweather.com/collections/ada/details/comfort_d.mp4","mobileImage":"https://cdn.insideweather.com/collections/ada/details/comfort_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Upholsteries Galore","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"Sustainably Made","bodyCopy":"The materials used across this custom chair collection have been selected with intention. Each kiln-dried, solid ash wood Sarno frame is FSC-certified and topped with an eco-solvent finish. Look out for certifications across our custom upholstery options that meet Oeko-Tex \u0026 Bluesign standards. We recycle any excess from each material consumed, in fact certain designs are even intended to absorb such ’’waste.’’ And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/collections/ada/details/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/ada/details/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const smallColumnContent19 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. ","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent19'>
    </multi-column-text-image>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const titleContent21 = {"titleCopy":"Get Inspired","bodyCopy":null};
    </script>
    <title-text v-bind='titleContent21'></title-text>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const lifestyleGrid23 = {"images":[{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20DINING%20CHAIR/frames/1/ADA%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ai10db10-latte-ada-dining-chair-in-rust","titleCopy":"Latte Ada Dining Chair in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa11-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:ROUND\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji11-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_FLW_HEX/frames/2/CNV_FLW_HEX.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=TOP%20SHELF:DS1023A\u0026feature=BOTTOM%20SHELF:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hs10fsfy-latte-hanna-side-table","titleCopy":"Latte Hanna Side Table","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20DINING%20CHAIR/frames/1/ADA%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ai10db10-latte-ada-dining-chair-in-rust","titleCopy":"Latte Ada Dining Chair in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20DINING%20CHAIR/frames/1/ADA%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ai10db10-latte-ada-dining-chair-in-rust","titleCopy":"Latte Ada Dining Chair in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/4/CNV_TBLSID.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:DS1032A\u0026feature=EDGE%20FINISH:DARK\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/us10lg1111-round-custom-via-side-table-in-white-marble","titleCopy":"Round Custom Via Side Table in White Marble","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:SQUARE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji12-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20DINING%20CHAIR/frames/1/ADA%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ai10db10-latte-ada-dining-chair-in-rust","titleCopy":"Latte Ada Dining Chair in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa11-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SFT/frames/1/ANA_SFT.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026feature=CONFIGURATION:CLASSIC_FULL\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:PLUSH\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:FLARE\u0026feature=BASE%20FINISH:BLACK\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/se17dn101110221010-custom-issa-sofette-in-alabaster","titleCopy":"Custom Issa Sofette in Alabaster","price":null}]},{"image":"https://cdn.insideweather.com/collections/ada/lifestyles/col_ada_v1_lg_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid23'>
    </lifestyle-grid>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>

      </div>
