      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/shelving/tb/cat_shelving_tb_d_v4.jpg","mobileImage":"https://cdn.insideweather.com/cat/shelving/tb/cat_shelving_tb_m_v4.jpg","altText":"custom shelving","destination":null,"titleCopy":"Modern Bookcases \u0026 Shelving","titleCopyColor":"#ffffff","bodyCopy":"Our custom shelving is made-to-order sustainably, custom-built here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#ffffff"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/collections/alto/vprop-sm/shelving_modular-ico_v2.png","text":"MODULAR"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE ALTO SHELVING COLLECTION","bodyCopy":"This more-than-a-bookcase collection is the shelf that keeps on giving. Hang it as a floating shelf on your wall. Stack a few units up tall. Brace them back to back. Or make it your new media console with bookshelves on either side. We make it simple for you to not only customize your design before purchase, but this modular design allows you to configure your product in a variety of different ways once it arrives in your home! The custom Alto Shelf comes in three beautiful wood finishes: latte, espresso and black. Choose between hundreds of different accent panel designs to find the color and pattern that perfectly matches your home decor.","image":"https://cdn.insideweather.com/cat/shelving/grid/cat_shelving_grid-bnr_alto.jpg","altText":"modular bookcases and shelving","buttonText":"SHOP THE ALTO COLLECTION","buttonUrl":"https://insideweather.com/pages/alto-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"1 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1010ab-latte-alto-shelf-1-unit","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_01.jpg"},{"titleCopy":"2 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1110ab-latte-alto-shelf-2-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_02.jpg"},{"titleCopy":"3 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1210ab-latte-alto-shelf-3-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_03.jpg"},{"titleCopy":"4 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1310ab-latte-alto-shelf-4-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_04.jpg"},{"titleCopy":"5 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1410ab-latte-alto-shelf-5-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_05.jpg"},{"titleCopy":"6 Unit Alto Shelf","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aj1510ab-latte-alto-shelf-6-units","image":"https://cdn.insideweather.com/collections/alto/grid/col_alto_grid_06.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"THE ATLAS SHELVING COLLECTION","bodyCopy":"Modular, adjustable and transformable shelving... yep, you read that right. From side table to media console to bookshelf, the Atlas Collection can be just about anything you need it to be. This modern yet functional beauty might just change your outlook on organization. Its adjustable shelves offer a product that can adapt to your storage needs over time. Your life (and your belongings) are always evolving so we believe your furniture should always be there to support that journey.","image":"https://cdn.insideweather.com/cat-top-level/storage/grid/top-cat_storage_col_bnrs_atlas.jpg","altText":"modular bookcases and shelving","buttonText":"SHOP THE ATLAS COLLECTION","buttonUrl":"https://insideweather.com/pages/atlas-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"38\" Tall x 18\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aaaa1010-20-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:3%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"38\" Tall x 18\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ataa101110-38-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"20\" Tall x 47\" Wide Hybrid","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aaaa1410-20-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/1/ATLAS%2020.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:3%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"38\" Tall x 47\" Wide Split","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ataa131110-38-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/1/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"58\" Tall x 18\" Wide","linkCopy":"Customize Now","destination":"https://insideweather.com/products/afaa101110-58-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:5%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"58\" Tall x 47\" Wide Classic","linkCopy":"Customize Now","destination":"https://insideweather.com/products/afaa121210-58-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/1/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"78\" Tall x 47\" Wide Split","linkCopy":"Customize Now","destination":"https://insideweather.com/products/asaa131110-78-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"},{"titleCopy":"78\" Tall x 47\" Wide Hybrid","linkCopy":"Customize Now","destination":"https://insideweather.com/products/asaa141210-78-latte-atlas-shelf","image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/1/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:7%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const titleContent7 = {"titleCopy":"Details","bodyCopy":"Discover what makes our shelving unique."};
    </script>
    <title-text v-bind='titleContent7'></title-text>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const leftRightContent9 = {"titleCopy":"Modular \u0026 Adjustable","bodyCopy":"Each Alto module has endless possibilities—removable legs, optional wall mounts and the ability to connect multiple side by side or even back to back with our invisible hardware. As for Atlas, each interior shelf is adjustable so you can place it at whichever height you please and the small shelves on the Hybrid can be placed on either side! So wherever life leads you, your shelf can follow.","image":"https://cdn.insideweather.com/cat/shelving/details/modular/modular_v2_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/shelving/details/modular/modular_v2_d.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent9'></image-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Versatile Shelf Storage","bodyCopy":"From side table to media console to bookshelf, our shelving collections can be just about anything you need them to be to fulfill your storage space needs. Use these modern yet functional beauties as both a practical storage piece and a unique display unit for your treasured trinkets.","image":"https://cdn.insideweather.com/cat/shelving/details/versatile/versatile_v2_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/shelving/details/versatile/versatile_v2_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Simple Setup","bodyCopy":"We provide all the tools and simple instructions for easy assembly and installation. If you decide to change the configuration of the shelves in the future, no problem! These modular shelves are designed to be easily adjusted to suit your needs as your life (and the size of your apartment) evolves.","image":"https://cdn.insideweather.com/pdp/details/alto/setup/setup_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/alto/setup/setup_m.mp4\t","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Material Craftsmanship","bodyCopy":"The materials used to make these customizable shelves have been designed with intention. Each kiln-dried, solid ash and baltic birch wood frame is FSC-certified and topped with an eco-solvent finish. We recycle any excess from each material consumed. And as always, one tree is planted via the National Forest Foundation for every order placed with us.","image":"https://cdn.insideweather.com/pdp/details/alto/craft/craft_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/alto/craft/craft_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const smallColumnContent17 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our modern bookcases and shelves are made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied with your furnishings? We'll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent17'>
    </multi-column-text-image>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const titleContent19 = {"titleCopy":"Get Inspired","bodyCopy":"How will you configure your Atlas?"};
    </script>
    <title-text v-bind='titleContent19'></title-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const lifestyleGrid21 = {"images":[{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_01_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%201\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1010ab-latte-alto-shelf-1-unit","titleCopy":"Latte Alto Shelf - 1 Unit","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11aa11-rectangle-classic-via-dining-table-in-latte","titleCopy":"Rectangle Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DAPPER-SNOW\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010ph-latte-otto-dining-chair-in-snow","titleCopy":"Latte Otto Dining Chair in Snow","price":null},{"image":"https://content-v2.cylindo.com/api/v2/4931/products/RUG%20OVERHEAD/frames/1/RUG%20OVERHEAD.jpg?feature=SIZE:5X7\u0026feature=RUG:DS1018A\u0026background=FFFFFF\u0026encoding=jpg\u0026smartCrop=false\u0026size=200","altText":null,"destination":"https://insideweather.com/products/mm12di-5-x-7-area-rug-in-pattern-play","titleCopy":"5' x 7' Area Rug in Pattern Play","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_02_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa131110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/3/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/afaa121210-58-latte-atlas-shelf","titleCopy":"58\" Latte Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/3/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20MIDNIGHT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/el10bn-espresso-edgar-lounge-chair-in-nightfall","titleCopy":"Espresso Edgar Lounge Chair in Nightfall","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/NELS_OTT/frames/5/NELS_OTT.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20MIDNIGHT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/west-ottoman-base?attributes=finish%3Aespresso%2Ccolor_name%3Anightfall","titleCopy":"Espresso West Ottoman in Nightfall","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_03_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%206\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1510ab-latte-alto-shelf-6-units","titleCopy":"Latte Alto Shelf - 6 Units","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_04_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa141110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_05_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/2/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47%20SPLIT%20COMBO\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ataa141110-38-latte-atlas-shelf","titleCopy":"38\" Latte Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2078/frames/3/ATLAS%2078.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:6%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/asaa121110-78-latte-atlas-shelf","titleCopy":"78\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_02_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%206\u0026feature=WOODFINISH:LIGHT%20ESPRESSO\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1511ab-espresso-alto-shelf-6-units","titleCopy":"Espresso Alto Shelf - 6 Units","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_04_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%203\u0026feature=WOODFINISH:LATTE\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1210ab-latte-alto-shelf-3-units","titleCopy":"Latte Alto Shelf - 3 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DAPPER-SNOW\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010ph-latte-otto-dining-chair-in-snow","titleCopy":"Latte Otto Dining Chair in Snow","price":null},{"image":"https://content-v2.cylindo.com/api/v2/4931/products/RUG%20OVERHEAD/frames/1/RUG%20OVERHEAD.jpg?feature=SIZE:5X7\u0026feature=RUG:DS1018A\u0026background=FFFFFF\u0026encoding=jpg\u0026smartCrop=false\u0026size=200","altText":null,"destination":"https://insideweather.com/products/mm12di-5-x-7-area-rug-in-pattern-play","titleCopy":"5' x 7' Area Rug in Pattern Play","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_08_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2058/frames/2/ATLAS%2058.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:18\u0026feature=DENSITY:5%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/afaa101110-58-latte-atlas-shelf","titleCopy":"58\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/shelving/lifestyles/cat_shelving_lg_09_v2.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2038/frames/3/ATLAS%2038.JPG?background=FFFFFF\u0026feature=FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=WIDTH:47%20SPLIT\u0026feature=DENSITY:4%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/atab131110-38-espresso-atlas-shelf","titleCopy":"38\" Espresso Atlas Shelf","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/HAYES%20STORAGE%20TABLE/frames/3/HAYES%20STORAGE%20TABLE.JPG?background=FFFFFF\u0026feature=TABLE%20TOP%20SHAPE:52%20ALMOND\u0026feature=PLYWOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=LID:LIGHT%20ESPRESSO\u0026feature=STORAGE:OXFORD%20WEAVE%20PEBBLE\u0026feature=LEG%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ha1510aqaj10-almond-hayes-coffee-table-in-latte?attributes=table_shape%3Aalmond-52%2Cfinish%3Aespresso%2Ccolor_name_lid%3Aespresso%2Ccolor_name%3Apebble%2Cbase_style%3Acarbon","titleCopy":"Almond Hayes Coffee Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/2/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:BLACK\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:OXFORD%20WEAVE%20PEBBLE\u0026feature=ACCENT%20PILLOW%20SHAPE:ROUND\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1210hz11-black-ada-lounge-chair-in-pebble","titleCopy":"Black Ada Lounge Chair in Pebble","price":null}]},{"image":"https://cdn.insideweather.com/collections/alto/lifestyles/col_alto_lg_07_v1.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ALTO/frames/1/ALTO.JPG?background=FFFFFF\u0026feature=CONFIGURATION:UNIT%203\u0026feature=WOODFINISH:LIGHT%20ESPRESSO\u0026feature=ACCENT%20PANEL%20DESIGN:NO%20PRINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aj1211ab-espresso-alto-shelf-3-units","titleCopy":"Espresso Alto Shelf - 3 Units","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/BONDI%203-SEATER/frames/1/BONDI%203-SEATER.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=OTTOMAN%20ADD-ON:1%20OTTOMAN\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bs11bm1110-modular-bondi-3-seater-sofa-in-moss","titleCopy":"Modular Bondi 3-Seater Sofa in Moss","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid21'>
    </lifestyle-grid>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>

      </div>
