      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/dining-chairs/tb/cat_dining-chairs_tb_v3_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/dining-chairs/tb/cat_dining-chairs_tb_v3_m.jpg","altText":"custom dining chairs ","destination":null,"titleCopy":"Custom Dining Chairs","titleCopyColor":"#202020","bodyCopy":"Customize the height, shape, finish and then choose between hundreds of colors \u0026 patterns to make it yours!","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE SARNO COLLECTION","bodyCopy":"This modern furniture collection takes classic, timeless style and puts it in your hands. We believe that any chair purchased for your home shouldn’t just be well designed, sustainably made, and reasonably priced but should be perfectly suited for one’s home and lifestyle with no exception. So we created a solid wood custom dining collection that transcends modern, mid-century, scandinavian, traditional and contemporary styles. A collection born to offer a framework for beautiful, high quality design and to enable the customer with the tools they need to create a dining chair that’s truly suited to their dining style.","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_01_bnr.jpg","altText":null,"buttonText":"SHOP THE SARNO COLLECTION","buttonUrl":"https://insideweather.com/pages/sarno-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Sarno Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/rd101010jx-latte-sarno-dining-chair-in-terracotta","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:MERRIT%20HACIENDA\u0026size=400"},{"titleCopy":"Sarno Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/rd111111jf-espresso-sarno-dining-chair-in-honey","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:VENICE%20MARIGOLD\u0026size=400"},{"titleCopy":"Sarno Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/rd101210jl-latte-sarno-dining-chair-in-tuscan-green","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VENICE%20OLIVE\u0026size=400"},{"titleCopy":"Sarno Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/rd111011kn-espresso-sarno-dining-chair-in-alabaster","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"THE ORIGINAL CUSTOM DINING CHAIRS","bodyCopy":"We designed these dining chairs to be the envy of your friends. It’s going to be hard to steal that look when you designed e-v-e-r-y corner of this beaut. Custom, steam bent baltic birch seat \u0026 back panels are joined by powder coated stainless steel spines, designed to mold nicely to your resting figure.","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_02_bnr.jpg","altText":null,"buttonText":"SHOP THE COLLECTION","buttonUrl":"https://insideweather.com/pages/original-custom-dining-chair-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Kobe Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd141112jt12-latte-kobe-side-chair-in-moss","image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/1/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=400"},{"titleCopy":"Polk Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd111010cf17-espresso-polk-armchair-in-rosy-geometry","image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/1/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:DS1018E\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:SQUARED\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=400"},{"titleCopy":"Luna Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd121211jl14-black-luna-side-chair-in-oyster","image":"https://content.cylindo.com/api/v2/4931/products/CNV_LUNA/frames/1/CNV_LUNA.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:EIFEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:BLACK\u0026feature=EDGE%20FINISH:BLACK\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20CARBON\u0026size=400"},{"titleCopy":"Kobe Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cd151112hh11-latte-kobe-armchair-in-dijon","image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/1/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:TEARDROP\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


      <script>
        const fullWidthContent6 = {"titleCopy":"THE NOLA DINING CHAIR","bodyCopy":"Nola is a stylish chair that tells it like it is. Your upholstery of choice is hand stitched and fitted like a glove over an injection-molded, recyclable polypropylene shell. This classic, Eames-inspired silhouette makes any modern heart content.","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_03_bnr.jpg","altText":null,"buttonText":"SHOP THE NOLA COLLECTION","buttonUrl":"https://insideweather.com/pages/nola-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent6'></image-text-cta>


    <script>
      const productGrid7 = {"products":[{"titleCopy":"Nola Side Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd10ab12-nola-side-chair-in-whiskey","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:MICRO%20SUEDE%20WHISKEY\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=400"},{"titleCopy":"Nola Armchair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd11as10-nola-armchair-in-cloud","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20CLOUD\u0026feature=BASE%20TYPES:EIFEL\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=400"},{"titleCopy":"Nola Side Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd10aa15-nola-side-chair-in-yale-blue","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20YALE%20BLUE\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20CARBON\u0026size=400"},{"titleCopy":"Nola Armchair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/nd11ad13-nola-armchair-in-sunflower","image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=METAL%20FINISHES:METAL%20LEGS%20BRASS\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid7'>
    </category-product-grid>


      <script>
        const fullWidthContent8 = {"titleCopy":"THE ADA DINING CHAIR","bodyCopy":"What’s ultra sleek, minimal, and uber-custom? This chic custom Ada Dining Chair Collection is one for the books. Choose from 400+ fabric designs to complement the sleek powder coated steel and FSC-certified solid ash wood frame. This striking silhouette is curved in all the right places for maximum comfort capacity. For the sake of your apartment, each foot features non-slip, non-scratch grips to protect your floors. Yup, Ada’s got it all.","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_05_bnr.jpg","altText":null,"buttonText":"SHOP THE ADA COLLECTION","buttonUrl":"https://insideweather.com/pages/ada-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent8'></image-text-cta>


    <script>
      const productGrid9 = {"products":[{"titleCopy":"Ada Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ai10ak10-latte-ada-dining-chair-in-mascarpone","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_05_grid_01.jpg"},{"titleCopy":"Ada Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ai12ky10-black-ada-dining-chair-in-green-marble","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_05_grid_02.jpg"},{"titleCopy":"Ada Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ai11ac10-espresso-ada-dining-chair-in-rose-quartz","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_05_grid_03.jpg"},{"titleCopy":"Ada Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ai10ly10-latte-ada-dining-chair-in-terrazzo-funfetti","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_05_grid_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid9'>
    </category-product-grid>


      <script>
        const fullWidthContent10 = {"titleCopy":"THE OTTO DINING CHAIR","bodyCopy":"This refreshing silhouette incorporates elements of industrial, minimal and organic construction culminating in a fierce modern dining chair that brings high design to the everyday home. Otto’s silhouette is composed of solid ash wood and powder coated stainless steel and each foot features non-slip, non-scratch grips to protect your floors. Each backrest is adjustable to suit your comfort needs and all chairs are stackable to afford you more flexibility (your apartment approves). Plus, it's stackable!","image":"https://cdn.insideweather.com/cat/dining-chairs/grid/v2/cat_dining-chairs_col_04_bnr.jpg","altText":null,"buttonText":"SHOP THE OTTO COLLECTION","buttonUrl":"https://insideweather.com/pages/otto-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent10'></image-text-cta>


    <script>
      const productGrid11 = {"products":[{"titleCopy":"Latte Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=400"},{"titleCopy":"Espresso Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1110it-espresso-otto-dining-chair-in-rose-quartz","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:NAPLES%20BLUSH\u0026size=400"},{"titleCopy":"Black Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1210lw-black-otto-dining-chair-in-terrazzo-shatter","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:BLACK\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:DS1056\u0026size=400"},{"titleCopy":"Latte Otto Dining Chair","linkCopy":"Customize Now","destination":"https://insideweather.com/products/oo1010jj-latte-otto-dining-chair-in-peacock","image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/3/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:MONACO%20PEACOCK\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid11'>
    </category-product-grid>


      <script>
        const fullWidthContent12 = {"titleCopy":"USONIA™ BURNHAM STOOLS","bodyCopy":"Inspired by a mutual commitment to sustainability, innovation, and above all, accessibility to beautiful design with zero compromise. In partnership with the Frank Lloyd Wright Foundation, we present: The Usonia™ Collection. Amidst Frank Lloyd Wright’s Desert Laboratory in Arizona, Taliesin West, lives rare product archives \u0026 records of architectural designs which have remained unexplored for many decades until now. Through an inspiring exploration of the creative chronicles, we’ve reimagined \u0026 manufactured the first-ever Usonia™ Collection.","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_col_02_bnr.jpg","altText":"custom stools","buttonText":"SHOP THE USONIA™ COLLECTION","buttonUrl":"https://insideweather.com/pages/franklloydwright"};
      </script>
      <image-text-cta v-bind='fullWidthContent12'></image-text-cta>


    <script>
      const productGrid13 = {"products":[{"titleCopy":"Round Seat | Quad Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br11cy11-latte-burnham-stool-in-glacier-blue","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:ROUND\u0026feature=BASE%20TYPES:4%20LEG\u0026feature=UPHOLSTERY:ROYALE%20CLOUD\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"},{"titleCopy":"Triangular Seat | Tri Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br13jo10-espresso-burnham-stool-in-modern-patchwork","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1028D\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"},{"titleCopy":"Square Seat | Quad Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br12cw10-espresso-burnham-stool-in-seashell","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:SQUARE\u0026feature=BASE%20TYPES:4%20LEG\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"},{"titleCopy":"Round Seat | Tri Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br10au11-latte-burnham-stool-in-dijon","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:ROUND\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid13'>
    </category-product-grid>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const titleContent15 = {"titleCopy":"Details","bodyCopy":"Discover what makes an Inside Weather dining chair so unique."};
    </script>
    <title-text v-bind='titleContent15'></title-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"Custom Dining Chair Upholstery","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your custom furniture match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const leftRightContent19 = {"titleCopy":"A Life-Proof Product","bodyCopy":"Whether you like to change colors with the seasons, or just feel like a quick design refresh, our customizable and switchable seat pads are a great way to grab a new look without spending an arm and a leg. All of our custom dining chair seats can be purchased separately if you just feel like switching up your look or your wine spilling habits decide that for you. P.S. For fabric specific info on durability, check out the Wyzenbeek Test Method Rub Count Scores on each product page!","image":"https://cdn.insideweather.com/cat/dining-chairs/details/lifeproof/v2/lifeproof_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/dining-chairs/details/lifeproof/v2/lifeproof_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent19'></image-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const leftRightContent21 = {"titleCopy":"Sustainable, Quality Materials","bodyCopy":"Sit tight! Our custom dining chairs feature materials made from solid ash wood and high-strength powder-coated steel, all of which are designed to carry up to 250 lbs. So go ahead, help yourself to seconds. Every material that we use is selected with intention. Look out for certifications across our custom dining chair collections that meet the following standards: FSC, Oeko-Tex, \u0026 Bluesign. And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/dining-chairs/details/sustainable-materials/sustainable-materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent21'></image-text>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const smallColumnContent23 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our custom dining chairs are made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each custom dining chair to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new custom dining chairs. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent23'>
    </multi-column-text-image>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>


    <script>
      const titleContent25 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent25'></title-text>


    <script>
      const spacer26 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer26'>
      </custom-spacer>


    <script>
      const lifestyleGrid27 = {"images":[{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1045\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br13ll10-espresso-burnham-stool-in-usonia-design-705-bermuda-sunrise","titleCopy":"Espresso Burnham Stool in Usonia™ Design 705 Bermuda Sunrise","price":"$238"},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:VEGAN%20LEATHER%20OAT\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br13dl11-latte-burnham-stool-in-oat","titleCopy":"Latte Burnham Stool in Oat","price":"$208"},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld12aa10-square-classic-via-dining-table-in-latte","titleCopy":"Square Classic Via Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20DINING%20CHAIR/frames/1/ADA%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ai10db10-latte-ada-dining-chair-in-rust","titleCopy":"Latte Ada Dining Chair in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa11-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010jb-latte-otto-dining-chair-in-mascarpone","titleCopy":"Latte Otto Dining Chair in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/1/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:HAIRPIN\u0026feature=BASE%20FINISHES:METAL%20LEGS%20BRASS\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:LIGHT%20ESPRESSO\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr11ab1423-espresso-sloan-credenza-in-espresso-wood","titleCopy":"Espresso Sloan Credenza in Espresso Wood","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:VENICE%20MARIGOLD\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141010ji17-espresso-kobe-side-chair-in-honey","titleCopy":"Espresso Kobe Side Chair in Honey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd141010kk17-espresso-kobe-side-chair-in-rust","titleCopy":"Espresso Kobe Side Chair in Rust","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:MICRO%20SUEDE%20WHISKEY\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10ab17-nola-side-chair-in-whiskey","titleCopy":"Nola Side Chair in Whiskey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11aa10-rectangle-classic-via-dining-table-in-latte","titleCopy":"Rectangle Classic Via Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010jb-latte-otto-dining-chair-in-mascarpone","titleCopy":"Latte Otto Dining Chair in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/3/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112be12-latte-polk-side-chair-in-sunflower","titleCopy":"Latte Polk Side Chair in Sunflower","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld12aa10-square-classic-via-dining-table-in-latte","titleCopy":"Square Classic Via Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20DINING%20CHAIR/frames/1/ADA%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ai10db10-latte-ada-dining-chair-in-rust","titleCopy":"Latte Ada Dining Chair in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/4/CNV_TBLSID.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:DS1032A\u0026feature=EDGE%20FINISH:DARK\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/us10lg1111-round-custom-via-side-table-in-white-marble","titleCopy":"Round Custom Via Side Table in White Marble","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101011jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld10aa13-round-classic-via-dining-table-in-latte","titleCopy":"Round Classic Via Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/dining-chairs/lifestyle-grid/cat_dining-chairs_lg_v4_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=METAL%20FINISHES:METAL%20LEGS%20CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10ad15-nola-side-chair-in-sunflower","titleCopy":"Nola Side Chair in Sunflower","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1006E\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101010eq-latte-sarno-dining-chair-in-monstera-sky","titleCopy":"Latte Sarno Dining Chair in Monstera Sky","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/2/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:MONACO%20ECLIPSE\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112jn12-latte-polk-side-chair-in-royal-blue","titleCopy":"Latte Polk Side Chair in Royal Blue","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid27'>
    </lifestyle-grid>


    <script>
      const spacer28 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer28'>
      </custom-spacer>


    <script>
      const titleContent29 = {"titleCopy":"Pull Up A Seat","bodyCopy":"No dining space is complete without a stylish set of custom dining room chairs-- after all, what would a dining room be if you couldn’t sit down to enjoy your meal? Here at Inside Weather, we offer the most customizable dining room chairs on the internet. With four basic styles to choose from, easy-switch upholstered seat pads, 200 fabric options, and a solid wood design, our selection of dining table chairs is pretty hard to beat. \u003cbr /\u003e\u003cbr /\u003eCustomizing your dining chair is as easy as 1-2-3. First pick one of four basic styles, then choose between side chairs and arm chairs. Finally, pick your fabric and you’re good to go. Our dining room furniture is made of solid wood and metal, rated to withstand 350+ lbs, so you don’t have to worry about collapsing chairs. We offer a wide selection of contemporary dining chairs to match our \u003ca href=\"https://insideweather.com/pages/dining-tables\"\u003ecustom modern dining tables\u003c/a\u003e or any other table, design, or style you may be working with. And, with comfort on the forefront of our minds, sitting in our dining room chairs is just as pleasant as looking at them!"};
    </script>
    <title-text v-bind='titleContent29'></title-text>


    <script>
      const spacer30 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer30'>
      </custom-spacer>

      </div>
