      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/tb/cat_sofette_tb_d_v3.jpg","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/sofettes/tb/cat_sofette_tb_m_v3.jpg","altText":"affordable custom loveseats","destination":null,"titleCopy":"Custom Sofettes","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships free to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"360 Day Home Trial"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"Free Shipping"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"Sustainable"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"Made in the USA"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE ORIGINAL CUSTOM SOFETTE","bodyCopy":"Everything we do here at Inside Weather is custom and nothing embodies that better than our Original Custom Collection. Tailor every inch of your living room from base to seam to create a sofette that is actually suited to your needs and style. Each sofette is made-to-order and built here in the U.S. so it can arrive at your door soon after you've dreamt it up. For the first time in furniture, it's you that's behind the design.","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_bnr_v2.png","altText":"custom loveseats","buttonText":"SHOP THE ORIGINAL CUSTOM SOFA COLLECTION","buttonUrl":"https://insideweather.com/pages/original-custom-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Original Custom Levi Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se14bt101011211010-custom-levi-sofette-in-butterscotch","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-02_v2.jpg"},{"titleCopy":"Original Custom Asher Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se22bm131110161210-custom-asher-sofette-in-moss","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-03_v2.jpg"},{"titleCopy":"Original Custom Brooklyn Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se18be121210111210-custom-brooklyn-sofette-in-oyster","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-04_v2.jpg"},{"titleCopy":"Original Custom Jett Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se15dc101012131510-custom-jett-sofette-in-sapphire","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-05_v2.jpg"},{"titleCopy":"Original Custom Nox Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se12da111110121310-custom-nox-sofette-in-powder-pink","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-06_v2.jpg"},{"titleCopy":"Original Custom Milo Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se13br101110231010-custom-milo-sofette-in-whiskey","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-07_v2.jpg"},{"titleCopy":"Original Custom Soba Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se11co131013171610-custom-soba-sofette-in-pebble","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-08_v2.jpg"},{"titleCopy":"Original Custom Issa Sofette","linkCopy":"Customize Now","destination":"https://insideweather.com/products/se17bu131110171610-custom-issa-sofette-in-mist","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_01_grid-01_v2.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"THE AERO 2-SEATER SOFA","bodyCopy":"Aero’s low profile frame features a stunning architectural back design that looks good from evvvery angle. Smooth, organic curves blended with bold linear statements, this modular custom seating collection was designed with you and your future self in mind—every component being truly modular \u0026 adaptable.","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_bnr_v2.png","altText":"modular custom loveseat","buttonText":"SHOP THE AERO COLLECTION","buttonUrl":"https://insideweather.com/pages/aero-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw10au1112101010-latte-aero-2-seater-sofa-in-dijon","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-02_v2.jpg"},{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw11bk2810111110-espresso-aero-2-seater-sofa-in-harbor-blue","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-03_v2.jpg"},{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw11dk1013101010-latte-aero-2-seater-sofa-in-ivory","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-04_v2.jpg"},{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw10bg2011101010-latte-aero-2-seater-sofa-in-royal-blue","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-05_v2.jpg"},{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw11ac1710101010-latte-aero-2-seater-sofa-in-rose-quartz","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-06_v2.jpg"},{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw10az1013111110-espresso-aero-2-seater-sofa-in-cognac","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-07_v2.jpg"},{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw10bi2110111110-espresso-aero-2-seater-sofa-in-chimney-gray","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-08_v2.jpg"},{"titleCopy":"Aero 2-Seater Sofa","linkCopy":"Customize Now","destination":"https://insideweather.com/products/aw11ca1310111110-espresso-aero-2-seater-sofa-in-flax","image":"https://cdn.insideweather.com/cat/sofa-line/sofettes/grid/cat_sofette_col_02_grid-01_v2.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":" '140px'","mobileSpacing":" '45px'"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const titleContent7 = {"titleCopy":"Details","bodyCopy":"Discover what makes an Inside Weather sofette so unique."};
    </script>
    <title-text v-bind='titleContent7'></title-text>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":" '65px'","mobileSpacing":" '35px'"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const leftRightContent9 = {"titleCopy":"Upholsteries Galore","bodyCopy":"The mecca of fabric libraries if you will. Select from 100+ choices that span the rainbow, all of which are hand-stitched here in California. We’re talking stain-resistant Performance Upholsteries, Pet-friendly, and even Commercial Grade selections. From velvet to leather options, there are plenty of fabrics for you to choose from. Your perfect design is here, you just have to make it!","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_d.png","supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_m.png","mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent9'></image-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":" '110px'","mobileSpacing":" '30px'"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Life-Proof","bodyCopy":"Our sofettes are designed to withstand whatever life throws at them. Every upholstered element of each sofette is enclosed in a water-resistant nylon casing for the ultimate protection against, well, you. This means even the back panel, the arms on our Original Custom Sofette, and—of course—the pillows \u0026 cushions on both collections have this added layer of protection and comfort. Additionally, every cushion \u0026 pillow features a concealed zipper for easy, practical removal \u0026 cleaning. P.S. For fabric specific info on durability, check out Wyzenbeek Test Method Rub Count Scores on each product page!","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_d_v2.jpg","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_lifeproof_m_v2.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":" '110px'","mobileSpacing":" '30px'"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const largeColumnContent13 = {"backgroundColor":"#f2f2f2","titleCopy":"Custom Couch Comfort","bodyCopy":"We believe that one size does not fit all which is why we've decided to hand over all comfort control to you—the actual sofa snuggler. Choose between various layers of domestically sourced insert options to find the custom formula that's truly right for your seat cushion.","columns":[{"caption":"OPTION #2","titleCopy":"MEMORY FOAM BLEND","bodyCopy":"A smooth, transitional layer of temperature-regulating memory foam sits atop medium density, high resiliency foam and is wrapped in a lush layer of our sustainable, recycled down alternative.","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_d-min.png","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_02_m-min.png","altText":null,"supportText":"Sink-in Comfort | Plush contouring layers","supportImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_02.png","supportAltText":null},{"caption":"OPTION #1","titleCopy":"CLASSIC BLEND","bodyCopy":"A medium density, high resilience foam topped with a plush layer of our signature, 100% recycled down alternative. The perfect balance of support, squish and a little bit of bounce.","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_d-min.png","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort_01_m-min.png","altText":null,"supportText":"Supportive Comfort | Firm yet cushy sit","supportImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_custom-comfort-icon_01.png","supportAltText":null}]};
    </script>
    <two-column-text-image v-bind='largeColumnContent13'>
    </two-column-text-image>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":" '110px'","mobileSpacing":" '30px'"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"The Most Sustainable Furniture on the Internet","bodyCopy":"Every upholstered portion (yes, even the back on our Original Custom Sofettes) is wrapped in a layer of our Signature Synthetic Down and the pillows are full of it. This cushy, cloud-like material is 100% recycled down alternative and one sofette = roughly 200 recycled plastic bottles. The disposable bottles that we upcycle are sterilized in hot water, ground into tiny flakes, re-melted and extruded to make a polyester fiber. This material helps keep plastics out of our landfills \u0026 oceans and helps fill your home with comfortable, sustainable products as we believe both Mother Earth and your comfort are uncompromisable. Oh yeah, and did we mention that for every order placed with us one tree is planted via the National Forest Foundation?","image":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/sofa-line/details/cat_sofa_sustainable_m.jpg","altText":"custom couches and sofas","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":" '110px'","mobileSpacing":" '30px'"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const smallColumnContent17 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days. Did we mention everything ships free?","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_m.jpg","altText":"quick free shipping"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_m.jpg","altText":"sustainable furniture"},{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent17'>
    </multi-column-text-image>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":" '140px'","mobileSpacing":" '45px'"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const titleContent19 = {"titleCopy":"Get Inspired","bodyCopy":"Kick your feet up \u0026 visualize the possibilities."};
    </script>
    <title-text v-bind='titleContent19'></title-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":" '65px'","mobileSpacing":" '35px'"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":" '140px'","mobileSpacing":null};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const titleContent22 = {"titleCopy":"Never Underestimate The Power Of A Sofette","bodyCopy":null};
    </script>
    <title-text v-bind='titleContent22'></title-text>

      </div>
