<div id="app">
  {% assign bannerContent = "{'items':[{'image':' ','heading':'Create your custom climate','description':'The Weather is now entirely up to you.','linkText':'Shop Sofas','url':'/pages/category-sofa'},{'image':' ','heading':'Create your custom climate.','description':'The Weather is now entirely up to you.','linkText':'Shop Armchair','url':'/pages/category-armchair'},{'image':' ','heading':'Create your custom climate','description':'The Weather is now entirely up to you.','linkText':'Shop Table','url':'/pages/category-table'}]}"%}

  <banner-carousel :bannerContent="{{bannerContent}}"></banner-carousel>

  {% assign listItems= "[{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/cat-link_1_livingrm.png?742906','buttonText':'Shop Living','link':'pages/category-sofa'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/cat-link_2_diningrm.png?742909','buttonText':'Shop Dining','link':'pages/category-dining-tables'},{'image':'https://cdn.shopify.com/s/files/1/2994/0144/files/cat-link_3_office.png?737551','buttonText':'Shop Office','link':'pages/category-lounge-chairs'}]"%}

  <div class="--custom-container category-list-container">
    <category-list 
      class="--pd-t-130 --pd-b-130" 
      :listItems="{{listItems}}"
    >
    </category-list>
  </div>

  <div class="ValuePropsWrapper">
    <div class="--custom-container">
      <value-props></value-props>
    </div>
  </div>

  <div class="PressContainer">
    <div class="press--container">
      <press></press>
    </div>
  </div>

  <div class="ReviewCarouselWrapper">
    <div class="--custom-container">
      <review-carousel></review-carousel>
    </div>
  </div>

  <banner 
    bannerImage="https://cdn.shopify.com/s/files/1/2994/0144/files/design-services_bnr.png?751635"
  >
  </banner>

  <recently-sold-products><recently-sold-products/>
</div>

<script>
  jQuery(function ($) {
    var count = 0;
    jQuery('.point h3').on('click', (e) => {
      e.stopPropagation();
      const $ = jQuery;
      const targetParent = $('.descriptions .point');
      const allDescription = $('.descriptions .point p');
      var targetAttribute = e.target.attributes[0].value;
      if (e.target.parentElement.classList.contains('show-details')) {
        count ++;
        $('.descriptions h2').slideToggle();
        toggleSlide(e.target.parentElement.children[1]);
        e.target.parentElement.classList.remove('show-details');
      }else {
        $(allDescription).slideUp();
        $('.descriptions h2').slideUp();
        downSlide(e.target.parentElement.children[1]);
        $(targetParent).removeClass('show-details');
        e.target.parentElement.classList.add('show-details');
      }
      $('.image_wrapper figure').each(function(){
        var recieverAttribute = this.getAttribute('data-src');
        if(recieverAttribute === targetAttribute) {
          $('.image_wrapper figure').removeClass('slide_up');
          if(count === 0) {
            $(this).addClass('slide_up');
          }else {
            $('.image_wrapper figure').removeClass('slide_up');
          } 
        }
      }); 
      if(count === 1) {
        count = 0;
      }
    });
  });
  function toggleSlide(item) {
    jQuery(item).slideToggle();
  }
  function downSlide(item) {
    jQuery(item).slideDown();
  }
</script>