      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/desks/tb/v2/cat_desks_tb_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/desks/tb/v2/cat_desks_tb_m.jpg","altText":"custom home office desk for WFH workspace","destination":null,"titleCopy":"Custom Desks","titleCopyColor":"#ffffff","bodyCopy":"A custom workspace for your unique work life.","bodyCopyColor":"#ffffff"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE JORN DESK","bodyCopy":"The Jorn Desk is designed to cater to your lifestyle. Its modular shelves, customizable shelf surfaces, sleek storage spaces and incognito media holes enable you to work YOUR way, efficiently and in style.","image":"https://cdn.insideweather.com/cat/desks/grid/v3/cat_desks_col_01_bnr.jpg","altText":null,"buttonText":"SHOP THE JORN COLLECTION","buttonUrl":"https://insideweather.com/pages/jorn-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Jorn Writing Desk","linkCopy":"Customize Now","destination":"https://insideweather.com/products/jw11-latte-jorn-writing-desk","image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026size=400"},{"titleCopy":"Espresso Jorn Media Desk","linkCopy":"Customize Now","destination":"https://insideweather.com/products/jm1010fy-espresso-jorn-media-desk","image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CONFIGURATION:MONITOR%20STAND\u0026feature=SHELF%20PATTERN:LIGHT%20ESPRESSO\u0026size=400"},{"titleCopy":"Latte Jorn Media Desk","linkCopy":"Customize Now","destination":"https://insideweather.com/products/jm1116da-latte-jorn-media-desk","image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:SHELF%20AND%202%20PEDESTALS\u0026feature=SHELF%20PATTERN:SOLID%20LAMINATE%20NORDIC%20TURQUOISE\u0026size=400"},{"titleCopy":"Espresso Jorn Media Desk","linkCopy":"Customize Now","destination":"https://insideweather.com/products/jm1011ig-espresso-jorn-media-desk","image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CONFIGURATION:2%20MONITOR%20STANDS\u0026feature=SHELF%20PATTERN:DS1056\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"VIENNA WORKTABLES","bodyCopy":"From small convertible work spaces, to large conference tables that accommodate the entire team, this ultra-versatile table collection is customizable to your needs. The Vienna Table offers custom shapes, widths, lengths, finishes, and a power hub to transform your workspace. With a design that incorporates natural and minimal elements, Vienna is topped off with a stunning Scandinavian silhouette. ","image":"https://cdn.insideweather.com/cat/desks/grid/v3/cat_desks_col_02_bnr.jpg","altText":null,"buttonText":"SHOP THE VIENNA COLLECTION","buttonUrl":"https://insideweather.com/pages/vienna-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Small Convertible Work Desks","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1011101011-round-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/desks/grid/v3/cat_desks_col_02_grid_01.jpg"},{"titleCopy":"54\" Convertible Work Desks","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi1112101011-oval-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/desks/grid/v3/cat_desks_col_02_grid_02.jpg"},{"titleCopy":"72\" Convertible Work Desks","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi2012101011-rectangle-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/desks/grid/v3/cat_desks_col_02_grid_03.jpg"},{"titleCopy":"90\" Conference Table Lengths","linkCopy":"Customize Now","destination":"https://insideweather.com/products/fvi2112101011-rectangle-vienna-dining-table-in-latte","image":"https://cdn.insideweather.com/cat/desks/grid/v3/cat_desks_col_02_grid_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


      <script>
        const fullWidthContent6 = {"titleCopy":"VIA WORKTABLES","bodyCopy":"These table silhouettes in classic wood finishes or custom designs are well suited for just about every setting. Have them work double duty as a dining table and a work space. Via is made to work for you.","image":"https://cdn.insideweather.com/cat/desks/grid/v3/cat_desks_col_03_bnr.jpg","altText":null,"buttonText":"SHOP THE VIA COLLECTION","buttonUrl":"https://insideweather.com/pages/via-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent6'></image-text-cta>


    <script>
      const productGrid7 = {"products":[{"titleCopy":"Rectangle Classic Latte Via Work Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ld11aa11-rectangle-classic-via-dining-table-in-latte","image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=400"},{"titleCopy":"Oval Classic Espresso Via Work Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ld13ab13-oval-classic-via-dining-table-in-espresso","image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:OVAL\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=400"},{"titleCopy":"Rectangle Custom Latte Via Work Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ud11he1014-rectangle-custom-via-dining-table-in-retro-dark-gray","image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:SOLID%20LAMINATE%20RETRO%20DARK%20GRAY\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:CARBON\u0026feature=BASE%20TYPE:TAPERED\u0026size=400"},{"titleCopy":"Oval Custom Espresso Via Work Table","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ud13jq1110-oval-custom-via-dining-table-in-terrazzo-stone","image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/3/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:OVAL\u0026feature=TABLE%20TOP%20FINISH:DS1060\u0026feature=EDGE%20FINISH:DARK\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid7'>
    </category-product-grid>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const titleContent9 = {"titleCopy":"Details","bodyCopy":"Discover what makes an Inside Weather desk so unique."};
    </script>
    <title-text v-bind='titleContent9'></title-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"A Modular Workspace","bodyCopy":"Designed to adapt to your lifestyle, The Jorn Desk requires zero commitment to one setup. Each shelf type’s height and position along the back of the desk are adjustable and can be customized to meet the creative needs of your unique work environment. Each custom office desk is customizable to fit your style and preference. You can even remove all shelves if you please for a more minimal look!","image":"https://cdn.insideweather.com/cat/desks/details/modular/modular_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/desks/details/modular/modular_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Custom Work Surfaces","bodyCopy":"Whether you’ve got a favorite color, a thing for wood grain, or you simply dig trending patterns, your work surface is prime real estate to display your unique flair and an opportunity to fuel the creative in you. Complete your dream office with a custom office desk to match your personal style and bring a modern twist to your WFH space.","image":"https://cdn.insideweather.com/cat/desks/details/custom-surfaces/custom-surfaces_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/desks/details/custom-surfaces/custom-surfaces_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Stay Connected","bodyCopy":"Each Jorn desk surface features an inconspicuous media hole to keep your cords in check. The built in shelf provides additional storage to support your daily grid and is designed set back near the center so as to not obstruct your WFH workspace kinetics.","image":"https://cdn.insideweather.com/cat/desks/details/connected/connected_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/desks/details/connected/connected_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"A Sustainable Set-Up","bodyCopy":"Our custom office desk materials are considered to meet some of the highest environmental standards in the industry. Think the Sustainable Forestry Initiative, LEED® accreditations, \u0026 FSC Certification (just to name a few). We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const leftRightContent19 = {"titleCopy":"Material Craftsmanship","bodyCopy":"Our FSC Certified, 100% Baltic Birch wood is precision milled in our US manufacturing facility to achieve seamless beveled edges. Its solid wood surfaces feature an American Maple or Walnut veneer with a triple coat of UV cured clear, matte, eco-solvent finish.","image":"https://cdn.insideweather.com/cat/all/material-craftsmanship/mat-craft_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/material-craftsmanship/mat-craft_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent19'></image-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const smallColumnContent21 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent21'>
    </multi-column-text-image>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const titleContent23 = {"titleCopy":"See Them at Work","bodyCopy":null};
    </script>
    <title-text v-bind='titleContent23'></title-text>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>


    <script>
      const lifestyleGrid25 = {"images":[{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld12aa10-square-classic-via-dining-table-in-latte","titleCopy":"Square Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_POLK/frames/3/CNV_POLK.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026feature=BASE%20WOOD%20FINISH:LATTE\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=CHAIR%20STYLE:SIDE%20CHAIR\u0026feature=CHAIR%20WOOD%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd101112be12-latte-polk-side-chair-in-sunflower","titleCopy":"Latte Polk Side Chair in Sunflower","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/2/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:HAIRPIN\u0026feature=BASE%20FINISHES:METAL%20LEGS%20CARBON\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1018C\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr11ea1320-espresso-sloan-credenza-in-organic-order","titleCopy":"Espresso Sloan Credenza in Organic Order","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jw10-espresso-jorn-writing-desk","titleCopy":"Espresso Jorn Writing Desk","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:VENICE%20MARIGOLD\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:TEARDROP\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd151010ji17-espresso-kobe-armchair-in-honey","titleCopy":"Espresso Kobe Armchair in Honey","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:HAIRPIN\u0026feature=BASE%20FINISHES:METAL%20LEGS%20BRASS\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1060\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10ik1423-latte-voss-sideboard-in-terrazzo-stone","titleCopy":"Latte Voss Sideboard in Terrazzo Stone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:SHELF\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1114fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_KOBE/frames/3/CNV_KOBE.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:CLASSROOM\u0026feature=BASE%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026feature=UPHOLSTERY:DS1004D\u0026feature=CHAIR%20STYLE:ARMCHAIR\u0026feature=WOOD%20ARMREST%20TYPES:TEARDROP\u0026feature=CHAIR%20WOOD%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=CHAIR%20METAL%20FINISH:METAL%20LEGS%20BRASS\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cd151010kw17-espresso-kobe-armchair-in-lime-watercolor","titleCopy":"Espresso Kobe Armchair in Lime Watercolor","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jw10-espresso-jorn-writing-desk","titleCopy":"Espresso Jorn Writing Desk","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/1/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:BROOKLYN%20(FABRIC)\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026feature=CONFIGURATION:SPLIT_SPLIT\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:ARC\u0026feature=BASE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf18dn111010191010-custom-brooklyn-sofa-in-alabaster","titleCopy":"Custom Brooklyn Sofa in Alabaster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:VISTA%20PARCHMENT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110kn-latte-sarno-dining-chair-in-alabaster","titleCopy":"Latte Sarno Dining Chair in Alabaster","price":null},{"image":"https://cdn.insideweather.com/cat-rooms/office/lifestyles/cat-room_dining-room_v4_lg_05_01.JPG","altText":null,"destination":"https://insideweather.com/products/fvi1812101011-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/1/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:RECTANGULAR\u0026feature=TABLE%20TOP%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO%20PLYWOOD\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:TAPERED\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld11ab13-rectangle-classic-via-dining-table-in-espresso","titleCopy":"Rectangle Classic Via Dining Table in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20SAND\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110ac-latte-sarno-dining-chair-in-sand","titleCopy":"Latte Sarno Dining Chair in Sand","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/3/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20CARBON\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20LIGHT%20WARM%20GRAY\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb11bw1321-espresso-voss-sideboard-in-light-warm-gray","titleCopy":"Espresso Voss Sideboard in Light Warm Gray","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:BLACK\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:CROSS%20WEAVE%20SAND\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1210ac10-black-ada-lounge-chair-in-sand","titleCopy":"Black Ada Lounge Chair in Sand","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ATLAS%2020/frames/3/ATLAS%2020.JPG?background=FFFFFF\u0026feature=FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=WIDTH:47\u0026feature=DENSITY:3%20SHELVES\u0026feature=METAL%20PIPE%20FINISH:CARBON%20METAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/aaaa1210-20-latte-atlas-shelf","titleCopy":"20\" Latte Atlas Shelf","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/2/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:MONITOR%20STAND%20AND%202%20PEDESTALS\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1113fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:NO%20ARMS\u0026feature=UPHOSLTERY:CROSS%20WEAVE%20SUNFLOWER\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd10ad12-nola-side-chair-in-sunflower","titleCopy":"Nola Side Chair in Sunflower","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110jb-latte-sarno-dining-chair-in-mascarpone","titleCopy":"Latte Sarno Dining Chair in Mascarpone","price":null},{"image":"https://cdn.insideweather.com/cat-rooms/office/lifestyles/cat-room_dining-room_v4_lg_08_02.JPG","altText":null,"destination":"https://insideweather.com/products/fvi1912101011-rectangle-vienna-dining-table-in-latte","titleCopy":"Rectangle Vienna Dining Table in Latte","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/1/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:SHELF\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1114fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/OTTO%20SIDE%20CHAIR/frames/4/OTTO%20SIDE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FRAME%20FINISH:CARBON\u0026feature=SEAT%20DESIGN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/oo1010pf-latte-otto-dining-chair-in-latte-wood","titleCopy":"Latte Otto Dining Chair in Latte Wood","price":null}]},{"image":"https://cdn.insideweather.com/cat/desks/lifestyles/v2/cat_desks_v2_lg_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_DK/frames/2/CNV_JORN_DK.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=CONFIGURATION:MONITOR%20STAND%20AND%20PEDESTAL\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jm1112fi-latte-jorn-media-desk","titleCopy":"Latte Jorn Media Desk","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_NOLA/frames/1/ANA_NOLA.JPG?background=FFFFFF\u0026feature=ARM%20OPTION:ARMS\u0026feature=UPHOSLTERY:VEGAN%20LEATHER%20IVORY\u0026feature=BASE%20TYPES:DOWEL\u0026feature=WOOD%20FINISH:LATTE\u0026feature=METAL%20FINISHES:METAL%20LEGS%20SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/nd11ao12-nola-armchair-in-ivory","titleCopy":"Nola Armchair in Ivory","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid25'>
    </lifestyle-grid>


    <script>
      const spacer26 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer26'>
      </custom-spacer>


    <script>
      const titleContent27 = {"titleCopy":"A Workstation To Meet Your Demands","bodyCopy":"With work routines disrupted and more people than ever working from home, a solid desk is simply a must-have. After all, a work desk is not just a piece of furniture-- it’s your designated space to be productive, your home office, your workstation. While most office furniture companies focus on corporate-friendly designs, Inside Weather’s modern desk designs have the home in mind for style and performance. Featuring cord control, pedestals for your devices, and ample storage space for office supplies, our custom office desks are designed for maximum productivity and minimal fussing. \u003cbr /\u003e\u003cbr /\u003eAt Inside Weather, we let you customize the look and finish of your furniture so it’s sure to fit seamlessly into any room or workspace. With solid wood construction and a multitude of custom desk finish options, you’ll be sure to find a desk that works for your needs."};
    </script>
    <title-text v-bind='titleContent27'></title-text>


    <script>
      const spacer28 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer28'>
      </custom-spacer>

      </div>
