      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/headboards/tb/cat_headboard_tb_d_v2.jpg","mobileImage":"https://cdn.insideweather.com/cat/headboards/tb/cat_headboard_tb_m_v2.jpg","altText":"custom headboards","destination":null,"titleCopy":"Custom Upholstered Headboards","titleCopyColor":"#ffffff","bodyCopy":"Start with a size and color in the rest.","bodyCopyColor":"#ffffff"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/headboard-modular-ico.png","text":"MODULAR"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Start with a Size","bodyCopy":"Then choose your ideal layout and between 100+ upholsteries to make it yours!"};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Twin Headboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/ht10af-twin-oslo-headboard-in-cloud-2-x-2","image":"https://content.cylindo.com/api/image/resize?account=4931\u0026id=14743\u0026scene=sku\u0026features=4210609,4210396,4046370,4210622,4046371,4210623\u0026frame=1\u0026size=400\u0026name=Headboard%20-%20Twin1\u0026color=FFFFFF\u0026format=JPG"},{"titleCopy":"Full Headboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/hf10af-full-oslo-headboard-in-cloud-3-x-2","image":"https://content.cylindo.com/api/image/resize?account=4931\u0026id=14744\u0026scene=sku\u0026features=4209750,4209500,4028317,4209764,4028318,4209765\u0026frame=1\u0026size=400\u0026name=Headboard%20-%20Full1\u0026color=FFFFFF\u0026format=JPG"},{"titleCopy":"Queen Headboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/hq10af-queen-oslo-headboard-in-cloud-3-x-2","image":"https://content.cylindo.com/api/image/resize?account=4931\u0026id=14773\u0026scene=sku\u0026features=4196721,4196497,4028386,4196734,4028387,4196735\u0026frame=1\u0026size=400\u0026name=Headboard%20-%20Queen1\u0026color=FFFFFF\u0026format=JPG"},{"titleCopy":"King Headboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/hk10af-king-oslo-headboard-in-cloud-3-x-2","image":"https://content.cylindo.com/api/image/resize?account=4931\u0026id=14774\u0026scene=sku\u0026features=4194441,4194158,4045448,4194454,4045449,4194455\u0026frame=1\u0026size=400\u0026name=Headboard%20-%20King1\u0026color=FFFFFF\u0026format=JPG"},{"titleCopy":"Cal King Headboard","linkCopy":"Customize Now","destination":"https://insideweather.com/products/hc10af-cal-king-oslo-headboard-in-cloud-3-x-2","image":"https://content.cylindo.com/api/image/resize?account=4931\u0026id=14775\u0026scene=sku\u0026features=4193617,4193403,4045526,4193630,4045527,4193631\u0026frame=1\u0026size=400\u0026name=Headboard%20-%20Cal%20King1\u0026color=FFFFFF\u0026format=JPG"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const spacer6 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer6'>
      </custom-spacer>


    <script>
      const titleContent7 = {"titleCopy":"Details","bodyCopy":"Discover what makes our headboards unique."};
    </script>
    <title-text v-bind='titleContent7'></title-text>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const leftRightContent9 = {"titleCopy":"The Collection","bodyCopy":"This sleek, modern headboard is designed to bring style to your bedroom with ease. Each panel is composed of high-density polyurethane foam and backed with a proprietary nonobstructive wall mount design of commercial durability providing you with a modular, custom headboard. Each piece of upholstery fabric is hand cut and carefully drawn around each plush, padded panel for crisp, refined edges to bring enhanced style to the home.\n","image":"https://cdn.insideweather.com/cat/headboards/details/collection_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/headboards/details/collection_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent9'></image-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Custom Configuration","bodyCopy":"Opt for a sleek, low profile layout or a more expansive option to really make a statement in the room. Where on the wall is best to mount the first row of custom headboard panels? In truth, you can start anywhere but we recommend beginning just a few inches below the top of your \u003ca href=\"https://insideweather.com/pages/mattress\"\u003ehybrid mattress\u003c/a\u003e or right above the baseboard if you prefer a completely flush look with no bare wall visible.","image":"https://cdn.insideweather.com/cat/headboards/details/configuration_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/headboards/details/configuration_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Modular","bodyCopy":"Change your mind a lot? Join the club. Our proprietary removable, nonobstructive wall mount design allows you to switch up your configuration as you please! Because well, we know how you are.","image":"https://cdn.insideweather.com/cat/headboards/details/modular_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/headboards/details/modular_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Snappy Setup","bodyCopy":"Our proprietary nonobstructive wall mount panels are designed to be removable, non damaging, and simple to set up—all you need is a clean, sealed wall. The high performance contract grade adhesives included to be used with each panel are designed to hold up 16x the weight of the panel itself.","image":"https://cdn.insideweather.com/cat/headboards/details/lifeproof_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/headboards/details/lifeproof_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const smallColumnContent17 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom headboards no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent17'>
    </multi-column-text-image>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const titleContent19 = {"titleCopy":"Get Inspired","bodyCopy":null};
    </script>
    <title-text v-bind='titleContent19'></title-text>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const lifestyleGrid21 = {"images":[{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4","titleCopy":"Queen Oslo Headboard in Cloud (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:DS1096\u0026feature=BACK:DS1094\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq14nkni-20-x-20-accent-pillow-with-insert","titleCopy":"20\" x 20\" Accent Pillow (With Insert)","price":null},{"image":"https://banksy-images.s3.amazonaws.com/items/SH13AA/SH13AA-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/sh13aa-queen-bamboo-twill-sheet-set-in-white","titleCopy":"Queen Bamboo Twill Sheet Set in White","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/4/CNV_TBLSID.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ls12aa10-square-classic-via-side-table-in-latte","titleCopy":"Square Classic Via Side Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4","titleCopy":"Queen Oslo Headboard in Cloud (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/js11fi-latte-jorn-side-table","titleCopy":"Latte Jorn Side Table","price":null},{"image":"https://banksy-images.s3.amazonaws.com/items/WA1111BF/WA1111BF-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/wa1111bf-half-dome-art-print-with-aged-oak-frame-16-x-20","titleCopy":"Half dome Art Print with Aged Oak Frame (16\" x 20\")","price":null},{"image":"https://banksy-images.s3.amazonaws.com/items/WA1111BD/WA1111BD-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/wa1111bq-cool-calder-art-print-with-aged-oak-frame-16-x-20","titleCopy":"Pebble Play Art Print with Aged Oak Frame (16\" x 20\")","price":null},{"image":"https://banksy-images.s3.amazonaws.com/items/WA1111BG/WA1111BG-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/wa1111bg-abstract-noir-art-print-with-aged-oak-frame-16-x-20","titleCopy":"Abstract Noir Art Print with Aged Oak Frame (16\" x 20\")","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4","titleCopy":"Queen Oslo Headboard in Cloud (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X2\u0026feature=UPHOLSTERY:ROYALE%20BLUSH\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq10dg-queen-oslo-headboard-in-powder-pink-3-x-2","titleCopy":"Queen Oslo Headboard in Powder Pink (3 x 2)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/3/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:CROSS%20WEAVE%20YALE%20BLUE\u0026feature=BACK:LINEN%20WEAVE%20BLUE%20LAGOON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq12asat-18-x-18-accent-pillow-with-insert","titleCopy":"18\" x 18\" Accent Pillow (With Insert)","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:DS1096\u0026feature=BACK:DS1094\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq14nkni-20-x-20-accent-pillow-with-insert","titleCopy":"20\" x 20\" Accent Pillow (With Insert)","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4","titleCopy":"Queen Oslo Headboard in Cloud (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/3/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:ROYALE%20BLUSH\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12dg-queen-oslo-headboard-in-powder-pink-3-x-4","titleCopy":"Queen Oslo Headboard in Powder Pink (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20PATTERN:DS1106\u0026size=200","altText":null,"destination":"https://insideweather.com/products/js11ke-latte-jorn-side-table","titleCopy":"Latte Jorn Side Table","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4","titleCopy":"Queen Oslo Headboard in Cloud (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4","titleCopy":"Queen Oslo Headboard in Cloud (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_09.jpg","altText":null,"products":[{"image":"https://banksy-images.s3.amazonaws.com/items/WA1113BL/WA1113BL-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/wa1113bl-venn-art-print-with-whitewash-frame-16-x-20","titleCopy":"Venn Art Print with Whitewash Frame (16\" x 20\")","price":null},{"image":"https://banksy-images.s3.amazonaws.com/items/WA1113BH/WA1113BH-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/wa1113bh-cool-botanical-art-print-with-whitewash-frame-16-x-20","titleCopy":"Cool Botanical Art Print with Whitewash Frame (16\" x 20\")","price":null},{"image":"https://banksy-images.s3.amazonaws.com/items/WA1113BK/WA1113BK-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/wa1113bk-warm-convergence-art-print-with-whitewash-frame-16-x-20","titleCopy":"Warm Convergence Art Print with Whitewash Frame (16\" x 20\")","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/2/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X4\u0026feature=UPHOLSTERY:CROSS%20WEAVE%20CLOUD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq12af-queen-oslo-headboard-in-cloud-3-x-4","titleCopy":"Queen Oslo Headboard in Cloud (3 x 4)","price":null}]},{"image":"https://cdn.insideweather.com/cat/headboards/lifestyles/v1/cat_headboard_lg_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_HB_QN/frames/3/ANA_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:3X3\u0026feature=UPHOLSTERY:ROYALE%20BLUSH\u0026size=200","altText":null,"destination":"https://insideweather.com/products/hq11dg-queen-oslo-headboard-in-powder-pink-3-x-3","titleCopy":"Queen Oslo Headboard in Powder Pink (3 x 3)","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid21'>
    </lifestyle-grid>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const titleContent23 = {"titleCopy":"The Finishing Touch For Your Dream Bedroom","bodyCopy":"If there’s one thing maximalists and minimalists can agree on, it’s that a good headboard with generous padding is a necessary piece of bedroom decor. Here at Inside Weather, we make it easy to create an upholstered, custom headboard for any space. Whether you’re upgrading your own bedroom or finally getting around to furnishing the guest room, we have options galore. \u003cbr /\u003e\u003cbr /\u003eInside Weather lets you design the custom headboard of your dreams-- you can choose from hundreds of color and fabric options to match any look in any space. Pick between fuller and more subtle tufting depending on the style of your \u003ca href=\"https://insideweather.com/pages/bed-sheets\"\u003ebed sheet set\u003c/a\u003e and furniture. Best of all, our headboards are easy to install and reconfigure. Instead of nails, our headboards attach to the wall with high-tech adhesive that won’t damage your home’s paint."};
    </script>
    <title-text v-bind='titleContent23'></title-text>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>

      </div>
