      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/cat/stools/tb/v2/cat_stools_tb_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/stools/tb/v2/cat_stools_tb_m.jpg","altText":"custom stools in a modern design","destination":null,"titleCopy":"Custom Stools","titleCopyColor":"#202020","bodyCopy":"Start with a silhouette and color in the rest.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#ffffff","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


      <script>
        const fullWidthContent2 = {"titleCopy":"THE SARNO COLLECTION","bodyCopy":"This modern furniture collection takes classic, timeless style and puts it in your hands. We believe that any chair purchased for your home shouldn’t just be well designed, sustainably made, and reasonably priced but should be perfectly suited for one’s home and lifestyle with no exception. So we created a solid wood custom dining collection that transcends modern, mid-century, scandinavian, traditional and contemporary styles. A collection born to offer a framework for beautiful, high quality design and to enable the customer with the tools they need to create a dining chair that’s truly suited to their dining style.","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_col_01_bnr.jpg","altText":"custom stools","buttonText":"SHOP THE SARNO COLLECTION","buttonUrl":"https://insideweather.com/pages/sarno-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent2'></image-text-cta>


    <script>
      const productGrid3 = {"products":[{"titleCopy":"Sarno Counter Stool","linkCopy":"customize now","destination":"https://insideweather.com/products/rc101110an-latte-sarno-counter-stool-in-whiskey","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026size=400"},{"titleCopy":"Sarno Counter Stool","linkCopy":"customize now","destination":"https://insideweather.com/products/rc111211jq-espresso-sarno-counter-stool-in-moss","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:ECLIPSE%20OLIVE\u0026size=400"},{"titleCopy":"Sarno Bar Stool","linkCopy":"customize now","destination":"https://insideweather.com/products/rb101011ji-latte-sarno-bar-stool-in-oyster","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026size=400"},{"titleCopy":"Sarno Bar Stool","linkCopy":"customize now","destination":"https://insideweather.com/products/rb111110aj-espresso-sarno-bar-stool-in-peppercorn","image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20PEPPERCORN\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid3'>
    </category-product-grid>


      <script>
        const fullWidthContent4 = {"titleCopy":"THE ADA COUNTER STOOL","bodyCopy":"What’s ultra sleek, minimal, and uber-custom? This chic custom Ada Counter Stool Collection is one for the books. Choose from 400+ fabric designs to complement the sleek powder coated steel and FSC-certified solid ash wood frame. This striking silhouette is curved in all the right places for maximum comfort capacity. For the sake of your apartment, each foot features non-slip, non-scratch grips to protect your floors. Yup, Ada’s got it all.","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_col_03_bnr.jpg","altText":"custom stools","buttonText":"SHOP THE ADA COLLECTION","buttonUrl":"https://insideweather.com/pages/ada-collection"};
      </script>
      <image-text-cta v-bind='fullWidthContent4'></image-text-cta>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Ada Counter Stool","linkCopy":"Customize Now","destination":"https://insideweather.com/products/an10da10-latte-ada-counter-stool-in-powder-pink","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_v3_col_03_grid_01.jpg"},{"titleCopy":"Ada Counter Stool","linkCopy":"Customize Now","destination":"https://insideweather.com/products/an11bb10-espresso-ada-counter-stool-in-honey","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_v3_col_03_grid_02.jpg"},{"titleCopy":"Ada Counter Stool","linkCopy":"Customize Now","destination":"https://insideweather.com/products/an10lw10-latte-ada-counter-stool-in-terrazzo-shatter","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_v3_col_03_grid_03.jpg"},{"titleCopy":"Ada Counter Stool","linkCopy":"Customize Now","destination":"https://insideweather.com/products/an12bu10-black-ada-counter-stool-in-mist","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_v3_col_03_grid_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


      <script>
        const fullWidthContent6 = {"titleCopy":"USONIA™ BURNHAM STOOLS","bodyCopy":"Inspired by a mutual commitment to sustainability, innovation, and above all, accessibility to beautiful design with zero compromise. In partnership with the Frank Lloyd Wright Foundation, we present: The Usonia™ Collection. Amidst Frank Lloyd Wright’s Desert Laboratory in Arizona, Taliesin West, lives rare product archives \u0026 records of architectural designs which have remained unexplored for many decades until now. Through an inspiring exploration of the creative chronicles, we’ve reimagined \u0026 manufactured the first-ever Usonia™ Collection.","image":"https://cdn.insideweather.com/cat/stools/grid/cat_stools_col_02_bnr.jpg","altText":"custom stools","buttonText":"SHOP THE USONIA™ COLLECTION","buttonUrl":"https://insideweather.com/pages/franklloydwright"};
      </script>
      <image-text-cta v-bind='fullWidthContent6'></image-text-cta>


    <script>
      const productGrid7 = {"products":[{"titleCopy":"Round Seat | Quad Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br11cy11-latte-burnham-stool-in-glacier-blue","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:ROUND\u0026feature=BASE%20TYPES:4%20LEG\u0026feature=UPHOLSTERY:ROYALE%20CLOUD\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"},{"titleCopy":"Triangular Seat | Tri Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br13jo10-espresso-burnham-stool-in-modern-patchwork","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1028D\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"},{"titleCopy":"Square Seat | Quad Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br12cw10-espresso-burnham-stool-in-seashell","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:SQUARE\u0026feature=BASE%20TYPES:4%20LEG\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20SEASHELL\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"},{"titleCopy":"Round Seat | Tri Base","linkCopy":"Customize Now","destination":"https://insideweather.com/products/br10au11-latte-burnham-stool-in-dijon","image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/6/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:ROUND\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=400"}]};
    </script>
    <category-product-grid v-bind='productGrid7'>
    </category-product-grid>


    <script>
      const spacer8 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer8'>
      </custom-spacer>


    <script>
      const titleContent9 = {"titleCopy":"Details","bodyCopy":"Discover what makes Inside Weather stools so unique."};
    </script>
    <title-text v-bind='titleContent9'></title-text>


    <script>
      const spacer10 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer10'>
      </custom-spacer>


    <script>
      const leftRightContent11 = {"titleCopy":"Upholsteries Galore","bodyCopy":"The mecca of fabric libraries if you will. Select from 400+ choices that span the rainbow, all of which are hand-stitched or printed here in California. We’re talkin’ stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that’s truly tailored to comfort your needs (\u0026 potential mischief). Be sure to check out our exclusive graphic fabrics which are designed and printed in-house! Your match is here, you just have to find it.","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":null,"supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-printed-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent11'></image-text>


    <script>
      const spacer12 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer12'>
      </custom-spacer>


    <script>
      const leftRightContent13 = {"titleCopy":"Life-Proof","bodyCopy":"These custom stools are designed to withstand whatever life throws at them. Choose from stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections to find one that’s tailored to comfort your needs (\u0026 potential mischief). P.S. Look out for stain test results \u0026 Wyzenbeek Fabric Rub Count Scores on each product page!","image":"https://cdn.insideweather.com/cat/stools/details/lifeproof/stools_lifeproof_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/stools/details/lifeproof/stools_lifeproof_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent13'></image-text>


    <script>
      const spacer14 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer14'>
      </custom-spacer>


    <script>
      const leftRightContent15 = {"titleCopy":"Versatile Function","bodyCopy":"This versatile custom stool is a stunner no matter where you place it. The perfect way to add unique flair to your dining setting, a lovely sculptural addition to the living room or game room for additional seating, and the perfect sidekick for an entryway (and best greeting upon arrival of course).","image":"https://cdn.insideweather.com/cat/stools/details/versatile/versatile_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/stools/details/versatile/versatile_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent15'></image-text>


    <script>
      const spacer16 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer16'>
      </custom-spacer>


    <script>
      const leftRightContent17 = {"titleCopy":"Sustainably Made","bodyCopy":"The materials used across our stools have been selected with intention. Each kiln-dried, solid ash wood Sarno frame is FSC-certified and topped with an eco-solvent finish. Look out for certifications across our custom upholstery options that meet Oeko-Tex \u0026 Bluesign standards. We recycle any excess from each material consumed, in fact certain designs are even intended to absorb such ’’waste.’’ And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/collections/sarno/details/sustainable-materials/sustainable-materials_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/sarno/details/sustainable-materials/sustainable-materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent17'></image-text>


    <script>
      const spacer18 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer18'>
      </custom-spacer>


    <script>
      const smallColumnContent19 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our custom stools are made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each stool to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent19'>
    </multi-column-text-image>


    <script>
      const spacer20 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer20'>
      </custom-spacer>


    <script>
      const titleContent21 = {"titleCopy":"Get Inspired","bodyCopy":"From the living room, to the kitchen, to the dining room, check out the \u003ca href=\"https://insideweather.com/products/br11br11-latte-burnham-stool-in-whiskey\"\u003eBurnham Stool\u003c/a\u003e, \u003ca href=\"https://insideweather.com/pages/ada-collection\"\u003eAda Stools\u003c/a\u003e, and \u003ca href=\"https://insideweather.com/pages/sarno-collection\"\u003eSarno Stools\u003c/a\u003e in action."};
    </script>
    <title-text v-bind='titleContent21'></title-text>


    <script>
      const spacer22 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer22'>
      </custom-spacer>


    <script>
      const lifestyleGrid23 = {"images":[{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/cat_stools_v3_lg_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/v2/cat_stools_lg_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1138\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles","titleCopy":"Latte Sarno Counter Stool in Notebook Doodles","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/1/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1006E\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101210eq-latte-sarno-dining-chair-in-monstera-sky","titleCopy":"Latte Sarno Dining Chair in Monstera Sky","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/cat_stools_v3_lg_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/v2/cat_stools_lg_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:DS1138\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc101010pa-latte-sarno-counter-stool-in-notebook-doodles","titleCopy":"Latte Sarno Counter Stool in Notebook Doodles","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:MICRO%20SUEDE%20WHISKEY\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc101210an-latte-sarno-counter-stool-in-whiskey","titleCopy":"Latte Sarno Counter Stool in Whiskey","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/v2/cat_stools_lg_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:SQUARE\u0026feature=BASE%20TYPES:4%20LEG\u0026feature=UPHOLSTERY:DS1036\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br12lc10-espresso-burnham-stool-in-usonia-design-102-retro-jungle","titleCopy":"Espresso Burnham Stool in Usonia™ Design 102 Retro Jungle","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1045\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br13ll10-espresso-burnham-stool-in-usonia-design-705-bermuda-sunrise","titleCopy":"Espresso Burnham Stool in Usonia™ Design 705 Bermuda Sunrise","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:ROUND\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1048\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br10lo11-latte-burnham-stool-in-usonia-design-706-spanish-moss","titleCopy":"Latte Burnham Stool in Usonia™ Design 706 Spanish Moss","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/v2/cat_stools_lg_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_CNS/frames/5/CNV_JORN_CNS.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20SETUP:SMALL-%20LARGE\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/jc1111fi-latte-jorn-console","titleCopy":"Latte Jorn Console","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLDIN/frames/4/CNV_TBLDIN.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:SQUARE\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20FINISH:BRASS\u0026feature=BASE%20TYPE:HAIRPIN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ld12aa10-square-classic-via-dining-table-in-latte","titleCopy":"Square Classic Via Dining Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:DS1045\u0026feature=BASE%20FINISHES:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br13ll10-espresso-burnham-stool-in-usonia-design-705-bermuda-sunrise","titleCopy":"Espresso Burnham Stool in Usonia™ Design 705 Bermuda Sunrise","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:TRIANGULAR\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:VEGAN%20LEATHER%20OAT\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br13dl11-latte-burnham-stool-in-oat","titleCopy":"Latte Burnham Stool in Oat","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/v2/cat_stools_lg_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb101110jb-latte-sarno-bar-stool-in-mascarpone","titleCopy":"Latte Sarno Bar Stool in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/cat_stools_v3_lg_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20COUNTER%20STOOL/frames/1/ADA%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=WOODEN%20FRAME:LATTE\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20DIJON\u0026feature=METAL%20FRAME:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/an10au10-latte-ada-counter-stool-in-dijon","titleCopy":"Latte Ada Counter Stool in Dijon","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/v2/cat_stools_lg_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20BAR%20STOOL/frames/1/LATHE%20BAR%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:BLACK\u0026feature=BACK%20TYPE:SQUARED\u0026feature=SEAT%20SHAPE:SQUARED\u0026feature=UPHOLSTERY:ROYALE%20RUST\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rb121211kh-black-sarno-bar-stool-in-rust","titleCopy":"Black Sarno Bar Stool in Rust","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20COUNTER%20STOOL/frames/1/LATHE%20COUNTER%20STOOL.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20TYPE:OVAL\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:KEY%20LARGO%20OATMEAL\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rc111010jb-espresso-sarno-counter-stool-in-mascarpone","titleCopy":"Espresso Sarno Counter Stool in Mascarpone","price":null}]},{"image":"https://cdn.insideweather.com/cat/stools/lifestyle-grid/v2/cat_stools_lg_10.jpg","altText":null,"products":[{"image":"https://banksy-images.s3.amazonaws.com/items/WA1310AS/WA1310AS-0_small.jpg","altText":null,"destination":"https://insideweather.com/products/wa1310as-frond-of-you-art-print-with-natural-frame-24-x-36","titleCopy":"Frond of You Art Print with Natural Frame (24\" x 36\")","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/1/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:BEVELED\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLES%20TYPES:CARVED\u0026feature=HANDLE%20FINISH:LATTE\u0026feature=PRIMARY%20SURFACE%20OPTION:LATTE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr10aa1115-latte-sloan-credenza-in-latte-wood","titleCopy":"Latte Sloan Credenza in Latte Wood","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_STLM/frames/7/CNV_STLM.JPG?background=FFFFFF\u0026feature=SEAT%20CUSHION%20TYPES:ROUND\u0026feature=BASE%20TYPES:3%20LEG\u0026feature=UPHOLSTERY:PEBBLE%20WEAVE%20AVOCCADO\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/br10cr11-latte-burnham-stool-in-avocado","titleCopy":"Latte Burnham Stool in Avocado","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid23'>
    </lifestyle-grid>


    <script>
      const spacer24 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer24'>
      </custom-spacer>


    <script>
      const titleContent25 = {"titleCopy":"Small But Mighty","bodyCopy":"The perfect seat for kids and bar-goers alike, our custom stools offer comfort as readily as they do good looks. Use it as a footrest, a counter stool, personalized bar stools, or even a decor accent in a small room. Whatever you use it for, customize it to match your other seating pieces such as our modern \u003ca href=\"https://insideweather.com/pages/sofettes\"\u003eloveseats\u003c/a\u003e and sofas! At Inside Weather, we make it easy to customize furniture for the look you want. \u003cbr /\u003e\u003cbr /\u003eWith 400+ upholstery choices, numerous wood finishes, and two leg design options, you are bound to find a stool configuration that you love. Plus, every item is made with sustainable solid wood, comes with a 365 day home trial! Find the perfect custom stool for your space today at Inside Weather."};
    </script>
    <title-text v-bind='titleContent25'></title-text>


    <script>
      const spacer26 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer26'>
      </custom-spacer>

      </div>
