      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/haven/tb/col_haven_tb_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/haven/tb/col_haven_tb_m.jpg","altText":"custom beds","destination":null,"titleCopy":"The Haven Collection","titleCopyColor":"#202020","bodyCopy":"Our Haven Bed Frame features a modern silhouette and comes in multiple heights, styles, and finishes—all of which are defined by you.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Haven Bed Frame","bodyCopy":"Start with a size and customize to make it your own."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Twin Haven Upholstered Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he101311ci-twin-haven-bed-frame-in-espresso","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_01.jpg"},{"titleCopy":"Full Haven Upholstered Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he111110bt-full-haven-bed-frame-in-latte","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_02.jpg"},{"titleCopy":"Queen Haven Upholstered Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he121211pj-queen-haven-bed-frame-in-espresso","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_03.jpg"},{"titleCopy":"King \u0026 Cal King Haven Upholstered Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he131112cc-king-haven-bed-frame-in-black","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_04.jpg"},{"titleCopy":"Twin Haven Wood Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he101012-twin-haven-bed-frame-in-black","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_05.jpg"},{"titleCopy":"Full Haven Wood Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he111311-full-haven-bed-frame-in-espresso","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_06.jpg"},{"titleCopy":"Queen Haven Wood Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he121210-queen-haven-bed-frame-in-latte","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_07.jpg"},{"titleCopy":"King \u0026 Cal King Haven Wood Bed Frame","linkCopy":"Customize Now","destination":"https://insideweather.com/products/he141011-cal-king-haven-bed-frame-in-espresso","image":"https://cdn.insideweather.com/collections/haven/grid/col_haven_grid_08.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Bed Frame on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways in which you can manipulate our Haven Bed Frame collection to make it truly yours. Each modern bed frame is made to order—per your specs—at our California Crafthouse and ships to your doorstep months faster than any other “custom” maker out there.","backgroundColor":"#E6D2B3","image":"https://cdn.insideweather.com/collections/haven/customize/col_haven_cust-bnr_d_v1.png","altText":"modern bookcase","mobileImages":[{"image":"https://cdn.insideweather.com/collections/haven/customize/col_haven_cust-bnr_m_v1.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes the Haven Collection unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"This modern bed frame collection presents custom bed frame options that put you in the designer seat. Choose from four custom solid ash wood leg styles to define the best silhouette and height that suits your needs and defines your ideal look. Then design each side rail to your own specs—opt for an all wood look featuring sleek Baltic Birch plywood panels or one of our performance fabrics to add a soft yet durable touch to the space. Our signature platform bed design is made to support all mattress types and promotes temperature regulation for optimal ZZZs.","image":"https://cdn.insideweather.com/pdp/details/haven/collection_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/haven/collection_m.mp4","altText":"custom bed","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Custom Height","bodyCopy":"This custom bed frame’s base style design and height are—you guessed it—customizable! Decide if a base height of 14” or 18” is best for you. Both afford under-bed storage space but the latter allows for a bit more flexibility. Both will catch you a little differently when you go in hard for that nap and present a slightly different style \u0026 vibe so given you’re the designer—what’s yours?","image":"https://cdn.insideweather.com/pdp/details/haven/custom-height_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/haven/custom-height_m.mp4","altText":"bed frame","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Upholsteries Galore","bodyCopy":"The mecca of fabric libraries if you will. Select from 100+ choices that span the rainbow, all of which are hand-stitched here in California. We're talkin' stain-resistant Performance Upholsteries, Pet-friendly possibilities, and even Commercial Grade selections so find one that's truly tailored to comfort your needs (\u0026 potential mischief). Your match is here, you just have to find it!","image":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_d.mp4","mobileImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery_m.mp4","altText":"upholstered headboard","supportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_d.png","mobileSupportImage":"https://cdn.insideweather.com/cat/all/upholstery/cat_upholstery-signature-ico_m.png","supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Platform Bed Perks","bodyCopy":"This custom platform bed is designed to perform the function of both the bed and the foundation so that there is no need for you to invest or deal with a traditional box spring. Our signature, crosswise slatted construction is optimized to support all mattress types (foam, hybrid, innerspring, etc.) and allows maximum air circulation to support temperature regulation as well as minimize the breeding of mold \u0026 germs. After all, it’s your sanctuary—let’s keep it that way.","image":"https://cdn.insideweather.com/pdp/details/haven/platform_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/haven/platform_m.jpg","altText":"Platform Bed","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const leftRightContent18 = {"titleCopy":"Sustainable Style","bodyCopy":"The materials used to make this bed frame have been selected with intention. Our signature baltic birch is FSC certified \u0026 topped with an eco-solvent finish. We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/pdp/details/haven/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/haven/sustainable_m.jpg","altText":"wood bed","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent18'></image-text>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const smallColumnContent20 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent20'>
    </multi-column-text-image>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const titleContent22 = {"titleCopy":"Get Inspired","bodyCopy":null};
    </script>
    <title-text v-bind='titleContent22'></title-text>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const lifestyleGrid24 = {"images":[{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:SQUARE\u0026feature=LEG%20HEIGHT:LOW\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=BED%20FRAME%20SIDE%20RAIL:WOOD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121211-queen-haven-bed-frame-in-espresso","titleCopy":"Queen Haven Bed Frame in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:OXFORD%20WEAVE%20SMOKE\u0026feature=BACK:OXFORD%20WEAVE%20SMOKE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq13cpcp-18-x-18-accent-pillow-cover-only","titleCopy":"18\" x 18\" Accent Pillow","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:DS1032A\u0026feature=EDGE%20FINISH:DARK\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/us10lg1111-round-custom-via-side-table-in-white-marble","titleCopy":"Round Custom Via Side Table in White Marble","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:SQUARE\u0026feature=LEG%20HEIGHT:HIGH\u0026feature=LEG%20FINISH:LATTE\u0026feature=BED%20FRAME%20SIDE%20RAIL:UPHOLSTERED\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20FOG\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121310ak-queen-haven-bed-frame-in-latte","titleCopy":"Queen Haven Bed Frame in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ASHBY_HB_QN/frames/1/ASHBY_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:1X4\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20FOG\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ab1212ak-queen-ashby-headboard-in-fog-1-x-4","titleCopy":"Queen Ashby Headboard in Fog (1 x 4)","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/js11fi-latte-jorn-side-table","titleCopy":"Latte Jorn Side Table","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_CLKG/frames/1/HAVEN_HB_CLKG.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:TAPERED\u0026feature=LEG%20HEIGHT:LOW\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=BED%20FRAME%20SIDE%20RAIL:WOOD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he141011-cal-king-haven-bed-frame-in-espresso","titleCopy":"Cal King Haven Bed Frame in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:TAPERED\u0026feature=LEG%20HEIGHT:HIGH\u0026feature=LEG%20FINISH:LATTE\u0026feature=BED%20FRAME%20SIDE%20RAIL:UPHOLSTERED\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121110ci-queen-haven-bed-frame-in-latte","titleCopy":"Queen Haven Bed Frame in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ASHBY_HB_QN/frames/1/ASHBY_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:1X4\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ab1212ci-queen-ashby-headboard-in-oyster-1-x-4","titleCopy":"Queen Ashby Headboard in Oyster (1 x 4)","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/js11fi-latte-jorn-side-table","titleCopy":"Latte Jorn Side Table","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/1/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:VISTA%20PARCHMENT\u0026feature=BACK:VISTA%20PARCHMENT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq10dndn-16-x-16-accent-pillow-with-insert","titleCopy":"16\" x 16\" Accent Pillow","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:OXFORD%20WEAVE%20SMOKE\u0026feature=BACK:OXFORD%20WEAVE%20SMOKE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq13cpcp-18-x-18-accent-pillow-cover-only","titleCopy":"18\" x 18\" Accent Pillow","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:SQUARE\u0026feature=LEG%20HEIGHT:LOW\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=BED%20FRAME%20SIDE%20RAIL:WOOD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121211-queen-haven-bed-frame-in-espresso","titleCopy":"Queen Haven Bed Frame in Espresso","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:TAPERED\u0026feature=LEG%20HEIGHT:HIGH\u0026feature=LEG%20FINISH:LATTE\u0026feature=BED%20FRAME%20SIDE%20RAIL:UPHOLSTERED\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121110ci-queen-haven-bed-frame-in-latte","titleCopy":"Queen Haven Bed Frame in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ASHBY_HB_QN/frames/1/ASHBY_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:1X4\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ab1212ci-queen-ashby-headboard-in-oyster-1-x-4","titleCopy":"Queen Ashby Headboard in Oyster (1 x 4)","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/js11fi-latte-jorn-side-table","titleCopy":"Latte Jorn Side Table","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/1/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:VISTA%20PARCHMENT\u0026feature=BACK:VISTA%20PARCHMENT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq10dndn-16-x-16-accent-pillow-with-insert","titleCopy":"16\" x 16\" Accent Pillow","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:TAPERED\u0026feature=LEG%20HEIGHT:LOW\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=BED%20FRAME%20SIDE%20RAIL:WOOD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121011-queen-haven-bed-frame-in-espresso","titleCopy":"Queen Haven Bed Frame in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ASHBY_HB_QN/frames/1/ASHBY_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:1X5\u0026feature=UPHOLSTERY:KEY%20LARGO%20FISHERMAN%20GREEN\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ab1213bz-queen-ashby-headboard-in-forest-green-1-x-5","titleCopy":"Queen Ashby Headboard in Forest Green (1 x 5)","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:SQUARE\u0026feature=LEG%20HEIGHT:HIGH\u0026feature=LEG%20FINISH:LATTE\u0026feature=BED%20FRAME%20SIDE%20RAIL:UPHOLSTERED\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20FOG\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121310ak-queen-haven-bed-frame-in-latte","titleCopy":"Queen Haven Bed Frame in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ASHBY_HB_QN/frames/1/ASHBY_HB_QN.JPG?background=FFFFFF\u0026feature=HEADBOARD%20OPTION:1X4\u0026feature=UPHOLSTERY:LINEN%20WEAVE%20FOG\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ab1212ak-queen-ashby-headboard-in-fog-1-x-4","titleCopy":"Queen Ashby Headboard in Fog (1 x 4)","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_JORN_ST/frames/3/CNV_JORN_ST.JPG?background=FFFFFF\u0026feature=BASE%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=SHELF%20PATTERN:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/js11fi-latte-jorn-side-table","titleCopy":"Latte Jorn Side Table","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:SQUARE\u0026feature=LEG%20HEIGHT:LOW\u0026feature=LEG%20FINISH:LIGHT%20ESPRESSO\u0026feature=BED%20FRAME%20SIDE%20RAIL:WOOD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121211-queen-haven-bed-frame-in-espresso","titleCopy":"Queen Haven Bed Frame in Espresso","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_AP_SQR/frames/2/CNV_AP_SQR.JPG?background=FFFFFF\u0026feature=FRONT:OXFORD%20WEAVE%20SMOKE\u0026feature=BACK:OXFORD%20WEAVE%20SMOKE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/pq13cpcp-18-x-18-accent-pillow-cover-only","titleCopy":"18\" x 18\" Accent Pillow","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLSID/frames/3/CNV_TBLSID.JPG?additionalData=true\u0026background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:DS1032A\u0026feature=EDGE%20FINISH:DARK\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/us10lg1111-round-custom-via-side-table-in-white-marble","titleCopy":"Round Custom Via Side Table in White Marble","price":null}]},{"image":"https://cdn.insideweather.com/collections/haven/lifestyles/col_haven_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/HAVEN_HB_QN/frames/1/HAVEN_HB_QN.JPG?background=FFFFFF\u0026feature=LEG%20STYLE:TAPERED\u0026feature=LEG%20HEIGHT:HIGH\u0026feature=LEG%20FINISH:LATTE\u0026feature=BED%20FRAME%20SIDE%20RAIL:UPHOLSTERED\u0026feature=UPHOLSTERY:MONACO%20MONDO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/he121110ci-queen-haven-bed-frame-in-latte","titleCopy":"Queen Haven Bed Frame in Latte","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid24'>
    </lifestyle-grid>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>

      </div>
