<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210119170138"><link rel="stylesheet" href="{{ 'pagefly.f822e07a.css' | asset_url }}">
		 <style>
  
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff2?5019295141139618885') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLightObl-webfont.woff?5019295141139618885') format('woff');
    font-weight: 300;
    font-style: italic;
}


  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: italic;
}





@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  
@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: italic;
}  
  
  
@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff2?5019295141139618885') format('woff2'),
         url({'https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldOblique-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BookCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-MediumCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-DemiCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: 600;
    font-style: normal;
}  

@font-face {
    font-family: 'Avalon Condensed';
    src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff2?5019295141139618885') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-BoldCond-webfont.woff?5019295141139618885') format('woff');
    font-weight: bold;
    font-style: normal;
}




.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}

.__pf, .avalon-xlight-i {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: italic !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.__pf, .avalon-book-i {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.__pf, .avalon-book-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.__pf, .avalon-medium-i {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.__pf, .avalon-medium-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}


.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-demi-i {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: italic !important;
}

.__pf, .avalon-demi-c {
	 font-family: 'Avalon Condensed' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

.__pf, .avalon-bold-i {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.__pf, .avalon-bold-c {
 font-family: 'Avalon Condensed' !important;
    font-weight: bold !important;
    font-style: normal !important;
}</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-8e821c18"><div data-pf-type="Layout" class="pf-6058100a"><div data-container="true" class="sc-pZopv bjKdkd pf-874ae252" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1600px;"><div class="sc-qPjXN eYzxUD pf-924c874a pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:0px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--9 pf-c-md--6 pf-c-lg--11"><div class="sc-pkUyL fTyjzF pf-2323924c" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-870d2323"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ee0a870d avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1807ee0a">Shipping</span></h2></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-6ccd01b7" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-cb4fff1d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-459d30e2" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-43b085eb" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5e1ec8eb avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8e02c20f">WHERE WE SHIP</span></h3><p class="sc-oUAoT HrWqm pf-003aed5b avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8da23d2d">We ship anywhere within the contiguous United States. At this time, we don’t ship internationally or to Puerto Rico, Alaska & Hawaii. For those of you who inhabit such a place, if you have to have it, we’re happy to send any order to a reshipper, upon your request, that is located in the contiguous US. We are unable to ship to PO Boxes purely because we literally do not fit. “But my apartment is smaller,” you say? Real funny. </span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-5b98cd09" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-5d8b6830 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-00444a71" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-2f1bc65b" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0e11a21b avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2f39bae9">FREE SHIPPING</span></h3><p class="sc-oUAoT HrWqm pf-e1fbd56a avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ad6daefc">Shipping on all orders is free. We ship you not.  </span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-f51e1c40" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-2c0ee440 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-ce144e7d" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-33c433ea" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9bc26d6b avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-39a32f4b">TRACKING AND DELIVERY</span></h3><p class="sc-oUAoT HrWqm pf-6deba787 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4c0be7c5">All of our packages are parcel shipments, meaning that your order will arrive in our easy-to-handle boxes. Think: FedEx or UPS. This also means that you won’t necessarily have to be home to receive them; regardless, you’ll find them delivered right to your doorstep. You can track the date of your estimated delivery via the link sent to you in your shipping confirmation email, or you can sign up for text updates from a link in this same email.<br><br>If you have special delivery requests, please <span style="font-weight: bold; color: #202020; text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us">contact us</a></span> as soon as you place the order so we can do our best to accommodate accordingly.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-fe30cef9" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-fe953447 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-6151de59" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-550b0b76" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-840ffc5d avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b5e7374f">MANUFACTURING TIME</span></h3><p class="sc-oUAoT HrWqm pf-793e3d46 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fbfb4111">Here’s the deal: we want to send you your Inside Weather creation as soon as possible but we are not willing to compromise craftsmanship (sorry, we’re not sorry). Remember, everything that comes from us is custom which means we are not pulling it off of a shelf and giving it a quick dust. That being said, if you have a guest coming into town whom you need to impress, let us know and we’ll see what we can do. Please refer to your Order Confirmation email for the most accurate manufacturing time estimate noted in business days.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-19389404" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-941e3f3c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-8fbc1dc4" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-4e267482" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c14ed49b avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8e7e035a">SHIPPING TIME</span></h3><p class="sc-oUAoT HrWqm pf-7ab590fb avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-5a44a162">Totally depends on where you want us to send it as our Sofa Stork only has so many speeds. As much as we hope you got a chuckle out of that, we know you’re not satisfied so here you go… We ship everything we make from the Sacramento area. Shipping times differ based on the type of shipment and the destination. Assuming there are no earthquakes, Carmageddon repeats or snow storms, a parcel shipment should take about 2-7 business days in transit.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-5dd8cfc9" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-66be7d04 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-d0022255" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-f7ce7ff3" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-229fc0e4 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a583aa93">ORDER STATUS & TRACKING</span></h3><p class="sc-oUAoT HrWqm pf-640a8d40 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-df1416cc">You can <span style="font-weight: bold; text-decoration-line: underline;"><a style="color: #202020; " href="https://insideweather.com/account/" target="_self">log into your account</a></span> at anytime to see your order history and the status of any orders that you have placed. As soon as your order ships, we’ll send you a confirmation email which will contain tracking & carrier information. You will also have the opportunity to sign up for SMS updates on your phone (oh to be alive in the 21st century).<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-001c7ed1" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-6089a9ed pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-df1baa96" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-162ccde7" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-08dc02ae avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d5ae3f95">SHIPPING ADDRESS CHANGES</span></h3><p class="sc-oUAoT HrWqm pf-85f6ce6f avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b36ffde0">If you need to change your address after placing an order please <span style="font-weight: bold; text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us" target="_self">get in touch</a></span> with us ASAP to make sure we edit the info in our system before it ships. Keep in mind that once your shipment is on the way, it gets a lot more difficult to reroute it. That being said, we’ll do whatever we can to assist however you may be responsible for rerouting charges.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-e97e7a73" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-1bce610e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-754da9e8" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-e7262087" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7b44d9e5 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-037117d5">RECEIVING YOUR ORDER</span></h3><p class="sc-oUAoT HrWqm pf-f8511212 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-06b6e962">Please inspect your package as soon as it arrives to ensure it didn’t get beat up on the ride in. We make a valiant effort to prevent this with our specialized packaging but we can’t ever know what goes down between our door and yours. In the event that your Inside Weather product has incurred damages of any kind,  <span style="font-weight: bold;">please <span style="text-decoration-line: underline;"><a style="color: #202020;" href="https://insideweather.com/pages/contact-us" target="_self">reach out</a></span> to us within 48 hours of delivery.&nbsp;</span><br><br>Please note that all Hanger Frames™ Wall Art purchases are subject to Hanger Frames' Return Policies. Please visit their website  <a style="font-weight:700; text-decoration:underline; color:#202020;" href="https://hangerframes.com/pages/returns">here</a> for more information & reach out to their team if you have any questions post-delivery.</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-fa9cce0b" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-f491cce7 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-d150168a" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-9a360b66" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1bfd01e0 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-969eb101">DO I NEED TO KEEP PACKAGING?</span></h3><p class="sc-oUAoT HrWqm pf-b4dd4455 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-83c0315d">If you plan to return your order for any reason, we ask that you do so with the original packaging, padding materials included. Note that within the 14-day return period, original packaging is required for returns. Outside of the first 14 days, returns made without the original packaging may be subject to additional costs, which will be subtracted from your refund.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-e37f8ff8" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-9fbd54ae pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-db9255e2" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-d391c266" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9c52aa3b avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e0fecb9e">IN CASE OF DAMAGE OR DEFECT</span></h3><p class="sc-oUAoT HrWqm pf-2c22d26e avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a57d357a">Take a few deep breaths, pour yourself a drink—light or dark, doesn’t matter, and once you’ve gathered yourself, snap a few pics of the problem (including the packaging) and send them over to us. We’ll get it taken care of. Deep breaths, remember?<br><br>Please take care that all damages are reported within 48 hours of delivery to facilitate an easy return. Send us the details via text, <span style="font-weight: bold;">+14158020060</span>, email us at <span style="font-weight: bold;">support@insideweather.com</span>, or use our <a style="color:#202020; font-weight: bold;" href="https://insideweather.com/pages/contact-us" target="_self">contact form</a>.<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-668c5e26" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-c5609a07 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-8fd9610b" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--8 pf-c-md--8 pf-c-lg--8"><div class="sc-pkUyL fTyjzF pf-e7dd03e0" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-bfcec112 avalon-demi"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fb09e05d">MISSING PARTS</span></h3><p class="sc-oUAoT HrWqm pf-87e7b5d3 avalon-medium" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-db29020e">This should not happen but we all have our days. In the unlikely event that you find your order is missing something, <a style="color:#202020; font-weight: bold;" href="https://insideweather.com/pages/contact-us" target="_self">reach out</a> to us as soon as you can so that we can get you what you need as soon as possible. We won’t keep you waiting.&nbsp;<br></span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-xs--hidden pf-c-sm--2 pf-c-md--2 pf-c-lg--2"><div class="sc-pkUyL fTyjzF pf-93b2a3e5" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"loomandloft.myshopify.com","elementData":{},"pageTitle":"Shipping","pageType":"page","pageId":"f822e07a-b888-4eec-941c-2ed3a95295a4","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-20T01:27:20.545Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210119170138" defer></script>