      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/elm/tb/col_elm_tb_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/elm/tb/col_elm_tb_m.jpg","altText":"custom storage cabinets","destination":null,"titleCopy":"The Elm Collection","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Elm Storage Cabinet","bodyCopy":"Start with a silhouette and customize to make it your own."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"23\" Tall 1-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em21101010111010-23-tall-1-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_01-2.jpg"},{"titleCopy":"23\" Tall 2-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em18111110101010-23-tall-2-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_02-2.jpg"},{"titleCopy":"23\" Tall 3-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em15111010101010-23-tall-3-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_03-2.jpg"},{"titleCopy":"23\" Tall 4-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em12101110111010-23-tall-4-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_04-2.jpg"},{"titleCopy":"31\" Tall 1-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em20111110111010-31-tall-1-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_05-2.jpg"},{"titleCopy":"31\" Tall 2-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em17101010101010-31-tall-2-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_06-2.jpg"},{"titleCopy":"31\" Tall 3-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em14101110111010-31-tall-3-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_07-2.jpg"},{"titleCopy":"31\" Tall 4-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em11111010101010-31-tall-4-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_08-2.jpg"},{"titleCopy":"45\" Tall 1-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em19101010101010-45-tall-1-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_09-2.jpg"},{"titleCopy":"45\" Tall 2-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em16111110111010-45-tall-2-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_10-2.jpg"},{"titleCopy":"45\" Tall 3-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em13101010101010-45-tall-3-door-elm-storage-cabinet-in-latte","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_11-2.jpg"},{"titleCopy":"45\" Tall 4-Door Elm Storage Cabinet","linkCopy":"Customize Now","destination":"https://insideweather.com/products/em10111110101010-45-tall-4-door-elm-storage-cabinet-in-espresso","image":"https://cdn.insideweather.com/collections/elm/grid/col_elm_grid_v1_12-2.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Storage Unit on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways you can modify the Elm Storage Cabinet to make it truly yours. Each piece is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#DCE3E3","image":"https://cdn.insideweather.com/collections/elm/customize/col_elm_customize-bnr_d.png","altText":"custom storage","mobileImages":[{"image":"https://cdn.insideweather.com/collections/elm/customize/col_elm_customize-bnr_m.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes the Elm Collection unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"The Elm Collection is a contemporary storage solution of organic modern design. With a variety of heights and widths to choose from, customize this cabinet to your liking and design it with custom wood, metal and glass finishes. Each cabinet offers an optional smart lighting feature which you can control and preset via multiple devices like a cellphone or your Google Home! Light up your storage game.","image":"https://cdn.insideweather.com/collections/elm/details/design_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/elm/details/design_m.jpg","altText":"storage cabinet","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Tailored to You","bodyCopy":"From a low profile media console to a tall display buffet cabinet—customize the Elm Storage Collection to your needs. Design the style and function that suits you with adjustable shelving, customizable glass doors, and optional smart lighting.","image":"https://cdn.insideweather.com/pdp/details/elm/v1/tailored_d-3.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/elm/v1/tailored_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Smart Lighting","bodyCopy":"Hey Alexa—light up my cabinet. Opt for LED Smart Lighting on your custom Elm unit powered by a remote, App, or voice control. Adjust brightness and color, switch lights on/off as you please with time setting features, and if you’re feeling colorful—sync the lights to music! Try out simple white lighting that illuminates the organic modern design or turn up your space with a playful pop of color or even alternating hues!","image":"https://cdn.insideweather.com/pdp/details/elm/v1/lighting_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/elm/v1/lighting_m.mp4","altText":"led lights","supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Custom Shelving","bodyCopy":"The Elm Collection comes with optional, adjustable shelving so you can tailor each unit to attain your personal storage goals. The interior cabinets, behind the glass doors, have a variety of different options for where your shelves can rest. Feel free to alter them as your storage needs evolve.","image":"https://cdn.insideweather.com/pdp/details/elm/v1/shelving_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/elm/v1/shelving_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const leftRightContent18 = {"titleCopy":"Material Craftsmanship","bodyCopy":"Each storage cabinet is constructed with FSC-Certified Baltic Birch Plywood and an American Maple or Walnut veneer topped with a triple coat of UV cured clear, matte, eco-solvent finish. Choose between Frosted or Fluted glass doors to define your style. Let vibrant lights illuminate curvy glassware silhouettes through fluted glass doors on an Elm Bar Cabinet. Or customize a contemporary Elm TV Console designed with frosted glass doors with a simple white accent light. Design this versatile storage collection to be anything you want it to be.","image":"https://cdn.insideweather.com/pdp/details/elm/v1/mat-craft_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/elm/v1/mat-craft_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent18'></image-text>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const leftRightContent20 = {"titleCopy":"Sustainable","bodyCopy":"The materials used to make this storage unit have been selected with intention. Our signature baltic birch is FSC certified \u0026 topped with an eco-solvent finish. We recycle any excess from each wood sheet we cut, in fact certain designs are even intended to absorb such “waste.” And as always, for every order placed with us one tree is planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent20'></image-text>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const smallColumnContent22 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent22'>
    </multi-column-text-image>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const titleContent24 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent24'></title-text>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>


    <script>
      const lifestyleGrid26 = {"images":[{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/1/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:ROUND\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc10aa10-round-classic-via-coffee-table-in-latte","titleCopy":"Round Classic Via Coffee Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/5/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:MILO%20(FABRIC)\u0026feature=UPHOLSTERY:ROYALE%20MARIGOLD\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:NO%20BUTTON\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf13cz101210131010-custom-milo-sofa-in-marigold","titleCopy":"Custom Milo Sofa in Marigold","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:45%22\u0026feature=WIDTH:2\u0026feature=STYLE:FLAT%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FLUTED%20GLASS\u0026feature=HINGE%20FINISH:SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em16111011111012-45-tall-2-door-elm-storage-cabinet-in-latte","titleCopy":"45\" Tall 2-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_NELS/frames/3/CNV_NELS.JPG?background=FFFFFF\u0026feature=BASE%20FINISHES:LATTE\u0026feature=EDGE%20FINISHES:LATTE\u0026feature=UPHOLSTERY:ELIOT%20DOVE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/el11bu-latte-edgar-lounge-chair-in-mist","titleCopy":"Latte Edgar Lounge Chair in Mist","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/3/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:23%22\u0026feature=WIDTH:4\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em12101010101010-23-tall-4-door-elm-storage-cabinet-in-latte","titleCopy":"23\" Tall 4-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ADA%20LOUNGE%20CHAIR/frames/1/ADA%20LOUNGE%20CHAIR.JPG?background=FFFFFF\u0026feature=WOOD%20FRAME%20FINISH:LATTE\u0026feature=METAL%20FINISH:CARBON\u0026feature=SEAT%20FABRIC:MONACO%20MONDO\u0026feature=ACCENT%20PILLOW%20SHAPE:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/ad1010ji10-latte-ada-lounge-chair-in-oyster","titleCopy":"Latte Ada Lounge Chair in Oyster","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/3/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:2\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em17101010101110-31-tall-2-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 2-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ROUND%20BOLSTER/frames/4/ROUND%20BOLSTER.JPG?background=FFFFFF\u0026feature=UPHOLSTERY:ROYALE%20MARIGOLD\u0026size=200","altText":null,"destination":"https://insideweather.com/products/bo16cz-round-bolster-in-marigold","titleCopy":"Round Bolster in Marigold","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/5/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:LEVI%20(FABRIC)\u0026feature=UPHOLSTERY:ROYALE%20MARIGOLD\u0026feature=CONFIGURATION:CLASSIC_SPLIT\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:WATERFALL\u0026feature=PILLOW%20DETAIL:BUTTON%201\u0026feature=BASE%20STYLE:ARC\u0026feature=BASE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf14cz131011211010-custom-levi-sofa-in-marigold","titleCopy":"Custom Levi Sofa in Marigold","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010101110-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/3/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:4\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:CARBON\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em11101010101110-31-tall-4-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 4-Door Elm Storage Cabinet in Latte","price":null}]},{"image":"https://cdn.insideweather.com/collections/elm/lifestyles/col_elm_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/LATHE%20DINING%20CHAIR/frames/3/LATHE%20DINING%20CHAIR.JPG?background=FFFFFF\u0026feature=FRAME%20FINISH:LATTE\u0026feature=BACK%20TYPE:WINGED\u0026feature=SEAT%20SHAPE:ROUNDED\u0026feature=UPHOLSTERY:RETRO%20MINT\u0026size=200","altText":null,"destination":"https://insideweather.com/products/rd101110cs-latte-sarno-dining-chair-in-retro-mint","titleCopy":"Latte Sarno Dining Chair in Retro Mint","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/ELM%20STORAGE/frames/2/ELM%20STORAGE.JPG?background=FFFFFF\u0026feature=HEIGHT:31%22\u0026feature=WIDTH:3\u0026feature=STYLE:RAISED%20TOP\u0026feature=WOOD%20FINISH:LATTE\u0026feature=DOOR%20FINISH:FROSTED%20GLASS\u0026feature=HINGE%20FINISH:SILVER\u0026size=200","altText":null,"destination":"https://insideweather.com/products/em14101010111010-31-tall-3-door-elm-storage-cabinet-in-latte","titleCopy":"31\" Tall 3-Door Elm Storage Cabinet in Latte","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid26'>
    </lifestyle-grid>


    <script>
      const spacer27 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer27'>
      </custom-spacer>

      </div>
