      <div id="app">
            <script>
      const topBanner0 = {"image":"https://cdn.insideweather.com/collections/original-custom-storage/tb/col_og-storage_tb_v1_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/original-custom-storage/tb/col_og-storage_tb_v1_m.jpg","altText":"custom storage cabinets","destination":null,"titleCopy":"The Original Custom Storage Collection","titleCopyColor":"#202020","bodyCopy":"Made-to-order sustainably, quickly custom-built from scratch here in the U.S., and ships fast to you in a manageable box.","bodyCopyColor":"#202020"};
    </script>
    <top-banner v-bind='topBanner0'>
      </top-banner>


    <script>
      const valueProp1 = {"backgroundColor":"#f2f2f2","icons":[{"image":"https://cdn.insideweather.com/cat/all/vprop-small/usa-ico.png","text":"MADE IN THE USA"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/home-trial-ico.png","text":"365 DAY HOME TRIAL"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/free-ship-ico.png","text":"QUICK SHIP CUSTOM"},{"image":"https://cdn.insideweather.com/cat/all/vprop-small/sustainable-ico.png","text":"SUSTAINABLE"}]};
    </script>
    <vprop-icons v-bind='valueProp1'>
    </vprop-icons>


    <script>
      const spacer2 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer2'>
      </custom-spacer>


    <script>
      const titleContent3 = {"titleCopy":"Meet the Original Custom Storage Cabinets","bodyCopy":"Start with a credenza or sideboard and customize the rest."};
    </script>
    <title-text v-bind='titleContent3'></title-text>


    <script>
      const spacer4 = {"backgroundColor":"#FFF","desktopSpacing":"80px","mobileSpacing":"50px"};
    </script>
    <custom-spacer v-bind='spacer4'>
      </custom-spacer>


    <script>
      const productGrid5 = {"products":[{"titleCopy":"Sloan Credenza in Espresso Wood Grain","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cr11ab1217-espresso-sloan-credenza-in-espresso-wood","image":"https://cdn.insideweather.com/cat/storage/credenzas/grid/cat_credenzas_col_01_grid_v2_01.jpg"},{"titleCopy":"Sloan Credenza in Latte Wood Grain","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cr10aa1114-latte-sloan-credenza-in-latte-wood","image":"https://cdn.insideweather.com/cat/storage/credenzas/grid/cat_credenzas_col_01_grid_v2_02.jpg"},{"titleCopy":"Sloan Credenza in Custom Colors","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cr10ac1114-latte-sloan-credenza-in-white","image":"https://cdn.insideweather.com/cat/storage/credenzas/grid/cat_credenzas_col_01_grid_v2_03.jpg"},{"titleCopy":"Sloan Credenza in Custom Graphics","linkCopy":"Customize Now","destination":"https://insideweather.com/products/cr10cf1114-latte-sloan-credenza-in-white-marble","image":"https://cdn.insideweather.com/cat/storage/credenzas/grid/cat_credenzas_col_01_grid_v2_04.jpg"},{"titleCopy":"Voss Sideboard in Espresso Wood Grain","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb11ab1217-espresso-voss-sideboard-in-espresso-wood","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_01.jpg"},{"titleCopy":"Voss Sideboard in Latte Wood Grain","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb10aa1114-latte-voss-sideboard-in-latte-wood","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_02.jpg"},{"titleCopy":"Voss Sideboard in Custom Colors","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb10ac1114-latte-voss-sideboard-in-white","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_03.jpg"},{"titleCopy":"Voss Sideboard in Custom Graphics","linkCopy":"Customize Now","destination":"https://insideweather.com/products/sb10cf1114-latte-voss-sideboard-in-white-marble","image":"https://cdn.insideweather.com/cat/storage/sideboards/grid/cat_sideboards_col_01_grid_v2_04.jpg"}]};
    </script>
    <category-product-grid v-bind='productGrid5'>
    </category-product-grid>


    <script>
      const supportBanner6 = {"titleCopy":"The Most Customizable Storage on the Internet","bodyCopy":"When we say custom, we mean it. Explore all the ways you can modify these sideboards \u0026 credenzas to make it truly yours. Each one is made to order—per your specs—at our California Crafthouse and ships to your doorstep faster than any other “custom” maker out there.","backgroundColor":"#EEDACF","image":"https://cdn.insideweather.com/collections/original-custom-storage/customize/col_og-storage_customize_v1_d-min.png","altText":null,"mobileImages":[{"image":"https://cdn.insideweather.com/collections/original-custom-storage/customize/col_og-storage_customize_v1_m-min.png"},{"image":null}]};
    </script>
    <support-banner v-bind='supportBanner6'>
    </support-banner>


    <script>
      const spacer7 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer7'>
      </custom-spacer>


    <script>
      const titleContent8 = {"titleCopy":"Details","bodyCopy":"Discover what makes our sideboards \u0026 credenzas so unique."};
    </script>
    <title-text v-bind='titleContent8'></title-text>


    <script>
      const spacer9 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer9'>
      </custom-spacer>


    <script>
      const leftRightContent10 = {"titleCopy":"Behind the Design","bodyCopy":"These sideboards \u0026 credenzas make themselves at home in any room, whether that’s by the dining table, or in the dressing quarters where you keep your vêtements. Whatever you choose, these come exactly how you like it. Our FSC Certified, 100% Baltic Birch wood is precision milled in our US manufacturing facility to achieve a sophisticated look. If your house had a mouth, it’d be watering.","image":"https://cdn.insideweather.com/collections/original-custom-storage/details/design_d.jpg","mobileImage":"https://cdn.insideweather.com/collections/original-custom-storage/details/design_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent10'></image-text>


    <script>
      const spacer11 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer11'>
      </custom-spacer>


    <script>
      const leftRightContent12 = {"titleCopy":"Adjustable","bodyCopy":"This adaptable credenza contains one centered interior vertical panel and a horizontal shelf on either side. The shelves can be easily adjusted to your desired height with seven different placement options! This creates a total of four flexible cubby spaces to accommodate your storage needs.","image":"https://cdn.insideweather.com/pdp/details/storage/adjustable/adjustable_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/storage/adjustable/adjustable_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent12'></image-text>


    <script>
      const spacer13 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer13'>
      </custom-spacer>


    <script>
      const leftRightContent14 = {"titleCopy":"Materials You Want","bodyCopy":"The Original Custom Storage Collection is constructed from 100% FSC-certified birchwood, so you know it’s sustainable and dependable. Woods and metals for the bases and handles are made from solid ash wood and high-strength, powder-coated stainless steel. Don’t worry, we’ll never skip the details.","image":"https://cdn.insideweather.com/cat/storage/details/materials/materials_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/storage/details/materials/materials_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent14'></image-text>


    <script>
      const spacer15 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer15'>
      </custom-spacer>


    <script>
      const leftRightContent16 = {"titleCopy":"Life-Proof","bodyCopy":"Our signature soft close doors protect against long term wear and add a graceful touch to each interaction. What about cleaning? Feel free to wipe it with whatever cleaning products you have laying around the house. It's life-proof for your convenience.","image":"https://cdn.insideweather.com/pdp/details/storage/lifeproof/lifeproof_d.mp4","mobileImage":"https://cdn.insideweather.com/pdp/details/storage/lifeproof/lifeproof_m.mp4","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":true,"largeImage":false};
    </script>
    <image-text v-bind='leftRightContent16'></image-text>


    <script>
      const spacer17 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer17'>
      </custom-spacer>


    <script>
      const leftRightContent18 = {"titleCopy":"Sustainable","bodyCopy":"The materials used to make our credenzas \u0026 sideboards have been selected with intention. Our signature baltic birch is certified by the Forest Stewardship Council and topped with an Eco-solvent finish. We recycle any excess from each wood sheet used, in fact certain designs are even intended to absorb such “waste.” Only nose to tail cooks in this kitchen.","image":"https://cdn.insideweather.com/pdp/details/storage/sustainable/sustainable_d.jpg","mobileImage":"https://cdn.insideweather.com/pdp/details/storage/sustainable/sustainable_m.jpg","altText":null,"supportImage":null,"mobileSupportImage":null,"supportAltText":null,"reverse":false,"largeImage":true};
    </script>
    <image-text v-bind='leftRightContent18'></image-text>


    <script>
      const spacer19 = {"backgroundColor":"#FFF","desktopSpacing":"110px","mobileSpacing":"30px"};
    </script>
    <custom-spacer v-bind='spacer19'>
      </custom-spacer>


    <script>
      const smallColumnContent20 = {"backgroundColor":"#F2f2f2","columns":[{"titleCopy":"Designed \u0026 Made in the USA","bodyCopy":"Every one of our furniture pieces is made-to-order in our California workshop. Our team both dreams it and sees it through, all under the same roof.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_01_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_01_m.jpg","altText":"designed in-house and made in the usa"},{"titleCopy":"Quick Ship Custom","bodyCopy":"Custom \u003ca href=\"https://insideweather.com/\"\u003efurniture\u003c/a\u003e no longer means months of waiting. Our business model allows for each product to be highly customized to you, and sent off to your doorstep within a matter of days.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_02_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_02_m.jpg","altText":"Quick Ship Custom"},{"titleCopy":"365 Day Home Trial","bodyCopy":"Take some time to get acclimated to your new furniture. In fact, take all four seasons if you have to! You’ve got 365 days to try it out. Still not satisfied? We’ll take it back.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_03_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_03_m.jpg","altText":"home trial"},{"titleCopy":"Carbon Negative","bodyCopy":"From sofas that upcycle 200+ plastic bottles to biodegradable packaging—rest easy knowing you have the most sustainable furniture on the market. Plus, every order = 2 trees planted via the National Forest Foundation.","image":"https://cdn.insideweather.com/cat/all/vprop/052121_cat_vprop_04_d.jpg","mobileImage":"https://cdn.insideweather.com/cat/all/vprop/063021_cat_vprop_04_m.jpg","altText":"sustainable furniture"}]};
    </script>
    <multi-column-text-image v-bind='smallColumnContent20'>
    </multi-column-text-image>


    <script>
      const spacer21 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer21'>
      </custom-spacer>


    <script>
      const titleContent22 = {"titleCopy":"Visualize the Possibilities","bodyCopy":"Ask more from your furniture."};
    </script>
    <title-text v-bind='titleContent22'></title-text>


    <script>
      const spacer23 = {"backgroundColor":"#FFF","desktopSpacing":"65px","mobileSpacing":"35px"};
    </script>
    <custom-spacer v-bind='spacer23'>
      </custom-spacer>


    <script>
      const lifestyleGrid24 = {"images":[{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_01.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/2/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:LATTE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr10aa1414-latte-sloan-credenza-in-latte-wood","titleCopy":"Latte Sloan Credenza in Latte Wood","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_02.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/3/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:WOOD.WOODLEGS.LIGHT_ESPRESSO\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1094\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb11js1317-espresso-voss-sideboard-in-neapolitan","titleCopy":"Espresso Voss Sideboard in Neapolitan","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_03.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/3/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20BRASS\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20LIGHT%20WARM%20GRAY\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb11bw1424-espresso-voss-sideboard-in-light-warm-gray","titleCopy":"Espresso Voss Sideboard in Light Warm Gray","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_04.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_TBLCOF/frames/2/CNV_TBLCOF.JPG?background=FFFFFF\u0026feature=TABLE%20TYPE:OVAL\u0026feature=TABLE%20TOP%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BASE%20TYPE:FLARE\u0026feature=BASE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/lc13aa10-oval-classic-via-coffee-table-in-latte","titleCopy":"Oval Classic Via Coffee Table in Latte","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/2/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1122\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr10ku1414-latte-sloan-credenza-in-sequence","titleCopy":"Latte Sloan Credenza in Sequence","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_05.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/ANA_SOF/frames/5/ANA_SOF.JPG?background=FFFFFF\u0026feature=ARM%20STYLE:ISSA%20(FABRIC)\u0026feature=UPHOLSTERY:OXFORD%20WEAVE%20DAFFODIL\u0026feature=CONFIGURATION:CLASSIC_CLASSIC\u0026feature=PILLOW%20AND%20CUSHION%20SHAPE:SNUG\u0026feature=PILLOW%20DETAIL:BUTTON%201\u0026feature=BASE%20STYLE:DOWEL\u0026feature=BASE%20FINISH:LATTE\u0026feature=ADD%20ONS:NONE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sf17ck101211131010-custom-issa-sofa-in-daffodil","titleCopy":"Custom Issa Sofa in Daffodil","price":null},{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:FLARE\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLE%20TYPES:CARVED\u0026feature=HANDLE%20FINISH:LATTE\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1140\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10lm1113-latte-voss-sideboard-in-passionfruit-paradise","titleCopy":"Latte Voss Sideboard in Passionfruit Paradise","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_06.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/3/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:WOOD.WOODLEGS.LIGHT_ESPRESSO\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20BRASS\u0026feature=PRIMARY%20SURFACE%20OPTION:LIGHT%20ESPRESSO\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb11ab1417-espresso-voss-sideboard-in-espresso-wood","titleCopy":"Espresso Voss Sideboard in Espresso Wood","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_07.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/2/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:ARC\u0026feature=BASE%20FINISHES:METAL%20LEGS%20CARBON\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=PRIMARY%20SURFACE%20OPTION:DS1018E\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr11dj1321-espresso-sloan-credenza-in-rosy-geometry","titleCopy":"Espresso Sloan Credenza in Rosy Geometry","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_08.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_VOSS/frames/2/CNV_VOSS.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLE%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20SILVER\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20NORDIC%20BLUE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026feature=BACK%20PANEL:NO%20HOLES\u0026size=200","altText":null,"destination":"https://insideweather.com/products/sb10bj1014-latte-voss-sideboard-in-nordic-blue","titleCopy":"Latte Voss Sideboard in Nordic Blue","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_09.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/2/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:HAIRPIN\u0026feature=BASE%20FINISHES:METAL%20LEGS%20CARBON\u0026feature=HANDLES%20TYPES:BEAM\u0026feature=HANDLE%20FINISH:METAL%20LEGS%20CARBON\u0026feature=PRIMARY%20SURFACE%20OPTION:LIGHT%20ESPRESSO\u0026feature=BODY%20FINISH:LIGHT%20ESPRESSO\u0026feature=EDGE%20FINISH:LIGHT%20ESPRESSO\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr11ab1320-espresso-sloan-credenza-in-espresso-wood","titleCopy":"Espresso Sloan Credenza in Espresso Wood","price":null}]},{"image":"https://cdn.insideweather.com/collections/original-custom-storage/lifestyles/col_og-storage_lg_v1_10.jpg","altText":null,"products":[{"image":"https://content.cylindo.com/api/v2/4931/products/CNV_SLOAN/frames/2/CNV_SLOAN.JPG?background=FFFFFF\u0026feature=BASE%20TYPES:DOWEL\u0026feature=BASE%20FINISHES:LATTE\u0026feature=HANDLES%20TYPES:CARVED\u0026feature=HANDLE%20FINISH:LATTE\u0026feature=PRIMARY%20SURFACE%20OPTION:SOLID%20LAMINATE%20WHITE\u0026feature=BODY%20FINISH:LATTE\u0026feature=EDGE%20FINISH:LATTE\u0026size=200","altText":null,"destination":"https://insideweather.com/products/cr10ac1114-latte-sloan-credenza-in-white","titleCopy":"Latte Sloan Credenza in White","price":null}]}]};
    </script>
    <lifestyle-grid v-bind='lifestyleGrid24'>
    </lifestyle-grid>


    <script>
      const spacer25 = {"backgroundColor":"#FFF","desktopSpacing":"140px","mobileSpacing":"45px"};
    </script>
    <custom-spacer v-bind='spacer25'>
      </custom-spacer>

      </div>
