{% if customer %}
  <h1 class="text-center Favorites__Header">{{ page.title }}</h1>
  <div id="app">
    <product-grid :products="{{ customer.metafields.global.v2-favorites | json | escape }}" v-cloak>
      You don't have any favorites yet
    </product-grid>
  </div>
{% else %}
  <script> window.location.href = '/account/login' </script>
{% endif %}
