{% layout none %}

{% comment %}
<div id="QuickShopModal-{{ product.id }}" class="modal modal--square" data-product-id="{{ product.id }}">  
{% endcomment %}  
  <div class="modal__inner">
    <div class="modal__centered">      
      <div class="modal__centered-content">
        {% include 'product-template-for-modal',
          image_container_width: 'medium',
          related: false,
          section_id: product.id,
          social: false,
          hide_back_section: true,
          history: false,
          loadImagesOnModalOpen: true,
          breadcrumbs: false
        %}
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        {% include 'icon-close' %}
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
{% comment %}
</div>
{% endcomment %}
