<div id="ajaxCustomerOnboard"  class="modal modal--dark">
  <div class="modal__inner">
    <div class="modal__centered page-width text-center">
      <div class="modal__centered-content">
        <div class="modal--square">
          <h1>Customer Onboard Modal</h1>
        </div>
      </div>
    </div>
  </div>
</div>