{% if settings.cart_type == 'drawer' %}
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header appear-animation appear-delay-1">
        <div class="drawer__title">
          {{ 'cart.general.title' | t }}
            <div class="drawer-clock__container" style="display:none;">
              <span id="drawer__countdown-timer"></span>
              <span class="drawer-clock__header"></span>
              <p class="drawer-clock__text"></p>
              <div class="drawer-clock__form">
                <input class="drawer-clock__input" type="email" placeholder="Email address" data-drawer-timer-email>
                <button class="btn drawer-clock__button" data-drawer-timer-submit>SUBMIT</button>
                <span class="drawer-clock__errors" data-drawer-timer-errors></span>
                <p class="drawer-clock__text" data-drawer-timer-success style="display: none;"></p>
              </div>
            </div>
        </div>
        <div class="drawer__close">
          <button type="button" class="drawer__close-button js-drawer-close">
            {% include 'icon-close' %}
            <span class="icon__fallback-text">{{ 'cart.general.close' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__body">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>
{% endif %}
