<div id="fullPageTakeOver"  class="bg-image-modal">
  <div class="modal__inner">
    <div class="modal__centered text-center">
      <div class="modal__centered-content">
        <div class="modal--square">
          <div class="fullPageTakeOver__wrapper">
            <div class="fullPageTakeOver__page" data-page='1'>
              <img class="fullPageTakeOver__page-logo" src="//cdn.shopify.com/s/files/1/2994/0144/files/logo_0061561f-e478-495d-b96b-803216dd2749.png?v=1541598736" alt="Logo"/>
              <div class="fullPageTakeOver__page-main-heading">Win $2500!</div>
              <div class="fullPageTakeOver__page-text">Sign up for a chance to win a <span class="fullPageTakeOver__page-bold-text">$2500</span> shopping spree!</div>
              <div class="fullPageTakeOver__page-cta">
                <form class="fullPageTakeOver__page-cta-form" action="http://iw-content.herokuapp.com/api/v1/user">
                  <input class="fullPageTakeOver__page-cta-input" type="email" placeholder="Enter your email" required>
                  <button class="fullPageTakeOver__page-cta-submit" type="submit">CONTINUE</button>
                </form>
              </div>
            </div>
            <div class="fullPageTakeOver__page" data-page='2'>
              <img class="fullPageTakeOver__page-logo" src="//cdn.shopify.com/s/files/1/2994/0144/files/logo_0061561f-e478-495d-b96b-803216dd2749.png?v=1541598736" alt="Logo"/>
              <div class="fullPageTakeOver__page-text fullPageTakeOver__page-text-page2">
                <div>No email address?</div>
                <div>No problem!</div>
              </div>
              <div class="fullPageTakeOver__page-cta">
                <button class="fullPageTakeOver__page-cta-submit" data-continue='true'>CONTINUE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
