@mixin at-query($size) {
  @media only screen and ($size) {
    @content
  }
}

@mixin supports-grid() {
  @supports (grid-gap: 3rem) {
    @content
  }
}

@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin multiLineEllipsis($lineHeight: 18px, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;

  &:before {
    content: '...';
    position: absolute;
    right: 2px;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
