$breakpoint-small: "max-width: 1024px";
$breakpoint-large: "min-width: 1025px";
$breakpoint-msmall: "max-width: 767px";
$breakpoint-mlarge: "min-width: 768px";
$breakpoint-xsmall: "max-width: 360px";
$gutter: 40px;
$customizer-width: 475px;
$top-bar-height: 24px;
$header-height-large: 90px;
$header-height-small: 70px;
$browse-bar-height: 40px;
$filter-panel-toggle-size: 86px;
$horizontal-wrapper-padding: 18px;
$sidebar-heading-height: 110px;
$sidebar-footer-height: 74px;
$sidebar-footer-height-mobile: 56px;
$normal-text-spacing: .025em;
$font-stack-avalon: Avalon, Poppins, "HelveticaNeue", "Helvetica Neue", sans-serif;
$font-stack-roboto: Roboto, "HelveticaNeue", "Helvetica Neue", sans-serif;
