<style>
  .ChatLauncher__Wrapper {
    bottom: 16px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: fixed;
    right: 16px;
    z-index: 1001;
  }

  @media screen and (min-width: 676px) {
    .ChatLauncher__Wrapper {
      bottom: 32px;
      right: 32px;
    }
  }

  .ChatLauncher {
    align-items: flex-end;
    align-self: flex-end;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    opacity: 1;
    transform: none;
  }

  .ChatLauncher__Button,
  .ChatLauncher__Button:hover {
    -moz-box-align: center;
    align-items: center;
    align-self: flex-start;
    background-color: rgb(32, 32, 32);
    border: 0px none;
    border-radius: 22px 22px 0px;
    box-shadow: rgba(255, 255, 255, 0.56) 0px 0px 4px 0px, rgba(0, 0, 0, 0.3) 0px 2px 12px 0px;
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: Inter, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin: 0px;
    outline: currentcolor none medium;
    padding: 16px 20px;
    pointer-events: auto;
    text-decoration: none;
  }

  .ChatLauncher__Icon {
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }

  .ChatLauncher__Text {
    box-sizing: content-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Inter, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    pointer-events: auto;
  }

  @media screen and (max-width: 675px) {
    .ChatLauncher__Text {
      display: none;
    }
  }
</style>

<div class="orb-chat-mount">
  <div class="ChatLauncher__Wrapper">
    <div class="ChatLauncher" style="opacity: 1; transform: none;">
      <a href="/pages/new-chat" class="ChatLauncher__Button">
        <svg class="ChatLauncher__Icon" viewBox="0 0 24 24"><defs><style>.a,.b{fill:none;stroke:currentColor;stroke-width:1.5px;}.a{stroke-linecap:round;stroke-linejoin:round;}.b{stroke-miterlimit:10;}</style></defs><path class="a" d="M9,9a3,3,0,1,1,4,2.829,1.5,1.5,0,0,0-1,1.415V14.25"></path><path class="a" d="M12,17.25a.375.375,0,1,0,.375.375A.375.375,0,0,0,12,17.25h0"></path><circle class="b" cx="12" cy="12" r="11.25"></circle></svg>
        <span class="ChatLauncher__Text">Help</span>
      </a>
    </div>
  </div>
</div>
