{%- include 'cart-drawer' -%}

<header id="MainNav" data-section-id="{{ section_id }}" data-section-type="header-section">
    <div class="MainNav {% if template == 'index' %} MainNav--IndexTop{% endif %} ">
        <div class="MainNav__NavBlock NavBlock--Branding">
            <a href="/" class="MainNav__Logo">
                {%- if section.settings.Logo -%}
                    {{ section.settings.Logo | img_url: 'master' | img_tag }}
                {%- else -%}
                    <h1>LOGO</h1>
                {%- endif -%}
            </a>
        </div>

        <!-- LEFT HEADER -->
        <div class="MainNav__NavBlock NavBlock--Left">
            {%- include 'MainMenu-Left' -%}
        </div>

        <!-- RIGHT HEADER -->
        <div class="MainNav__NavBlock NavBlock--Right">
            {%- include 'MainMenu-Right' -%}
        </div>
    </div>
</header>

<!-- MOBILE NAV -->
<div id="MainNav-Mobile" class="MainNav--Mobile">
    {%- include 'MainMenu-Mobile' -%}
</div>

<div class="MainNav__Overlay"></div>

<!--=============================================================
    HEADER SCRIPT
=================================================================-->
<script>
    $(document).ready(function(){
        trackMobileVisibility();
    });
    $(document).on("scroll", function() {
        if($(document).scrollTop()>=100) {
            $(".template-index .MainNav").removeClass("MainNav--IndexTop");
            $("body").addClass("MainNav--Small");
        }
        else {
            $(".template-index .MainNav").addClass("MainNav--IndexTop");
            trackMobileVisibility();
            $("body").removeClass("MainNav--Small");
        }
    });

    /* MOBILE NAV SCRIPTS */
    function trackMobileVisibility(){
        if($('.template-index #MobileToggler').is(':visible')){
            $('.MainNav').removeClass('MainNav--IndexTop');
        }
    }

    $("#MobileToggler").click(function(){
        trackMobileVisibility();
        $(".MainNav--Mobile").slideToggle();
        $('body').toggleClass("MobileNav--Active");
    });

    $(".Mobile__List__Item--DropDown").click(function(){
       $(this).find(".MobileContent__Dropdown").slideToggle();
       $(this).find(".MobileDropDown__Toggler").toggleClass("MobileDropDown__Toggler--Toggled");
    });

    var $body = $('body');
    var activeClass = 'NavBlock__List__Item--Dropdown--Active';
    var bodyActiveClass = 'MainNav--Active';
    $body.on('click', '.NavBlock__List__Item--Dropdown > a', function (e) {
        e.preventDefault();
        var $this = $(this).parent();
        var active = !$this.hasClass(activeClass);
        $this.add($('.' + activeClass)).toggleClass(activeClass);
        $body.toggleClass(bodyActiveClass, active);
        return false;
    });

    $body.on('click', '.MainNav__Overlay', function () {
        $('.' + activeClass).removeClass(activeClass);
        $body.removeClass(bodyActiveClass);
    });
</script>

{% schema %}
{
    "name": "MainNav",
    "class": "Testing test",
    "settings":[
        {
            "id": "Logo",
            "type": "image_picker",
            "label": "Logo"
        },
        {
            "id": "FreeSwatchesImage",
            "type": "image_picker",
            "label": "Free Swatches Image"
        },
        {
            "id": "FreeSwatchesHeading",
            "type": "text",
            "label": "Free Swatches Heading",
            "default": "Start with swatches"
        },
        {
            "id": "FreeSwatchesText1",
            "type": "text",
            "label": "Free Swatches Text 1",
            "default": "Not sure which fabric to choose?"
        },
        {
            "id": "FreeSwatchesText2",
            "type": "text",
            "label": "Free Swatches Text 2",
            "default": "Choose up to five samples and we'll<br>ship them to you, free of charge"
        },
        {
            "id": "FreeSwatchesCta",
            "type": "text",
            "label": "Free Swatches CTA",
            "default": "Order free swatches"
        },
        {
            "id": "HelpOption1Icon",
            "type": "image_picker",
            "label": "Help Option 1 Icon"
        },
        {
            "id": "HelpOption1Text",
            "type": "text",
            "label": "Help Option 1 Text",
            "default": "Mon-Sun, 10am-9pm CST"
        },
        {
            "id": "HelpOption2Icon",
            "type": "image_picker",
            "label": "Help Option 2 Icon"
        },
        {
            "id": "HelpOption2Text",
            "type": "text",
            "label": "Help Option 2 Text",
            "default": "000-000-0000"
        },
        {
            "id": "HelpOption3Icon",
            "type": "image_picker",
            "label": "Help Option 3 Icon"
        },
        {
            "id": "HelpOption3Text",
            "type": "text",
            "label": "Help Option 3 Text",
            "default": "order@xxxxxxxxx.com"
        }
    ]
}
{% endschema %}
