<header id="MainNav">
    <div class="MainNav {% if template == 'index' %} MainNav--IndexTop{% endif %} ">
        <!-- LEFT HEADER -->
        <div class="MainNav__NavBlock NavBlock--Left">
            {%- include 'MainMenu-Left' -%}
        </div>

        <!-- CENTER LOGO -->
        <div class="MainNav__NavBlock NavBlock--Center NavBlock--Center">
            <a href=""><h1>LOGO</h1></a>
        </div>

        <!-- RIGHT HEADER -->
        <div class="MainNav__NavBlock NavBlock--Right">
            {%- include 'MainMenu-Right' -%}
        </div>
    </div>
</header>

<!-- MOBILE NAV -->
<div id="MainNav-Mobile" class="MainNav--Mobile">
    {%- include 'MainMenu-Mobile' -%}
</div>

<!--=============================================================
    HEADER SCRIPT
=================================================================-->
<script>
    $(document).ready(function(){
        trackMobileVisibility();
    });
    $(document).on("scroll", function() {
        if($(document).scrollTop()>=100) {
            $(".template-index .MainNav").removeClass("MainNav--IndexTop");
            $(".MainNav").addClass("MainNav--Small");
            $(".MainNav--Mobile").addClass("MainNav--Mobile--Small");
        }
        else {
            $(".template-index .MainNav").addClass("MainNav--IndexTop");
            trackMobileVisibility();
            $(".MainNav").removeClass("MainNav--Small");
            $(".MainNav--Mobile").removeClass("MainNav--Mobile--Small");
        }
    });
    
    $(".MainNav").hover(function(){
       $(this).removeClass("MainNav--Small");
    });
    
    
    /* MOBILE NAV SCRIPTS */
    function trackMobileVisibility(){
        if($('.template-index #MobileToggler').is(':visible')){
            $('.MainNav').removeClass('MainNav--IndexTop');
        }
    }
    
    
    $("#MobileToggler").click(function(){
        trackMobileVisibility();
        $(".MainNav--Mobile").slideToggle();
        $('body').toggleClass("MobileNav--Active");
    });

    $(".Mobile__List__Item--DropDown").click(function(){
       $(this).find(".MobileContent__Dropdown").slideToggle();
       $(this).find(".MobileDropDown__Toggler").toggleClass("MobileDropDown__Toggler--Toggled");
    });
</script>


{%- comment -%}=====================================================
    SCHEMAS
=================================================={%- endcomment -%}
{% schema %}
{
    "name": "MainNav",
    "class": "Testing test",
    "settings":[
        {
            "id": "Logo",
            "type": "text",
            "label": "Logo Text",
            "default": "logo"
        },
        {
            "id": "FreeSwatchesImage",
            "type": "image_picker",
            "label": "Free Swatches Image"
        },
        {
            "id": "FreeSwatchesHeading",
            "type": "text",
            "label": "Free Swatches Heading",
            "default": "Start with swatches"
        },
        {
            "id": "FreeSwatchesText1",
            "type": "text",
            "label": "Free Swatches Text 1",
            "default": "Not sure which fabric to choose?"
        },
        {
            "id": "FreeSwatchesText2",
            "type": "text",
            "label": "Free Swatches Text 2",
            "default": "Choose up to five samples and we'll<br>ship them to you, free of charge"
        },
        {
            "id": "FreeSwatchesCta",
            "type": "text",
            "label": "Free Swatches CTA",
            "default": "Order free swatches"
        },
        {
            "id": "HelpOption1Icon",
            "type": "select",
            "label": "Help Option 1 Icon",
            "options": [
                { "value": "fas", "label": "Solid icon" },
                { "value": "far", "label": "Regular icon" },
                { "value": "fal", "label": "Light icon" }
            ],
            "default": "fal"
        },
        {
            "id": "HelpOption1Text",
            "type": "text",
            "label": "Help Option 1 Text",
            "default": "Mon-Sun, 10am-9pm CST"
        },
        {
            "id": "HelpOption2Icon",
            "type": "select",
            "label": "Help Option 2 Icon",
            "options": [
                { "value": "fas", "label": "Solid icon" },
                { "value": "far", "label": "Regular icon" },
                { "value": "fal", "label": "Light icon" }
            ],
            "default": "fal"
        },
        {
            "id": "HelpOption2Text",
            "type": "text",
            "label": "Help Option 2 Text",
            "default": "000-000-0000"
        },
        {
            "id": "HelpOption3Icon",
            "type": "select",
            "label": "Help Option 3 Icon",
            "options": [
                { "value": "fas", "label": "Solid icon" },
                { "value": "far", "label": "Regular icon" },
                { "value": "fal", "label": "Light icon" }
            ],
            "default": "fal"
        },
        {
            "id": "HelpOption3Text",
            "type": "text",
            "label": "Help Option 3 Text",
            "default": "order@xxxxxxxxx.com"
        }
    ]
}
{% endschema %}
