<div class="ssw-instagram-feed-wrap container">
    <div class="section clearfix">
      <div class="sixteen columns">

        <div class="clearfix placeholder-instagram">
          
          
          <div class="ssw-html-widget ssw-instagram-widget" data-module="service" data-name="instagramPhotos" data-gallery_id="{{section.settings.option_galleries_id}}" data-type="{{section.settings.option_font}}">
            <div class="ssw-page-loading">
              <span class="ssw-spin ssw-loader"></span>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
</div>



{% schema %}{"name":"Shoppable Instagram","class":"ssw-instagram-section","settings":[{"type":"select","id":"option_galleries_id","options":[{"value":"1","label":""}],"label":"Choose gallery"},{"type":"select","id":"option_font","options":[{"value":"grid","label":"Grid"},{"value":"slide","label":"Slide"},{"value":"listing","label":"Listing"}],"label":"Choose gallery layout"}],"presets":[{"name":"Shoppable Instagram","category":"Image"}]}{% endschema %}