/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.dxrmGe { display: inline-flex; vertical-align: middle; }
.dxrmGe picture { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b39ba7c1 {
		width: 100%;
		 height: auto;
		 margin-top: -15px;
	}
	.__pf .pf-c9381f9e {
		font-size: 44px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
	}
	.__pf .pf-938fad91 {
		text-align: center;
	}
	.__pf .pf-ad91fea9 {
		margin-bottom: 20px;
	}
	.__pf .pf-794599ec {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(105, 96, 76);
	}
	.__pf .pf-09048bd6 {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(105, 96, 76);
		 margin-top: 5px;
	}
	.__pf .pf-330953fb {
		font-size: 12px;
		 color: rgb(187, 190, 179);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-a067618d {
		font-size: 20px;
		 color: rgb(105, 96, 76);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-618d9d0b {
		padding: 40px;
		 border-style: solid;
		 border-color: rgb(203, 206, 194);
	}
	.__pf .pf-e9b55708 {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(105, 96, 76);
	}
	.__pf .pf-b358f419 {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(105, 96, 76);
		 margin-top: 5px;
	}
	.__pf .pf-b23b6b25 {
		font-size: 12px;
		 color: rgb(187, 190, 179);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-f749f7da {
		font-size: 20px;
		 color: rgb(105, 96, 76);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-f7dae3b3 {
		padding: 40px;
		 border-style: solid;
		 border-color: rgb(203, 206, 194);
	}
	.__pf .pf-10caad76 {
		background-color: rgb(32, 32, 32);
		 color: rgb(255, 255, 255);
		 padding: 15px 65px;
		 margin-top: 20px;
		 font-size: 14px;
		 letter-spacing: 0.12em;
		 text-transform: uppercase;
		 margin-right: 15px;
		 margin-left: 0px;
	}
	.__pf .pf-10caad76:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-f1172a86 {
		background-color: rgb(32, 32, 32);
		 color: rgb(255, 255, 255);
		 padding: 15px 80px;
		 margin-top: 20px;
		 font-size: 14px;
		 letter-spacing: 0.12em;
		 text-transform: uppercase;
		 margin-left: 15px;
	}
	.__pf .pf-f1172a86:hover {
		background-color: rgb(0, 0, 0);
	}
	.__pf .pf-c207f584 {
		padding: 0px;
		 border-style: none;
		 border-color: rgb(203, 206, 194);
		 text-align: center;
		 margin-left: -10px;
	}
	.__pf .pf-e3b365c9 {
		margin-top: 0px;
		 margin-left: 120px;
		 margin-right: 120px;
		 padding-left: 40px;
		 padding-right: 40px;
	}
	.__pf .pf-dd770020 {
		font-size: 11px;
		 color: rgb(155, 155, 155);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0em;
		 margin-top: 10px;
		 font-family: Roboto;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 17px;
		 font-weight: 400;
	}
	.__pf .pf-4c44f0da {
		margin-top: 45px;
		 text-align: center;
	}
	.__pf .pf-f0dab934 {
		padding-top: 0px;
		 padding-bottom: 80px;
		 margin: 0px;
	}
	.__pf .pf-b934178c {
		display: block;
		 z-index: 0;
		 margin-top: 5px;
	}
	.__pf .pf-5060574b {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8390aabe {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a0f3c282 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-c282c891 {
		position: relative;
		 display: block;
		 margin-top: -6px;
	}
	.__pf .pf-1813293c {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-28d3c5a4 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-c5a41945 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-19452030 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-20305df5 {
		text-align: center;
	}
	.__pf .pf-34f7aae4 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-c9381f9e {
		font-size: 28px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-618d9d0b {
		padding: 20px 10px;
	}
	.__pf .pf-f7dae3b3 {
		padding: 20px 10px;
	}
	.__pf .pf-10caad76 {
		padding-left: 50px;
		 padding-right: 50px;
		 margin-right: 0px;
	}
	.__pf .pf-f1172a86 {
		padding-left: 70px;
		 padding-right: 70px;
		 margin-left: 0px;
	}
	.__pf .pf-c207f584 {
		padding: 0px 10px 20px;
		 text-align: center;
		 margin-left: 0px;
	}
	.__pf .pf-e3b365c9 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-dd770020 {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 10px;
	}
	.__pf .pf-4c44f0da {
		margin-top: 10px;
	}
	.__pf .pf-f0dab934 {
		padding-bottom: 30px;
	}
	.__pf .pf-b934178c {
		z-index: 0;
	}
	.__pf .pf-5060574b {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 5%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8390aabe {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a0f3c282 {
		position: absolute;
		 z-index: 1;
		 top: 25%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1813293c {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-28d3c5a4 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-c5a41945 {
		z-index: 0;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-10caad76 {
		margin-top: 15px;
	}
	.__pf .pf-f1172a86 {
		margin-top: 15px;
	}
	.__pf .pf-b934178c {
		z-index: 0;
	}
	.__pf .pf-5060574b {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-8390aabe {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a0f3c282 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1813293c {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-28d3c5a4 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-c5a41945 {
		z-index: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-618d9d0b {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-f7dae3b3 {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-10caad76 {
		padding-left: 45px;
		 padding-right: 45px;
	}
	.__pf .pf-f1172a86 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-c207f584 {
		padding-left: 10px;
		 padding-right: 10px;
		 margin-left: -20px;
	}
	.__pf .pf-e3b365c9 {
		margin-left: 10px;
		 margin-right: 10px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-dd770020 {
		padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-4c44f0da {
		margin-top: 0px;
	}
	.__pf .pf-f0dab934 {
		padding-bottom: 30px;
	}
	.__pf .pf-b934178c {
		z-index: 0;
	}
	.__pf .pf-5060574b {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 3%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 28px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8390aabe {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a0f3c282 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 3%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1813293c {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-28d3c5a4 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-19452030 {
		z-index: 0;
	}
}
						