/* PageFly Element Styles */
						.hsMvSR__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.hsMvSR { padding: 15px 0px; position: relative; }
.hsMvSR .sc-eKZiaR { position: relative; }
.hsMvSR[data-container="true"] .sc-eKZiaR { padding: 0px 15px; width: 100%; margin: auto; }
.hsMvSR .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.eFjulw { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eFjulw { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.elofQi { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .elofQi { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .elofQi { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .elofQi { padding: var(--pf-s-xs); }
}
.dgFwhv { position: relative; }
.fbDPVD { word-break: break-word; }
.fbDPVD span { font-weight: inherit; }
.fbDPVD i { margin-right: 0.3em; }
.iSYQTX { display: inline-block; }
.iSYQTX[contenteditable="true"] { user-select: text; }
.iSYQTX { vertical-align: baseline; word-break: break-word; }
.iSYQTX:focus { outline: none; }
.iSYQTX::after { display: inline; }
.kWaRSX > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.kWaRSX[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.kWaRSX[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.kWaRSX.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.kWaRSX.dropcap--circle > span:first-child { border-radius: 100%; }
.kWaRSX:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.kWaRSX ol, .kWaRSX ul { list-style-position: inside; }
.kWaRSX blockquote { font-size: inherit; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-2612963b {
		font-size: 48px;
		 letter-spacing: 0.05em;
		 color: white;
		 margin-bottom: 48px;
		 margin-top: 48px;
	}
	.__pf .pf-37f81078 {
		text-align: center;
		 background-color: rgb(210, 211, 210);
	}
	.__pf .pf-63d15898 {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-61f16e5c {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-b428355c {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-3dfb1963 {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-4a0691c9 {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-544b16a0 {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-101a1226 {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-8301e4fd {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-137ba79f {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-b35bfd3c {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-653eac60 {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-6ae84a00 {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-25c9d50b {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-249f82d4 {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-604e9d3a {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-f30d6902 {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-351ae6c5 {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-17871ba1 {
		font-size: 20px;
		 letter-spacing: 0.05em;
		 text-transform: uppercase;
		 text-align: left;
		 color: rgb(32, 32, 32);
		 margin-bottom: 10px;
	}
	.__pf .pf-7a423186 {
		font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-796392e9 {
		margin: 0px;
	}
	.__pf .pf-a08cc1c3 {
		margin-bottom: 15px;
	}
	.__pf .pf-bf1cacca {
		margin-bottom: 60px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-2612963b {
		text-align: center;
		 font-size: 48px;
		 color: rgb(255, 255, 255);
		 letter-spacing: 0.05em;
		 padding-top: 15px;
		 margin-top: 10px;
		 padding-bottom: 15px;
		 margin-bottom: 10px;
		 background-color: rgb(199, 208, 199);
	}
	.__pf .pf-32dc17ed {
		background-color: rgb(199, 208, 199);
		 color: white;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-157ea850 {
		background-color: rgb(199, 208, 199);
		 text-align: center;
		 letter-spacing: 0.05em;
		 color: white;
	}
	.__pf .pf-37f81078 {
		background-color: rgb(199, 208, 199);
		 font-size: 48px;
		 letter-spacing: 0.05em;
		 color: rgb(255, 255, 255);
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }