/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-8dc44ba3 {
		width: 100%;
		 height: auto;
		 margin-top: -15px;
	}
	.__pf .pf-f59484ca {
		font-size: 34px;
		 color: rgb(59, 48, 36);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
	}
	.__pf .pf-b48ee0e3 {
		font-size: 16px;
		 color: rgb(59, 48, 36);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
		 line-height: 24px;
	}
	.__pf .pf-e0e3bed0 {
		text-align: center;
	}
	.__pf .pf-bed079e2 {
		margin-bottom: 20px;
	}
	.__pf .pf-79e22724 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin: 0px;
	}
	.__pf .pf-9f53af25 {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(59, 48, 36);
	}
	.__pf .pf-af2595f8 {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(59, 48, 36);
		 margin-top: 5px;
	}
	.__pf .pf-95f80b5f {
		font-size: 12px;
		 color: rgb(59, 48, 36);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-0b5fbe16 {
		font-size: 20px;
		 color: rgb(198, 106, 35);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-b642cf7d {
		padding: 40px;
		 border-style: solid;
		 border-color: rgb(236, 224, 203);
	}
	.__pf .pf-be169979 {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(59, 48, 36);
	}
	.__pf .pf-9979befc {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(59, 48, 36);
		 margin-top: 5px;
	}
	.__pf .pf-befc0ce1 {
		font-size: 12px;
		 color: rgb(59, 48, 36);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-0ce1dbd6 {
		font-size: 20px;
		 color: rgb(198, 106, 35);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-cf7d399f {
		padding: 40px;
		 border-style: solid;
		 border-color: rgb(236, 224, 203);
	}
	.__pf .pf-dbd6062a {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(59, 48, 36);
	}
	.__pf .pf-062a6a29 {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(59, 48, 36);
		 margin-top: 5px;
	}
	.__pf .pf-6a296afa {
		font-size: 12px;
		 color: rgb(59, 48, 36);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-6afa23db {
		font-size: 20px;
		 color: rgb(198, 106, 35);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-399f63a2 {
		padding: 40px;
		 border-style: solid;
		 border-color: rgb(236, 224, 203);
	}
	.__pf .pf-9f98d769 {
		margin-top: 0px;
		 margin-left: 120px;
		 margin-right: 120px;
		 padding-left: 40px;
		 padding-right: 40px;
	}
	.__pf .pf-49e47b68 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin: 0px;
	}
	.__pf .pf-653a42b8 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-a59052a8 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-189f6437 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-64374b9c {
		text-align: center;
	}
	.__pf .pf-4b9cc10c {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-192be951 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-53feb57b {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-b57b5695 {
		text-align: center;
	}
	.__pf .pf-56957557 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-6aae526a {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-5f2a8376 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-837633e7 {
		text-align: center;
	}
	.__pf .pf-33e75f0e {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-b72fe130 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-87b89bc9 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-9bc93cd4 {
		text-align: center;
	}
	.__pf .pf-3cd46c80 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-46b7a39e {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-b2090803 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-0803517a {
		text-align: center;
	}
	.__pf .pf-517aaa02 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-56dc313f {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-d78eafc6 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-afc670e5 {
		text-align: center;
	}
	.__pf .pf-02f63e13 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-3b4e2e65 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-2e65a695 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-6ea62c6e {
		text-align: center;
	}
	.__pf .pf-ac148e5a {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-a695dd38 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-dd389f9b {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-2c6e6fdb {
		text-align: center;
	}
	.__pf .pf-3e584e37 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-9f9bb4bd {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-b4bdf109 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-6fdb31d4 {
		text-align: center;
	}
	.__pf .pf-0540569b {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-e2ef02f1 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-02f10438 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-73067461 {
		text-align: center;
	}
	.__pf .pf-4ff9a6ca {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-f109b3c1 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-b3c1e2ef {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-31d47306 {
		text-align: center;
	}
	.__pf .pf-7a27c719 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-8e84de27 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-de272447 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-2447f278 {
		text-align: center;
	}
	.__pf .pf-a1e6d932 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-413cae9e {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-ae9e62b2 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-388d7428 {
		text-align: center;
	}
	.__pf .pf-4f7142ea {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-0438d711 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-d71189fb {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-74614b15 {
		text-align: center;
	}
	.__pf .pf-548be200 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-89fbf209 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-f209413c {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-4b15388d {
		text-align: center;
	}
	.__pf .pf-30453f7c {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-62b26943 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-69432145 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-7428546f {
		text-align: center;
	}
	.__pf .pf-aa901166 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-2145df96 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-df9641bc {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-546fca23 {
		text-align: center;
	}
	.__pf .pf-2fb2ba84 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-41bc0409 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-0409d607 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-ca234026 {
		text-align: center;
	}
	.__pf .pf-007c0d9a {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-d607f23b {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-f23bbc5c {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-4026c11b {
		text-align: center;
	}
	.__pf .pf-17ceeacd {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-bc5ca8f7 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-a8f74c16 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-c11b1eb0 {
		text-align: center;
	}
	.__pf .pf-70e547b6 {
		margin-top: 0px;
	}
	.__pf .pf-47b69abc {
		padding-top: 0px;
	}
	.__pf .pf-b14100b2 {
		font-size: 11px;
		 color: rgb(155, 155, 155);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0em;
		 margin-top: 10px;
		 font-family: Roboto;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 17px;
		 font-weight: 400;
	}
	.__pf .pf-683faebb {
		margin-top: 45px;
		 text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-f59484ca {
		font-size: 28px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-b48ee0e3 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 20px;
	}
	.__pf .pf-79e22724 {
		padding-bottom: 0px;
	}
	.__pf .pf-9f53af25 {
		font-size: 28px;
	}
	.__pf .pf-b642cf7d {
		padding: 20px 10px;
	}
	.__pf .pf-be169979 {
		font-size: 28px;
	}
	.__pf .pf-cf7d399f {
		padding: 20px 10px;
	}
	.__pf .pf-dbd6062a {
		font-size: 28px;
	}
	.__pf .pf-399f63a2 {
		padding: 20px 10px;
	}
	.__pf .pf-9f98d769 {
		margin-left: 0px;
		 margin-right: 0px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-49e47b68 {
		padding-bottom: 30px;
	}
	.__pf .pf-653a42b8 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-a59052a8 {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-189f6437 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-4b9cc10c {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-192be951 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-53feb57b {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-56957557 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-6aae526a {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-5f2a8376 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-33e75f0e {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-b72fe130 {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-87b89bc9 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-3cd46c80 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-46b7a39e {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-b2090803 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-517aaa02 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-56dc313f {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-d78eafc6 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-02f63e13 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-3b4e2e65 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-2e65a695 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-ac148e5a {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-a695dd38 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-dd389f9b {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-3e584e37 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-9f9bb4bd {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-b4bdf109 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-0540569b {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-e2ef02f1 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-02f10438 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-4ff9a6ca {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-f109b3c1 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-b3c1e2ef {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-7a27c719 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-8e84de27 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-de272447 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-a1e6d932 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-413cae9e {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-ae9e62b2 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-4f7142ea {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-0438d711 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-d71189fb {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-548be200 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-89fbf209 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-f209413c {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-30453f7c {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-62b26943 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-69432145 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-aa901166 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-2145df96 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-df9641bc {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-2fb2ba84 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-41bc0409 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-0409d607 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-007c0d9a {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-d607f23b {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-f23bbc5c {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-17ceeacd {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-bc5ca8f7 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-a8f74c16 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-b14100b2 {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 10px;
	}
	.__pf .pf-683faebb {
		margin-top: 10px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-b48ee0e3 {
		font-size: 15px;
	}
	.__pf .pf-bed079e2 {
		margin-bottom: 10px;
	}
	.__pf .pf-79e22724 {
		padding-bottom: 0px;
	}
	.__pf .pf-b642cf7d {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-cf7d399f {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-399f63a2 {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-9f98d769 {
		margin-left: 10px;
		 margin-right: 10px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-49e47b68 {
		padding-bottom: 30px;
	}
	.__pf .pf-653a42b8 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-a59052a8 {
		line-height: 18px;
	}
	.__pf .pf-4b9cc10c {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-192be951 {
		line-height: 18px;
	}
	.__pf .pf-56957557 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-6aae526a {
		line-height: 18px;
	}
	.__pf .pf-33e75f0e {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-b72fe130 {
		line-height: 18px;
	}
	.__pf .pf-3cd46c80 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-46b7a39e {
		line-height: 18px;
	}
	.__pf .pf-517aaa02 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-56dc313f {
		line-height: 18px;
	}
	.__pf .pf-02f63e13 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-3b4e2e65 {
		line-height: 18px;
	}
	.__pf .pf-ac148e5a {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-a695dd38 {
		line-height: 18px;
	}
	.__pf .pf-3e584e37 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-9f9bb4bd {
		line-height: 18px;
	}
	.__pf .pf-0540569b {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-e2ef02f1 {
		line-height: 18px;
	}
	.__pf .pf-4ff9a6ca {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-f109b3c1 {
		line-height: 18px;
	}
	.__pf .pf-7a27c719 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-8e84de27 {
		line-height: 18px;
	}
	.__pf .pf-a1e6d932 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-413cae9e {
		line-height: 18px;
	}
	.__pf .pf-4f7142ea {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-0438d711 {
		line-height: 18px;
	}
	.__pf .pf-548be200 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-89fbf209 {
		line-height: 18px;
	}
	.__pf .pf-30453f7c {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-62b26943 {
		line-height: 18px;
	}
	.__pf .pf-aa901166 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-2145df96 {
		line-height: 18px;
	}
	.__pf .pf-2fb2ba84 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-41bc0409 {
		line-height: 18px;
	}
	.__pf .pf-007c0d9a {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-d607f23b {
		line-height: 18px;
	}
	.__pf .pf-17ceeacd {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-bc5ca8f7 {
		line-height: 18px;
	}
	.__pf .pf-70e547b6 {
		margin-top: 0px;
	}
	.__pf .pf-b14100b2 {
		padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-683faebb {
		margin-top: 0px;
	}
}
						