/* PageFly Element Styles */
					.lgZhBD.pf-editor-section::before, .lgZhBD.pf-editor-section::after { content: ""; display: block; position: absolute; left: 0px; right: 0px; width: 100%; height: 10px; }
.lgZhBD.pf-editor-section::before { top: -10px; }
.lgZhBD.pf-editor-section::after { bottom: -10px; }
.lgZhBD__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.lgZhBD { padding: 15px 0px; position: relative; }
.lgZhBD .sc-dliRfk { position: relative; }
.lgZhBD[data-container="true"] .sc-dliRfk { padding: 0px 15px; width: 100%; margin: auto; }
.lgZhBD .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.ciNxzc { margin: 0px -15px; }
.iFmEUE { margin: 0px -12px; }
.BcUQo { position: relative; }
.BcUQo.pf-editor-col::before, .BcUQo.pf-editor-col::after { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; width: 10px; }
.BcUQo.pf-editor-col::before { left: -10px; }
.BcUQo.pf-editor-col::after { right: -10px; }
.jSNcIx > a { color: inherit !important; }
.jSNcIx > span { font-weight: inherit; text-decoration: inherit; }
.jSNcIx { word-break: break-word; }
.jSNcIx.pf-i--left i { margin-right: 0.3em; }
.jSNcIx.pf-i--right i { margin-left: 0.3em; }
.jSNcIx.pf-i--top i { margin-bottom: 0.5em; }
.jSNcIx.pf-i--top > span, .jSNcIx.pf-i--top > a { display: block; }
.jSNcIx.pf-i--top > span[data-empty][contenteditable] { display: block !important; }
.jSNcIx [class*="--diamond"] { margin-right: 1em; }
.uIbp { display: inline-block; }
.uIbp { vertical-align: baseline; word-break: break-word; }
.uIbp:focus { outline: none; }
.bLbPLR > span:last-child { line-height: inherit; display: block; }
.bLbPLR[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.bLbPLR[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.bLbPLR.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.bLbPLR.dropcap--circle > span:first-child { border-radius: 100%; }
.bLbPLR:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.bLbPLR ol, .bLbPLR ul { list-style-position: inside; }
.bLbPLR blockquote { font-size: inherit; }
.htgaJh { min-height: 30px; }
					/* PageFly Styles */
					
@media all {
	[data-pf-type="Heading"].pf-517e4c23 {
		text-align: center;
		 color: rgb(32, 32, 32);
		 font-size: 30px;
		 text-transform: uppercase;
	}
	[data-pf-type="Paragraph"].pf-7da74d13 {
		text-align: center;
		 font-family: Roboto;
		 font-weight: 400;
		 font-size: 14px;
		 padding-left: 100px;
		 padding-right: 100px;
	}
	[data-pf-type="Heading"].pf-d7e3db80 {
		font-family: Roboto;
		 font-weight: 700;
		 letter-spacing: 0.035em;
		 font-size: 18px;
		 text-align: center;
	}
	[data-pf-type="Column"].pf-88065e17 {
		text-align: center;
	}
	[data-pf-type="Column"].pf-5c772e67 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-97b3d649 {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-e49c9e82 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-8fa758d7 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-b27e47e6 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-cb2ff990 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-547e8e2b {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-010c7910 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-7eea1c33 {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-682c23e9 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-74669567 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-6b13d700 {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-3e70d1f2 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-52d5d16d {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-8536b2f6 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-83a352b8 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-a3d3fc9e {
		margin-bottom: 30px;
	}
	[data-pf-type="Paragraph"].pf-c56f3d7c {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-f35f76cb {
		text-align: center;
	}
	[data-pf-type="Paragraph"].pf-9ceadfe4 {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	[data-pf-type="Column"].pf-16597688 {
		text-align: center;
	}
	[data-pf-type="Section"].pf-f3d8acf0 {
		margin-bottom: 50px;
	}
}
@media only screen and (max-width: 767px) {
	[data-pf-type="Paragraph"].pf-7da74d13 {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 12px;
	}
	[data-pf-type="Heading"].pf-d7e3db80 {
		margin-bottom: -30px;
	}
	[data-pf-type="Row"].pf-7c430ac1 {
		margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-bbe2787e {
		margin-top: -60px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-7034b272 {
		margin-top: -60px;
		 margin-bottom: 3px;
	}
	[data-pf-type="Section"].pf-97b3d649 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-e49c9e82 {
		margin-top: 20px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-b27e47e6 {
		margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-547e8e2b {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-010c7910 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-682c23e9 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-6b13d700 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-3e70d1f2 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-8536b2f6 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-a3d3fc9e {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	[data-pf-type="Paragraph"].pf-c56f3d7c {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Paragraph"].pf-9ceadfe4 {
		margin-top: -30px;
		 margin-bottom: -30px;
	}
	[data-pf-type="Section"].pf-f3d8acf0 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	[data-pf-type="Paragraph"].pf-7da74d13 {
		padding-left: 50px;
		 padding-right: 50px;
	}
	[data-pf-type="Section"].pf-97b3d649 {
		margin-bottom: 15px;
	}
	[data-pf-type="Section"].pf-547e8e2b {
		margin-bottom: 15px;
	}
	[data-pf-type="Section"].pf-6b13d700 {
		margin-bottom: 15px;
	}
	[data-pf-type="Section"].pf-a3d3fc9e {
		margin-bottom: 15px;
	}
}

 
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  

@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}



.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}




.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}




.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}



.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

