/* PageFly Element Styles */
						.huJSyH { padding: 15px 0px; position: relative; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.bTTbYE { position: relative; }
.eddgIe { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.eddgIe .sc-jRuhRL { position: relative; display: flex; flex: 1 1 auto; }
.eddgIe.pf-show-arrow .sc-jdfcpN { opacity: 1; }
.eddgIe.pf-show-arrow .sc-jdfcpN.prev-arrow { left: 16px; }
.eddgIe.pf-show-arrow .sc-jdfcpN.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .eddgIe .sc-eopZyb { display: none; }
}
@media (min-width: 1200px) {
  .eddgIe .sc-eopZyb { display: none; }
}
@media (min-width: 992px) {
  .zpsNY .sc-jdfcpN { display: none; }
}
.zpsNY .sc-jdfcpN { transition: all 0.3s ease 0s; opacity: 1; }
.zpsNY .sc-jdfcpN.prev-arrow { left: 16px; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN.next-arrow { right: 16px; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN i.fa { color: rgb(93, 107, 130); transform: none; }
.zpsNY .sc-jdfcpN { transition: all 0.3s ease 0s; opacity: 0; }
.zpsNY .sc-jdfcpN.prev-arrow { left: -100%; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN.next-arrow { right: -100%; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN i.fa { transform: none; }
.zpsNY:hover .sc-jdfcpN { opacity: 1; }
.zpsNY:hover .sc-jdfcpN.prev-arrow { left: 16px; }
.zpsNY:hover .sc-jdfcpN.next-arrow { right: 16px; }
.eqQrPw { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.eqQrPw.prev-arrow { left: 16px; top: calc(50% - 16px); }
.eqQrPw.next-arrow { right: 16px; top: calc(50% - 16px); }
.eqQrPw i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.eqQrPw.pf-show-nav { opacity: 1; }
.eOqQoa { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eOqQoa { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eOqQoa { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .eOqQoa { display: var(--pf-d-xs); }
}
.eOqQoa img { border-radius: 4px; width: 100%; }
.eOqQoa a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .eOqQoa { margin: 0px; }
}
.eUvcZh { position: relative; display: flex; margin-top: 10px; }
.eUvcZh .icon-left { transform: rotate(180deg); }
.eUvcZh .icon-right { right: 0px; }
.eUvcZh .icon-left:hover, .eUvcZh .icon-right:hover { opacity: 0.5; }
.eUvcZh .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.eUvcZh .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 720px; }
.eUvcZh .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.eUvcZh .pf-p-image-small-container .pf-small-img-roll .sc-jUpvKA { width: 126px; height: 134px; float: left; }
.eUvcZh .pf-p-image-small-container .pf-small-img-roll .sc-jUpvKA img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.eUvcZh .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .eUvcZh { display: none; }
}
.kSmdVx[data-pf-type="ProductText"].no-product { text-decoration: none; }
.eDJtrw[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jBtkMg { position: relative; }
.emfEHA { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.emfEHA[disabled] { opacity: 0.7; }
.emfEHA.is-loading, .emfEHA.is-added { pointer-events: none; }
.emfEHA > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.emfEHA.pf-i--left i { margin-right: 0.3em; }
.emfEHA + .sc-iCwjlJ, .emfEHA.pf-i--right i { margin-left: 0.3em; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.dIkdok { display: inline-block; }
.dIkdok[contenteditable="true"] { user-select: text; }
.dIkdok { vertical-align: baseline; word-break: break-word; }
.dIkdok:focus { outline: none; }
.dIkdok::after { display: inline; }
.iAtTOG > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .iAtTOG span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .iAtTOG span + span[contenteditable]:empty::after { display: inline; }
.iAtTOG ol, .iAtTOG ul { list-style-position: inside; }
.iAtTOG blockquote { font-size: inherit; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-e62275d6 {
		margin-top: 15px;
		 border-style: none;
		 border-width: 0px 0px 1px;
		 padding-bottom: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-aa100761 {
		font-size: 24px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-9d5a6408 {
		font-size: 22px;
		 margin-bottom: 15px;
		 letter-spacing: 0.05em;
		 margin-top: 30px;
	}
	.__pf .pf-f218e2a3 {
		font-size: 16px;
		 line-height: 24px;
		 margin-bottom: 15px;
		 letter-spacing: 0.035em;
		 margin-top: 30px;
	}
	.__pf .pf-81b9d74a {
		background-color: rgb(32, 32, 32);
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 margin-left: 0px;
		 text-transform: uppercase;
		 letter-spacing: 0.12em;
		 padding: 15px 165px;
		 margin-top: 20px;
	}
	.__pf .pf-16dc2f22 {
		margin-bottom: 15px;
	}
	.__pf .pf-0d1be9dc {
		margin-left: 30px;
	}
	.__pf .pf-cc203102 {
		text-align: center;
		 font-size: 34px;
		 color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 margin-bottom: 15px;
	}
	.__pf .pf-b518aa7c {
		font-size: 16px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
		 text-align: center;
		 margin-left: 10px;
		 margin-right: 10px;
	}
	.__pf .pf-c4d3123b {
		margin-top: 40px;
	}
	.__pf .pf-3429c8ce {
		width: 500px;
		 height: auto;
	}
	.__pf .pf-eb6b3357 {
		text-align: center;
	}
	.__pf .pf-df18efdd {
		font-size: 28px;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-08a57f46 {
		font-size: 16px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
	}
	.__pf .pf-82647450 {
		width: 500px;
		 height: auto;
	}
	.__pf .pf-b31cc6f7 {
		font-size: 28px;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-0a86eaab {
		font-size: 18px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-e7feba16 {
		padding-left: 0px;
		 padding-right: 60px;
	}
	.__pf .pf-f2eeeea8 {
		padding-top: 80px;
	}
	.__pf .pf-e388074e {
		padding-left: 60px;
	}
	.__pf .pf-b8f5ea6a {
		font-size: 28px;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-ba9f1cd7 {
		font-size: 16px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
	}
	.__pf .pf-7dccdd7b {
		padding-left: 0px;
		 padding-right: 60px;
	}
	.__pf .pf-e394564a {
		width: 500px;
		 height: auto;
	}
	.__pf .pf-b3ac523e {
		text-align: center;
	}
	.__pf .pf-07505a45 {
		width: 500px;
		 height: auto;
	}
	.__pf .pf-462b347b {
		text-align: center;
	}
	.__pf .pf-948e7e95 {
		font-size: 28px;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-f2cf6354 {
		font-size: 16px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
	}
	.__pf .pf-3182ebb4 {
		padding-left: 60px;
	}
	.__pf .pf-cccddcad {
		margin-top: 80px;
	}
	.__pf .pf-3a3b41fe {
		width: 500px;
		 height: auto;
	}
	.__pf .pf-ed429aaa {
		text-align: center;
	}
	.__pf .pf-c86d9834 {
		font-size: 28px;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-43a0c1a2 {
		font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
	}
	.__pf .pf-f982340b {
		padding-left: 60px;
	}
	.__pf .pf-5ba913b1 {
		margin-top: 80px;
	}
	.__pf .pf-c82207d8 {
		font-size: 28px;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-0526b8c9 {
		font-size: 16px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
	}
	.__pf .pf-6da9584e {
		padding-left: 0px;
		 padding-right: 60px;
	}
	.__pf .pf-025ea89c {
		width: 500px;
		 height: auto;
	}
	.__pf .pf-0f921dac {
		text-align: center;
	}
	.__pf .pf-31d0d911 {
		padding-top: 80px;
	}
	.__pf .pf-f325252a {
		margin-bottom: 75px;
	}
	.__pf .pf-ca3468aa {
		text-align: center;
		 font-size: 34px;
		 color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 margin-bottom: 10px;
		 margin-top: 0px;
		 padding-top: 40px;
	}
	.__pf .pf-e76e642d {
		font-size: 16px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
		 text-align: center;
		 padding-top: 5px;
	}
	.__pf .pf-b3152c17 {
		font-size: 14px;
	}
	.__pf .pf-b3152c17 > input {
		border-radius: 0px;
		 font-size: 14px;
	}
	.__pf .pf-b3152c17 > label {
		font-size: 14px;
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-b3152c17 > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-8ec127bd {
		font-size: 14px;
	}
	.__pf .pf-8ec127bd > input {
		border-radius: 0px;
		 font-size: 14px;
	}
	.__pf .pf-8ec127bd > label {
		font-size: 14px;
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-8ec127bd > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-381f6da8 {
		font-size: 14px;
	}
	.__pf .pf-381f6da8 > input {
		border-radius: 0px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 text-transform: initial;
	}
	.__pf .pf-381f6da8 > label {
		font-size: 14px;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-381f6da8 > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-c032f790 {
		font-size: 14px;
	}
	.__pf .pf-c032f790 > input {
		border-radius: 0px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 text-transform: initial;
	}
	.__pf .pf-c032f790 > label {
		font-size: 14px;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-c032f790 > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-bc6c91bb {
		font-size: 14px;
	}
	.__pf .pf-bc6c91bb > input {
		border-radius: 0px;
	}
	.__pf .pf-bc6c91bb > label {
		font-size: 14px;
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-bc6c91bb select {
		font-size: 14px;
		 border-radius: 0px;
	}
	.__pf .pf-bc6c91bb select:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-cc6f9ea7 {
		font-size: 14px;
	}
	.__pf .pf-cc6f9ea7 > input {
		border-radius: 0px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 text-transform: initial;
	}
	.__pf .pf-cc6f9ea7 > label {
		font-size: 14px;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-cc6f9ea7 > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-91466e1e {
		font-size: 14px;
	}
	.__pf .pf-91466e1e > input {
		border-radius: 0px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 text-transform: initial;
	}
	.__pf .pf-91466e1e > label {
		font-size: 14px;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-91466e1e > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-cba92e98 {
		font-size: 14px;
	}
	.__pf .pf-cba92e98 > input {
		border-radius: 0px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 text-transform: initial;
	}
	.__pf .pf-cba92e98 > label {
		font-size: 14px;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-cba92e98 > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-f674a5ee {
		font-size: 14px;
	}
	.__pf .pf-f674a5ee > input {
		border-radius: 0px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 text-transform: initial;
	}
	.__pf .pf-f674a5ee > label {
		font-size: 14px;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-f674a5ee > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-023b0ec3 {
		font-size: 14px;
	}
	.__pf .pf-023b0ec3 > input {
		border-radius: 0px;
		 font-size: 14px;
	}
	.__pf .pf-023b0ec3 > label {
		font-size: 14px;
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-023b0ec3 > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-6bc314ae {
		font-size: 14px;
	}
	.__pf .pf-6bc314ae > input {
		border-radius: 0px;
		 font-size: 14px;
	}
	.__pf .pf-6bc314ae > label {
		font-size: 14px;
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-6bc314ae > input:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-74e86128 {
		font-size: 14px;
	}
	.__pf .pf-74e86128 > input {
		border-radius: 0px;
	}
	.__pf .pf-74e86128 > label {
		font-size: 14px;
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
	}
	.__pf .pf-74e86128 select {
		font-size: 14px;
		 border-radius: 0px;
	}
	.__pf .pf-74e86128 select:focus {
		border-style: solid;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-5e5f364e {
		padding: 13px 150px;
		 border-radius: 0px;
		 color: rgb(255, 255, 255);
		 background-color: rgb(32, 32, 32);
		 font-size: 14px;
		 letter-spacing: 0.12em;
	}
	.__pf .pf-d4a937f2 {
		text-align: center;
	}
	.__pf .pf-9375d4e0 {
		margin-top: 15px;
	}
	.__pf .pf-5a32e4f4 {
		margin-left: 265px;
		 margin-right: 265px;
		 margin-top: 40px;
	}
	.__pf .pf-7c9cc055 {
		text-align: center;
		 margin-bottom: 80px;
	}
	.__pf .pf-cf0cb296 {
		text-align: center;
	}
	.__pf .pf-efd1b3f8 {
		color: rgb(212, 208, 202);
		 font-size: 2px;
	}
	.__pf .pf-efd1b3f8 div {
		font-size: 1px;
	}
	.__pf .pf-b7b9920e {
		text-align: center;
		 font-size: 34px;
		 color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 margin-bottom: 5px;
		 margin-top: 0px;
		 padding-top: 0px;
	}
	.__pf .pf-15344300 {
		font-size: 16px;
		 letter-spacing: 0.035em;
		 line-height: 24px;
		 text-align: center;
		 padding-top: 5px;
		 margin-top: 5px;
	}
	.__pf .pf-2f85be6a {
		font-size: 16px;
		 letter-spacing: 0.05em;
		 line-height: 26px;
		 text-align: center;
		 padding-top: 5px;
		 margin-top: 20px;
	}
	.__pf .pf-563e033c {
		background-color: rgb(242, 242, 242);
		 padding-bottom: 60px;
		 padding-top: 60px;
	}
	.__pf .pf-9bad432d {
		padding-top: 80px;
	}
	.__pf .pf-0a5e9f0f {
		font-size: 16px;
		 line-height: 24px;
		 margin-bottom: 20px;
		 letter-spacing: 0.035em;
		 margin-top: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-e62275d6 {
		padding-top: 0px;
	}
	.__pf .pf-9d5a6408 {
		margin-top: 10px;
		 margin-bottom: 10px;
	}
	.__pf .pf-f218e2a3 {
		margin-top: 10px;
	}
	.__pf .pf-81b9d74a {
		margin-left: 0px;
		 margin-top: 15px;
		 padding-left: 95px;
		 padding-right: 95px;
		 text-align: center;
	}
	.__pf .pf-16dc2f22 {
		text-align: center;
	}
	.__pf .pf-0d1be9dc {
		margin-left: 0px;
		 text-align: center;
	}
	.__pf .pf-cc203102 {
		font-size: 24px;
		 margin-bottom: 5px;
	}
	.__pf .pf-b518aa7c {
		text-align: center;
		 line-height: 21px;
		 font-size: 14px;
		 margin-left: 20px;
		 margin-right: 20px;
	}
	.__pf .pf-146ebe0d {
		text-align: center;
	}
	.__pf .pf-3429c8ce {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-eb6b3357 {
		text-align: center;
	}
	.__pf .pf-df18efdd {
		text-align: center;
		 font-size: 20px;
	}
	.__pf .pf-08a57f46 {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-82647450 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-9c6b1bf7 {
		text-align: center;
	}
	.__pf .pf-b31cc6f7 {
		font-size: 20px;
		 text-align: center;
	}
	.__pf .pf-0a86eaab {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-e7feba16 {
		padding-left: 0px;
		 margin-top: 10px;
		 text-align: center;
		 padding-right: 0px;
	}
	.__pf .pf-f2eeeea8 {
		padding-top: 20px;
	}
	.__pf .pf-e388074e {
		padding-left: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-b8f5ea6a {
		font-size: 20px;
		 text-align: center;
	}
	.__pf .pf-ba9f1cd7 {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-7dccdd7b {
		padding-left: 0px;
		 margin-top: 10px;
		 text-align: center;
		 padding-right: 0px;
	}
	.__pf .pf-e394564a {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-b3ac523e {
		text-align: center;
	}
	.__pf .pf-07505a45 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-462b347b {
		text-align: center;
	}
	.__pf .pf-948e7e95 {
		text-align: center;
		 font-size: 20px;
	}
	.__pf .pf-f2cf6354 {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-3182ebb4 {
		padding-left: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-cccddcad {
		margin-top: 20px;
	}
	.__pf .pf-3a3b41fe {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-ed429aaa {
		text-align: center;
	}
	.__pf .pf-c86d9834 {
		text-align: center;
		 font-size: 20px;
	}
	.__pf .pf-43a0c1a2 {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-f982340b {
		padding-left: 0px;
		 margin-top: 10px;
	}
	.__pf .pf-5ba913b1 {
		margin-top: 20px;
	}
	.__pf .pf-c82207d8 {
		font-size: 20px;
		 text-align: center;
	}
	.__pf .pf-0526b8c9 {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-6da9584e {
		padding-left: 0px;
		 margin-top: 10px;
		 text-align: center;
		 padding-right: 0px;
	}
	.__pf .pf-025ea89c {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-0f921dac {
		text-align: center;
	}
	.__pf .pf-f325252a {
		padding-top: 0px;
	}
	.__pf .pf-ca3468aa {
		font-size: 24px;
		 margin-bottom: 5px;
	}
	.__pf .pf-e76e642d {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-5e5f364e {
		padding-left: 50px;
		 padding-right: 50px;
	}
	.__pf .pf-5a32e4f4 {
		margin-left: 5px;
		 margin-right: 5px;
	}
	.__pf .pf-7c9cc055 {
		margin-bottom: 40px;
	}
	.__pf .pf-b7b9920e {
		font-size: 24px;
		 margin-bottom: 5px;
	}
	.__pf .pf-15344300 {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-2f85be6a {
		text-align: center;
		 padding-left: 25px;
		 padding-right: 25px;
		 line-height: 21px;
		 font-size: 14px;
	}
	.__pf .pf-0a5e9f0f {
		margin-top: 15px;
		 font-size: 14px;
		 line-height: 18px;
		 margin-bottom: 15px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-44cc775e {
		margin-left: 30px;
	}
	.__pf .pf-81b9d74a {
		padding-left: 140px;
		 padding-right: 140px;
	}
	.__pf .pf-0d1be9dc {
		margin-right: 30px;
	}
	.__pf .pf-d4a937f2 {
		text-align: center;
	}
	.__pf .pf-9375d4e0 {
		text-align: center;
	}
	.__pf .pf-7c9cc055 {
		margin-bottom: 60px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-e62275d6 {
		padding-top: 0px;
		 margin-left: 20px;
		 margin-right: 20px;
		 margin-top: 20px;
	}
	.__pf .pf-81b9d74a {
		margin-left: 0px;
		 margin-top: 15px;
		 padding-left: 85px;
		 padding-right: 85px;
	}
	.__pf .pf-0d1be9dc {
		margin-left: 0px;
	}
	.__pf .pf-cc203102 {
		font-size: 28px;
	}
	.__pf .pf-b518aa7c {
		font-size: 16px;
	}
	.__pf .pf-df18efdd {
		font-size: 24px;
	}
	.__pf .pf-08a57f46 {
		font-size: 16px;
	}
	.__pf .pf-b31cc6f7 {
		font-size: 24px;
	}
	.__pf .pf-0a86eaab {
		font-size: 16px;
	}
	.__pf .pf-e7feba16 {
		padding-right: 40px;
	}
	.__pf .pf-e388074e {
		padding-left: 40px;
	}
	.__pf .pf-b8f5ea6a {
		font-size: 24px;
	}
	.__pf .pf-ba9f1cd7 {
		font-size: 16px;
	}
	.__pf .pf-7dccdd7b {
		padding-right: 40px;
	}
	.__pf .pf-948e7e95 {
		font-size: 24px;
	}
	.__pf .pf-f2cf6354 {
		font-size: 16px;
	}
	.__pf .pf-3182ebb4 {
		padding-left: 40px;
	}
	.__pf .pf-c86d9834 {
		font-size: 24px;
	}
	.__pf .pf-43a0c1a2 {
		font-size: 16px;
	}
	.__pf .pf-f982340b {
		padding-left: 40px;
	}
	.__pf .pf-c82207d8 {
		font-size: 24px;
	}
	.__pf .pf-0526b8c9 {
		font-size: 16px;
	}
	.__pf .pf-6da9584e {
		padding-right: 40px;
	}
	.__pf .pf-ca3468aa {
		font-size: 28px;
	}
	.__pf .pf-e76e642d {
		font-size: 16px;
	}
	.__pf .pf-5a32e4f4 {
		margin-left: 100px;
		 margin-right: 100px;
	}
	.__pf .pf-7c9cc055 {
		margin-bottom: 50px;
	}
	.__pf .pf-b7b9920e {
		font-size: 28px;
	}
	.__pf .pf-15344300 {
		font-size: 16px;
	}
	.__pf .pf-2f85be6a {
		font-size: 16px;
	}
	.__pf .pf-0a5e9f0f {
		font-size: 14px;
		 line-height: 18px;
	}
}
						