/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jakOsZ { display: inline-block; vertical-align: middle; }
.jakOsZ img { width: 100%; border-radius: inherit; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-7501e4a8 {
		width: 100%;
		 height: auto;
		 margin-top: -15px;
	}
	.__pf .pf-e82c2333 {
		font-size: 34px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
	}
	.__pf .pf-5ec0e424 {
		font-size: 16px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
		 line-height: 24px;
	}
	.__pf .pf-e4249efe {
		text-align: center;
	}
	.__pf .pf-9efe957b {
		margin-bottom: 20px;
	}
	.__pf .pf-957b24f5 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin: 0px;
	}
	.__pf .pf-c8817843 {
		font-size: 26px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
	}
	.__pf .pf-436c87cc {
		margin-top: 30px;
	}
	.__pf .pf-87cca890 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-d17939b3 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-550eee6d {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-ee6d6535 {
		text-align: center;
	}
	.__pf .pf-6a72bb8b {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-4b559ab3 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-a60b3600 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-3600b452 {
		text-align: center;
	}
	.__pf .pf-cc88eaa9 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-dd225351 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-6b688b5f {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-8b5f22ee {
		text-align: center;
	}
	.__pf .pf-d2847342 {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-1e54b7de {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-e48514d7 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-14d7703b {
		text-align: center;
	}
	.__pf .pf-b4520fdc {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-d685d4ee {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-3e5ea42d {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-a42dcc88 {
		text-align: center;
	}
	.__pf .pf-703b3f0a {
		width: 350px;
		 height: 350px;
	}
	.__pf .pf-210d8c74 {
		font-size: 15px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
		 text-transform: uppercase;
	}
	.__pf .pf-1add35e3 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 letter-spacing: 0.12em;
		 line-height: 35px;
	}
	.__pf .pf-35e3bd23 {
		text-align: center;
	}
	.__pf .pf-bd234c4d {
		margin-top: 0px;
	}
	.__pf .pf-4c4dc88a {
		padding-top: 0px;
	}
	.__pf .pf-8c4db0d5 {
		font-size: 11px;
		 color: rgb(155, 155, 155);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0em;
		 margin-top: 10px;
		 font-family: Roboto;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 17px;
		 font-weight: 400;
	}
	.__pf .pf-734afe27 {
		margin-top: 45px;
		 text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-e82c2333 {
		font-size: 28px;
		 padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-5ec0e424 {
		font-size: 14px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 20px;
	}
	.__pf .pf-957b24f5 {
		padding-bottom: 0px;
	}
	.__pf .pf-c8817843 {
		font-size: 18px;
		 padding-left: 10px;
		 padding-right: 10px;
		 margin-top: 0px;
	}
	.__pf .pf-436c87cc {
		margin-top: 10px;
	}
	.__pf .pf-87cca890 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-d17939b3 {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-550eee6d {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-6a72bb8b {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-4b559ab3 {
		font-size: 12px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 18px;
	}
	.__pf .pf-a60b3600 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-cc88eaa9 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-dd225351 {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-6b688b5f {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-d2847342 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-1e54b7de {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-e48514d7 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-b4520fdc {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-d685d4ee {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-3e5ea42d {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-703b3f0a {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-210d8c74 {
		font-size: 12px;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 18px;
	}
	.__pf .pf-1add35e3 {
		font-size: 11px;
		 padding-left: 10px;
		 padding-right: 10px;
		 line-height: 14px;
		 padding-top: 5px;
	}
	.__pf .pf-8c4db0d5 {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 10px;
	}
	.__pf .pf-734afe27 {
		margin-top: 10px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-5ec0e424 {
		font-size: 15px;
	}
	.__pf .pf-9efe957b {
		margin-bottom: 10px;
	}
	.__pf .pf-957b24f5 {
		padding-bottom: 0px;
	}
	.__pf .pf-c8817843 {
		font-size: 24px;
	}
	.__pf .pf-436c87cc {
		margin-top: 0px;
	}
	.__pf .pf-87cca890 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-d17939b3 {
		line-height: 18px;
	}
	.__pf .pf-6a72bb8b {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-4b559ab3 {
		line-height: 18px;
	}
	.__pf .pf-cc88eaa9 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-dd225351 {
		line-height: 18px;
	}
	.__pf .pf-d2847342 {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-1e54b7de {
		line-height: 18px;
	}
	.__pf .pf-b4520fdc {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-d685d4ee {
		line-height: 18px;
	}
	.__pf .pf-703b3f0a {
		width: 300px;
		 height: auto;
	}
	.__pf .pf-210d8c74 {
		line-height: 18px;
	}
	.__pf .pf-bd234c4d {
		margin-top: 0px;
	}
	.__pf .pf-8c4db0d5 {
		padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-734afe27 {
		margin-top: 0px;
	}
}
						