/* PageFly Element Styles */
						.jVnAvG__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.jVnAvG { padding: 15px 0px; position: relative; }
.jVnAvG .sc-kasBVs { position: relative; }
.jVnAvG[data-container="true"] .sc-kasBVs { padding: 0px 15px; width: 100%; margin: auto; }
.jVnAvG .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.dkUwJH { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .dkUwJH { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .dkUwJH { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .dkUwJH { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.kIIPjn { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .kIIPjn { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .kIIPjn { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .kIIPjn { padding: var(--pf-s-xs); }
}
.jKhRhm { position: relative; }
.iRsbFn { word-break: break-word; }
.iRsbFn span { font-weight: inherit; }
.iRsbFn i { margin-right: 0.3em; }
.gVvrSi { display: inline-block; }
.gVvrSi[contenteditable="true"] { user-select: text; }
.gVvrSi { vertical-align: baseline; word-break: break-word; }
.gVvrSi:focus { outline: none; }
.gVvrSi::after { display: inline; }
.fcwjMt { min-height: 30px; }
.bJKELe > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .bJKELe[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .bJKELe[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.bJKELe[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.bJKELe[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.bJKELe.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.bJKELe.dropcap--circle > span:first-child { border-radius: 100%; }
.bJKELe:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.bJKELe ol, .bJKELe ul { list-style-position: inside; }
.bJKELe blockquote { font-size: inherit; }
.pDIRs { position: relative; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-b59d35f1 {
		text-align: center;
		 color: rgb(32, 32, 32);
		 font-size: 30px;
		 text-transform: uppercase;
	}
	.__pf .pf-a909d39c {
		text-align: center;
		 color: rgb(32, 32, 32);
		 font-size: 18px;
		 text-transform: initial;
		 font-family: Roboto;
	}
	.__pf .pf-33a17fcf {
		font-family: Roboto;
		 font-weight: 700;
		 margin-bottom: 10px;
	}
	.__pf .pf-a890a75e {
		text-align: center;
	}
	.__pf .pf-34b97125 {
		text-align: center;
	}
	.__pf .pf-871e316f {
		margin-bottom: 30px;
	}
	.__pf .pf-6fb150d9 {
		font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-6381e1c8 {
		margin-bottom: 10px;
	}
	.__pf .pf-abfe1485 {
		padding-left: 15px;
	}
	.__pf .pf-c9d64530 {
		text-align: center;
	}
	.__pf .pf-b388df07 {
		padding-left: 15px;
	}
	.__pf .pf-08fd4320 {
		text-align: center;
	}
	.__pf .pf-7a37eeba {
		padding-left: 15px;
	}
	.__pf .pf-3d681ff9 {
		text-align: center;
	}
	.__pf .pf-3cad9a0b {
		font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-0592dcfc {
		margin-top: 20px;
	}
	.__pf .pf-33003d10 {
		padding-left: 15px;
	}
	.__pf .pf-f89d87f4 {
		text-align: center;
	}
	.__pf .pf-c7d31f9c {
		margin-top: 20px;
	}
	.__pf .pf-dfa18b76 {
		padding-left: 15px;
	}
	.__pf .pf-c5a43274 {
		text-align: center;
	}
	.__pf .pf-41acc3ec {
		font-family: Roboto;
		 font-weight: 700;
	}
	.__pf .pf-6bc07953 {
		padding-left: 15px;
	}
	.__pf .pf-3479d29d {
		text-align: center;
	}
	.__pf .pf-36316971 {
		padding-left: 15px;
	}
	.__pf .pf-4052cc45 {
		text-align: center;
	}
	.__pf .pf-523d6618 {
		padding-left: 15px;
	}
	.__pf .pf-91ef04cf {
		text-align: center;
	}
	.__pf .pf-90c5a631 {
		padding-left: 15px;
	}
	.__pf .pf-edee555d {
		text-align: center;
	}
	.__pf .pf-8df254a6 {
		margin-bottom: 100px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-348b3fc5 {
		margin-top: -60px;
		 margin-bottom: -30px;
	}
	.__pf .pf-7ea0d8b6 {
		margin-top: -60px;
		 margin-bottom: 3px;
	}
	.__pf .pf-871e316f {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-871e316f {
		margin-bottom: 15px;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }

 
@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff');

    font-weight: 300;
    font-style: normal;
}

  
  @font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Avalon';
   src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff');
    font-weight: 600;
    font-style: normal;
} 
  

@font-face {
    font-family: 'Avalon';
     src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff');
    font-weight: bold;
    font-style: normal;
}



.__pf, .avalon-xlight {
    font-family: 'Avalon'!important;
    font-weight: 300 !important;
    font-style: normal !important;
}


.__pf, .avalon-book {
	 font-family: 'Avalon' !important;
    font-weight: normal !important;
    font-style: normal !important;
}




.__pf, .avalon-medium {
 font-family: 'Avalon' !important;
    font-weight: 500 !important;
    font-style: normal !important;
}




.__pf, .avalon-demi {
	 font-family: 'Avalon' !important;
    font-weight: 600 !important;
    font-style: normal !important;
}



.__pf, .avalon-bold {
 font-family: 'Avalon' !important;
    font-weight: bold !important;
    font-style: normal !important;
}

