/* PageFly Element Styles */
						.jVnAvG__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.jVnAvG { padding: 15px 0px; position: relative; }
.jVnAvG .sc-kasBVs { position: relative; }
.jVnAvG[data-container="true"] .sc-kasBVs { padding: 0px 15px; width: 100%; margin: auto; }
.jVnAvG .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.dkUwJH { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .dkUwJH { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .dkUwJH { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .dkUwJH { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.kIIPjn { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .kIIPjn { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .kIIPjn { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .kIIPjn { padding: var(--pf-s-xs); }
}
.jKhRhm { position: relative; }
.iRsbFn { word-break: break-word; }
.iRsbFn span { font-weight: inherit; }
.iRsbFn i { margin-right: 0.3em; }
.gVvrSi { display: inline-block; }
.gVvrSi[contenteditable="true"] { user-select: text; }
.gVvrSi { vertical-align: baseline; word-break: break-word; }
.gVvrSi:focus { outline: none; }
.gVvrSi::after { display: inline; }
.bJKELe > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .bJKELe[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .bJKELe[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.bJKELe[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.bJKELe[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.bJKELe.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.bJKELe.dropcap--circle > span:first-child { border-radius: 100%; }
.bJKELe:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.bJKELe ol, .bJKELe ul { list-style-position: inside; }
.bJKELe blockquote { font-size: inherit; }
.pDIRs { position: relative; }
.fcwjMt { min-height: 30px; }
.bhdGbZ { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.bhdGbZ i { margin-right: 0.3em; }
.bhdGbZ:hover, .bhdGbZ:active, .bhdGbZ:focus, .bhdGbZ span { color: inherit; text-decoration: none; }
.jKykgB { margin: 0px -15px; }
.jKykgB .pf-blm { margin: 30px auto 0px; flex-basis: 100%; text-align: center; }
.jKykgB .pf-bpa { flex-basis: 100%; text-align: center; display: flex; -webkit-box-pack: center; justify-content: center; margin-top: 30px; }
.jKykgB .pf-bpa a { cursor: pointer; padding: 2px 10px; margin: 2px; border: 1px solid transparent; border-radius: 2px; position: relative; }
.jKykgB .pf-bpa a.currentPage { border-color: rgba(0, 0, 0, 0.1); pointer-events: none; }
.jKykgB .pf__shopify-product { width: 100%; text-align: center; }
.jKykgB .pf-c { padding: 15px; display: flex; }
.jKykgB .product__thumbnail { display: -webkit-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; max-width: 100%; position: relative; }
.jKykgB .product__thumbnail img { vertical-align: middle; max-width: 100%; height: auto; }
.jKykgB .product__thumbnail .pf-placeholder-svg { fill: rgb(166, 166, 166); background-color: rgb(245, 245, 245); width: 100%; max-width: 100%; max-height: 100%; border-radius: inherit; }
.jKykgB .product__button > a { display: block; padding: 0px 20px; line-height: 36px; height: 36px; background: rgb(85, 193, 72); margin-top: 10px; color: rgb(255, 255, 255); text-align: center; text-decoration: none; }
.jKykgB .product__button > a:hover { opacity: 0.7; color: rgb(255, 255, 255); }
.jKykgB .product__button span { pointer-events: none; }
.jKykgB .product__info-price { margin-top: 10px; font-size: 13px; color: rgb(208, 2, 27); }
.jKykgB .product__sale-price { margin-left: 10px; color: rgb(54, 54, 54); font-size: 0.8em; }
.jKykgB .product__info-title { margin: 10px 0px 0px; font-size: 16px; font-weight: 500; line-height: 1.5; text-transform: none; font-family: inherit; color: rgb(45, 45, 45); }
.jKykgB .product__info-title a { color: rgb(27, 28, 29); text-decoration: none; }
.jKykgB .shopify__product-vertical, .jKykgB .shopify__product-vertical .product__info { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column; }
.jKykgB .shopify__product-vertical .product__info, .jKykgB .shopify__product-vertical .product__info-title { flex: 1 0 auto; }
.jKykgB .shopify__product-horizontal { display: -webkit-flex; }
.jKykgB .shopify__product-horizontal .product__thumbnail { flex: 1 1 0%; height: auto !important; }
.jKykgB .shopify__product-horizontal .product__info { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jKykgB .shopify__product-horizontal .product__info-title { margin-top: 0px; }
.jKykgB .shopify__product-horizontal .product__button > a { width: auto; display: inline-block; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-dfb1afa7 {
		font-size: 48px;
		 letter-spacing: 0.05em;
		 color: white;
		 margin-bottom: 48px;
		 margin-top: 48px;
	}
	.__pf .pf-844daf0a {
		text-align: center;
		 background-color: rgb(243, 234, 202);
		 background-image: url("https://media.pagefly.io/file/get/fw_tb_1jpg-1542329204754.jpg");
		 background-repeat: no-repeat;
		 background-size: cover;
	}
	.__pf .pf-df8d1fb0 {
		text-align: center;
		 font-family: Roboto;
		 font-weight: 400;
		 line-height: 20px;
		 font-size: 14px;
		 letter-spacing: 0.025em;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-8b34f180 {
		padding-bottom: 0px;
	}
	.__pf .pf-a604998b {
		background-color: rgb(255, 255, 255);
		 background-image: url("https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_sofa-min.png?13384234565507019988");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 width: 120px;
		 height: 120px;
		 text-align: center;
		 margin-left: auto;
		 margin-right: auto;
		 opacity: 0.4;
	}
	.__pf .pf-333ed2df {
		letter-spacing: 0.075em;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 font-size: 14px;
	}
	.__pf .pf-75e73765 {
		background-image: url("https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_sofette-min.png?13384234565507019988");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 width: 120px;
		 height: 120px;
		 text-align: center;
		 margin-left: auto;
		 margin-right: auto;
		 opacity: 0.4;
	}
	.__pf .pf-89c66692 {
		letter-spacing: 0.075em;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 font-size: 14px;
	}
	.__pf .pf-52a2e3b9 {
		text-align: center;
	}
	.__pf .pf-8d131d1e {
		background-image: url("https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_armchair-min.png?13384234565507019988");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 width: 120px;
		 height: 120px;
		 text-align: center;
		 margin-left: auto;
		 margin-right: auto;
		 opacity: 0.4;
		 background-color: rgb(255, 255, 255);
	}
	.__pf .pf-ed29cb4f {
		letter-spacing: 0.075em;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 font-size: 14px;
	}
	.__pf .pf-a5396bb1 {
		text-align: center;
	}
	.__pf .pf-cf2d0349 {
		background-image: url("https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_dining-min.png?13384234565507019988");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 width: 120px;
		 height: 120px;
		 text-align: center;
		 margin-left: auto;
		 margin-right: auto;
		 opacity: 0.4;
	}
	.__pf .pf-4d83c6ee {
		letter-spacing: 0.075em;
		 color: rgb(74, 74, 74);
		 margin-top: 0px;
		 font-size: 14px;
	}
	.__pf .pf-fd3c4304 {
		text-align: center;
	}
	.__pf .pf-48a7e886 {
		background-image: url("https://cdn.shopify.com/s/files/1/2994/0144/files/page_nav_lounge-min.png?13384234565507019988");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 width: 120px;
		 height: 120px;
		 text-align: center;
		 margin-left: auto;
		 margin-right: auto;
		 opacity: 1;
		 background-color: rgb(199, 208, 199);
	}
	.__pf .pf-9e13a4fc {
		letter-spacing: 0.075em;
		 color: rgb(32, 32, 32);
		 margin-top: 0px;
		 font-size: 14px;
	}
	.__pf .pf-ee3d4eb4 {
		border-style: solid;
		 border-width: 0px 0px 3px;
		 border-color: rgb(32, 32, 32);
	}
	.__pf .pf-9a336738 {
		margin-top: 40px;
		 padding-bottom: 0px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
		 text-align: center;
		 padding-top: 0px;
	}
	.__pf .pf-f443f128 {
		text-align: center;
		 font-size: 12px;
		 letter-spacing: 0.12em;
		 color: rgb(32, 32, 32);
		 margin-bottom: 0px;
		 margin-top: 0px;
	}
	.__pf .pf-f970ce59 {
		text-align: center;
		 border-style: solid;
		 background-color: rgb(255, 255, 255);
		 border-color: rgb(32, 32, 32);
		 letter-spacing: 0.1em;
		 font-size: 14px;
		 color: rgb(32, 32, 32);
		 padding-top: 16px;
		 padding-bottom: 16px;
		 border-width: 0.5px;
		 width: 300px;
	}
	.__pf .pf-f970ce59:hover {
		background-color: rgb(32, 32, 32);
		 color: white;
	}
	.__pf .pf-422e5f2d {
		text-align: center;
	}
	.__pf .pf-3fee016b {
		text-align: center;
		 border-style: solid;
		 background-color: rgb(255, 255, 255);
		 border-color: rgb(32, 32, 32);
		 letter-spacing: 0.1em;
		 font-size: 14px;
		 color: rgb(32, 32, 32);
		 padding-top: 16px;
		 padding-bottom: 16px;
		 border-width: 0.5px;
		 width: 300px;
	}
	.__pf .pf-3fee016b:hover {
		background-color: rgb(32, 32, 32);
		 color: white;
	}
	.__pf .pf-21ef1615 {
		text-align: center;
	}
	.__pf .pf-d933d68b {
		text-align: center;
		 border-style: solid;
		 background-color: rgb(255, 255, 255);
		 border-color: rgb(32, 32, 32);
		 letter-spacing: 0.1em;
		 font-size: 14px;
		 color: rgb(32, 32, 32);
		 padding-top: 16px;
		 padding-bottom: 16px;
		 border-width: 0.5px;
		 width: 300px;
	}
	.__pf .pf-d933d68b:hover {
		color: white;
		 background-color: rgb(32, 32, 32);
	}
	.__pf .pf-1049421a {
		text-align: center;
	}
	.__pf .pf-d8bfe4bd {
		margin: -10px 140px 0px;
	}
	.__pf .pf-c00ba021 {
		margin-top: 0px;
	}
	.__pf .pf-d43a5e71 {
		margin: 0px 0px 40px;
	}
	.__pf .pf-d7ed809e {
		padding-top: 30px;
		 padding-bottom: 0px;
	}
	.__pf .pf-1745fdc2 {
		letter-spacing: 0.05em;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 border-style: none;
		 border-width: 0px 0px 1px;
		 font-size: 44px;
	}
	.__pf .pf-139aab6c {
		border-style: none;
		 border-width: 0px 0px 1px;
	}
	.__pf .pf-02bf5bcd {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-49f7e862 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-68e50bd2 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-ab193247 {
		margin-left: 10px;
	}
	.__pf .pf-987cb66a > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-987cb66a > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-987cb66a > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-987cb66a > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-987cb66a > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-987cb66a > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-3e1cce79 {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-3131cae5 {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-b8ed1a54 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-b8fba842 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-d2b327a0 {
		margin-left: 10px;
	}
	.__pf .pf-fcff100b > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-fcff100b > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-fcff100b > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-fcff100b > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-fcff100b > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-fcff100b > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-12a6c552 {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-89ba1cbc {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-2412697c {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-a6c41835 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-a9dd5ec6 {
		margin-left: 10px;
	}
	.__pf .pf-73913fad > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-73913fad > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-73913fad > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-73913fad > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-73913fad > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-73913fad > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-5a1aef53 {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-13f34646 {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-fcab6a7a {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-1c8ed9fd {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-d0ee7f79 {
		margin-left: 10px;
	}
	.__pf .pf-378ff8a0 > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-378ff8a0 > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-378ff8a0 > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-378ff8a0 > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-378ff8a0 > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-378ff8a0 > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-9e05c59a {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-44572c4b {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-a27bc38c {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-1b5c0d5d {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-493f563e {
		margin-left: 10px;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-e6573791 {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-1670801c {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-8f3b0b66 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-94987337 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-1cfdd0b7 {
		margin-left: 10px;
	}
	.__pf .pf-36d70c48 > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-36d70c48 > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-36d70c48 > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-36d70c48 > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-36d70c48 > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-36d70c48 > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-302e8071 {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-6179901e {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-08b614bb {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-3f0bd081 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-5720a280 {
		margin-left: 10px;
	}
	.__pf .pf-28da114a > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-28da114a > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 font-size: 13px;
		 line-height: 15px;
		 margin-top: 0px;
	}
	.__pf .pf-28da114a > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-28da114a > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-28da114a > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-28da114a > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-79b06642 {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-6c43e396 {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-df906d77 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-1a617904 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-ace07c2e {
		margin-left: 10px;
	}
	.__pf .pf-06d82654 > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-06d82654 > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-06d82654 > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-06d82654 > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-06d82654 > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-06d82654 > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-1da8fba8 {
		margin: 0px -15px;
		 padding: 30px;
		 border-style: none;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-55112d83 {
		padding-bottom: 80px;
		 margin-top: 15px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-ac3de6de {
		letter-spacing: 0.05em;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 border-style: none;
		 border-width: 0px 0px 1px;
		 font-size: 44px;
	}
	.__pf .pf-42e5f128 {
		border-style: none;
		 border-width: 0px 0px 1px;
	}
	.__pf .pf-b55abc59 {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-a67cf9bb {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-e3cf2b8d {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-19656ba9 {
		margin-left: 10px;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-2b3f7f4c {
		padding: 30px;
	}
	.__pf .pf-7d1f930b {
		padding-bottom: 80px;
		 margin-top: 15px;
		 border-style: solid;
		 border-width: 0px 0px 1px;
		 border-color: rgb(232, 230, 226);
	}
	.__pf .pf-20d4446c {
		letter-spacing: 0.05em;
		 margin-top: 0px;
		 margin-bottom: 0px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 border-style: none;
		 border-width: 0px 0px 1px;
		 font-size: 44px;
	}
	.__pf .pf-8bdb0586 {
		border-style: none;
		 border-width: 0px 0px 1px;
	}
	.__pf .pf-6b1b416b {
		font-size: 20px;
		 letter-spacing: 0.025em;
		 margin-top: 0px;
	}
	.__pf .pf-7a833638 {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-27661dca {
		font-family: Roboto;
		 font-weight: 400;
		 color: rgb(32, 32, 32);
		 line-height: 19px;
		 letter-spacing: 0.025em;
		 margin-right: 0px;
		 font-size: 13px;
	}
	.__pf .pf-45f111ea {
		margin-left: 10px;
	}
	.__pf .pf-76c7b08e > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-76c7b08e > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-76c7b08e > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-76c7b08e > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-76c7b08e > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-76c7b08e > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-4095deac > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-4095deac > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-4095deac > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-4095deac > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-4095deac > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-4095deac > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-32ae81bb > .pf-c > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-32ae81bb > .pf-c > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 letter-spacing: 0.05em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: 0px;
		 font-size: 13px;
		 line-height: 15px;
	}
	.__pf .pf-32ae81bb > .pf-c > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
		 letter-spacing: 0.1em;
		 font-size: 14px;
	}
	.__pf .pf-32ae81bb > .pf-c > div > div > div > .product__button > .grid__column > div {
		pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 color: black;
	}
	.__pf .pf-32ae81bb > .pf-c > div > div > div > .product__button > .grid__column > div > div > h3 > a {
		color: rgb(32, 32, 32);
		 text-transform: uppercase;
		 letter-spacing: 0.075em;
		 pointer-events: none;
		 cursor: default;
		 text-decoration: none;
		 margin-top: -50px;
		 font-size: 14px;
	}
	.__pf .pf-32ae81bb > .pf-c > div > div > div > .product__button > .grid__column > div > div > div > .product__button {
		cursor: pointer;
		 pointer-events: auto;
		 color: rgb(32, 32, 32);
		 border-style: solid;
		 border-color: rgb(32, 32, 32);
		 border-width: 1px;
		 background-color: white;
	}
	.__pf .pf-c3689d0b {
		padding: 30px;
	}
	.__pf .pf-635aaeb9 {
		padding-bottom: 80px;
		 margin-top: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-dfb1afa7 {
		line-height: 52px;
	}
	.__pf .pf-844daf0a {
		background-image: url("https://media.pagefly.io/file/get/fw_tb_1jpg-1542329204754.jpg");
		 background-position: 100% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
		 padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-333ed2df {
		font-size: 12px;
	}
	.__pf .pf-89c66692 {
		font-size: 11px;
	}
	.__pf .pf-ed29cb4f {
		font-size: 11px;
	}
	.__pf .pf-4d83c6ee {
		font-size: 11px;
	}
	.__pf .pf-9e13a4fc {
		font-size: 12px;
	}
	.__pf .pf-171d4f4f {
		margin-right: -25px;
		 margin-top: -20px;
	}
	.__pf .pf-f443f128 {
		text-align: center;
		 font-size: 12px;
		 line-height: 0;
		 letter-spacing: 0.12em;
		 color: rgb(32, 32, 32);
		 margin-bottom: 0px;
	}
	.__pf .pf-d8bfe4bd {
		margin: 0px -7.5px;
	}
	.__pf .pf-d7ed809e {
		padding-top: 0px;
		 margin-top: -20px;
	}
	.__pf .pf-1745fdc2 {
		text-align: center;
		 margin-bottom: 20px;
		 line-height: 35px;
		 font-size: 28px;
	}
	.__pf .pf-139aab6c {
		margin-top: -20px;
	}
	.__pf .pf-02bf5bcd {
		margin: 0px;
	}
	.__pf .pf-49f7e862 {
		margin-right: 0px;
	}
	.__pf .pf-68e50bd2 {
		margin-right: 0px;
	}
	.__pf .pf-987cb66a > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-987cb66a > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-987cb66a > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-3131cae5 {
		margin: 0px;
	}
	.__pf .pf-b8ed1a54 {
		margin-right: 0px;
	}
	.__pf .pf-b8fba842 {
		margin-right: 0px;
	}
	.__pf .pf-fcff100b > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-fcff100b > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-fcff100b > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-89ba1cbc {
		margin: 0px;
	}
	.__pf .pf-2412697c {
		margin-right: 0px;
	}
	.__pf .pf-a6c41835 {
		margin-right: 0px;
	}
	.__pf .pf-73913fad > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-73913fad > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-73913fad > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-13f34646 {
		margin: 0px;
	}
	.__pf .pf-fcab6a7a {
		margin-right: 0px;
	}
	.__pf .pf-1c8ed9fd {
		margin-right: 0px;
	}
	.__pf .pf-378ff8a0 > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-378ff8a0 > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-378ff8a0 > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-44572c4b {
		margin: 0px;
	}
	.__pf .pf-a27bc38c {
		margin-right: 0px;
	}
	.__pf .pf-1b5c0d5d {
		margin-right: 0px;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-5a9c0ec9 > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-1670801c {
		margin: 0px;
	}
	.__pf .pf-8f3b0b66 {
		margin-right: 0px;
	}
	.__pf .pf-94987337 {
		margin-right: 0px;
	}
	.__pf .pf-36d70c48 > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-36d70c48 > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-36d70c48 > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-6179901e {
		margin: 0px;
	}
	.__pf .pf-08b614bb {
		margin-right: 0px;
	}
	.__pf .pf-3f0bd081 {
		margin-right: 0px;
	}
	.__pf .pf-28da114a > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-28da114a > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-28da114a > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-6c43e396 {
		margin: 0px;
	}
	.__pf .pf-df906d77 {
		margin-right: 0px;
	}
	.__pf .pf-1a617904 {
		margin-right: 0px;
	}
	.__pf .pf-06d82654 > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-06d82654 > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-06d82654 > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-55112d83 {
		padding-top: 0px;
	}
	.__pf .pf-ac3de6de {
		text-align: center;
		 margin-bottom: 20px;
		 line-height: 35px;
		 font-size: 28px;
	}
	.__pf .pf-42e5f128 {
		margin-top: -20px;
	}
	.__pf .pf-a67cf9bb {
		margin-right: 0px;
	}
	.__pf .pf-e3cf2b8d {
		margin-right: 0px;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-ec6fe0d9 > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-7d1f930b {
		padding-top: 0px;
	}
	.__pf .pf-20d4446c {
		text-align: center;
		 margin-bottom: 20px;
		 line-height: 35px;
		 font-size: 28px;
	}
	.__pf .pf-8bdb0586 {
		margin-top: -20px;
	}
	.__pf .pf-7a833638 {
		margin-right: 0px;
	}
	.__pf .pf-27661dca {
		margin-right: 0px;
	}
	.__pf .pf-76c7b08e > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-76c7b08e > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-76c7b08e > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-4095deac > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-4095deac > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-4095deac > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-32ae81bb > .pf-c > div > div > h3 > a {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 line-height: 15px;
	}
	.__pf .pf-32ae81bb > .pf-c > div {
		margin-top: 0px;
	}
	.__pf .pf-32ae81bb > .pf-c > div > div > div > .product__button {
		font-size: 10px;
		 letter-spacing: 0.025em;
		 padding-left: 8px;
		 padding-right: 8px;
	}
	.__pf .pf-635aaeb9 {
		padding-top: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-dfb1afa7 {
		text-align: center;
		 font-size: 48px;
		 color: rgb(255, 255, 255);
		 letter-spacing: 0.05em;
		 padding-top: 15px;
		 margin-top: 10px;
		 padding-bottom: 15px;
		 margin-bottom: 10px;
	}
	.__pf .pf-2f880868 {
		color: white;
		 letter-spacing: 0.05em;
	}
	.__pf .pf-067284c6 {
		text-align: center;
		 letter-spacing: 0.05em;
		 color: white;
	}
	.__pf .pf-844daf0a {
		font-size: 48px;
		 letter-spacing: 0.05em;
		 color: rgb(255, 255, 255);
		 background-image: url("https://media.pagefly.io/file/get/fw_tb_1jpg-1542329204754.jpg");
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 background-size: cover;
	}
	.__pf .pf-d8bfe4bd {
		margin-left: 20px;
		 margin-right: 20px;
	}
	.__pf .pf-d7ed809e {
		margin-left: 24px;
		 margin-right: 24px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-844daf0a {
		background-image: url("https://media.pagefly.io/file/get/fw_tb_1jpg-1542329204754.jpg");
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-a604998b {
		width: 80px;
		 height: 80px;
	}
	.__pf .pf-333ed2df {
		font-size: 14px;
	}
	.__pf .pf-75e73765 {
		width: 80px;
		 height: 80px;
	}
	.__pf .pf-89c66692 {
		font-size: 14px;
	}
	.__pf .pf-8d131d1e {
		width: 80px;
		 height: 80px;
	}
	.__pf .pf-ed29cb4f {
		font-size: 14px;
	}
	.__pf .pf-cf2d0349 {
		width: 80px;
		 height: 80px;
	}
	.__pf .pf-4d83c6ee {
		font-size: 14px;
		 line-height: 18px;
	}
	.__pf .pf-48a7e886 {
		width: 80px;
		 height: 80px;
	}
	.__pf .pf-9e13a4fc {
		font-size: 14px;
		 line-height: 18px;
	}
	.__pf .pf-171d4f4f {
		margin-left: 40px;
	}
	.__pf .pf-f443f128 {
		text-align: center;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 color: rgb(32, 32, 32);
		 font-size: 12px;
		 letter-spacing: 0.12em;
	}
	.__pf .pf-f970ce59 {
		line-height: 18px;
	}
	.__pf .pf-3fee016b {
		line-height: 18px;
	}
	.__pf .pf-d933d68b {
		line-height: 18px;
	}
	.__pf .pf-d8bfe4bd {
		margin-right: 0px;
		 margin-left: 0px;
		 margin-top: -5px;
	}
	.__pf .pf-d7ed809e {
		margin-right: 15px;
		 margin-left: 15px;
	}
	.__pf .pf-49f7e862 {
		margin-right: 20px;
	}
	.__pf .pf-68e50bd2 {
		margin-right: 20px;
	}
	.__pf .pf-b8ed1a54 {
		margin-right: 20px;
	}
	.__pf .pf-b8fba842 {
		margin-right: 20px;
	}
	.__pf .pf-2412697c {
		margin-right: 20px;
	}
	.__pf .pf-a6c41835 {
		margin-right: 20px;
	}
	.__pf .pf-fcab6a7a {
		margin-right: 20px;
	}
	.__pf .pf-1c8ed9fd {
		margin-right: 20px;
	}
	.__pf .pf-a27bc38c {
		margin-right: 20px;
	}
	.__pf .pf-1b5c0d5d {
		margin-right: 20px;
	}
	.__pf .pf-8f3b0b66 {
		margin-right: 20px;
	}
	.__pf .pf-94987337 {
		margin-right: 20px;
	}
	.__pf .pf-08b614bb {
		margin-right: 20px;
	}
	.__pf .pf-3f0bd081 {
		margin-right: 20px;
	}
	.__pf .pf-df906d77 {
		margin-right: 20px;
	}
	.__pf .pf-1a617904 {
		margin-right: 20px;
	}
	.__pf .pf-55112d83 {
		padding-top: 0px;
		 margin-left: 20px;
		 margin-right: 20px;
		 margin-top: 20px;
	}
	.__pf .pf-a67cf9bb {
		margin-right: 20px;
	}
	.__pf .pf-e3cf2b8d {
		margin-right: 20px;
	}
	.__pf .pf-7d1f930b {
		padding-top: 0px;
		 margin-left: 20px;
		 margin-right: 20px;
		 margin-top: 20px;
	}
	.__pf .pf-7a833638 {
		margin-right: 20px;
	}
	.__pf .pf-27661dca {
		margin-right: 20px;
	}
	.__pf .pf-635aaeb9 {
		padding-top: 0px;
		 margin-left: 20px;
		 margin-right: 20px;
		 margin-top: 20px;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }