/* PageFly Element Styles */
						.huJSyH { padding: 15px 0px; position: relative; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.bTTbYE { position: relative; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.dIkdok { display: inline-block; }
.dIkdok[contenteditable="true"] { user-select: text; }
.dIkdok { vertical-align: baseline; word-break: break-word; }
.dIkdok:focus { outline: none; }
.dIkdok::after { display: inline; }
.bGlvSa { display: inline-flex; vertical-align: middle; }
.bGlvSa picture { width: 100%; border-radius: inherit; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-49e6364f {
		width: 100%;
		 height: auto;
		 margin-top: -15px;
	}
	.__pf .pf-b40ebe51 {
		font-size: 44px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
	}
	.__pf .pf-75a9c347 {
		font-size: 18px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
		 margin-top: 10px;
	}
	.__pf .pf-33165c6e {
		text-align: center;
	}
	.__pf .pf-88d2def5 {
		margin-bottom: 20px;
	}
	.__pf .pf-c6618060 {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 color: rgb(158, 182, 181);
	}
	.__pf .pf-fb85673a {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-b28a3188 {
		font-size: 13px;
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-3551cd0b {
		font-size: 20px;
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-bece4f99 {
		padding: 40px;
		 border-style: solid;
		 border-color: rgb(197, 213, 210);
	}
	.__pf .pf-225c3a19 {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 15px;
		 color: rgb(158, 182, 181);
	}
	.__pf .pf-e815b6be {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-8c4df0a7 {
		font-size: 13px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-cfa5526e {
		font-size: 20px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-d3384128 {
		padding: 40px;
		 border-style: solid;
		 border-color: rgb(197, 213, 210);
	}
	.__pf .pf-27231c1f {
		margin-top: 0px;
		 margin-left: 100px;
		 margin-right: 100px;
	}
	.__pf .pf-6a6eff31 {
		padding-top: 0px;
		 padding-bottom: 80px;
		 margin: 0px;
	}
	.__pf .pf-39c93b88 {
		display: block;
		 z-index: 0;
		 margin-top: 5px;
	}
	.__pf .pf-ae0ec90e {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a629077e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-7839315a {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-3a764078 {
		position: relative;
		 display: block;
		 margin-top: -6px;
	}
	.__pf .pf-5689340b {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-6c7938ad {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-9499cbb7 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-79e802a4 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-4def4224 {
		text-align: center;
	}
	.__pf .pf-d9ee78d6 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-d40c2b3d {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-413f7ccd {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-12cc96c4 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-ea5a9c63 {
		display: block;
		 z-index: 0;
	}
	.__pf .pf-0a4445f1 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8d663187 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a5df240c {
		position: relative;
		 display: block;
	}
	.__pf .pf-73665f2b {
		text-align: center;
		 margin-top: -5px;
	}
	.__pf .pf-9d624c71 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-339fc933 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-00baf08e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-bf8fa39e {
		text-align: center;
		 display: block;
	}
	.__pf .pf-e8eb71f1 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-b4dc0292 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-e44a11fe {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ba22dbe0 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a90e741f {
		text-align: center;
		 display: block;
	}
	.__pf .pf-1f6cf275 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-ec677062 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-329420d6 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-9842dbe3 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-77d93f95 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-3ca6275f {
		text-align: center;
		 margin-top: -3px;
	}
	.__pf .pf-47b5666f {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-d2cce2f0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ad6a7ef0 {
		display: block;
		 z-index: 0;
	}
	.__pf .pf-9d43d8ac {
		position: relative;
		 display: block;
	}
	.__pf .pf-9c391d47 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
		 margin-top: -4px;
	}
	.__pf .pf-ad2a7f46 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-2f0d870e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-29f4c50e {
		text-align: center;
		 display: block;
	}
	.__pf .pf-24d1c40e {
		text-align: center;
	}
	.__pf .pf-da4b8125 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-de4fd799 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-4d9d48e9 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-dd607334 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-a214ee3a {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-648175eb {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-59f0ca64 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-6673b239 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ebc318ba {
		text-align: center;
		 display: block;
	}
	.__pf .pf-1869dacd {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-3cc4b468 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9cb150bb {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-08b964ce {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-e767f55a {
		text-align: center;
		 display: block;
	}
	.__pf .pf-68e89d4a {
		text-align: center;
		 margin-top: -3px;
	}
	.__pf .pf-125dbab6 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-930f92b1 {
		font-size: 11px;
		 color: rgb(155, 155, 155);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0em;
		 margin-top: 10px;
		 font-family: Roboto;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 17px;
		 font-weight: 400;
	}
	.__pf .pf-05e5c7e9 {
		font-size: 16px;
		 line-height: 24px;
		 margin-bottom: 15px;
		 letter-spacing: 0.035em;
		 margin-top: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-b40ebe51 {
		font-size: 28px;
	}
	.__pf .pf-75a9c347 {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 15px;
	}
	.__pf .pf-bece4f99 {
		padding: 20px 10px;
	}
	.__pf .pf-d3384128 {
		padding: 20px 10px;
	}
	.__pf .pf-27231c1f {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-6a6eff31 {
		padding-bottom: 30px;
	}
	.__pf .pf-39c93b88 {
		z-index: 0;
	}
	.__pf .pf-ae0ec90e {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 5%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a629077e {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-7839315a {
		position: absolute;
		 z-index: 1;
		 top: 25%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5689340b {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-6c7938ad {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9499cbb7 {
		z-index: 0;
	}
	.__pf .pf-d9ee78d6 {
		z-index: 0;
	}
	.__pf .pf-d40c2b3d {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-413f7ccd {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ea5a9c63 {
		z-index: 0;
	}
	.__pf .pf-0a4445f1 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 5%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8d663187 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9d624c71 {
		z-index: 0;
	}
	.__pf .pf-339fc933 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-00baf08e {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-e8eb71f1 {
		z-index: 0;
	}
	.__pf .pf-b4dc0292 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-e44a11fe {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ba22dbe0 {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1f6cf275 {
		z-index: 0;
	}
	.__pf .pf-ec677062 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-329420d6 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9842dbe3 {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-47b5666f {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 5%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-d2cce2f0 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ad6a7ef0 {
		z-index: 0;
	}
	.__pf .pf-9c391d47 {
		z-index: 0;
	}
	.__pf .pf-ad2a7f46 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-2f0d870e {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-da4b8125 {
		z-index: 0;
	}
	.__pf .pf-de4fd799 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-4d9d48e9 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a214ee3a {
		z-index: 0;
	}
	.__pf .pf-648175eb {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-59f0ca64 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-6673b239 {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1869dacd {
		z-index: 0;
	}
	.__pf .pf-3cc4b468 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9cb150bb {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-08b964ce {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-05e5c7e9 {
		margin-top: 10px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-39c93b88 {
		z-index: 0;
	}
	.__pf .pf-ae0ec90e {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-a629077e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-7839315a {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5689340b {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-6c7938ad {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-9499cbb7 {
		z-index: 0;
	}
	.__pf .pf-d9ee78d6 {
		z-index: 0;
	}
	.__pf .pf-d40c2b3d {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-413f7ccd {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ea5a9c63 {
		z-index: 0;
	}
	.__pf .pf-0a4445f1 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-8d663187 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-9d624c71 {
		z-index: 0;
	}
	.__pf .pf-339fc933 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-00baf08e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-e8eb71f1 {
		z-index: 0;
	}
	.__pf .pf-b4dc0292 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-e44a11fe {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-ba22dbe0 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1f6cf275 {
		z-index: 0;
	}
	.__pf .pf-ec677062 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-329420d6 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-9842dbe3 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-47b5666f {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-d2cce2f0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ad6a7ef0 {
		z-index: 0;
	}
	.__pf .pf-9c391d47 {
		z-index: 0;
	}
	.__pf .pf-ad2a7f46 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-2f0d870e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-da4b8125 {
		z-index: 0;
	}
	.__pf .pf-de4fd799 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-4d9d48e9 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a214ee3a {
		z-index: 0;
	}
	.__pf .pf-648175eb {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-59f0ca64 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-6673b239 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1869dacd {
		z-index: 0;
	}
	.__pf .pf-3cc4b468 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-9cb150bb {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-08b964ce {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-bece4f99 {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-d3384128 {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-27231c1f {
		margin-left: 20px;
		 margin-right: 20px;
	}
	.__pf .pf-6a6eff31 {
		padding-bottom: 30px;
	}
	.__pf .pf-39c93b88 {
		z-index: 0;
	}
	.__pf .pf-ae0ec90e {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 3%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 28px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a629077e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-7839315a {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 3%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5689340b {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-6c7938ad {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-79e802a4 {
		z-index: 0;
	}
	.__pf .pf-d40c2b3d {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-413f7ccd {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-12cc96c4 {
		z-index: 0;
	}
	.__pf .pf-ea5a9c63 {
		z-index: 0;
	}
	.__pf .pf-0a4445f1 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 3%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 28px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8d663187 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-339fc933 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-00baf08e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-bf8fa39e {
		z-index: 0;
	}
	.__pf .pf-b4dc0292 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-e44a11fe {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ba22dbe0 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a90e741f {
		z-index: 0;
	}
	.__pf .pf-ec677062 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-329420d6 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-9842dbe3 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-77d93f95 {
		z-index: 0;
	}
	.__pf .pf-47b5666f {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 3%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 28px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-d2cce2f0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ad6a7ef0 {
		z-index: 0;
	}
	.__pf .pf-ad2a7f46 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-2f0d870e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-29f4c50e {
		z-index: 0;
	}
	.__pf .pf-de4fd799 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-4d9d48e9 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-dd607334 {
		z-index: 0;
	}
	.__pf .pf-648175eb {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-59f0ca64 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-6673b239 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ebc318ba {
		z-index: 0;
	}
	.__pf .pf-3cc4b468 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9cb150bb {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-08b964ce {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-e767f55a {
		z-index: 0;
	}
}
						

 @font-face { 	font-family: 'Avalon'; 	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff2?395458946255328275') format('woff2'),          url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-XLight-webfont.woff?395458946255328275') format('woff'); 	font-weight: 300; 	font-style: normal; } @font-face { 	font-family: 'Avalon'; 	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff2?395458946255328275') format('woff2'),          url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Book-webfont.woff?395458946255328275') format('woff'); 	font-weight: normal; 	font-style: normal; } @font-face { 	font-family: 'Avalon'; 	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff2?395458946255328275') format('woff2'),          url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Medium-webfont.woff?395458946255328275') format('woff'); 	font-weight: 500; 	font-style: normal; } @font-face { 	font-family: 'Avalon'; 	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff2?395458946255328275') format('woff2'),          url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Demi-webfont.woff?395458946255328275') format('woff'); 	font-weight: 600; 	font-style: normal; } @font-face { 	font-family: 'Avalon'; 	src: url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff2?395458946255328275') format('woff2'),          url('https://cdn.shopify.com/s/files/1/2994/0144/files/Avalon-Bold-webfont.woff?395458946255328275') format('woff'); 	font-weight: bold; 	font-style: normal; } .__pf, .avalon-xlight { 	font-family: 'Avalon'!important; 	font-weight: 300 !important; 	font-style: normal !important; } .__pf, .avalon-book { 	font-family: 'Avalon' !important; 	font-weight: normal !important; 	font-style: normal !important; } .__pf, .avalon-medium { 	font-family: 'Avalon' !important; 	font-weight: 500 !important; 	font-style: normal !important; } .__pf, .avalon-demi { 	font-family: 'Avalon' !important; 	font-weight: 600 !important; 	font-style: normal !important; } .__pf, .avalon-bold { 	font-family: 'Avalon' !important; 	font-weight: bold !important; 	font-style: normal !important; 	z-index: 900; }