/* PageFly Element Styles */
						.irilUZ { padding: 15px 0px; position: relative; }
.iIwwEJ { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .iIwwEJ { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bejofX { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bejofX { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bejofX { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bejofX { padding: var(--pf-s-xs); }
}
.fJTCAC { position: relative; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.eTVcMH { word-break: break-word; }
.eTVcMH span { font-weight: inherit; text-decoration: inherit; }
.eTVcMH i { margin-right: 0.3em; }
.doiSif { display: inline-block; }
.doiSif[contenteditable="true"] { user-select: text; }
.doiSif { vertical-align: baseline; word-break: break-word; }
.doiSif:focus { outline: none; }
.doiSif::after { display: inline; }
.bGlvSa { display: inline-flex; vertical-align: middle; }
.bGlvSa picture { width: 100%; border-radius: inherit; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-95bf99fb {
		width: 100%;
		 height: auto;
		 margin-top: -15px;
	}
	.__pf .pf-c5cfe7a9 {
		font-size: 44px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-top: 10px;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
	}
	.__pf .pf-b8bbc69f {
		font-size: 18px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.025em;
		 margin-top: 10px;
	}
	.__pf .pf-351aa4c3 {
		text-align: center;
	}
	.__pf .pf-5f6150be {
		margin-bottom: 20px;
	}
	.__pf .pf-5d33e976 {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(163, 184, 195);
	}
	.__pf .pf-f7c99fac {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(32, 32, 32);
		 margin-top: 5px;
	}
	.__pf .pf-e0525b8d {
		font-size: 12px;
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-6f22e47d {
		font-size: 20px;
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
		 color: rgb(32, 32, 32);
	}
	.__pf .pf-1f1746ff {
		padding: 40px;
		 border-style: solid;
	}
	.__pf .pf-72e1d48c {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(163, 184, 195);
	}
	.__pf .pf-c4ae4221 {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(32, 32, 32);
		 margin-top: 5px;
	}
	.__pf .pf-c07a6c37 {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-1e874657 {
		font-size: 20px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-44098004 {
		padding: 40px;
		 border-style: solid;
	}
	.__pf .pf-9c0d9da5 {
		text-align: center;
		 letter-spacing: 0.025em;
		 font-size: 34px;
		 margin-top: 0px;
		 margin-bottom: 5px;
		 color: rgb(163, 184, 195);
	}
	.__pf .pf-8a9ffdf0 {
		text-align: center;
		 letter-spacing: 0.025em;
		 margin-bottom: 30px;
		 font-size: 18px;
		 color: rgb(32, 32, 32);
		 margin-top: 5px;
	}
	.__pf .pf-976d168c {
		font-size: 12px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-2f5a6df7 {
		font-size: 20px;
		 color: rgb(32, 32, 32);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0.075em;
		 margin-top: 10px;
		 text-transform: uppercase;
	}
	.__pf .pf-dc2fc240 {
		padding: 40px;
		 border-style: solid;
	}
	.__pf .pf-aa11f6e0 {
		margin-top: 0px;
		 margin-left: 120px;
		 margin-right: 120px;
		 padding-left: 40px;
		 padding-right: 40px;
	}
	.__pf .pf-06ad88b3 {
		font-size: 11px;
		 color: rgb(155, 155, 155);
		 text-align: center;
		 margin-bottom: 0px;
		 letter-spacing: 0em;
		 margin-top: 10px;
		 font-family: Roboto;
		 padding-left: 0px;
		 padding-right: 0px;
		 line-height: 17px;
		 font-weight: 400;
	}
	.__pf .pf-d3aef96e {
		margin-top: 45px;
		 text-align: center;
	}
	.__pf .pf-4c63e1b8 {
		padding-top: 0px;
		 padding-bottom: 80px;
		 margin: 0px;
	}
	.__pf .pf-3f33bb99 {
		display: block;
		 z-index: 0;
		 margin-top: 5px;
	}
	.__pf .pf-76edc5eb {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-09f443b0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a8d5d1e9 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-fb6a18a6 {
		position: relative;
		 display: block;
		 margin-top: -6px;
	}
	.__pf .pf-ce7302c3 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9412ee0d {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-eedef663 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-edda40e0 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-f7f1c03f {
		text-align: center;
	}
	.__pf .pf-51026941 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-f3916503 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ea91e37e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5e87cc7d {
		text-align: center;
		 display: block;
	}
	.__pf .pf-8ea16f37 {
		display: block;
		 z-index: 0;
	}
	.__pf .pf-7cc52c32 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-533f2f17 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-c42c67b6 {
		position: relative;
		 display: block;
	}
	.__pf .pf-b2711c59 {
		text-align: center;
		 margin-top: -5px;
	}
	.__pf .pf-f9fe243a {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-ca6baf43 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-3c71d301 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-347665ce {
		text-align: center;
		 display: block;
	}
	.__pf .pf-9af19823 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-f6974ed0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-39045817 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-0cbef232 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-2905f725 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-ffa1a72f {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-19424945 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-05fb31ba {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1572400a {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5ae6a739 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-8f4bb56f {
		text-align: center;
		 margin-top: -3px;
	}
	.__pf .pf-ab80234a {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a390329e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-997f9e2b {
		display: block;
		 z-index: 0;
	}
	.__pf .pf-da1e2297 {
		position: relative;
		 display: block;
	}
	.__pf .pf-b87ac582 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
		 margin-top: -4px;
	}
	.__pf .pf-2d8441df {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9d2fed1a {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-6e40edd5 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-814ff363 {
		text-align: center;
	}
	.__pf .pf-20a7128c {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-cf753dac {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8e18383b {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a813cdea {
		text-align: center;
		 display: block;
	}
	.__pf .pf-1ded7ff1 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-23b938e6 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-cf13594f {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-b6620050 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-0b66e312 {
		text-align: center;
		 display: block;
	}
	.__pf .pf-a6004864 {
		display: block;
		 width: auto;
		 height: auto;
		 z-index: 0;
	}
	.__pf .pf-e7df2882 {
		position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 29px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-7b753e71 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-603b7873 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5fe966fe {
		text-align: center;
		 display: block;
	}
	.__pf .pf-9fb671bc {
		text-align: center;
		 margin-top: -3px;
	}
	.__pf .pf-39add157 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-c5cfe7a9 {
		font-size: 28px;
	}
	.__pf .pf-b8bbc69f {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 15px;
	}
	.__pf .pf-1f1746ff {
		padding: 20px 10px;
	}
	.__pf .pf-44098004 {
		padding: 20px 10px;
	}
	.__pf .pf-dc2fc240 {
		padding: 20px 10px;
	}
	.__pf .pf-aa11f6e0 {
		margin-left: 0px;
		 margin-right: 0px;
	}
	.__pf .pf-06ad88b3 {
		padding-left: 20px;
		 padding-right: 20px;
		 font-size: 10px;
	}
	.__pf .pf-d3aef96e {
		margin-top: 10px;
	}
	.__pf .pf-4c63e1b8 {
		padding-bottom: 30px;
	}
	.__pf .pf-3f33bb99 {
		z-index: 0;
	}
	.__pf .pf-76edc5eb {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 5%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-09f443b0 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a8d5d1e9 {
		position: absolute;
		 z-index: 1;
		 top: 25%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ce7302c3 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9412ee0d {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-eedef663 {
		z-index: 0;
	}
	.__pf .pf-51026941 {
		z-index: 0;
	}
	.__pf .pf-f3916503 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ea91e37e {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8ea16f37 {
		z-index: 0;
	}
	.__pf .pf-7cc52c32 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 5%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-533f2f17 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-f9fe243a {
		z-index: 0;
	}
	.__pf .pf-ca6baf43 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-3c71d301 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9af19823 {
		z-index: 0;
	}
	.__pf .pf-f6974ed0 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-39045817 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-0cbef232 {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ffa1a72f {
		z-index: 0;
	}
	.__pf .pf-19424945 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-05fb31ba {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-1572400a {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ab80234a {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 5%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a390329e {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-997f9e2b {
		z-index: 0;
	}
	.__pf .pf-b87ac582 {
		z-index: 0;
	}
	.__pf .pf-2d8441df {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9d2fed1a {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-20a7128c {
		z-index: 0;
	}
	.__pf .pf-cf753dac {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8e18383b {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-1ded7ff1 {
		z-index: 0;
	}
	.__pf .pf-23b938e6 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-cf13594f {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-b6620050 {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a6004864 {
		z-index: 0;
	}
	.__pf .pf-e7df2882 {
		font-size: 18px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 3%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-7b753e71 {
		font-size: 12px;
		 line-height: 30px;
		 position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 margin-bottom: 0px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-603b7873 {
		position: absolute;
		 z-index: 1;
		 top: 13%;
		 left: 6%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 13px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-3f33bb99 {
		z-index: 0;
	}
	.__pf .pf-76edc5eb {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-09f443b0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a8d5d1e9 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ce7302c3 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-9412ee0d {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-eedef663 {
		z-index: 0;
	}
	.__pf .pf-51026941 {
		z-index: 0;
	}
	.__pf .pf-f3916503 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-ea91e37e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-8ea16f37 {
		z-index: 0;
	}
	.__pf .pf-7cc52c32 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-533f2f17 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-f9fe243a {
		z-index: 0;
	}
	.__pf .pf-ca6baf43 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-3c71d301 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-9af19823 {
		z-index: 0;
	}
	.__pf .pf-f6974ed0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-39045817 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-0cbef232 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ffa1a72f {
		z-index: 0;
	}
	.__pf .pf-19424945 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-05fb31ba {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1572400a {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ab80234a {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-a390329e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-997f9e2b {
		z-index: 0;
	}
	.__pf .pf-b87ac582 {
		z-index: 0;
	}
	.__pf .pf-2d8441df {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-9d2fed1a {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-20a7128c {
		z-index: 0;
	}
	.__pf .pf-cf753dac {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-8e18383b {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1ded7ff1 {
		z-index: 0;
	}
	.__pf .pf-23b938e6 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-cf13594f {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-b6620050 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a6004864 {
		z-index: 0;
	}
	.__pf .pf-e7df2882 {
		position: absolute;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 26px;
		 line-height: 30px;
	}
	.__pf .pf-7b753e71 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-603b7873 {
		position: absolute;
		 z-index: 1;
		 top: 15%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 18px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-b8bbc69f {
		padding-left: 30px;
		 padding-right: 30px;
	}
	.__pf .pf-1f1746ff {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-44098004 {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-dc2fc240 {
		padding-left: 10px;
		 padding-right: 10px;
	}
	.__pf .pf-aa11f6e0 {
		margin-left: 10px;
		 margin-right: 10px;
		 padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-06ad88b3 {
		padding-left: 20px;
		 padding-right: 20px;
	}
	.__pf .pf-d3aef96e {
		margin-top: 0px;
	}
	.__pf .pf-4c63e1b8 {
		padding-bottom: 30px;
	}
	.__pf .pf-3f33bb99 {
		z-index: 0;
	}
	.__pf .pf-76edc5eb {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 3%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 28px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-09f443b0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a8d5d1e9 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 3%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ce7302c3 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9412ee0d {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-edda40e0 {
		z-index: 0;
	}
	.__pf .pf-f3916503 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 5%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-ea91e37e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5e87cc7d {
		z-index: 0;
	}
	.__pf .pf-8ea16f37 {
		z-index: 0;
	}
	.__pf .pf-7cc52c32 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 3%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 28px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-533f2f17 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-ca6baf43 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-3c71d301 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-347665ce {
		z-index: 0;
	}
	.__pf .pf-f6974ed0 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-39045817 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-0cbef232 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-2905f725 {
		z-index: 0;
	}
	.__pf .pf-19424945 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-05fb31ba {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-1572400a {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5ae6a739 {
		z-index: 0;
	}
	.__pf .pf-ab80234a {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 3%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 28px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-a390329e {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-997f9e2b {
		z-index: 0;
	}
	.__pf .pf-2d8441df {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-9d2fed1a {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-6e40edd5 {
		z-index: 0;
	}
	.__pf .pf-cf753dac {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-8e18383b {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-a813cdea {
		z-index: 0;
	}
	.__pf .pf-23b938e6 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-cf13594f {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-b6620050 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-0b66e312 {
		z-index: 0;
	}
	.__pf .pf-e7df2882 {
		position: absolute;
		 z-index: 1;
		 top: 4%;
		 left: 4%;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 20px;
		 line-height: 24px;
		 letter-spacing: 0.035em;
	}
	.__pf .pf-7b753e71 {
		position: absolute;
		 z-index: 1;
		 top: 8%;
		 left: 5%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 15px;
		 margin-bottom: 0px;
		 line-height: 48px;
		 letter-spacing: 0.035em;
		 margin-top: 0px;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-603b7873 {
		position: absolute;
		 z-index: 1;
		 top: 18%;
		 left: 4%;
		 vertical-align: middle;
		 text-align: left;
		 color: rgb(255, 255, 255);
		 font-size: 14px;
		 letter-spacing: 0.035em;
		 line-height: 0;
		 font-family: Roboto;
		 font-weight: 400;
	}
	.__pf .pf-5fe966fe {
		z-index: 0;
	}
}
						