development:
  password:
  theme_id: 12345
  store: loomandloft.myshopify.com
  ignore_files:
    # - page.*.liquid
    # - locales/*
    - assets/gem*
    - assets/pagefly*
    # - templates/customers/*
    # - templates/product.*
    - templates/search*
    - sections/featured-*

production:
  password:
  theme_id: "live"
  store: loomandloft.myshopify.com
  ignore_files:
    # - settings_data.json
    # - page.*.liquid
    # - locales/*
    - assets/gem*
    - assets/pagefly*
    - snippets/icon-*
    - templates/customers/*
    # - templates/index*
    - templates/product.*
    - templates/search*
    - sections/featured-*
    - snippets/page-block*
    - snippets/ssw*
    - snippets/variant*
    - snippets/Avalon*
